[2018-01-04 18:09] andrewtelnov commented on #850
@valero90 As I see, questions are chaged on getting data from the server, but model has been already created with the old json, empty questions array. You have to rebuild the model.

Thank you,
Andrew

[2018-01-04 18:10] andrewtelnov commented on #851
@ak34504 Have you seen validation examples: https://surveyjs.io/Examples/Library/?id=validators-event?

Thank you,
Andrew

[2018-01-04 21:30] erbaker opened #852 "jQuery choicesByUrl not firing when first value select"
I have a question/concern about a two dropdown (country/state) system where the second dropdown is dependent and changes based on a selection of the first. When selections are manually done with jQuery, they do not get recognized as being selected and the page errors out. This is the in the context of an automated test.

Currently, using jQuery to select the first option does not fire any kind of

[2018-01-04 23:11] valero90 commented on #850
Hi @andrewtelnov thank you, I rebuilt the model and all working. 👯‍♂️

[2018-01-04 23:11] #850 closed

[2018-01-05 05:21] andrewtelnov commented on #852
@erbaker You are using an old version of SurveyJS. Please use the latest one, v1.0.0. We were out of beta!
I have updated the version in your plunker: https://plnkr.co/edit/0sZFOKzlAlWUujDpgQuN?p=preview

Thank you,
Andrew

[2018-01-05 06:35] ak34504 commented on #851
@andrewtelnov  Actually we are implementing some rule .according to rule we are generating Some error Message.we need to pass this error message as a existing validation message.

[2018-01-05 07:39] ak34504 opened #853 "Call other function in survey.onComplete.add() without going to "Thank you for completing the survey!" Message"
### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or react or jquery or knockout or vue):
* surveyjs version:

[2018-01-05 08:45] andrewtelnov commented on #851
@ak34504 I am not sure I follow you. The example, I have posted above, should do what you need. Please click on "JavaScript" tab and look at code. There is a code onValidateQuestion event.
There are 4 examples in this section. However, I think you need the one I have posted here.

Thank you,
Andrew

[2018-01-05 08:47] andrewtelnov commented on #853
@ak34504 I do not understand the issue, you may call any function on this event:

[code]
Thank you,
Andrew

[2018-01-05 08:50] andrewtelnov commented on #720
@dmitrykurmanov @tsv2013 Let's try to use the latest version and see how it works.

Thank you,
Andrew

[2018-01-05 09:30] care46 commented on #849
@andrewtelnov thank you! when will the minor version be released? can i have the min.js for jquery as beta?

[2018-01-05 10:02] tsv2013 commented on #848
@abrambailey
I've tried to reproduce the issue with the following JSON:

[code]
And it works ok for me - "question3" is not visible until I select "item1" in both cases - neither on the "test survey" tab, nor via the "run survey button".
Could you provide us with the sample survey JSON, illustrating the issue?

[2018-01-05 10:53] andrewtelnov commented on #849
@care46 I have updated the dev version: https://github.com/surveyjs/builds

Thank you,
Andrew

[2018-01-05 15:37] erbaker commented on #852
Hi @andrewtelnov ,
I see the updated plunkr, however now running `$("#sq_100i").val("Africa");` via console doesn't even select the country. That is in Firefox. In Chrome, it does select, but does not populate the country dropdown. Are we missing anything else?

[2018-01-05 16:29] andrewtelnov commented on #852
@erbaker You have to use SurveyJS function/properties, for example to set the value to the question use the following code: `survey.setValue("region", "Africa");`
I've updated the plunker again: https://plnkr.co/edit/0sZFOKzlAlWUujDpgQuN?p=preview

Thank you,
Andrew

[2018-01-09 13:15] care46 opened #854 "Problem with jquery selector (maybe) like issue #405"
Hi, i have a problem like this (you can see in this example)

https://plnkr.co/edit/8BCb8HYetDmqBrS0IOui?p=preview

I have a 3 pages survey, and i have a custom widget for date/datetime field (jquery datepicker)

If you go in the second page of the survey, you can see the widget on date field (question 4,5,10,16) and work correctly, if you go to third page you can see that the 17 question was a te

[2018-01-09 20:19] andrewtelnov commented on #854
@care46 I just copied the code from our jquery datetime widget and everything is working: https://plnkr.co/edit/q2wUANY6CjuuGjqiuaqI?p=preview
I would suggest to use our custom widget:  https://surveyjs.io/Examples/Library/?id=custom-widget-datepicker

Thank you,
Andrew

[2018-01-09 20:19] #854 closed

[2018-01-10 07:48] care46 commented on #854
@andrewtelnov  ok, i see that your widget is not with "default render"... probably there is a problem only if widget have property "default render" = true?

Now i try this solution, and i create all my widget with no default render

[2018-01-10 08:41] dmitrykurmanov opened #855 "Default theme ui bug with validation"
![image](https://user-images.githubusercontent.com/22315929/34763153-2691408c-f5fb-11e7-8cd3-bc4e093f5fcb.png)

[2018-01-10 20:33] andrewtelnov opened #856 "onMatrixAfterCellRender doesn't called on re-rendering the cell in jQuery version"
In this example: https://plnkr.co/edit/8REPyzmoXWUoXVdZWixk?p=preview, change the value in the first cell and the button in the last cell will be disappeared or/and a text input will be added.
The reason of this behavior, because onMatrixAfterCellRender are not called on cell re-rendering.

[2018-01-11 03:07] sfcrebecca opened #857 "Use localized otherText in matrixdynamic"
### Are you requesting a feature, reporting a bug or ask a question?

New Feature: To support localized otherText value in matrixdynamic

### What is the current behavior?
I want to use a dropdown in a matrixdynamic with the "others" option with a customized otherText.

The code I used:
`Survey.JsonObject.metaData.addProperty("matrixdropdowncolumn", { name: "otherText:text", default: "Customized O

[2018-01-11 09:45] care46 opened #858 "alter style properties in jquery version not work correctly"
Hi, i need an help... i have this survey

https://plnkr.co/edit/16dWjVeYu5SaUrGC01yl?p=preview

In this survey i have created a link to show/hide some field, and i have also question that is hiding by formula..

In my example the bug was like this:

in first page you can see TEST TITLE of first question.. then go on second page and click on link "close section", this link set display=none on field

[2018-01-11 17:36] andrewtelnov commented on #857
@sfcrebecca You are right. There is no API for adding a localized property. I have added it into our TODO list.

Thank you,
Andrew

[2018-01-11 17:52] andrewtelnov commented on #858
@care46 We have added panel.state property. It is available in the latest version.
Here is [the example](https://plnkr.co/edit/TeoXlpKANFQvfYo2eULb?p=preview)

It looks good and you do not to do anything.

Thank you,
Andrew

[2018-01-12 01:16] sfcrebecca commented on #857
Thanks a lot, @andrewtelnov

May I know if this applies to all surveyjs platform?

If I switch to React, could I customize it to make it works before the enhancement is done? Many thanks.

[2018-01-12 10:22] care46 commented on #858
@andrewtelnov works good!

[2018-01-12 10:22] #858 closed

[2018-01-12 12:03] pankanis-rushikesh opened #859 "How to get JSON Definition programmatically"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
I have  json definition which I am using to render Survey Model. But after adding a qquestion dynamically i need to update the exisiting json definition also.
So how would I get the json definition from survey model
Form Render Code :
[code]
What I need is after adding row in matrixdyna

[2018-01-12 13:10] dmitrykurmanov opened #860 "VisibleIf + onAfterRenderQuestion rendering issues (for both AnguarJS and jquery version)"
From the support center: https://surveyjs.answerdesk.io/internal/ticket/details/T361 thanks to Ammon Lee:

Please refer to the attached index.html. It is a simple form with 5 questions.

To repeat the issue:

select option "Yes" under question 4 (a) (i.e. the first question)
select option "(i) option i" under question 4(c)
question "If (i) is chosen, please ....." should now be displayed under 4(c

[2018-01-12 14:25] dmitrykurmanov commented on #859
Hello! You can use the following code: `new Survey.JsonObject().toJsonObject(model);`

[2018-01-12 14:25] #859 closed

[2018-01-12 20:09] wollerman opened #861 "jquery UI DatePicker in Angular"
### Are you requesting a feature, reporting a bug or ask a question?

Bug/Question

### What is the current behavior?

I'm trying to use the jquery UI DatePicker example (https://surveyjs.io/Examples/Library/?id=custom-widget-datepicker&platform=Angular2) with Angular2 but I'm having issues. It seems like there shouldn't be anything special besides including jquery and specifying type of `datepick

[2018-01-12 20:37] andrewtelnov commented on #857
@sfcrebecca It has to be implemented in platform independed part, surveyJS model. As soon as, we will add it, it will be available in all supported platforms.

Thank you,
Andrew

[2018-01-14 08:40] andrewtelnov commented on #150
@omkardusane Here is the link on the new web site: https://surveyjs.io/Examples/Library/?id=survey-customnavigation

Thank you,
Andrew

[2018-01-14 18:15] andrewtelnov commented on #857
@sfcrebecca It has been implemented. It will be available in the next minor version. We will release it on Monday/Tuesday.

[2018-01-15 06:13] pankanis-rushikesh commented on #859
Thanks

[2018-01-15 09:24] omkardusane commented on #150
Hi @andrewtelnov ,

The example you shared seems to work exactly as I need,
but my implementation doesn't and it throws the exception in browser.

Details:
This is the code
[code]

`ksrv.currentPageNo(index)` throws following error
[code]

The library version I am using is 1.0.1 from
https://github.com/surveyjs/surveyjs/releases/tag/v1.0.1

The survey.vue.min.js even has a reactiveGetter registere

[2018-01-15 10:31] ak34504 opened #862 "anable to call surveyValidateQuestion() function."
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-01-15 10:50] dmitrykurmanov commented on #862
Hello! Could you please describe the issue in more details?

Please check the example: https://surveyjs.io/Examples/Library/?id=validators-event&platform=jQuery&theme=default

[2018-01-15 10:58] cruckie opened #863 "Custom element disappears on conditional comments"
### Are you requesting a feature, reporting a bug or ask a question?
bug/asking a question

### What is the current behavior?
Custom element disappears when comments are conditionally changed

### What is the expected behavior?
Custom elements do not disappear

### How would you reproduce the current behavior (if this is a bug)?
With the provided test code and survey I insert a div element, which

[2018-01-15 20:52] alzulas opened #864 "Mobile version does not display properly"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

Text on mobile version of website overlaps.

### What is the expected behavior?

Text and formatting should look the same on mobile as it does on desktop.

### How would you reproduce the current behavior (if this is a bug)?

Create any radio button or multichoice question with more than 3

[2018-01-16 05:48] tsv2013 commented on #864
I've opened your page and found large left and right margins around the survey.
These margins are not set by SurveyJS library.
If I remove them the page looks ok for me:

![image](https://user-images.githubusercontent.com/3013415/34973641-e42328b6-fa99-11e7-9329-2e76a920ffb1.png)

[2018-01-16 07:39] cruckie commented on #863
Does a workaround currently exist?

[2018-01-16 08:02] tsv2013 commented on #863
@cruckie We are investigating this issue right now. We'll update this thread immediately.

[2018-01-16 10:49] dmitrykurmanov commented on #861
Hello,  you need to init the widget: please try the code:

[code]

you can find examples for es6 here: https://stackblitz.com/edit/surveyjs-widgets-react?file=components%2FJqueryUiDatepicker.js

[2018-01-16 11:46] dmitrykurmanov opened #865 "A result text for the lime example is invisible for dark themes (orange)"
http://joxi.ru/KAgXWQ0HgyJvBr
![image](https://user-images.githubusercontent.com/22315929/34987295-b3574eb0-facb-11e7-8644-650baedc1945.png)

[2018-01-16 12:01] dmitrykurmanov opened #866 "knockout: onComplete event calls only one handler"
https://plnkr.co/edit/sjjzsVCTVtrqRbNasyVJ?p=preview

[2018-01-16 17:08] healkar01 opened #867 "Survey styling in modal is strange"
I upgraded to the latest version of SurveyJS and now our surveys look very strange in the modal dialog that we are using.  It was fine before.  Now there is a large border to the top, right, and left.  Previously, there was no border like that.

![previewsurvey](https://user-images.githubusercontent.com/20865786/35001808-ad3eed32-fab5-11e7-9bf0-e68b3ac52f7b.png)

Please advise,

Karen Healey

[2018-01-16 17:35] ak34504 opened #868 "Fix Question sequence no of Question's."
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-01-16 18:32] wollerman commented on #861
I knew I was missing something. I installed that module, but unfortunately I'm still receiving `JsonIncorrectTypeError` from `surveyModel.jsonErrors` locally. I have the lines:

[code]
And looking at the output of `metaData` I can see the classes which does not include `datepicker`. So it seems like it's not being loaded properly? Is there something else that would stop it from loading?

Also I th

[2018-01-16 18:42] wollerman commented on #861
Looking through where the widget gets added I also checked: `console.log(Survey.CustomWidgetCollection.Instance);`. The widget `datepicker` seems to be available here. But as mentioned it's not in the `Survey.JsonObject.metaData.classes`.

[2018-01-16 19:40] tsv2013 commented on #868
@ak34504 Could you please clarify your question? What is the current behaviour and what are you expecting?

[2018-01-16 19:42] tsv2013 commented on #867
This is the SurveyJS library new default theme. If you want, you cam remove side margins via custom CSS.

[2018-01-17 01:40] sfcrebecca commented on #857
Thanks so much for your prompt action, @andrewtelnov

[2018-01-17 05:41] ak34504 commented on #868
Exp:-i need to create 10 Question and show these question 5 on one page with sequence 1-5 and 5 on other page question sequence 6-10 .

[2018-01-17 06:17] pankanis-rushikesh opened #869 "How to add question types in MatrixDynamic Question Editor"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
Currently when I add matrixDynamic question , number of question types I can add in that are limited also i am not able to change the all the properties from QuestionEditor as It does not show all properties.

### What is the expected behavior?
I would like to know if there is a way to

[2018-01-17 06:25] bhavinpankanis commented on #484
@ppatel890 @abolger Could you please provide pointers to render Survey.js in webview. I am too looking for a react-native support but I guess for the time being, I will have to go with webview solution in order to meet my requirement.

[2018-01-17 06:38] tsv2013 commented on #863
Fixed in the v1.0.2

[2018-01-17 06:40] tsv2013 commented on #860
It should be fixed in v1.0.2 due to we have moved from preact to knockout core for jQuery and Angular platforms. We need to check it.

[2018-01-17 08:17] cruckie commented on #863
Thank you very much! The issue is now gone.

[2018-01-17 08:17] #863 closed

[2018-01-17 08:28] tsv2013 opened #870 "Knockout (jQuery, Angular): onAfterRenderQuestion event does not fire for initially hidden questions on the page"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Border does not appear for the second quesion

### What is the expected behavior?
Border does appear for the second quesion

### How would you reproduce the current behavior (if this is a bug)?
Choose Yes for the first question

#### Provide the test code and the tested page URL (if applicab

[2018-01-17 09:10] pankanis-rushikesh commented on #869
Ok.
But can we show all properties which are there for existing Questions for whatever question type we are selecting in MatrixDynamic in QuestionEditor?
i.e.
![cropped-questioneditor-screenshot](https://user-images.githubusercontent.com/33685353/35034475-524db7ca-fb94-11e7-9c11-595d4c0a85d1.png)

[2018-01-17 09:19] dmitrykurmanov commented on #868
Hello if I understand you correctly, this behaviour we have out of the box, please check an example: https://plnkr.co/edit/DDKmfyJtUN24g2MryoHZ?p=preview

[2018-01-17 09:38] dmitrykurmanov commented on #867
I've created an example for you (default theme without paddings): https://plnkr.co/edit/QtxuSd?p=preview

Or you can just change
` <link href="https://surveyjs.azureedge.net/1.0.2/survey.css" type="text/css" rel="stylesheet" />`
to
`<link href="https://surveyjs.azureedge.net/0.12.36/survey.css" type="text/css" rel="stylesheet" />`

here an example: https://plnkr.co/edit/0NSP18?p=preview

[2018-01-17 09:53] cruckie opened #871 "sender.isCurrentPageHasErrors is sometimes wrong"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
sender.isCurrentPageHasErrors, on the onAfterRenderQuestion event, is randomly true/false in the provided example.

It worked in version 1.0.1, but no longer in 1.0.2. I might be a side effect of my previous bug report: https://github.com/surveyjs/surveyjs/issues/863

### What is the expecte

[2018-01-17 09:56] kmmamta opened #872 "How to set State of survey.we don't want to clear answered field when click on complete button.?"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-01-17 11:13] tsv2013 commented on #870
Fixed in v1.0.3

[2018-01-17 11:17] tsv2013 commented on #871
Fixed via the 06728f8ad516db6e1c4826edaddba0ed0534b591 commit
Fix will be available in v1.0.3

[2018-01-17 11:24] tsv2013 commented on #872
Entered data is held in the `data` property of the survey model
[code]
You can get/set the data value.

Then you click on the "Complete" button, you will see the "complete survey" banner, but survey data is not cleared.
On our service: if you refresh the web page survey will be completely reloaded and will not contain data of the previous answerer.
In your custom page you can initialize survey wit

[2018-01-17 11:37] kmmamta commented on #872
thanku @tsv2013 ,
Actually i want to create a survey  when click on complete button answer data will not clear.after  click on complete button i don't to go "complete survey" banner.

[2018-01-17 12:09] dmitrykurmanov commented on #872
If I understand you correctly, you need to use **displaymode** feature: please see the example https://surveyjs.io/Examples/Library/?id=survey-displaymode&platform=jQuery&theme=default

Or you can override `completeLastPage`:

[code]

[2018-01-17 12:42] healkar01 commented on #867
Thank you... I tried your CSS but it did not work for me.  I'll put our UI designer on it...

Thanks again!

Karen

[2018-01-17 12:42] #867 closed

[2018-01-17 12:48] dmitrykurmanov commented on #867
Is `0.12.36/survey.css` styles not fine as before? It could be an our bug because 0.12.36 version was published before the new design.

[2018-01-17 12:54] healkar01 commented on #867
I didn't want to go back to the earlier style sheet because there were some other issues displaying the survey in the earlier version (which is why we upgraded).

[2018-01-17 13:04] dmitrykurmanov commented on #867
Ok please feel free to contact us with any difficulties with custom styling.

[2018-01-17 13:34] andrewtelnov commented on #869
@pankanis-rushikesh We have several requests about improving the flexibility of our matrix columns. Our users want to have diffrent question types (cellType), have more properties and add/remove cellTypes based on their needs.
I will work on these tasks next days. I'm not sure I will be able to implement something better, but let's see what can I do.

Thank you,
Andrew

[2018-01-17 14:39] abolger commented on #484
Here's a sample app so no one else had to set up the nonsense I did to make this work. https://github.com/abolger/surveyjs-inside-react-native-webview

[2018-01-17 17:43] #857 closed

[2018-01-17 17:44] andrewtelnov opened #873 "Add event on adding/removing a panel in PanelDynamic question"
Add the following events into survey objects:
[code]

[2018-01-18 06:27] kmmamta opened #874 "How we can remove Question No sequence.?"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-01-18 06:50] andrewtelnov commented on #874
@kmmamta `survey.showQuestionNumbers = "off";`
https://surveyjs.io/Examples/Library/?id=survey-options

Thank you,
Andrew

[2018-01-18 09:35] kmmamta commented on #874
thanku @andrewtelnov

[2018-01-18 09:38] #874 closed

[2018-01-18 09:40] andrewtelnov opened #875 "Add addPanelUI() function into PanelDynamic question"
[code]
Add move the check on allowing adding/removing panels into *UI functions.

[2018-01-18 11:05] dmitrykurmanov commented on #861
Hello! We will create custom widgets examples for the angular in https://github.com/surveyjs/surveyjs_angular_cli repo I think it will helps

[2018-01-18 11:07] yakou32 commented on #664
Sorry to come back on this topic.
I was also expecting `onAfterRenderPage` to fire after each page render (or re-render), including the first page render... And it looks like first page rendering is an exception where `onAfterRenderPage` is not rendered.

[2018-01-18 12:26] bhavinpankanis commented on #484
@abolger The project works perfectly well. Just 2 queries as of now
1. When I click on submit, the screen gets blank - Can I override this behaviour?
2. I would like to show native controls like date-time pickers, etc. Can that be achieved using the existing bridging?. If yes, Could you please provide pointers for that?

[2018-01-18 13:29] andrewtelnov opened #876 "Register/unregister cell types in MatrixDropdown/Dynamic columns"
A developer should be able to register a new cell type and remove un-needed types.
It should be easy to add/remove properties supported by particular cell type.

[2018-01-18 16:23] wollerman commented on #861
Great, thanks! Should I keep this open or follow the changes in the other repo and open something if I'm still having issues?

[2018-01-18 16:55] MrKrabat opened #877 "Content Security Police compatibility broken"
### Are you requesting a feature, reporting a bug or ask a question?
The newest release 1.0.2 broke the compatibility with Content Security Police (CSP) which forbids the use of inline Javascript and the use of "eval()" function.

### What is the current behavior?
Browser refuses to execute Javascript. Survey is not showing up at all.
![unbenannt](https://user-images.githubusercontent.com/8700513/

[2018-01-18 17:11] abolger commented on #484
1) It's an open source project on the MIT license, you can change the
handler do whatever you want on submit- reload the screen, navigate to your
company website, literally anything.

2) The bridge implementation I used and the project provided can send
messages back and forth, so I see no technical reason why you couldn't code
up a 'datepicker' message and send the data back and forth to a webvie

[2018-01-18 17:52] asilverstein opened #878 "Ability to use custom functions (as operators) in visibleIf"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

VisibleIf expressions support a set of predefined operators

### What is the expected behavior?

Does surveyjs support creating custom operators, i.e., user-defined functions as operators, to use inside visibleIf expressions?

For example, a visibleIf expression would be just a functi

[2018-01-18 19:28] andrewtelnov commented on #878
@asilverstein Could you please provide us an example of expression?

Thank you,
Andrew

[2018-01-18 19:52] asilverstein commented on #878
Sorry if I'm not being clear. I'm trying to determine if this is possible in surveyjs. I'm looking at [this page](https://surveyjs.io/Examples/Library/?id=condition-kids&platform=jQuery)

The example for _visibleIf_ in the JSON is:

`"{kids} >= 5`

Instead, I would like to use an existing javascript function that I wrote, instead of the comparison operator.

For example:
[code]
Where myFunction()

[2018-01-18 19:59] andrewtelnov commented on #878
@asilverstein We public [a story](https://hackernoon.com/surveyjs-an-open-source-javascript-survey-library-with-versions-for-angular-2-react-vue-2086d988b974) on medium yesterday.
Please read the following paragraph: "Custom Functions in “visibleIf” and “enableIf” Expressions".
It describes exactly what you need.

Thank you,
Andrew

[2018-01-18 20:34] asilverstein commented on #878
Excellent, thank you very much!

[2018-01-18 20:34] #878 closed

[2018-01-19 06:41] tsv2013 commented on #877
Thank you for the valueable feedback, @MrKrabat!
This issue is related to the thing that we started to using in the Angular and jQuery libraries the Knockout core instead of React+preact. If you need the CSP compatibility, you can use the "survey-react" library as a workaround for now.
We will discuss this issue with the team and update this thread as soon as we'll find a solution.

[2018-01-19 08:00] dmitrykurmanov commented on #664
@yakou32 do you need an another bahaviour? And if yes, please describe your use case.

[2018-01-19 08:09] tsv2013 commented on #877
@MrKrabat Could you please describe your requirements in greater details, if it possible - what the real world application are you developing - a web site, an electron app, a chrome extension, chrome app or something else?

[2018-01-19 08:29] tsv2013 commented on #866
There was an exception inside click processing handler,

[2018-01-19 08:29] #866 closed

[2018-01-19 08:55] SamMousa opened #879 "[Feature] Text replacements"
Do you or do you plan to support custom replacements inside all question fields?

Think of things like replacing the question text or an answer label with a dynamic expression that uses the answer of previous question(s).

If not would you like to support it at some point and are you open to PRs implementing such a feature?

[2018-01-19 09:00] SamMousa opened #880 "[Feature] Piping"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

Do you or do you plan to support answer piping?

An example of piping is having 2 multiple choice questions like this:
[code]

[2018-01-19 09:05] dmitrykurmanov commented on #861
I think that we need to create a new issue in the widget repo. And I've created it https://github.com/surveyjs/widgets/issues/23

[2018-01-19 09:05] #861 closed

[2018-01-19 09:36] andrewtelnov commented on #880
@SamMousa Here is [the example](https://plnkr.co/edit/FfYvPB?p=preview)

Thank you,
Andrew

[2018-01-19 09:37] andrewtelnov commented on #879
@SamMousa Are you talking about [this functionality](https://surveyjs.io/Examples/Library/?id=survey-processtext)

Thank you,
Andrew

[2018-01-19 09:55] SamMousa commented on #879
Hmm, sorry for wasting your time. I missed this in the documentation, looks nice!

[2018-01-19 09:55] #879 closed

[2018-01-19 11:25] MrKrabat commented on #877
Thanks, we are developing a web site which allows employees of the institue to create surveys. We use SurveyJS to render a preview in our editor and to display the online surveys.

In general we have no special security requirements, but being CSP compatible and disable of inline-javascript and eval() should be standard for new applications today.

[2018-01-19 13:34] andrewtelnov commented on #880
@SamMousa Here is the [generic example](https://plnkr.co/edit/4leKYN?p=preview).
The library allows to add extentions based on your needs.

Thank you,
Andrew

[2018-01-19 13:36] SamMousa commented on #880
Okay thanks!

[2018-01-19 13:36] #880 closed

[2018-01-22 07:51] cruckie commented on #871
Thank you! It solves my issue.

[2018-01-22 07:51] #871 closed

[2018-01-22 09:33] cruckie opened #881 "Could not change checkbox question value onValueChanged event in knockout/jQuery versions"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
On the onValueChanged event I change the options.value, but the change is not reflected in the survey.

### What is the expected behavior?
I expect it to work as in version 1.0.1 where the change would reflect in the survey.

In case this is intended, how am I supposed to get around this pro

[2018-01-22 09:38] andrewtelnov commented on #876
The example of adding/removing column types:
[code]

[2018-01-22 11:36] ussainaugment commented on #374
please share the solution. I'm also getting the same error.
usainrasvi@gmail.com

[2018-01-22 12:03] dmitrykurmanov opened #882 "feature: implement a captcha widget (question) out-of-the-box"

[2018-01-22 12:32] andrewtelnov commented on #881
@cruckie I doubt that it worked. The code should be:
`options.question.value.pop();`

Thank you,
Andrew

[2018-01-22 15:04] cruckie commented on #881
@andrewtelnov Thanks for the reply and suggestion.
It did work fine in 1.0.1 with the code I posted. Perhaps it wasn't supposed to work, but it did for me.
As for your suggestion options.question.value.pop() is still not working for me. The checkbox stays checked and when the onValueChanged is hit again options.question.value contains the value it was supposed to remove the first time, e.g lets sa

[2018-01-22 19:41] andrewtelnov commented on #881
@cruckie You are right. It doesn't work in knockout and it doesn't work in jQuery now, because it is build based on knockout since the last version. We will work on the fix.

Thank you,
Andrew

[2018-01-23 07:26] andrewtelnov commented on #881
@cruckie We will release the minor update today. After that the following code will work:
[code]
I have added a unit-test on this bug.

Thank you,
Andrew

[2018-01-23 07:38] cruckie commented on #881
@andrewtelnov Thank you very much for the fast response and fix. I'm looking forward to the update.

Best regards,
Casper

[2018-01-23 08:27] cruckie commented on #881
It works! Thanks a lot!

[2018-01-23 08:27] #881 closed

[2018-01-23 08:29] tsv2013 commented on #877
@MrKrabat Thank you for the information you provided. We understand CSP compatibility importance and we've included this feature in our task list. We'll update this thread as soon as we'll have some results.

[2018-01-23 08:30] tsv2013 commented on #881
@cruckie 1.0.4 has been released. You can check it.

[2018-01-24 05:06] alzulas commented on #864
I forgot that I had to set margins a long time ago so that the survey wouldn't sit on the edge of the laptop screen. Set a media size for margins, and it's fixed. Thanks!

[2018-01-24 16:56] erbaker commented on #852
Is this accessible in the context of an automation test? We have access to jQuery, but seemingly not Survey.

[2018-01-24 17:43] andrewtelnov commented on #852
@erbaker What tools do you use for functional testing?
We are using TestCafe and happy with it: https://github.com/DevExpress/testcafe
It fully emulates User Input operations.
Here is our functional tests: https://github.com/surveyjs/surveyjs/tree/master/testCafe

Thank you,
Andrew

[2018-01-25 06:49] pankanis-rushikesh opened #883 "Survey-react throwing onComplete.add not a function error"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the expected behavior?
I need to render a form based on json model.
My code is this  :
[code]
But I am getting this error :
[code]

I have defined onComplete and onValueChanged functions inside my react component.but I am still getting this.Could you tell me what can be the cause for this behaviour.
Am I missing

[2018-01-25 07:32] kmmamta opened #884 "Custom Error is not focus."
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-01-25 07:51] tucq88 commented on #221
Examples above seem all out-of-date, as `propName` is now `options.propertyName` and delete properties isn't working :(
I also can't find any document mentions about deleting properties, Could you help please @andrewtelnov ?

[2018-01-25 09:32] dmitrykurmanov commented on #883
I can't reproduce it. Here an example https://plnkr.co/edit/SNcSUjRC5pYkNNVbnw6U?p=preview Could ypu please check it? May be I've missed something...

[2018-01-25 09:44] syedasadhasan commented on #639
Sorry its not working as you said.
For example, following question has not rendered button in front of title like a matrix question.

 questions: [{
    type: "radiogroup",
    hasOther: false,
    isRequired: true,
    name: "favoritePet",
    startWithNewLine:false,
    colCount:0,
    title: {
      default: "What is your favorite pet?",
      de: "Was ist dein Lieblingshaustier?"
    },
    ch

[2018-01-25 09:46] dmitrykurmanov commented on #374
maybe we need a public example which solves this problem

[2018-01-25 10:20] pankanis-rushikesh commented on #883
I actually not rendering the survey directly
I am actually dynamically rendering it.
**Main Component **
[code]

And in this component I am getting that error.
Inside main component this is pointing towards MainComponentClass .
Can that be a issue

[2018-01-25 13:16] andrewtelnov commented on #884
@kmmamta Could you please post here an example to produce the issue.
If you, in [this example](https://surveyjs.io/Examples/Library/?id=validators-event) set the  "least amount" to 1000 and "most amount" to 100 then you get an error in the first input and it will be focused.

Thank you,
Andrew

[2018-01-25 13:22] andrewtelnov commented on #639
@syedasadhasan Do you mean like in [this example](https://plnkr.co/edit/xi4ZFPw4hwW2JRMQKBpn?p=preview)

`colCount:0, titleLocation: "left",`

Thank you,
Andrew

[2018-01-25 15:50] syash2015 commented on #639
Yes. Surprisingly It works only when we write anything other than 'title'
inplace of tiltle. 😀

On Thu, Jan 25, 2018 at 6:52 PM, Andrew <notifications@github.com> wrote:

[2018-01-26 06:18] andrewtelnov commented on #639
@syash2015 I am not sure, I've got you.
Could you please modify my example or create your own, so it shows the issue. In this case we will be able to produce the bug and fix it.

Thank you,
Andrew

[2018-01-26 19:39] erbaker commented on #852
Seleno, which sits on top of Selenium. We wanted to try and keep it in C#, but it looks like we might have to change.

[2018-01-26 19:50] andrewtelnov commented on #852
@erbaker Unfortunately, there is no two-way binding. We do not get notification about changing the value via jQuery :-(
The correct way for functional testing is emulating input operation. In this case, if a widget/input are hiding by a window or something, you will get error that test failed. The mouse/keyboard operation could not performed.

Thank you,
Andrew

[2018-01-28 10:05] syash2015 commented on #639
See this https://plnkr.co/edit/rPAd31dh0AmemV2KHnRl?p=preview.

radio buttons are not coming on same line with title.
there was 't' missing from 'title' in your plunk.

On Fri, Jan 26, 2018 at 11:48 AM, Andrew <notifications@github.com> wrote:

[2018-01-28 13:27] pigeonflight opened #885 "Add clone pattern to surveyjs"
Unless I'm missing it, surveyjs doesn't seem to have a straight forward way for a user to make a field or group of fields clonable.

# Ideal scenario
## Defining something as "clonable"
Developer/Editor "flags" a field or group of fields as "clonable".

## Usage
When a user visit the survey. Clonable fields provide an option to "add a new one".
A good example of an implementation is http://pattern

[2018-01-28 17:39] eric-walt opened #886 "Page transitions?"
Hi,

it seems that there is no ways to add transitions/animations for survey pages, is it right?
I was trying to implement at least a simple fade-out/fade-in transition on pages when user select an answer and go to the next page, but I can't find a usefull callback or CSS classes to handle custom or at least pre-built transitions.
In particular, I can't find a callback/property to handle the disap

[2018-01-28 19:25] andrewtelnov commented on #885
@pigeonflight We have Dynamic Panel that does what you need: https://surveyjs.io/Examples/Library/?id=questiontype-paneldynamic
You may find more information on [this blog on medium](https://hackernoon.com/surveyjs-an-open-source-javascript-survey-library-with-versions-for-angular-2-react-vue-2086d988b974)
Please go to "Dynamic Panel: Dealing with List Data" section.

Thank you,
Andrew

[2018-01-28 20:20] andrewtelnov commented on #639
@syash2015 It looks fine to me :(
![image](https://user-images.githubusercontent.com/5655108/35486627-cd88c542-0481-11e8-8e97-fe112cd5dae9.png)

[2018-01-29 07:21] andrewtelnov commented on #886
@eric-walt Do you need an event, like onCurrentPageChaning?

Thank you,
Andrew

[2018-01-29 07:44] dmitrykurmanov commented on #639
yes it is true, but I think that it doesn't affect the appearance of the bug

[2018-01-29 08:42] dmitrykurmanov commented on #374
@ussainaugment it was a problem with custom knockout templates and our new version of library. We can't share customer's information here.
Do you have any custom templates? If yes it probably need to be updated according to our current version. Or you can create a plunker example illustrating the issue and we will check it.

[2018-01-29 10:44] dmitrykurmanov commented on #883
I've added "onValueChanged" and "onComplete" in an our [react_quickstart ](https://github.com/surveyjs/surveyjs_react_quickstart) repo, please see the commit:
https://github.com/surveyjs/surveyjs_react_quickstart/commit/0ca29579882da7b644de44c325ccf6234ea36935
Could you check it please? I think that it works as expected.

May be you need to update node modules? You can remove `node_modules` folder

[2018-01-29 14:21] Kichi93 opened #887 "VisibleIf extension"
### Are you requesting a feature, reporting a bug or ask a question?

New feature

### What is the current behavior?

Questions require very long visibleIf queries where there is a tall tree of questions.

For example, if question2 is visible depending on the answer to question1 and question3 is visible depending on the answer to question2 etc.... See example survey JSON below. In this case, the v

[2018-01-29 19:15] f-weber opened #888 "Timed questions and mixed reply options"
Dear SurveyJS,

thank you so much for making this available.
I have just two features, I am wondering if they are possible to integrate:

1) Timed questions - I need to know how long people took to answer a question. This could be achieved by implementing timestamps on each page and calculating the time in between?

2) Mixed radio button and text questions - I need to be able to give people wither

[2018-01-29 19:49] eric-walt commented on #886
Hi Andrew

thanks for quick reply! yes that would be great! an event/callback like onCurrentPageChanging, where it is possible to edit the htmlElement of oldCurrentPage (eg. to fade-out the page with js, apply a CSS class, or do something else like highlighting a correct/wrong answer in a quiz) and then set a property like pageSubmitDelay that will delay the switch to the next page (so the changes

[2018-01-30 06:59] andrewtelnov commented on #888
@f-weber I have answered on questions here: https://surveyjs.answerdesk.io/internal/ticket/details/T400

Thank you,
Andrew

[2018-01-30 06:59] #888 closed

[2018-01-30 07:11] andrewtelnov commented on #887
@Kichi93 Yes, it is in our TODO list and it is high priority, together with better UI for expression Editor (visibleIf, enableIf, expression properties).
There are some technical issues in implementing this functionality and make sure it works fast, that is why, I can't give you any estimation at the current moment.
I just want to assure you, that this is something we want to implement it.

Thank

[2018-01-30 07:40] tsv2013 commented on #887
The original task is https://github.com/surveyjs/editor/issues/251
Copied details from this issue and closed as duplicate

[2018-01-30 07:40] #887 closed

[2018-01-30 11:17] masciugo opened #889 "hide a field"
### Are you requesting a feature, reporting a bug or ask a question?

question

### What is the current behavior?

cannot hide a field

### What is the expected behavior?

hide a field in order to manipulate it behind the scenes and send it to the server along with others

I am trying to reach my aim by using onUpdateQuestionCssClasses event but I wonder if there is a more elegant method

thanks

[2018-01-30 15:19] tsv2013 commented on #889
You can write an expression in 'visibleIf' to show/hide your question(s).
Here is the example - https://surveyjs.io/Examples/Library/?id=condition-kids&platform=jQuery&theme=default
Here is the documentation - https://surveyjs.io/Documentation/LibraryParameter?id=QuestionBase&parameter=visibleIf

Does it fit your needs?

[2018-01-30 19:48] reece opened #890 "support html tags in choices elements"
### Are you requesting a feature, reporting a bug or ask a question?

Feature.

### What is the current behavior?

Checkbox and radiogroup choices cannot contain markup.

### What is the expected behavior?

The desired behavior is for surveyjs to support some markup, such as b, i, span.

### How would you reproduce the current behavior (if this is a bug)?

Not a bug

#### Provide the test code and

[2018-01-31 07:04] andrewtelnov commented on #890
@reece Have you seen [this example](https://surveyjs.io/Examples/Library/?id=survey-markdown-radiogroup)?

Thank you,
Andrew

[2018-01-31 11:28] kmmamta opened #891 "Remove default "choose" option from "matrixdropdown" Dropdown ."
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-01-31 11:56] tsv2013 commented on #891
@kmmamta There is no such an option now in the SureyJS. We'll discuss this enchancement with the team and update this thread immediately.

[2018-01-31 12:39] masciugo commented on #889
`visibleIf` completely removes the filed from data. I need to keep in data so that it can be sent back to the server

[2018-01-31 13:26] tsv2013 commented on #889
You can set the `clearInvisibleValues` property of the survey to 'none' to include the invisible values into the survey data. Here is the documentation - https://surveyjs.io/Documentation/Library/?id=surveymodel#clearInvisibleValues

[2018-01-31 13:51] dmitrykurmanov opened #892 "Text question with inputType 'range' should contain "min", "max" and "step" attributes"

[2018-01-31 13:57] masciugo commented on #889
thank you... Sorry I had missed it

[2018-01-31 13:57] #889 closed

[2018-01-31 16:04] masciugo opened #893 "react warning"
### Are you requesting a feature, reporting a bug or ask a question?

bug (minor)

### What is the current behavior?

matrixdynamic fenerates a warning with react 15.6:

### What is the expected behavior?

no warning

### How would you reproduce the current behavior (if this is a bug)?

go https://www.surveyjs.io/Examples/Library/?id=questiontype-matrixdynamic&platform=Reactjs&theme=default and se

[2018-01-31 17:30] masciugo opened #894 "react warning when prepopulate survey with matrixdynamic with some data"
### Are you requesting a feature, reporting a bug or ask a question?

bug (minor)

### What is the current behavior?

matrixdynamic generates a warning **only if data is preloaded** :

### What is the expected behavior?

no warning

### How would you reproduce the current behavior (if this is a bug)?

go https://plnkr.co/edit/5XjVUSsI0gKg6KgHJZt0?p=preview and see console

There are actually 2 war

[2018-01-31 22:48] reece commented on #890
@andrewtelnov I hadn't seen that example. That looks like the right direction.

Unfortunately, I can't make it work in the surveyjs.io online editor. For example, I have:

![selection_223](https://user-images.githubusercontent.com/109453/35651599-2b03453e-0695-11e8-86bf-b8ff777ba867.png)

The resulting json looks as expected and consistent with the example:

[code]

But the resulting survey (using

[2018-01-31 23:41] balping commented on #620
The same bug is present in 1.0.5:

https://jsfiddle.net/zd5rvL2z/

[2018-02-01 00:02] balping opened #895 "Bug: Ratings pre-selected on new page when using vue v1.0.5"
### Related bug

https://github.com/surveyjs/surveyjs/issues/620

It seems that the fix doesn't work any more.

### Current behavior

See this fiddle:

https://jsfiddle.net/zd5rvL2z/2/

I created 2 pages with 4-4 rating questions on them.

If I fill the first page and click the next button, the exact same answers are highlighted as on the previous page.

![1](https://user-images.githubusercontent.

[2018-02-01 00:28] reece commented on #890
After rereading the markdown example, I see that one must include a markdown library manually. I put `<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>` in the loading HTML section of the survey config. However, that snippet isn't used when testing a survey. So I have markdown with no renderer.

The same code works fine when tested outside the editor (wi

[2018-02-01 00:28] #890 closed

[2018-02-01 00:29] reece commented on #890
P.S. And, thank you!

[2018-02-01 02:24] spingary commented on #765
I would also propose that if the page that a question is on is hidden, then that question's value should be cleared as well.

[2018-02-01 07:39] kmmamta opened #896 "Is it possible to change value in "matrixdropdown" based on response in same row . Exp:i need to change value based on Column1,2,3 responce in "Result""
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2018-02-01 07:39] tsv2013 commented on #895
@balping Thank you for the report. We'll fix it ASAP.

[2018-02-01 07:55] tsv2013 commented on #895
We've fixed the issue. Fix will be available in the nearest update.

[2018-02-01 08:57] tsv2013 commented on #896
Thank you for the good suggestion. We've added the expression type to the available column types.
This feature will be available in the nearest update.
You will be able to do it vai code as well as in the SurveyJS Editor.

JSON example:
[code]

[2018-02-01 10:12] kmmamta commented on #896
Thank You @tsv2013 ,When we can expect ?

[2018-02-01 11:40] dmitrykurmanov commented on #896
Most likely this week

[2018-02-01 14:22] alekhraut commented on #374
Hi @dmitrykurmanov ,

I am too facing the same issue, while integrating it with ionic.
Could you please help me out as it is acting as a blocker for me.

Please find the below demo repo: https://github.com/alekhraut/ionicDemoSlider.git

-Thanks in Advance.

[2018-02-01 14:59] tsv2013 commented on #374
@alekhraut We've checked your code. Issue was not related to the SurveyJS code. You got wrong element for slider. For more details you can check my pull request - https://github.com/alekhraut/ionicDemoSlider/pull/1

[2018-02-01 16:21] #893 closed

[2018-02-01 17:23] masciugo opened #897 "Keep survey rendered and populated after being completed"
### Are you requesting a feature, reporting a bug or ask a question?

question

### What is the current behavior?

I am using surveyJS as a nested resources form exploiting its ability to dynamically add nested questions/resources. I am forced to complete a survey in order to send the data to the server

### What is the expected behavior?

I'd like to send data to the server (save the survey) when

[2018-02-01 18:02] masciugo commented on #897
mmm ... maybe through completeLastPage function can do something.

[2018-02-01 18:14] enricribas opened #898 "Multiple questions with same valueName loses data in onComplete handler"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

with 1.0 versions and later, data is missing from model.data in onComplete handler but not on onCurrentPageChanged handler

### What is the expected behavior?

I would expect the data to be the same in both sections, assuming I don't change any of the data.

### How would you reproduce the

[2018-02-01 20:50] andrewtelnov commented on #898
@enricribas I have introduced a breacking change from v1.0: https://github.com/surveyjs/surveyjs/issues/767
I believe this is the reason of the issue you have.
However, if only one question with valueName "ginger" is invisible and another one is visible, then it sounds as a bug to me. Is it what you have?

Thank you,
Andrew

[2018-02-01 20:54] andrewtelnov commented on #897
@masciugo You have to call [clear method](https://surveyjs.io/Documentation/Library/?id=surveymodel#clear) on [onComplete event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onComplete)
For example:
[code]
Thank you,
Andrew

[2018-02-01 21:39] elsigh commented on #70
I've found a bug where if you set the `valueName` property on a checkbox type item and `goNextPageAutomatic: true` it automatically jumps to the next page upon the first click of a checkbox. I'm guessing it's some part related to the code that looks like `this.tryGoNextPageAutomatic(name);`

[2018-02-01 21:44] andrewtelnov opened #899 "Add onValidatePanel event"
[code]
Example of using:
[code]

[2018-02-01 21:44] enricribas commented on #898
Yes, exactly only one of them is visible and the other is hidden with a visibleIf that depends on the "ginger" question. The conditional question ie neither "fred1" nor "fred2" does not make into the model data nor does the original question that determines which of the two is visible.

In the page transition modal data, ginger is in the model data as is one of the freds.

[2018-02-01 21:51] andrewtelnov commented on #898
@enricribas as a workaround, you may set survey.clearInvisibleValues = "none".
We will work on the fix.

Thank you,
Andrew

[2018-02-01 21:55] enricribas commented on #898
excellent, will do for now, didn't know about that. That will allow us to upgrade and use other cool new features.

[2018-02-01 22:10] elsigh commented on #70
^ Actually, I don't know why I was using valueName vs just name and title in my test fwiw. When using name+title all works as expected so this may be a non-issue

[2018-02-02 01:05] sfcrebecca opened #900 "How to apply customised CSS in surveyjs-react?"
### Are you requesting a feature, reporting a bug or ask a question?
A question

### What is the current behavior?
In surveyjs-react, we notice that one of the CSSs is rendered at run-time. (https://github.com/surveyjs/surveyjs/blob/master/src/stylesmanager.ts)

This design causes us some problems since we need to apply our own CSS for some components. Our issue is for those items which are common

[2018-02-02 07:42] tsv2013 commented on #900
@sfcrebecca To override any CSS style (no matter how they are declared) you should use more specific selectors. This technique is described in a lot of articles, one of them - https://css-tricks.com/specifics-on-css-specificity/

[2018-02-02 07:45] andrewtelnov commented on #898
@enricribas the issue has been reproduced in the unit test and fixed.
The fix will be available in the next minor update.

Thank you,
Andrew

[2018-02-02 07:47] andrewtelnov commented on #70
@elsigh It sounds as a bug to me. It is a valid scenario. We will look at it.

Thank you,
Andrew

[2018-02-02 11:28] masciugo opened #901 "remove/override default action on event"
### Are you requesting a feature, reporting a bug or ask a question?

question

### What is the current behavior?

can't override completely onMatrixRowRemoved event

### What is the expected behavior?

when I add a function to the onMatrixRowRemoved event I'd like to stop the event propagation someway. In other words prevent the default behavior (deleting the row)

[2018-02-02 13:14] tsv2013 commented on #901
@masciugo There is no such a functionality now, Could you specify your exact scenario - do you want conditionally disable certain rows deleting or something else? Probably we need to hide "Remove" button in the UI for such a row.

[2018-02-02 13:55] masciugo commented on #901
I am working with a rails backend and I am trying to use surveyJS as a nested form engine for my backend resource. I am using dynamic matrix to model objects associated to the principal so that I can send to the server data like the following:

[code]

So fa so good but in order to remove an association (group_membership in the example) I need to inform the backend by sending info on the deleted a

[2018-02-02 15:32] masciugo commented on #682
I understand the major need, but I think that is mainly related to the fact that the json survey data is usually stored as-is as a whole. This means that it can be simply replaced in case of update of the survey. But if you need to save pieces of survey data separately it would be much more useful to get null values in order to catch the changes immediately because no data often means "nothing cha

[2018-02-02 17:15] andrewtelnov commented on #682
@masciugo SurveyJS gives you 3 choices now. Please look at this help topic: https://surveyjs.io/Documentation/Library/?id=surveymodel#clearInvisibleValues'

Thank you,
Andrew

[2018-02-02 17:20] andrewtelnov commented on #901
@masciugo You may create an additinal value in survey.data that contains information about deleting rows, like yourmatrixname_removingRows. Will it work for you?

Thank you,
Andrew

[2018-02-02 19:00] balping commented on #895
Fixed. Thanks.

[2018-02-02 19:00] #895 closed

[2018-02-02 19:52] andrewtelnov commented on #70
@elsigh I have reproduced the bug in a unit test and fix it. The fix will be available in the next release.

Thank you,
Andrew

[2018-02-02 19:52] #70 closed

[2018-02-02 21:22] elsigh commented on #70
Nice work!

[2018-02-04 17:41] omkardusane opened #903 "Timed Quizes not working in VueJS"
### Reporting a bug.

### Current behavior:
when I try to create a quiz with following attributes,
[code]
It throws an error saying

[code]

### Expected behavior:

timed quiz should work as it works in surveyjs.io's designer

### To reproduce the current behavior (if this is a bug):
use this json and Latest Vuejs binding of surveyjs:
[code]

### Test code:
Will attach a plunkr in comment

### Spe

[2018-02-05 08:02] tsv2013 commented on #903
Fixed

[2018-02-05 08:02] #903 closed

[2018-02-05 08:53] masciugo commented on #682
thank you Andrew. Even if this feature is very helpfull it solves partially my use case as it does not consider _empty_ values (no answer) as described in this issue. I think about text field that become blank at later time. How can I catch the change? (Hope my concern can be helpful for the whole project development too)

[2018-02-05 09:06] omkardusane commented on #903
Thanks @tsv2013,
It works now.

[2018-02-05 09:45] andrewtelnov commented on #682
@masciugo The technical problem, that setting the value to null/empty string, currently equals, to clearing the value, removing it from Survey.data.
You may add a function onValueChanged event and create a value name hash with empty values.
onComplete survey event add into survey.data those value names with null value, if they are not already exists.
It should solved the issue. Let me know if you

[2018-02-05 09:45] kmmamta opened #904 "Need some ideas about issues after taking latest changes of library"
Hi There, I have been using this library on my sample application since last 4 months, and not taken the latest changes from the Server till date, for some improvement when I took latest (i.e. 1.0.6) version, surprisingly I am seeing a lot of behavior change.

Now we are not able to use the Library as we composed to use, and need some ideas about it, Please do the needful

**Urgent**

[2018-02-05 10:25] nikhilkenge commented on #842
Hi @dmitrykurmanov ,

We are working on a project, and we are stuck while using the sortable widget.
The sortable widget is not appearing in the survey and we are not able to trace what is wrong in it.

It would be really grateful, if you could please check the below codebase and let us know what went wrong in that.

Repo: https://github.com/nikhilkenge/ionicSortableJs.git

Thanks in advance.

[2018-02-05 10:29] alekhraut commented on #374
Thanks @tsv2013  it was much helpful.

[2018-02-05 11:18] tsv2013 commented on #904
Could you specify - what exact problems are you experiencing?

[2018-02-05 11:46] masciugo commented on #682
ok it makes sense but with survey-react empty object is showed as [object Object] in the input field.

https://plnkr.co/edit/sp67Avwta1CbFzEHTbs0?p=preview

I can use another char to mean absence of data like a dash. Thanks a lot

[2018-02-05 11:47] kmmamta commented on #904
1:-We are adding some custom button in footer now we are not able to add.(PFA)
2:-We are implement some css on page now it not working.

![footer](https://user-images.githubusercontent.com/35524762/35802952-14a554ec-0a98-11e8-90b8-7361700ca357.JPG)
![w_footer](https://user-images.githubusercontent.com/35524762/35802954-14e00c0e-0a98-11e8-9570-1551c6601ed7.PNG)

[2018-02-05 13:37] andrewtelnov commented on #682
@mellogarrett This is what you mean: https://plnkr.co/edit/5g3cingxtK8kczg7YD7n?p=preview

Thank you,
Andrew

[2018-02-05 15:21] xiuzhen1103 opened #905 "Cannot read property 'add' of undefined"
### Are you requesting a feature, reporting a bug or ask a question?

Ask a question

### What is the current behavior?

I am trying to render survey on display mode, I have similar code as this one. http://plnkr.co/edit/EDpk1P01Zw9i6RCBfAXK?p=preview, it shows message on Cannot read property 'add' of undefined. In debugger, I saw pass model and data into Survey component, but still show this erro

[2018-02-05 15:42] dmitrykurmanov commented on #842
@nikhilkenge, hello! We have fixed your example, please check the pull request https://github.com/nikhilkenge/ionicSortableJs/compare/master...dmitrykurmanov:patch-1 . There are two moments:

-  we copy and past our sortable widget code  (https://github.com/surveyjs/widgets/blob/master/src/sortablejs.js)
- and we have changed call order and params for `addCustomWidget` function. It must be called

[2018-02-05 15:43] enricribas commented on #898
great! thanks, will test.

[2018-02-05 15:43] #898 closed

[2018-02-05 15:51] dmitrykurmanov commented on #905
Hello! We tested your sample with the latest version of SurveyJS (minified version) and it works ok. We need the code to reproduce your issue. We can start immediately after you provide us with it.

[2018-02-06 08:54] aslanbeily opened #906 "Maximum size"
Is it possible to make a survey show as big as possible on mobile browser screen?
I mean, I can play with JS/CSS, detect mobile phones and try to do this myself, but maybe something could be done with parameters? It looks really small on mobile, because it takes the entire screen width and the questions become very small and hardly seen somewhere in the corner. This is how it looks on my mobile Ch

[2018-02-06 10:39] yakou32 commented on #664
I finally solved my personal use case differently.

But anyway, this issue is about being able to customize the markup, including the first page markup.
Here is a potential use case: we would like to display a dynamic matrix using barrating for `select`.
If the user adds additional rows that include `select` dropdowns, they will not be rendered properly as jQuery barrating should be refired after

[2018-02-06 11:40] nicklas669 opened #907 "Multiple file upload"
Hello SurveyJS.

I have a question about your framework. Right now it seems you can only select 1 file per "upload input". Do you support uploading multiple files from the same "File Selection Dialog" or is it something that you intend to implement? And if so, when?

To clarify the wanted behaviour: I want to click one button and select multiple files for upload, instead of clicking one button and

[2018-02-06 13:46] tsv2013 commented on #906
It looks like font size is too small. Ordinary on devices survey looks like on the screenshots in the https://github.com/surveyjs/surveyjs/issues/864 issue. I have no ideas why it looks so. We need a link (example code) to reproduce the issue on our side.

[2018-02-06 14:21] tsv2013 commented on #907
SurveyJS currently doesn't support multiple files uploading at once. We've included this feature in our task list. We'll update this thread in case of any progress.

Related issue - https://github.com/surveyjs/surveyjs/issues/793

[2018-02-06 14:32] nicklas669 commented on #907
Hey @tsv2013, thanks for the quick answer and for the work you guys are doing! Do you have any sort of idea when this will be implemented? Are we talking a couple of months or even a year?

[2018-02-06 14:53] tsv2013 commented on #907
@nicklas669 We'll make a spike solution this week. If implementation will kooks clear and fine, if we willn't face blocking issues - we'll do it. Otherwise we'll postpone it.

[2018-02-06 14:59] nicklas669 commented on #907
@tsv2013 Sounds cool, please do let me know if there are any news on this matter.

[2018-02-06 15:00] tsv2013 commented on #907
Sure, @nicklas669 we'll update this thread immediately

[2018-02-06 15:59] masciugo commented on #897
I switched from react to jquery and cannot apply the same solution with success

https://plnkr.co/edit/gEzrkytROkSm0g50WbZj?p=preview

[2018-02-07 03:29] sfcrebecca opened #909 "New feature requested - only load valid data from JSON to surveyJS data model"
### Are you requesting a feature, reporting a bug or ask a question?
A feature

### What is the current behavior?
We have set some numeric fields which only accept numbers and we have a import function allows users to upload the answers from a JSON file.

If the user edits the JSON file such that a non-numeric char is set to a numeric field, that value will not be displayed on the screen (since th

[2018-02-07 07:34] tsv2013 commented on #909
This can be easily achieved be data validating function, as shown below

[code]

Working sample is here - https://jsfiddle.net/unwb7u6o/

Does if fit your needs?

[2018-02-07 08:59] andrewtelnov opened #910 "defaultValue doesn't work for questions in PanelDynamic"
The following JSON doesn't work correctly. Questions in panel doesn't have defaultValues

[code]

[2018-02-07 09:03] andrewtelnov commented on #897
@masciugo Please add survey.render(); function: https://plnkr.co/edit/TYCOmTA4wStEz6ZfDb79?p=preview

Thank you,
Andrew

[2018-02-07 09:03] #897 closed

[2018-02-07 09:19] aslanbeily commented on #906
I never changed the fonts, I mean I use Bootstrap according to your guide.
Here is the sample link:
http://survey.clinicrowd.xyz/survey.php?id=10&lang=en&nickname=clinicrowd
Thanks in advance!

[2018-02-07 09:26] masciugo commented on #901
ok:
[code]
thank you

[2018-02-07 09:26] #901 closed

[2018-02-07 09:43] masciugo commented on #682
a small improvement to deal with empty array as question value

https://plnkr.co/edit/LFjMZiWXNZn8YrPyYjIt?p=preview

[2018-02-07 10:13] duncanawerbuck commented on #113
@dmitrykurmanov, any chance you could update the [Quick Start](https://surveyjs.io/Documentation/Library/)?

It still says to use `Survey.SurveyWindow`.

[2018-02-07 17:57] xiuzhen1103 opened #911 "Display mode have specified question to be editable"
### Are you requesting a feature, reporting a bug or ask a question?

Ask a question

### What is the current behavior?
when in display mode, all fields are not editable.

### What is the expected behavior?
when in display mode, if type="comment", in display mode should be textarea, not html text

### How would you reproduce the current behavior (if this is a bug)?
http://plnkr.co/edit/EDpk1P01Zw9

[2018-02-07 18:45] #911 closed

[2018-02-07 18:46] #905 closed

[2018-02-08 00:11] sfcrebecca commented on #909
Thanks, this is what I want. But if I want to check other data types also, do you mean I have to implement one by one?

[2018-02-08 07:10] tsv2013 commented on #909
@sfcrebecca You are absolutely right

[2018-02-08 13:44] tsv2013 commented on #907
We've implemented this feature (basic scenario) in these commits: dac72cc11717725b02c399acf3ae3a6435d86dcc and dac72cc11717725b02c399acf3ae3a6435d86dcc
You can test it in the nearest update

You should set `allowMultiple` question property to true:
[code]

[2018-02-08 13:51] tsv2013 commented on #906
You need to add meta viewport tag to the head of your site:
[code]

You can find more info in various articles like this - https://www.w3schools.com/css/css_rwd_viewport.asp

[2018-02-08 14:29] tsv2013 commented on #911
Instead of
[code]
you can use `readOnly` option of each question:
[code]

You can check the updated plunk - http://plnkr.co/edit/kl0jW8L4cGH8Lb5bJOjB?p=preview

[2018-02-08 19:35] healkar01 opened #912 "Survey is exceeding its container on modal"
I have a survey in a modal dialog:

![startsurvey](https://user-images.githubusercontent.com/20865786/35993758-4cc1fb28-0cdc-11e8-9744-e66ab054372a.jpg)

When I complete it, the modal unhides the footer to show the close button but the thank you is exceeding its container on the modal and not behaving appropriately so you cannot see the close button (or rather, you can see the edge of it)

![compl

[2018-02-08 20:49] enricribas opened #913 "Fields with upper case letters no longer get interpolated into title"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

How old is {spouseName}? used to inject the actual spouseName into the title.

### What is the expected behavior?

It should inject the name of the spouse entered in a previous question

### How would you reproduce the current behavior (if this is a bug)?

create a question that uses a dyn

[2018-02-08 20:55] enricribas commented on #913
Here is the survey test case

[code]

[2018-02-08 20:57] enricribas commented on #913
This is a big problem for us, as we use camelCase for all our "names", and this is blocking us from release.
Pretty please, urgent. :)

[2018-02-09 06:43] tsv2013 commented on #912
Thank you for the report, @healkar01
I think we've fixed this issue via the https://github.com/surveyjs/surveyjs/commit/1c15d551544d80c4d28f60996397a596a916303b commit.
We've also disabled default paddings in the https://github.com/surveyjs/surveyjs/commit/4874e040e9cb644a4ea90d165b9a0471344df59d commit.
Hope this also solves this issue.
These fixes will be available in the nearest update.

[2018-02-09 09:10] andrewtelnov opened #914 "Hide a question title for any question."
Add "hidden" value into question.titleLocation.

[2018-02-09 09:43] andrewtelnov commented on #913
@enricribas The issue is reproduced in a unit test and fixed.
The fix will be available in the next minor update, hopefully we will release it today.

Thank you,
Andrew

[2018-02-09 12:30] #914 closed

[2018-02-09 12:30] #913 closed

[2018-02-09 12:30] #912 closed

[2018-02-09 12:30] #907 closed

[2018-02-09 12:31] #896 closed

[2018-02-09 12:31] #876 closed

[2018-02-09 12:31] #875 closed

[2018-02-09 12:31] #873 closed

[2018-02-09 12:32] #870 closed

[2018-02-09 12:32] #860 closed

[2018-02-09 12:32] #856 closed

[2018-02-09 12:32] #849 closed

[2018-02-09 13:47] healkar01 commented on #912
Thank you!  It solved the problem!

Karen Healey

[2018-02-09 16:08] enricribas commented on #913
awesome, thanks.

[2018-02-09 18:43] healkar01 opened #915 "Visible if with nested surveys has unexpected results"
Hello,

I have a survey that uses visible if and is not quite behaving the way we would like it to behave.  The json is below.  Question 2 is a Yes/No question.  Question 3 displays if Question 2 is yes.  Question 4 displays if Question 2 is No.  So, the user answers No to Question 2 and sees Question 4.  They answer 'Not eligible' to Question 4, which makes Question 5 appear.  Answer 'Accessed ma

[2018-02-09 18:48] xiuzhen1103 opened #916 "Survey js with customised attribute"
### Are you requesting a feature, reporting a bug or ask a question?
Ask a question

### What is the current behavior?

At moment, in survey model, i am only able to retrieve variable on model defined by your library, is there any chance that I could get add custmized variable into question, please?

### What is the expected behavior?
In provide plunker, line 50, may I able to get question questio

[2018-02-09 20:22] andrewtelnov commented on #915
@healkar01 For Question5 you should use the following expression to make it work:

[code]
If you have several questions that has to be visible on {Question2} = 'No' and hidden otherwise, you may use a Panel with visibleIf = "{Question2} = 'No'", and put those questions into the Panel.

Thank you,
Andrew

[2018-02-09 20:22] #915 closed

[2018-02-09 20:29] andrewtelnov commented on #916
@xiuzhen1103 I am not sure I got you. Do you want to add a property into SurveyJS objects?

Here is the example of adding a tag property into all questions:
`Survey.JsonObject.metaData.addProperty("questionbase", {  name: "tag:number",   default: 0  });`

To get more info, go to this page https://surveyjs.io/Examples/Builder/?id=addproperties and then tab: Documentation.

Thank you,
Andrew

[2018-02-09 20:45] andrewtelnov commented on #915
@healkar01 Forgot to say, there is one more solution. Set survey.clearInvisibleValues to "onHidden"
`clearInvisibleValues: "onHidden"`
On hidding Question2 it's value will be clear, it will not equal 'No' any more and Question4 will be hidden as well and it's value will be cleared and as result Question5 will be hidden also.

Thank you,
Andrew

[2018-02-09 20:55] healkar01 commented on #915
Thank you!  The clearInvisibleValues is preferable!  We actually brought in hundreds of surveys from another system and identifying the ones that have this issue could be a huge problem.  But this solves it perfectly!

[2018-02-10 12:54] #899 closed

[2018-02-10 12:54] #885 closed

[2018-02-10 12:56] andrewtelnov commented on #791
@Noino It has been implemented, set properyt survye.isSinglePage to true
`survey.isSinglePage = true;`

Thank you,
Andrew

[2018-02-10 12:56] #791 closed

[2018-02-11 04:01] murrah commented on #475
It would be great to add the example ([https://plnkr.co/edit/PojiUA?p=preview](https://plnkr.co/edit/PojiUA?p=preview)) to the documention [https://surveyjs.io/Documentation/LibraryParameter?id=questionbase&parameter=visibleif](https://surveyjs.io/Documentation/LibraryParameter?id=questionbase&parameter=visibleif). It took a while to find the syntax for using a matrix as a trigger.

Thanks!

[2018-02-11 05:26] murrah opened #917 "Request: ability to add a class name to a question"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
I am currently exploring SurveyJS and generating a few test surveys using the online survey designer. There are some CSS changes I woud like to make "standard" for me (see below). At present I need to assign class names via event listeners on a survey.

### What is the expected behavior?

[2018-02-11 05:42] murrah commented on #360
+1 for the original idea though! ;-)

If you have a number of questions that are "requiredif" that could be a lot of duplication. For me there is only 1 duplicated question but extrapolating ...

[2018-02-11 07:27] aslanbeily commented on #906
Great, thanks!

[2018-02-11 07:27] #906 closed

[2018-02-12 05:39] tsv2013 commented on #917
You can add cusom CSS classes using 2 approaches:
 - static - to all questions of givben type - https://surveyjs.io/Examples/Library/?id=survey-customcss&platform=Knockoutjs&theme=default
 - dynamic - customize classes on event (onUpdateQuestionCssClasses) - https://surveyjs.io/Examples/Library/?id=survey-cssclasses&platform=jQuery&theme=default

Does it fit your needs?

[2018-02-12 10:49] aslanbeily opened #918 "Hide rows in matrix"
Hello,
Is it possible to hide the rest of the rows in matrix if the answer to the first row was negative or positive or something else - doesnt' matter, just some kind of ifVisible on rows level?
Thanks in advance.

[2018-02-12 14:45] andrewtelnov commented on #475
@murrah Yes, I have added your example: https://surveyjs.io/Examples/Library/?id=condition-complexquestions and two other examples with visibleIf.

Thank you,
Andrew

[2018-02-12 17:44] murrah commented on #475
Thanks Andrew!

[2018-02-12 20:03] abritopach opened #919 "Error when trying to use survey-vue in a vue project with typescript"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug.

### What is the current behavior?

I try to use survey-vue in a vue project with **typescript**.

I have installed survey-vue: npm install survey-vue

When I try to import it follow vue quickstart repo

import * as SurveyVue from  'survey-vue'
let Survey = SurveyVue.Survey

I get the following error:

Property

[2018-02-13 05:14] omkardusane opened #920 "Make it possible to have multiple options correct/ more than one options correct in Quiz"
##Feature Request

## Quiz

quiz demo provided: https://surveyjs.io/Examples/Library/?id=survey-quiz
#
when I put a checkbox instead of radio group, I can achieve a combination of multiple options as correct. but the chosen answers arryay compare to the CorrectAnswer array (which used to be a string in single option correct type) and if the user doesn't select the answers in right order then it ca

[2018-02-13 06:04] alzulas opened #921 "Request: ability to increase size of bubbles"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
Clients continue to complain that they feel the bubble are too small for radio buttons and matrix buttons.

### What is the expected behavior?
Would be useful if radio buttons/matrix/check boxes/etc could have a size element. That way the check boxes/bubbles could be set to large in the

[2018-02-13 06:30] andrewtelnov commented on #921
@alzulas This is a library ;) Here is the example with !important attribute. A little dirty, but it works: https://plnkr.co/edit/2Agug0prsUtECbZlgZnj?p=preview

Thank you,
Andrew

[2018-02-13 06:31] #921 closed

[2018-02-13 07:02] andrewtelnov commented on #920
@omkardusane The only solution, I see, is to add onIsQuestionCorrect event, where you will be able to override the default behavior.
Additionally, instead of checkbox, I would suggest to use the [SortableJS custom widget](https://surveyjs.io/Examples/Library/?id=custom-widget-sortablejs)
Let me know, if event works for you.

Thank you,
Andrew

[2018-02-13 08:12] tsv2013 commented on #919
Wrong .d.ts file is generated due to the "export default class" declaration in the .vue files.
We'll fix it.

[2018-02-13 08:15] abritopach commented on #919
Thanks @tsv2013

[2018-02-13 08:43] alzulas commented on #921
This fix only worked for firefox.

.sv_qcbc input[type="radio"] {
    -ms-transform: scale(1.5) !important; /* IE 9 */
    -webkit-transform: scale(1.5) !important; /* Chrome, Opera */
    transform: scale(1.5) !important;
    margin: 5px !important;
}

Worked for everything but Safari. I'm still a little stuck, but it's better than nothing I suppose.

[2018-02-13 11:07] omkardusane commented on #920
Oh Thanks for the prompt response @andrewtelnov ,
The custom widget is not a good option for our use case as we are agnostic to the order of answers, and we are avoiding new dependencies.

We would prefer having a property in the question object named 'correctAnswerType' specifying if it is a 'SingleOption' , 'MultipleOption' or 'MoreThanOneOption'. which we believe is a very general requirement o

[2018-02-13 12:47] andrewtelnov commented on #920
@omkardusane It will be hard to explain what exactly this property does. It is very specific.
I will add the event onIsQuestionCorrect  and you may add this property by yourself. Here is the example:
https://surveyjs.io/Examples/Builder/?id=addproperties#content-js
https://surveyjs.io/Examples/Builder/?id=addproperties#content-docs
On this event, based on the value property you will be able to ret

[2018-02-13 12:51] tsv2013 commented on #919
@abritopach I've changed export options. You can check it after nearest minor update.

[2018-02-13 13:51] andrewtelnov commented on #920
@omkardusane I have added the event.
Please look at the commit above. You will see a new Unit Test:
"Quiz, correct, incorrect answers and onIsAnswerCorrect event". Here you will find the example of using survey.onIsAnswerCorrect event.

Thank you,
Andrew
SurveyJS Team

[2018-02-13 13:51] #920 closed

[2018-02-13 14:31] tsv2013 commented on #918
Unfortunately SurveyJS hasn't such a functionality. But you can do it via code. Similar scenario was discussed in this thread - [Dynamic forms (multiple items)](https://github.com/surveyjs/surveyjs/issues/186).
We can create an example for you if you describe your scenario in greater details.

[2018-02-13 16:09] #865 closed

[2018-02-13 17:14] omkardusane commented on #920
Hi @andrewtelnov
The event helps in our use case. We really appriciate the robustness and flexibility of surveyjs. Thanks for the support and guidance.

Thanks  👍

[2018-02-14 07:00] andrewtelnov commented on #910
It doesn't work in knockout and jQuery-

[2018-02-14 09:33] aslanbeily commented on #918
http://survey.clinicrowd.xyz/survey1.php?id=10&lang=en&nickname=clinicrowd is a good sample.
On the seventh page, in a matrix question about Tremor (by the way, page numbers are not shown for some reason, despite "showPageNumbers": true) if one chooses "Full body" not empty and not never, the rest of options should be hidden somehow. I thought I can just hide the table rows or the questions themse

[2018-02-14 15:23] halexiev-hedgeserv opened #922 "SurveyJS for Angular really slow with relatively large json model"
### Are you requesting a feature, reporting a bug or ask a question?

Bug / performance issue.

### What is the current behavior?

SurveyJS is really slow in an Angular 5.2 + TypeScript 2.6 setup with a relatively large json model.

### What is the expected behavior?

Performance should be much better as we  are using same json model in an Aurelia + jQuery setup without this slowness.

### How wou

[2018-02-14 16:39] abritopach commented on #919
Thanks @tsv2013

I was able to import replacing **export default class** with **export class** in survey.vue.d.ts but now I get the following error:

---------

vue.esm.js?efeb:578 [Vue warn]: Error in render: "TypeError: Cannot read property 'root' of undefined"

found in

---> <Survey> at src/vue/survey.vue
       <SurveyDetails> at src/components/SurveyDetails.vue
         <VApp>
           <Ap

[2018-02-14 16:44] masciugo opened #923 "docs index"
### Are you requesting a feature, reporting a bug or ask a question?

question

### What is the current behavior?

I cannot find all docs pieces

### What is the expected behavior?

a good index for docs

### How would you reproduce the current behavior (if this is a bug)?

I could get to this [doc](https://surveyjs.io/Documentation/LibraryParameter?id=questionbase&parameter=visibleif) only becaus

[2018-02-15 07:17] andrewtelnov commented on #923
@masciugo We have added several additional examples:
https://surveyjs.io/Examples/Library/?id=condition-cascade
https://surveyjs.io/Examples/Library/?id=condition-complexquestions
https://surveyjs.io/Examples/Library/?id=condition-dynamic

We may update the documents about visibleIf as well. Are you asking about this?

PS: Could you please try our new expression editor. You can try it at: https://

[2018-02-15 07:38] tsv2013 commented on #919
I was not able to reproduce the issue with `root` using your JSON.

We've released v1.0.8 with this fix yesterday. Could you check it?

[2018-02-15 07:45] tsv2013 commented on #887
We've implemented autocomplete feature for visibleIf, enableIf and expression in the SurveyJS Builder (Editor) via Ace editor + ext language tools. You can try this feature in the [Online Survey Builder](https://surveyjs.io/Survey/Builder/) on our site. You feedback is hightly appreciated.

[2018-02-15 09:31] masciugo commented on #923
@andrewtelnov thank you for your support but the visibleIf case was only an example to show that it seems there are some doc pages not reachable browsing the [official doc page](https://surveyjs.io/Documentation/Library/). I wonder if there are some other _hidden_ docs or I missed something about docs organisation

At first glance we really love the new expression editor. By the way its autocomple

[2018-02-15 09:37] rangasurendra opened #924 "Customize editor and questions - putting angular content inside custom question"
### Are you requesting a feature, reporting a bug or ask a question?

Hi,
I followed [this link](https://github.com/surveyjs/surveyjs_angular_quickstart/tree/editor-customizations) editor-customization branch example and create a custom question control.

I ran in to a requirement of showing angular content inside the htmlTemplate section shown below,

Just wanted to know whether this is supported

[2018-02-15 10:30] #922 closed

[2018-02-15 10:31] dmitrykurmanov commented on #922
We've fixed the bug, fix will available in the next patch release. Thank you!

[2018-02-15 10:34] abritopach commented on #919
Hello again @tsv2013

I tried the new version but still get the same error.

Also, new .d.ts file generated is wrong. I've had to remove duplicate lines of export code like the following:

[code]

And get "Cannot find the name' QuestionModel" in several parts of the file.

I have compared **my project** and the **surveyjs_vue_quickstart** and when I show survey model in Chrome Developer Console i

[2018-02-15 10:34] dmitrykurmanov opened #925 "Questions are numbered wrong if conditionally hidden (Single page mode)"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Questions are numbered 1,2,3,4,5, 7,8,9,...

### What is the expected behavior?
Questions are numbered 1,2,3,4,5, **6,** 7,8,9,...

### How would you reproduce the current behavior (if this is a bug)?
See sample from #922

[2018-02-15 12:32] tsv2013 commented on #924
SurveyJS custom widgets have framework-independent code. Content of the `htmlTemplate` property is rendered into DOM as is. After that you can process it any available way in the `afterRender` function.

That's why Angular bindings will not work for the markup inside the `htmlTemplate` property.

You can see custom widgets examples in the https://github.com/surveyjs/widgets repository. Sample usag

[2018-02-15 13:37] kaphert opened #926 "[Docs] Library example bootstrap theme is not working correctly"
The bootstrap style is not applied see: https://surveyjs.io/Examples/Library/?id=bootstrap-theme&platform=Vue&theme=default

Error in console:
[code]

[2018-02-15 13:44] tsv2013 commented on #926
Thank you, @kaphert we'll fix it ASAP

[2018-02-15 13:52] khaled-ansary opened #927 "How to send final output to the parent component in angular?"
I am trying to send the final survey result to the parent component using EventEmitter.  I have tried the following;

#ParentComponent

[code]

#SurveyComponent
[code]

But it is not working in this way. I am getting `onCompleted is undefined` error. Could you please guide me to solve this. Thank you.

[2018-02-15 15:10] kaphert opened #928 "[Request] Render question titles in <label> instead of <h5>"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
The titles of form fields are rendered within a `<h5>` and `<span>` tag.

Taken from Vue version:
[code]

### What is the expected behavior?
For screen readers and usability it would be better if this could be rendered in a `<label for="{fieldId}">` tag.

[code]

* surveyjs platform (ang

[2018-02-15 15:38] kaphert opened #929 "[Bug] Survey is scrolling to first question on page after visibleIf is triggered"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
If you have a long survey and at the end of the survey you have a question that has a `visibleIf` condition the survey is scrolled to the first question. And if the `focusFirstQuestionAutomatic` is set to true it also sets focus on the first question.

### What is the expected behavior?
The

[2018-02-15 15:59] dmitrykurmanov commented on #926
We've fixed it.

[2018-02-15 16:00] #926 closed

[2018-02-15 16:00] cinziasala commented on #923
@masciugo Please see show more link [here](https://surveyjs.io/Documentation/Library?id=QuestionBase#visibleIf)

[2018-02-15 16:05] tsv2013 commented on #927
Looks like you have a wrong context in the `sendDataToServer` function. This was discussed in this thread - https://surveyjs.answerdesk.io/internal/ticket/details/T424

The solution was to use the "fat arrow" function dectaration:
[code]

[2018-02-15 16:07] tsv2013 commented on #928
You can modifiy rendered markup in the handler of the onAfterRenderQuestion event, described here - https://surveyjs.io/Documentation/Library/?id=surveymodel#onAfterRenderQuestion

[2018-02-15 16:09] kaphert commented on #928
Thank you that would be a solution for me. But my request was more to add it as a default to the library because that would make more sense to me.

But I can imagine that changing this would have some impact on existing surveys.

[2018-02-15 16:11] tsv2013 commented on #928
Yes, it can affect surveys, customized via css

[2018-02-15 16:14] masciugo commented on #923
@cinziasala thank you. Fair enough
@andrewtelnov We started using the expression editor and my not developer colleagues would need to read the whole operators descriptions which is cut in the dropdown.

![screen_shot_2018-02-15_at_17_03_12](https://user-images.githubusercontent.com/454321/36267019-380da104-1273-11e8-964d-79430e851e6e.png)

[2018-02-15 16:22] khaled-ansary commented on #927
Thank you very much.  It works.

[2018-02-15 16:22] #927 closed

[2018-02-15 16:22] andrewtelnov commented on #923
@tsv2013 @dmitrykurmanov Could you please look at this issue.

Thank you,
Andrew

[2018-02-15 16:42] kaphert commented on #928
For the one who is interested. The following event listener will do the trick by replacing the `h5` tag with a `label` tag.
[code]

[2018-02-15 17:24] xiuzhen1103 commented on #916
hi, is there any chance that if I could use * to point that all the property add triggerAlert
JsonObject.metaData.addProperty("*", { name: "triggerAlert", default: false, choices: [true, false] });

[2018-02-15 17:29] kaphert opened #930 "[Bug] onAfterRenderQuestion has unexpected behavior on survey with pages"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
I have 2 pages, first page has 2 questions, second page 1. The onAfterRenderQuestion is only called twice for the first 2 questions on the first page.

### What is the expected behavior?
It should be called for each question

### How would you reproduce the current behavior (if this is a bug

[2018-02-15 17:29] kaphert commented on #928
Above solution is not working because of: https://github.com/surveyjs/surveyjs/issues/930

[2018-02-15 18:21] kaphert opened #931 "[Bug] Title is rendered twice when titleLocation is set to left"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
If you set the `questionTitleLocation` to `left` the title is rendered twice (at least in vue)

### How would you reproduce the current behavior (if this is a bug)?
See: https://plnkr.co/edit/KnSCjvfsQMTVSNicpXox?p=preview and open your console and search for the elements.

[code]

### Speci

[2018-02-15 19:28] kaphert opened #932 "Please supply a :key to all v-for in Vue components"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

Related to https://github.com/surveyjs/surveyjs/issues/930

`v-for` for VueJS does not requires a `:key` attribute but without it is has strange behavior when the dom is changed or reordered. See https://vuejs.org/v2/guide/list.html#key

Take example: https://plnkr.co/edit/GCKFIVh3PtVV3st99nKo?p=preview.
A custom widget is u

[2018-02-16 05:35] tsv2013 commented on #932
It's very strange that vue doesn't complain the "key" is mandatory in fact.

[2018-02-16 08:26] tsv2013 commented on #932
I've added `:key` attribute, but this doesn't help with #930

[2018-02-16 10:53] tsv2013 commented on #930
I've added the `:key` attribute, but this doesn't fix this issue. It also doesn't fix dynamic panel issue from the sample attached to #932.

This question certainly is not related to the `:key` attribute presence.

This behaviour is exaplined pretty simple.
Please take a look at this code:
https://github.com/surveyjs/surveyjs/blob/35f8ee5c1178b09b46683714ff1030faabe34fd4/src/vue/element.vue#L50-L5

[2018-02-16 11:02] kaphert commented on #930
This ain't correct behavior because this defeats the purpose of the afterRenderQuestion() functionality. And the JQuery variant of the same code has different behavior.

I would like to help out here but it would be easier if I could run the 'raw' vue components instead of the webpacked version that I use right now (npm install survey-vue) that gives me only the survey.vue.js file. Do you know how

[2018-02-16 11:15] kaphert commented on #930
You can see the same wrong behavior in the examples on the website:
**JQuery** go to the next page and click on 'more info' to the question. See
**Vue** go to the next page and click on 'more info' next to the question. https://surveyjs.io/Examples/Library/?id=survey-afterrender&platform=Vue&theme=default

I also now see that the page is only rendered once (the event onRenderPage is fired once). I

[2018-02-16 11:32] tsv2013 commented on #930
You can just clone this repo, install packages via "npm i" and run via "npm start". Then open `http://localhost:7777/examples/vue` page and you can debug everything you want.

[2018-02-16 11:41] tsv2013 commented on #930
My point is that: `afterRenderQuestion` fires after question really has been rendered to the DOM. How many times this happens - it can be different for different frameworks. But the state of DOM at the starting point of the `afterRenderQuestion` event should be the same - question has been just rendered and has no other modifications.

Wrong behavoiur of the VueJS version of the SurveyJS library d

[2018-02-16 15:31] kaphert commented on #932
@tsv2013 thanks but the `:key` values are not unique keys because the `inputId` property is undefined. If I fix this locally it solves the issue of #930 & the issue I described above. If there is a unique id for the element that you are looping at the moment that will be enough. So just passing `question.id`, `page.id`, `panel.id` to the `:key` will be enough.

A row does not have a unique id so a

[2018-02-16 15:33] kaphert commented on #930
See my answer on https://github.com/surveyjs/surveyjs/issues/932#issuecomment-366267701

The thing is that the :key that should be unique is not unique. If you make the key unique it solves this problem and the afterRenderQuestion() is called for each question as soon as the question becomes visible.

[2018-02-16 15:40] kaphert commented on #931
Thanks, I can confirm that is not rendering twice anymore in v1.0.9

[2018-02-16 15:40] #931 closed

[2018-02-16 16:05] halexiev-hedgeserv commented on #922
@dmitrykurmanov Thank you - bug is fixed in 1.0.9.

[2018-02-16 16:12] cinziasala opened #933 "default value for matrixdropdown choices"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

Cannot set default choice

### What is the expected behavior?

 I would like to set the default choice or at least the default value like in [this example](https://plnkr.co/edit/nOTMp4QGjuBBBpbv7cZ2?p=preview)

[2018-02-16 16:14] kaphert opened #934 "[Bug] onAfterRenderPage is only fired once in multi page survey (Vue)"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
For the vue variant the `onAfterRenderPage` is only fired on the first page. It is not fired when you go to step 2, 3 or 4. And also not when you go back form step 2 to 1 while this is the case in the jQuery variant.

### What is the expected behavior?
`onAfterRenderQuestion` should be fired

[2018-02-16 18:42] daveed80 opened #935 "Skip to page functionality?"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question.

First, this is an unbelievable awesome solution! What I would like to do is if a given question is answered with a particular value, skip to a different page/set of questions (branching logic). From the documentation, I feel that this is possible, I'm just unsure how to get there.

### What is the current beh

[2018-02-16 19:28] andrewtelnov commented on #933
@cinziasala This json should work. I will fix it.
As a workaround, please use the following code: https://plnkr.co/edit/OYDOVpBLYqQ5HpzJ8hNG?p=preview

Thank you,
Andrew

[2018-02-16 19:42] andrewtelnov commented on #935
@daveed80 You add to page2
`visibleIf: "{frameworkUsing} <> 'No'"`
It means that page2 will be shown if "frameworkUsing" question value doesn't equal to 'No'

Thank you,
Andrew

[2018-02-16 19:54] daveed80 commented on #935
Gotcha, makes sense. With that said, I'm curious what the preferred approach would be if multiple questions/steps can result in 'skipping' all the way to the end?

[2018-02-16 20:01] daveed80 commented on #935
After making the suggested change (**visibleIf: "{frameworkUsing} <> 'No'"**), it does change the button to '**Complete**', which is skipping page 2. However, the question title does not change, and remains as:

**'1. * Do you use any front-end framework like Bootstrap?**

 pages: [
      {
          name: "page1", questions: [
            { type: "radiogroup", choices: ["Yes", "No"], isRequired:

[2018-02-16 20:11] daveed80 commented on #935
Not sure what I did in code, but after using the awesome survey builder, all was good.

Thanks again for an awesome product and quick response!

[2018-02-16 20:42] N73dp opened #936 "Help wanted"
### Are you requesting a feature, reporting a bug or ask a question?
I need some help with your js. Can i some how hide previous and next button, and show next when user click on answer?How i can send results to email address?And can someone help with сreating a сcountdown from 5000 with step -50 till last question will be answered?Thanks alot

[2018-02-17 06:00] andrewtelnov commented on #935
@daveed80 You are welcome!

[2018-02-17 06:00] #935 closed

[2018-02-17 06:06] andrewtelnov commented on #936
@N73dp Here is the example with [custom navigation](https://surveyjs.io/Examples/Library/?id=survey-customnavigation), you can have your own navigation. You may need to write code [survey.onValueChanged event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onValueChanged) to show/hide your "Next button".
The second answer is out of the scope our expertise: https://stackoverflow.com/sear

[2018-02-17 09:58] tsv2013 commented on #934
It was discussed here - `onAfterRenderPage` fires only once #664

[2018-02-17 13:15] N73dp commented on #936
In last question i want create a counter that will stop when user answer last question(without time,just an example we have number 5000 and when user start survey counter start subtract 50points per second).
So there is no way to send answers of user to administrator email?Thanks for responding.
And another one question, image-picker work on localhost but not work on hosting. What problem this can

[2018-02-17 16:29] andrewtelnov commented on #933
@cinziasala Man, I have spent 20 minutes, trying to understand why my UnitTest doesn't work correctly, based on your JSON. There is a typo. You have "defaulValue" instead of "defaultValue".
Here is the [fork with type fix](https://plnkr.co/edit/U1T1Or7lx4QJRMaHZ3MJ?p=preview)

Thank you,
Andrew

[2018-02-17 16:29] #933 closed

[2018-02-17 16:36] #910 closed

[2018-02-17 22:52] murrah opened #937 "requiredErrorText not displaying for multipletext items"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
requiredErrorText not displaying for multipletext items. See code snippet.

### What is the expected behavior?
requiredErrorText should display for each item if set. If not set, display default.

#### Provide the test code and the tested page URL (if applicable)

    {
        "type": "multi

[2018-02-18 12:43] andrewtelnov commented on #937
@murrah We do not have requiredErrorText in Multiple text item yet.
We have a task a in our TODO list "Change text item into QuestionText". It would solve some issues and additionally it solves your issue as well.

Thank you,
Andrew

[2018-02-18 12:52] andrewtelnov commented on #937
@murrah I would recommend to use Panel and three text questions inside it. It does everything you need and more :)

Thank you,
Andrew

[2018-02-19 09:49] bidos opened #938 "The default value for Boolean Element not working"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?
You can check directly the link of your example on your site( i joined the link in the description)

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:
http

[2018-02-19 10:57] cinziasala commented on #933
I deeply apologise, it works correctly.

Thank you so much,
Cinzia

[2018-02-19 12:25] tsv2013 commented on #938
Thank you for the report. We'll fix it.

[2018-02-19 13:07] halexiev-hedgeserv opened #939 "Surveyjs own css styles override Angular component (surveyjs.component.scss) styles"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

**When surveyjs is used in a standard angular component like this:**
  surveyjs.component.html
  surveyjs.component.scss
  surveyjs.component.ts

then style definitions in surveyjs override style definitions in **surveyjs.component.scss**.

### What is the expected behavior?

If I have a c

[2018-02-19 13:57] kaphert commented on #934
Ok I understand. I was expecting that all of the js frameworks are acting the same way. For example the JQuery variant will fire on each page visit the onAfterRenderPage event while the Vue version won't this makes it confusing when examples are used. In my opinion it would be better if all of the events would fire on the same time in every framework.

[2018-02-19 13:58] kaphert commented on #932
@tsv2013 do you want me to make a pull request to change the `:key` values to unique values?

[2018-02-19 15:31] dmitrykurmanov opened #940 "Survey Modal Window is not shown by isExpanded option"
- **react example** doesn't work:  https://surveyjs.io/Examples/Library/?id=survey-window&platform=Reactjs&theme=default

- **vue and knockout examples**  `survey.expanded = true;` doesn't work : https://surveyjs.io/Examples/Library/?id=survey-window&platform=Vue&theme=default

- need to hide modal window by clicking outside or implement something else because of click by title is not intuitively

[2018-02-19 15:43] dmitrykurmanov commented on #932
No problem. Sure.

[2018-02-19 15:54] tsv2013 commented on #934
I see your point. We'll discuss this with the team.

[2018-02-19 16:27] #923 closed

[2018-02-19 16:29] tsv2013 commented on #923
We've added tooltip for autocomplete items via the https://github.com/surveyjs/editor/commit/7ce7006cf56a2f746da33ae1fba88c89769fc74a commit
I think it will be the solution
Fix will be available in the nearest update

[2018-02-19 16:30] tsv2013 commented on #923
![image](https://user-images.githubusercontent.com/3013415/36387915-53d4a85c-15ab-11e8-8b73-a11e77628c15.png)

[2018-02-19 23:49] kaphert commented on #929
what is the valid usecase for the call to `scrollToTOpOnPageChange()` ? A page change?

[2018-02-20 05:51] tsv2013 commented on #939
Probably duplicate of the https://github.com/surveyjs/surveyjs/issues/900 - How to apply customised CSS in surveyjs-react?

You sould use more specific selector. But your CSS works ok for me in this plunk - https://plnkr.co/edit/VKhI13?p=preview

[code]

[2018-02-20 06:24] tsv2013 commented on #938
It was a bug in the code of the boolean question demo on our site. I've fixed it and updated the site. Please check.

[2018-02-20 06:24] #938 closed

[2018-02-20 12:23] dmitrykurmanov opened #943 "Need to hide modal window by clicking outside or implement something else because of click by title is not intuitively"

[2018-02-20 12:23] dmitrykurmanov commented on #943
Or add an "expand/collapse" arrow in the title

[2018-02-20 12:24] #940 closed

[2018-02-20 13:05] dmitrykurmanov commented on #929
yes, it should run only after page changed and scroll to the fisrt input. It works in other inlementations, for example in react : https://github.com/surveyjs/surveyjs/blob/ab905155e0a12a9333e1fb6e32e6443147a1e7fe/src/react/reactSurvey.tsx#L34 .

We will fix it in vue.

[2018-02-20 19:28] chambleton opened #944 "Custom widgets are not being added to the editor or UI"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question (and possibly reporting a bug).

### What is the current behavior?

I'm trying to add a widget similar to bar-rating in my local project; I've even made a copy of the bar-rating class and that's not being added either. They are being initialized and added to the CustomWidgetCollection, but not displayed.

### W

[2018-02-21 08:15] dmitrykurmanov commented on #932
We've checked issues with dynamic panel after your pull request merged. It works ok now. Thank you for the contributing.

[2018-02-21 08:15] #932 closed

[2018-02-21 08:38] dmitrykurmanov commented on #919
We've reproduced the bug with vue-cli@3.0.0-alpha.11

[2018-02-21 10:41] Mulli opened #945 "Could not find RTL support [Question]"
I could not find any mention in relation with Right to Left languages.
Is it supported & Documented? or a new feature request?
Thanks!

[2018-02-21 10:41] bidos opened #946 "Data change on Vue js"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature

### What is the current behavior?
There is no option to make one of the checkbox uncheck the others. I found a solution to make it work but it isn't adapted with VueJs and I can't find a way to solve it. (Vue.js is not supporting data change into the onValueChanged event listener)

### What is the expected b

[2018-02-21 12:56] dmitrykurmanov commented on #945
Hello! RTL should be supported on the browser level. If something doesn't work with our widgets on your browser with RTL settings, we would consider this as a bug and it will be fixed. Just let us know about the issue.
I've checked it with one of our examples:
![image](https://user-images.githubusercontent.com/22315929/36481075-b4035b7c-171f-11e8-8a8f-2c356c75fc26.png)

[2018-02-21 13:26] healkar01 opened #947 "Issue when adding more than 3 question choices (responses)"
When filling out the possible answers to a survey question, when I click 'add new', the Value field doesn't update. So the 1st three Value fields will have item1, item2, item3. I'll add another line, and the Value field will be blank, when it should say item4.

See attachment for screenshot. Thank you!
![survey value field issue](https://user-images.githubusercontent.com/20865786/36482307-de80c810

[2018-02-21 13:33] kaphert commented on #946
It is a bug, the culprit are these lines:

https://github.com/surveyjs/surveyjs/blob/c2ad3c2cac79a6380d9cd7549228321c5637a0da/src/vue/checkbox.vue#L23-L32

I think this could just be removed and the `v-model` could be set to `question.value`.
@tsv2013 what do you think? Is there any use case for storing the initial value as `innerValue`?

[2018-02-21 14:03] tsv2013 commented on #946
Good shot, @kaphert :-) The `question.value` is a proxy to a hash with survey data. The hash is initially empty. That's why VueJS doesn't observes this values and thus doesn't track changes. The `innerValue` initially is `null`. This makes VueJS track changes of it: UI updating is being done then `innerValue` has been changed.
We need some time to investigate it.

[2018-02-21 16:06] halexiev-hedgeserv opened #948 "How to add odd/even question background highlightling?"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the question?

How to add odd/even background highlighting for questions?

### What is the expected behavior?

An event handler for question number change or equivalent where one can update the css classes of the questions.

### How would you reproduce the current behavior (if this is a bug)?

It seems like

[2018-02-22 00:17] Braunson opened #949 "Request: More Customization"
### Are you requesting a feature, reporting a bug or ask a question?

- Requesting a feature, allowing customization of the survey template itself, being able to add custom classes to question elements, etc.

### What is the expected behavior?

- Being able to customize the template, or in this specific case, being able to tie another existing button to be used as the 'next/complete' button.

###

[2018-02-22 02:31] Mulli commented on #945
Great! Thanks for the quick reply. I shall update soon.

[2018-02-22 02:33] ammonlee01 opened #950 "Fail to clear error message on screen after disabling a question"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
- enable a question
- trigger some error (e.g. isRequired)
- run validation and display the error message with the question
- now disable the question
- run validation again, surveyjs reports no error but the error message still appears with the disabled question

### What is the expected be

[2018-02-22 02:34] ammonlee01 commented on #950
You may refer to onVisibleChanged in questionbase.ts to modify onReadOnlyChanged under question.ts.

  question.ts
  onReadOnlyChanged() {
    this.setPropertyValue("isReadOnly", this.isReadOnly);
  }

  questionbase.ts
  protected onVisibleChanged() {
    this.setPropertyValue("isVisible", this.isVisible);
    if (!this.isVisible && this.errors && this.errors.length > 0) {
      this.errors = [];

[2018-02-22 04:57] andrewtelnov commented on #949
@Braunson, have you seen [this example](https://surveyjs.io/Examples/Library/?id=survey-customnavigation)

Thank you,
Andrew

[2018-02-22 06:15] tsv2013 commented on #944
Have you checked this repo - https://github.com/surveyjs/surveyjs_react_quickstart?
The bar-rating custom widget is demonstrated there in the survey and in the editor.
Does this repo work for you?

[2018-02-22 06:19] tsv2013 commented on #944
I've checked your sample - it looks like you don't pass `$` to the widgets during initialization:

[code]

[2018-02-22 06:23] tsv2013 commented on #947
This should be created in this repo - https://github.com/surveyjs/editor

I've moved this isuue to the https://github.com/surveyjs/editor/issues/276
And closed this as duplicate.

[2018-02-22 06:23] #947 closed

[2018-02-22 07:02] tsv2013 commented on #948
This is already implemented in our default theme:
https://surveyjs.io/Examples/Library?id=real-productfeedback&platform=jQuery&theme=default

You can check

https://github.com/surveyjs/surveyjs/blob/c2ad3c2cac79a6380d9cd7549228321c5637a0da/src/main.scss#L155-L166

[2018-02-22 07:04] tsv2013 commented on #949
@Braunson And these:
https://surveyjs.io/Examples/Library/?id=survey-customcss&platform=jQuery&theme=default
https://surveyjs.io/Examples/Library/?id=survey-cssclasses&platform=jQuery&theme=default

[2018-02-22 08:34] andrewtelnov commented on #950
@ammonlee01 The unit test is added and fixed.

Thank you,
Andrew

[2018-02-22 09:06] #919 closed

[2018-02-22 09:43] halexiev-hedgeserv commented on #948
@tsv2013 Just add `survey.isSinglePage = true;` and see what happens:

https://plnkr.co/edit/BLnX7cWcXEKYSeSeRfpy?p=preview

Not doable in css only imho - it would be best if there is an event handler just **before** the survey/page/panel/question gets rendered so there are not multiple dom updates.

Otherwise this is what seems to work for us at the moment:

[code]

This way no matter how many ne

[2018-02-22 09:56] LA95 opened #951 "Remove Duplication in ChoicesByUrl"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature

### What is the current behavior?
Using choicesByUrl, if there is duplication of data from the restURL, the duplicates get displayed.

### What is the expected behavior?
Option to remove duplication in the above mentioned scenario. Something like a distinct?

[2018-02-22 12:39] omkardusane opened #952 "Unwanted attribute 'pos' getting added to surveyjson and result when we use objects as IDs in choices."
While using Js Objects as values in Options field, an unwanted attribute "pos" gets added both to SurveyJSON as well as the final data submitted by the user.

Original SJSON:
[code]

after survey renders, (even if we put this in survey builder and click on Test Survey and go back to json)

below unwanted modifications are seen:

[code]

They are recursive, if you repeat this, pos attribute keeps o

[2018-02-22 13:18] halexiev-hedgeserv commented on #939
@tsv2013 The plunk obviously does not use angular cli version as specified in the description above.

Can you please check PR: https://github.com/surveyjs/surveyjs_angular_cli/pull/7

Thanks,
Hristo

[2018-02-22 14:14] Braunson commented on #949
@andrewtelnov Thanks but that example is for jQuery, I've tried it with Vue with no luck. Also I'm curious why it defined the title as false twice? Is that a typo?

Also why is the function `doOnCurrentPageChnged` called twice, once in the Survey call and again called by itself?

[2018-02-22 14:56] andrewtelnov commented on #949
@Braunson Here is [the vue example](https://surveyjs.io/Examples/Library/?id=survey-customnavigation&platform=Vue)
And have you seen the [PanelDynamic Question](https://surveyjs.io/Examples/Library/?id=questiontype-paneldynamic&platform=Vue)?
You may find more information in [this article on medium](https://hackernoon.com/surveyjs-an-open-source-javascript-survey-library-with-versions-for-angular-

[2018-02-22 14:57] andrewtelnov commented on #952
@omkardusane It is definately a bug. Do you have any steps to reproduce it?

Thank you,
Andrew

[2018-02-22 15:09] Braunson commented on #949
@andrewtelnov Yes I've read through that article, thank you however I'm not looking to use Dynamic panels as there is an existing use of the 'contact' data that I don't want to import into dynamic panels.

**I'm having quite a few issues with SurveyJS in Vue:**

- Trying to set the cssType to Bootstrap, throws no errors, following the examples and still no Bootstrap classes or anything remotely re

[2018-02-22 15:48] Braunson commented on #949
Ok I've removed the Survey logic from the child component and just put it in the Parent component and I have the new 'completed' button working, the bootstrap setting still gets ignored.

I'm looking for a way to re-initialize a survey ... on complete now.

[2018-02-22 16:01] omkardusane commented on #952
yes,
You may use the JSON from below snippet and use the online surveyjs builder to test this.
1. Paste this json into editor
2. click on test, try to use the form and enter some sample data
3. go back to the JSON editor you ill see 'pos' added
4. repeating steps 2 and 3 will cause recursive 'pos' attributes to the same object.
(note: usually Choices arrayc contains objects that look like {text:"I

[2018-02-22 16:29] andrewtelnov commented on #949
@Braunson Here is [the example with vue + bootstrap](https://surveyjs.io/Examples/Library/?id=bootstrap-theme&platform=Vue)
Here is [the example of restarting the survey](https://plnkr.co/edit/WizdgrkC1R1Sg0CHrXTA?p=preview)

Thank you,
Andrew

[2018-02-22 16:48] Braunson commented on #949
Thanks @andrewtelnov I figured another way around it. I'm now working on changing the markup on the radio buttons.

I did notice another odd bug, perhaps not a bug but weird behaviour. How to re-create:

Click YES to Q1
Click YES to Q2 (it should show Q3 a select dropdown)
Click NO to Q1

Then Q2 disappears but Q3 is still shown. I'd expect if the top level parent has changed, all conditional deci

[2018-02-22 18:13] chambleton commented on #944
hi - I updated the sample with your suggestion but it made no impact. Also, the other custom widgets are working properly, but not the ones from "MyWidgets"...

[2018-02-22 18:17] chambleton commented on #944
Per your earlier question (trying the surveyjs_react_quickstart example), that's what I've based my example off of (which is working except for my custom widgets).

[2018-02-22 18:21] andrewtelnov commented on #952
@omkardusane Yes, I have reproduce the issue. I will work on the fix.

Thank you,
Andrew

[2018-02-22 18:23] andrewtelnov commented on #949
@Braunson Please read the [following docs](https://surveyjs.io/Examples/Library/?id=condition-cascade&platform=Vue#content-docs)

Thank you,
Andrew

[2018-02-22 19:00] Braunson commented on #949
Thanks @andrewtelnov I did look through some of examples but I guess the wording threw me off.

[2018-02-22 19:25] Braunson opened #953 "Setting width on an radio button"
### Are you requesting a feature, reporting a bug or ask a question?

- Feature

### What is the current behavior?

- Auto sets inline the width of an element.

### What is the expected behavior?

- Should have the option to override this or turn it off

### How would you reproduce the current behavior (if this is a bug)?

Create any survey question elements, inspect source

--

An example of this

[2018-02-23 04:27] omkardusane commented on #952
@andrewtelnov
Thanks for the support!

[2018-02-23 04:50] andrewtelnov commented on #949
@Braunson Yes, we are not a native english speaker here. We are giving our text to a correct time to time.
If you have time to improve this particular document, it would be just great. In this, less people will have the issue that you had.

Thank you,
Andrew

[2018-02-23 04:59] andrewtelnov commented on #953
@Braunson Could you use css similar to [this example](https://plnkr.co/edit/2Agug0prsUtECbZlgZnj?p=preview)
Or do you need a specific css class for input type="radio"?
We can add it.

Thank you,
Andrew

[2018-02-23 07:16] testweird123 opened #954 "How to dynamically add a new page and repeat set of questions based on number of paneldynamic items in a previous page?"
### Are you requesting a feature, reporting a bug or ask a question?
Question.
I need to add list of elements using pandeldynamic on one page. On clicking next, a set of questions should be repeated for those list of elements on the next page.

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide t

[2018-02-23 08:09] tsv2013 commented on #948
@halexiev-hedgeserv By the way - what is your main scenario? Why are you using `survey.isSinglePage = true;` mode? You can just put all questions on one page - and all should work out-of-the-box...

[2018-02-23 08:40] halexiev-hedgeserv commented on #948
@tsv2013 We have a very big survey with lots of different questions, including html ones which have no number and in our case do not need to be odd/even highlighted (the `questionBase.visibleIndex !== -1` check above).

As for isSinglePage - in our case we need all questions shown right from the start. Since the survey is very large we group questions in panels and within these root panels there a

[2018-02-23 12:51] ericnograles opened #955 "Untoggling other choices (in a checkbox) if a specific choice is selected?"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### Details

Hi all,

I just had a quick question regarding the `checkbox` type. We're looking for functionality in which a choice untoggles other choices.

Best example is on the SurveyJS website: https://surveyjs.io/Examples/Library/?id=custom-widget-pretty-checkbox&platform=jQuery&theme=default

I'd expect that, if

[2018-02-23 15:13] tsv2013 commented on #951
Whether it will be suitable if we add a callback "onItemsProcess" with array of items that (array) can by modified as one needs before assigned to choices?

[2018-02-23 16:01] kaphert commented on #955
It could be done with a custom listener see the example code in: #946 I think the code could be cleared up a little bit but it will give you an idea. That issue is created because this ain't working as expected in Vue at this moment. So if you are using something else than Vue it should work.

You could turn it into a custom widget so you can easily reuse it.

[2018-02-23 17:55] andrewtelnov commented on #955
@ericnograles Here is the example of what you are tyring to build: https://plnkr.co/edit/x7jhti?p=preview

Thank you,
Andrew

[2018-02-23 19:26] ajien commented on #954
I am also interested in knowing how this can be implemented.

[2018-02-23 20:40] andrewtelnov commented on #954
Please read the [following article](https://hackernoon.com/surveyjs-an-open-source-javascript-survey-library-with-versions-for-angular-2-react-vue-2086d988b974)
The paragraph “Dynamic Panel: Dealing with List Data”.

Thank you,
Andrew

[2018-02-24 03:44] ajien commented on #954
Thank you very much! I will check it out.

On Sat, Feb 24, 2018 at 4:40 AM, Andrew <notifications@github.com> wrote:

[2018-02-24 04:56] testweird123 commented on #954
Thank you!!! I did not expect it to be this simple. I could not find it in the docs or examples on https://surveyjs.io/Overview/Library . Maybe I didn't look hard enough. Thanks for this excellent library and quick response!!!

[2018-02-24 04:56] #954 closed

[2018-02-24 06:44] andrewtelnov commented on #952
@omkardusane The unit test has been added and fixed. The bug is gone.
The fix will be available on the next minor update.

Thank you,
Andrew

[2018-02-24 08:14] omkardusane commented on #952
Great!!

Thanks @andrewtelnov !!

[2018-02-24 08:58] omkardusane commented on #952
Hi @andrewtelnov ,

After these changes are implemented, there's still one more issue with the Display mode of such surveys having Objects as value in choices.

In Edit mode , the value of the dropdown is displayed, but in the display mode, the value field is printed.
It is expected to be the corresponding text of the value.  I am attaching the screenshots.
these are the questions in panel:
[code]

[2018-02-24 09:39] ajien opened #956 "Dynamic Panel for each Checkbox selected in the first page"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question

### What is the expected behavior?

In the survey application that I am building, I have a first page that contains several groups of checkboxes. Each group would have anywhere from 3 to 12 checkboxes. In the second page, I would like to be able to show dynamic panels for each item selected in the first page.

[2018-02-24 13:40] Braunson commented on #953
@andrewtelnov Yep I'm already using that but it would be nice to be able to add css classes to elements and their containers too :)

[2018-02-24 13:40] Braunson commented on #949
I will help out as much as I can as I learn more of Surveyjs 😄

[2018-02-25 07:53] andrewtelnov commented on #956
@ajien I have created [an example](https://plnkr.co/edit/xhz5hn?p=info). Please take a look at onValueChanged event. It should do close to what you need.

Thank you,
Andrew

[2018-02-25 07:55] andrewtelnov commented on #952
@omkardusane Do you mean a display mode?
Yes, it is a separate issue. I will take a look.

Thank you,
Andrew

[2018-02-25 12:32] omkardusane commented on #952
@andrewtelnov ,

yes in display mode.
[code]

[2018-02-25 16:30] ajien commented on #956
Thank you so much, Andrew. I was able to take your example code and expanded it so I can have multiple sets of questions on the first page and was able to generate the dynamic panels for each item selected on the first page. I had to use lodash to help me with the nested iteration over the questions and selected items for each question. [Check it out](https://plnkr.co/edit/o2xwB1LS3DCeb35QAir4?p=p

[2018-02-25 19:38] andrewtelnov commented on #952
@omkardusane The unit test has been added and fixed.
The fix will be available on the next minor update.

Thank you,
Andrew

[2018-02-25 19:53] andrewtelnov commented on #956
@ajien  You are using Panel Dynamic on the first page to get the all question values - smart move.
I think it will be better to have a standard panel. However, we are missing getValue() function for a panel/page. It should work similar to "get survey.data" function, but for panel and page only.
I will think about adding this function, to make your code clearer a little bit.

Thank you,
Andrew

[2018-02-26 00:23] ajien commented on #956
Thank you very much, Andrew. Please let me know once it is already possible
to do something like getValue for standard panel. Surveyjs is awesome (and
so are you). I was able to build my questionnaires using Surveyjs in a
fraction of the time it took me building the same using redux-form.

On Feb 26, 2018 3:53 AM, "Andrew" <notifications@github.com> wrote:

@ajien <https://github.com/ajien> You ar

[2018-02-26 04:21] ajien opened #957 "Warning in React (setState on unmounted component)"
### Are you requesting a feature, reporting a bug or ask a question?

bug(minor)

### What is the current behavior?

I am getting the following warning in the console:

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or react or jquery or knockout or vue): React
* surveyjs version:

[2018-02-26 05:34] omkardusane commented on #952
Great !

Thanks @andrewtelnov !

[2018-02-26 06:55] andrewtelnov opened #958 "Bug: Dynamic panels, panels removed persist through to next page"
The bug is based on this issue: https://surveyjs.answerdesk.io/ticket/details/T464

[2018-02-26 06:57] andrewtelnov commented on #958
A unit test is added and fixed.

[2018-02-26 07:32] andrewtelnov commented on #956
@ajien That is great. I have added panel.getValue() function. It will be availalbe with the next minor update, on this week.

Thank you,
Andrew

[2018-02-26 10:11] halexiev-hedgeserv commented on #939
Hi guys,

Have you had any time to have a look at this issue?

Thanks,
Hristo

[2018-02-26 10:56] tsv2013 commented on #939
@halexiev-hedgeserv  Haven't yet, I'll take a look.

[2018-02-26 10:57] ajien opened #959 "Programmatically toggle readOnly option for fields inside a panelDynamic"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

I'd like to be able to programmatically toggle readOnly option for some of the fields inside a panelDynamic. When using onValueChange, I am only able to use getQuestionByName() to get the panelDynamic, but not the questions inside the panel. It would be really neat if getQuestionByNam

[2018-02-26 11:39] tsv2013 commented on #939
@halexiev-hedgeserv This question is not related to the SurveyJS library. This CSS scoping feature of angulat components. It is described in the Angular documentation: https://angular.io/guide/component-styles

Component styles should include spesicific selectors, in your case:
[code]

Hope this helps

[2018-02-26 12:26] halexiev-hedgeserv commented on #939
@tsv2013 Yes, absolutely helps, thank you!

[2018-02-26 13:10] andrewtelnov commented on #959
@ajien I guess `dynamicPanelQuestion.template.getQuestionByName() ` is what you need.

Thank you,
Andrew

[2018-02-26 13:28] tsv2013 commented on #953
@Braunson Probably SurveyJS has this already. Could you check this example -  https://plnkr.co/edit/HV0mEh?p=preview
You can override the following class names for radiogroup:
[code]
For mode detail you can check the https://github.com/surveyjs/surveyjs/blob/master/src/defaultCss/cssstandard.ts file.

[2018-02-26 13:31] #953 closed

[2018-02-26 14:53] dav2491 opened #960 "add properties to the quiz result"
### Are you requesting a feature, reporting a bug or ask a question?

hello I would like to know if there is the possibility of adding a property to a question, like an id and if it is possible to return it to the final result of the quiz

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the te

[2018-02-26 19:37] andrewtelnov commented on #960
@dav2491 Here is [an example of adding a property](https://surveyjs.io/Examples/Builder/?id=addproperties)
And here is [the example](https://surveyjs.answerdesk.io/internal/ticket/details/T465) on modifing the JSON result.

Thank you,
Andrew

[2018-02-27 03:44] cliewdevelop opened #961 "Feature Request - Way to check if all values in matrix are the same (eg: all matrix questions are Yes vs No)"
Hello,

Given a matrix that has a lot of questions (20 or more)
is there a way to write an expression to check if all the rows have the same value?

Trying to avoid this:
`"visibleIf": "{question1.name}=0 and {question1.address}=0 and {question1.address}=0 ... on and on"`

something along the lines like
`
"visibleIf": "{question1.x} != 1"
`

I checked the documentation, doesn't seem like there's s

[2018-02-27 06:07] andrewtelnov commented on #961
@cliewdevelop Could you expalin your scenario in more details. If we see a bigger picture, we may give a better advice.
Normally, you may do what ever you want [onValueChanged event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onValueChanged).
Probably you need a [keyName property](https://surveyjs.io/Documentation/Library/?id=questionmatrixdynamicmodel#keyName) and you require a com

[2018-02-27 09:52] cliewdevelop commented on #961
The big picture is, we have a Matrix Question that has a lot of rows, with True/False
We only want to show the next question/or page only if **all** the Matrix Questions are False.

Right now, the only way I see it is doing
`{matrix.question1}=0 and {matrix.question2}=0 and {matrix.question3}=0 ... on and on`

[2018-02-27 10:05] andrewtelnov commented on #961
@cliewdevelop Could you please clearify, are you talking about [this question](https://surveyjs.io/Examples/Library/?id=questiontype-matrix)?

Thank you,
Andrew

[2018-02-27 10:12] dav2491 commented on #960
Thanks for the info, but I can not find any more information besides the name in the final json.
My code is as follows:

` builder js

var editorOptions = {};
var editor = new SurveyEditor.SurveyEditor("editorElement", editorOptions);

/* aggiunta di un un pulsante per salvare json da passare alla pagina quiz */
editor
    .toolbarItems
    .push({
        id: "custom-save",
        visible: true,

[2018-02-27 11:10] cliewdevelop commented on #961
Hi Andrew,

Yes it is related to a Matrix question.

But its more for the next question that depends on the Matrix question's answer.

I have edited the plunker to show what I mean, the second question will only appear if everything is set to "Disagree"

https://plnkr.co/edit/Wy6m7hjQ49KSGbAntsJA?p=preview

To do this, this line was required
`
visibleIf: "{Quality.value1} = 0 and {Quality.value2}

[2018-02-27 13:43] andrewtelnov commented on #961
@cliewdevelop Got it. The best way to implement it is to use the custom function. Here is [the example](https://plnkr.co/edit/AM3Aq2fzXw5GFgcBYWs7?p=preview)

Thank you,
Andrew

[2018-02-27 17:20] ajien commented on #956
Hi, Andrew. I saw that you already pushed the latest minor update. Thank you very much. I am already able to build the form almost up to the point that I want it to work except for one thing. I have one page called "risks" which has the checkboxes, followed by another page called "risk_details" with additional questions for each risk item selected. The data that I am getting after submitting the f

[2018-02-28 03:03] cliewdevelop commented on #961
Oh neat! Thanks @andrewtelnov
Code in react for other's reference
[code]

So its correct to assume that anything inside {something} will be resolved by the time its passed in as params.

Thanks again.

[2018-02-28 07:49] andrewtelnov commented on #961
@cliewdevelop If this code runs before creating the survey, then yes.

Thank you,
Andrew

[2018-02-28 08:02] andrewtelnov commented on #956
@ajien I am afraid the dynamic panel will not be able to understand your desired structure.
The only solution that I see now, is to modify the results onComplete event and build the json you need before posting the data into the server.
You will have to write the code that will convert survey.data into json object that you need and send your json into server. It should not  take a lot of code.

Th

[2018-02-28 08:11] ajien commented on #956
I understand. I can just probably do that. By the way, the new function that you added, panel.getValue(), how would I be able to use that? Is it possible to use inside an onValueChanged event? Do I just pass the name of the panel to getValue(), like panel.getValue('question1')? or is it ('question1').getValue()? I am sorry I am a little confused.

[2018-02-28 08:47] andrewtelnov commented on #956
@ajien Unfortunately it is not as intuitive, as I thought it should be. Here is [the example](https://plnkr.co/edit/4TeVbEXxx7SmSjxirNhv?p=preview)
I will have to add couple more functions, to have a better API.
survey.getPanelByName and element(question).hasAsParent(panel)

Thank you,
Andrew

[2018-02-28 09:31] ajien commented on #956
This function ( getParentPanel() ) in your example actually helped a lot. I
never thought of doing it like that. I was reading the docs and could not
find anything like it and did try to figure out to do something similar.

I found a bug that recently surfaced on my end. Adding the panels
dynamically works for me, as it worked the past few days, but the issue I
just encountered today is that I am

[2018-02-28 09:34] andrewtelnov commented on #956
@ajien Could you please provide us with steps to reproduce the bug. so we can fix it?

Thank you,
Andrew

[2018-02-28 10:12] ajien commented on #956
Here <https://plnkr.co/edit/7kkPtOjQAFt1UxoWk6yB> it is.

Select multiple items from the first page, then in the second page, try to
move to next panel. That's when the error shows up in the console.

On Wed, Feb 28, 2018 at 5:34 PM, Andrew <notifications@github.com> wrote:

[2018-02-28 10:18] andrewtelnov commented on #956
@ajien I was able to reproduce the error.I will take a look at it today.

Thank you,
Andrew

[2018-02-28 11:12] andrewtelnov commented on #956
@ajien I have fixed the issue. For some reason state is null in the react object. I was not figure out why does it happen. I have tried the same example with the current knockout and jQuery versions. They are working just fine. The bug is related to react version only.
The fix will be available in the next minor version.

Thank you,
Andrew

[2018-02-28 11:17] ajien commented on #956
Thank you very much, Andrew. You will ha e to let me know how to buy you a
6-pack or two.

By the way, is it possible to do if-else in expression field?

On Feb 28, 2018 7:12 PM, "Andrew" <notifications@github.com> wrote:

[2018-02-28 11:35] andrewtelnov commented on #956
@ajien :) you are very welcome!
Sure, there is `iif` function:
iif(booleanexpression, trueValue, falseValue)

Here is [the related issue](https://github.com/surveyjs/surveyjs/issues/812)

Thank you,
Andrew

[2018-02-28 11:39] maria-negrea opened #962 "Is there any way to persist the timer and the state of a quiz in case of a browser refresh?"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

In the case of a quiz with a timer set, if the user performs a browser refresh/ browser back, all his answers will be lost and the timer will be reset. This affects the accuracy of a quiz, this way, the user has the option to search for the correct answers.

### Specify your

* browse

[2018-02-28 15:02] chambleton commented on #944
Hi - is there any update on this issue? Is their a section of the code I can look at to figure out why these widgets aren't loading? thanks!

[2018-02-28 15:24] dmitrykurmanov commented on #944
Hello! Sorry for the late rsponse. I've checked your example. I suggest that the problem in this code :
[code]
Is "constantsum" a jquery plugin? Please check the example: https://stackblitz.com/edit/react-surveyjs-constantsum-hcameq?file=ConstantSum.js

[2018-02-28 15:29] tsv2013 commented on #944
We've not found scripts with constantsum or starrating script in the https://stackblitz.com/edit/react-surveyjs-constantsum?file=index.html file. Dependencies section of the sandbox desn't contain them either.
This can be reason why your custom widgets haven't been loaded.

[2018-02-28 17:29] fastclemmy opened #963 "Bug: onComplete firing before onCurrentPageChanged with 'complete survey' trigger"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug.

### What is the current behavior?

When using the 'Complete survey' trigger on a question, the onComplete event is fired before the onCurrentPageChanged one.

### What is the expected behavior?

The correct order should be first onCurrentPageChanged then onComplete .

### How would you reproduce the current beh

[2018-02-28 18:57] andrewtelnov opened #964 "survey doesn't clear question values on complete for invisible pages"
If a question is located in invisible page, its value will be in the survey.data after completing the survey, regardless of  survey.clearInvisibleValues property value.
survey should remove the value for this question from the result.

[2018-02-28 19:11] andrewtelnov commented on #962
@maria-negrea You may store the survey results, the current page and timeSpent property, for example in local storage on another timer, like for every 5 seconds.
When the user resume the survey/quiz you may check if there is data in local storage and set them back.

Here is [the example](https://surveyjs.io/Examples/Library/?id=real-patient-history#content-js) that may help you. Please take a look

[2018-02-28 23:56] cliewdevelop commented on #961
Thank you Andrew, very helpful.
Closing this as question answered.

[2018-02-28 23:56] #961 closed

[2018-03-01 03:03] terryttt opened #965 "Feature Request - support inputType for otherText."
Hello,

    Is it feasible to support inputType (e.g. number) for otherText?

Thank you

[2018-03-01 07:35] sfcrebecca opened #966 "Request validator error messages to support localization"
### Are you requesting a feature, reporting a bug or ask a question?

Requesting a feature

### What is the current behavior?

When I run a survey with the following validator:

[code]

The following exception is thrown:

[code]

### What is the expected behavior?

Validator messages to support localization, like the following:

[code]

### How would you reproduce the current behavior (if this is

[2018-03-01 07:59] andrewtelnov commented on #966
@sfcrebecca You are right. Text property for validator is not localizable. We have missed it when were working on localization functionality. I would consider this as a bug.

Thank you,
Andrew

[2018-03-01 08:00] andrewtelnov commented on #965
@terryttt It makes sense, although it is a minor one. We will discuss it.

Thank you,
Andrew

[2018-03-01 09:25] dmitrykurmanov commented on #960
hello!

- in the  _editor_ if you add a custom porperty with default value and don't change it, there is no this property in the JSON tab. Please see the example with the "score" property: https://plnkr.co/edit/DKSKMohxep7HY9OFkiuC?p=preview

-  in the _survey_  and `onComplete `you can get it. The example: https://plnkr.co/edit/U1UXHLBmdLYvU9wIx0LI?p=preview (I think that this code will help you

[2018-03-01 12:08] testweird123 opened #968 "Request: Collapsible button (like accordion) as a type of rendermode for paneldynamic"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a Feature.

### What is the current behavior?
The rendermode property of paneldynamic currently has options list and progressbar.

### What is the expected behavior?
I would like to use multiple collapsible buttons to achieve the same.
[code]
For example, in this code, instead of progress bars on page 2 i would like to

[2018-03-01 13:28] dmitrykurmanov commented on #948
I think we need to fix odd/even css background for the `isSinglePage ` mode. May be in this mode we need to add additional `single-mode` css class to the root.

[2018-03-01 14:14] halexiev-hedgeserv commented on #948
@dmitrykurmanov Not sure the issue is with the page mode though - you could have nested panels in both modes so css would still not work because, for example, nth-child selector works for immediate parents, but not for parents few levels up the dom tree.

In our case  we want the odd/even scheme to be applied in the context of all questions, so no matter how many nested panels a particular questio

[2018-03-01 15:34] AhmedAglan opened #969 "How to hide some choices"
question
How to hide or show choices based on another question answer?
For example;
q1. Select your language?
1. English
2. French
3. Italian
4. Arabic

q2. Do you want to learn?
1. English
2. French
3. Italian
4. Arabic

When user select English in q1, then q2 will display other language only, like:
q2. Do you want to learn?
2. French
3. Italian
4. Arabic

[2018-03-01 16:45] andrewtelnov commented on #969
@AhmedAglan I am afraid, it can be done via code only. Here is [the example](https://plnkr.co/edit/AtodHh?p=preview)

Thank you,
Andrew

[2018-03-01 16:47] andrewtelnov commented on #968
@testweird123 Do you mean something similar to Panel collapse/expand? Please go to [this example](https://surveyjs.io/Examples/Library/?id=questiontype-panel) and Look at "Send us your contact information (optionally)" panel.

Thank you,
Andrew

[2018-03-01 17:25] andrewtelnov commented on #963
@fastclemmy I have fixed it, by adding a new unit test and fixed it.
However, I'm not sure you will like the solution. Because onCurrentPageChanged doesn't call at all in this case. In fact the page is not changed, the survey state is changed from "running" to "completed".
You may look at my fix. What do you think?

Thank you,
Andrew

[2018-03-01 21:46] chambleton commented on #944
Thank you for your response! I'll try including those and see if i can get it working...

[2018-03-02 07:35] tsv2013 commented on #969
Duplicate of the https://github.com/surveyjs/surveyjs/issues/676

[2018-03-02 09:35] maria-negrea commented on #962
I've looked at the code in the example, implemented it and it worked. Thank you!

[2018-03-02 09:35] #962 closed

[2018-03-02 10:01] sfcrebecca commented on #966
Thanks, @andrewtelnov

[2018-03-02 11:30] #946 closed

[2018-03-02 11:32] dmitrykurmanov commented on #946
We've fixed the problem. Fix will be available in the next patch release.

[2018-03-02 11:33] dmitrykurmanov commented on #955
fixed via https://github.com/surveyjs/surveyjs/commit/1240a27ebb532ff62994027899b53d3e069c93da

[2018-03-02 11:33] #955 closed

[2018-03-02 11:53] ericnograles commented on #955
Thanks for the help, @andrewtelnov, that snippet works perfectly!

[2018-03-02 12:02] andrewtelnov commented on #966
@sfcrebecca I have added this functionality. It will be avaiable in the next minor update on the next week.

Thank you,
Andrew

[2018-03-02 13:43] AhmedAglan commented on #969
Thank you @andrewtelnov

[2018-03-02 14:45] artworkjpm opened #970 "requiredErrorText for requiredInAllRowsError"
### Are you requesting a feature, reporting a bug or ask a question?
feature

### What is the current behavior?
unable to change default text of requiredInAllRowsError string

### What is the expected behavior?
requiredInAllRowsError always shows "Please answer questions in all rows." but I am using a different languages in my survey

### How would you reproduce the current behavior (if this is a

[2018-03-02 20:00] andrewtelnov commented on #970
@artworkjpm Could you please describe, what doesn't work exactly?
Here is [the example](https://plnkr.co/edit/OzZDoNYhUMWQbath2Fyj?p=preview). It works here.

Thank you,
Andrew

[2018-03-03 03:05] testweird123 commented on #968
Yes, something similar to that, I think it currently does not work for paneldynamic type.

[2018-03-03 17:54] andrewtelnov commented on #968
@testweird123 Here is the issue I have with the implementation.
If we are talking for a typical panel, the panel.state (normal/collapsed/expanded) is stored in the panel model.
Dynamic panel is different. It has a template panel that is used to generate panels in run-time.
There is no place where I can store the state for generated panels. I can't store it in the panel dynamic value, it is not cor

[2018-03-05 06:07] testweird123 commented on #968
I'm not sure I understand what you mean by state persisting. Say for example you implement it, and you put a value "firstExpanded", shouldn't it appear so on first viewing the question? how would the state change?

[2018-03-05 07:39] andrewtelnov commented on #968
@testweird123 Let's say you want to make the second panel be expanded instead of the first one or the first and second panels.
Another popular scenario, a user did not finish with the form, save and leave the page. After some time, he comes back and continue to fill the form.
Right now, all you need to do, to implement this scenario, set the previous entered data into survey,
survey.data = savedDa

[2018-03-05 07:54] sfcrebecca commented on #909
Thanks, we have done that.

[2018-03-05 07:54] #909 closed

[2018-03-05 07:59] sfcrebecca opened #972 "Support base64 file import"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
Our system provides a function for users to download the survey result JSON and then to continue the survey by importing the JSON to surveyJS. This works fine for all fields except the `file `question type.

### What is the expected behavior?
The user is able to see the attached file (sh

[2018-03-05 08:41] artworkjpm commented on #970
Yes it does change the text for the Italian language on the error message, I cannot see the code you added to do this in the js file. Can you tell me how are you changing the language to Italian in the red error message saying "Completare tutte le righe"?

Saludos

John Moran

Tel: (+34) 695 966 706

________________________________
From: Andrew <notifications@github.com>
Sent: 02 March 2018 20:00

[2018-03-05 09:15] sfcrebecca commented on #966
Noted, thanks a lot!!

[2018-03-05 09:34] andrewtelnov commented on #968
@testweird123  It has been implemented. Please look at unit tests in the commit above to understand the logic. The functionality will be in the next minor update, on this week.
[code]

Thank you,
Andrew

[2018-03-05 09:37] andrewtelnov commented on #970
@artworkjpm all you have to do, is to change the survey locale to italian: `survey.locale = "it";`
Please note, if there is already an error shown in English and you are chaning the locale, the error will contine to show in English, you have to call `survey.isCurrentPageHasErrors();` function.
However, in most cases, you do not need to change the locale during the running the survey. The user have

[2018-03-05 10:39] snay opened #973 "MatrixDynamic maxRowCount not changing if decreasing"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
When decreasing maxRowCount on MatrixDynamic, property on MatrixDynamic did not change.
If increasing the value it's ok.

### What is the expected behavior?
maxRowCount property always set to provided value

### How would you reproduce the current behavior (if this is a bug)?
Set value of ro

[2018-03-05 11:14] artworkjpm commented on #970
yes I see now, thanks!

[2018-03-05 11:14] #970 closed

[2018-03-05 11:57] testweird123 commented on #968
From reading the comments, this seems like it should do the job. I'm afraid I do not understand the functions. Thanks a lot for the quick response. I trust that this should be functional soon. You may close this if you wish to.
Thank you.

[2018-03-05 13:52] artworkjpm opened #974 "localization for Norwegian language"
### Are you requesting a feature, reporting a bug or ask a question?
feature

### What is the current behavior?
there is no Norwegian locale, I'm building a survey for Norwegian people and the translated error messages and page navigation.

### What is the expected behavior?
currently defaulting to English

### How would you reproduce the current behavior (if this is a bug)?
change locale="no" and

[2018-03-05 14:59] enricribas opened #975 "Double firing event onCurrentPageChanged"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

The event gets called twice.

### What is the expected behavior?

It should get called once. This has completely messed up our tracking analytics.

### How would you reproduce the current behavior (if this is a bug)?

[code]

This used to happen before when I was using React Router, but I

[2018-03-05 15:30] fastclemmy commented on #963
Sounds good to me, thanks you!

[2018-03-05 15:30] #963 closed

[2018-03-05 15:49] kaphert opened #976 "Feature Request - Add 'goToPage()' method"
### Are you requesting a feature, reporting a bug or ask a question?
feature

### What is the current behavior?
I am adding a survey page step overview. I list all the pages and pages are clickable when they were shown which means: you can go back to a page a user already visited but you can't go to the last page instantly

To prevent odd behavior with being able to skip validation I've added the

[2018-03-05 17:57] andrewtelnov commented on #974
@artworkjpm The localization is supported by community. Here is [the list](https://github.com/surveyjs/surveyjs/tree/master/src/localization) of all localized files we have.
Here is [the example](https://surveyjs.io/Examples/Library/?id=survey-localization) where you can see all languages for that we have localization in action.
Here is all [localizable strings](https://github.com/surveyjs/surveyj

[2018-03-05 19:56] andrewtelnov commented on #976
@kaphert I would sugest to use page.visibleIf property. The page is visible only when the certain expression returns true. survey.visiblePages property returns all curent visible pages.
In this case, if page is invisible, you could not go this page.
Will it work for your scenario?

Thank you,
Andrew

[2018-03-05 19:59] andrewtelnov commented on #975
@enricribas Indeed, I was able to reproduce the issue. We will on the fix.

Thank you,
Andrew

[2018-03-05 20:11] kaphert commented on #976
@andrewtelnov no my request has nothing to do with visibility of the page or I do not understand your response.

I have on the top of my survey a list of all the pages.

Lets say:
1. Enter your name (1 required question: name)
2. Enter your address (1 required question: address)
3. Confirm (overview of the survey)

A user is only able to click on one of the pages if he saw this page before (wasSho

[2018-03-06 06:05] tsv2013 commented on #972
@sfcrebecca Thank you for the suggestion
I'd like to clarify some details:
1) I think you meant
[code]
setting. Am I right?
2) What place do you want the file name to be stored to? And Does it really make sence to store file names?

[2018-03-06 06:13] tsv2013 commented on #973
I think you can just change the order of rowCount assignment:

[code]

It works ok for me - https://plnkr.co/edit/UuRjGG?p=preview

[2018-03-06 06:28] snay commented on #973
I don't think so, the only thing that changed - now it's problem if increasing number of rows.
In your example, set 4 - all works as intended. Set 3 after - looks to be ok. Set 4 - minRowCount is 3 and it's possible to remove one row.
Any possible workarounds?

[2018-03-06 06:40] sfcrebecca commented on #972
Thanks, @tsv2013

1. Yes,  you are correct. Sorry for my mistake.

2. Actually the our design just wants to restore what the user input last time and then allows him/her to continue their editing by importing the saved JSON file. The current design creates a problem that everytime the user **re-edits** the form, they have to **re-upload** the file again in order to **keep** this file in their JSON

[2018-03-06 07:09] tsv2013 commented on #973
Yes, my bad
I've changed code a bit:
[code]

And updated a sample -  https://plnkr.co/edit/UuRjGG?p=preview

Is it suitable for you?

[2018-03-06 07:13] andrewtelnov commented on #975
@enricribas It has been fixed. The fix will be available in the next minor update, in couple days.

Thank you,
Andrew

[2018-03-06 08:04] snay commented on #973
Tricky, but works for my case, thanks a lot.

[2018-03-06 10:51] andrewtelnov commented on #974
@artworkjpm The norwegian localization will be included into the next update.

Thank you very much for sharing it with us and with the community!
Andrew

[2018-03-06 11:54] andrewtelnov opened #978 "Support Rubric functionality in Matrix question"
If there is a text for a cell in the Matrix question, then show it and not the radio button.

[2018-03-06 13:36] enricribas commented on #975
Thank you

[2018-03-06 13:36] #975 closed

[2018-03-06 13:54] Lynn42 opened #979 "'Select all' option for checkbox questions"
### Are you requesting a feature, reporting a bug or ask a question?

Requesting a feature

(Possibly this was requested before, sorry if this is the case)

### What is the current behavior?

Right now if you use a checkbox question in your survey, when a user wants to check all answer options, he needs to do so manually. When there are a lot of answer options, this is a lot of work.

### What is

[2018-03-06 14:02] andrewtelnov commented on #976
@kaphert Then I would suggest the following.
Use [page.hasErrors function](https://surveyjs.io/Documentation/Library/?id=pagemodel#hasErrors)
and the code would be:
[code]
I have not tested the code above, but you should understand the idea, if there is a typo or something wrong.

Thank you,
Andrew

[2018-03-06 21:16] andrewtelnov commented on #925
Had to re-write the updating question.visibleIndex completely. However, it works better now.

[2018-03-07 12:48] #966 closed

[2018-03-08 10:14] ajien commented on #959
Hi, Andrew.

Here's what I did trying to set the readOnly property of several fields in a panel dynamic based on a selected value in one field:

        if(options.value[0].edit_project === 'no') {
            const q = options.question.template.questions;
                q.forEach(function(i) {
                    i.setPropertyValue('readOnly', true);
                });
        }

I can see from

[2018-03-08 10:33] ajien opened #981 "enableIf does not work in React"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

enableIf does not work in React. When the field where the condition relies upon is changed, the field that must be enabled stays in readonly/disabled/display mode.

### What is the expected behavior?

The target field should re-render and update to an editable field.

### Specify your

* b

[2018-03-08 10:45] andrewtelnov commented on #981
@ajien Could you please provide us with an example that reproduce the issue?
Here is the working example: https://plnkr.co/edit/KjvRtM4wIsVlUerfMJks?p=preview

Thank you,
Andrew

[2018-03-08 10:48] andrewtelnov commented on #959
@ajien You have to set it manually for all panels: options.question.panels (array of panels).
You are setting the readOnly into template and panels have been already generated based on this template.

Thank you,
Andrew

[2018-03-08 13:16] ajien commented on #981
Thanks, Andrew. It seems to work in Plunker, but could not figure out why
it does not work in my app. I even used the exact codes that I have in my
app component in Plunker and everything works fine.

On Thu, Mar 8, 2018 at 6:51 PM, Andrew <notifications@github.com> wrote:

[2018-03-08 13:18] fastclemmy opened #982 "Feature request : add class names for show data saving panels"
### Are you requesting a feature, reporting a bug or ask a question?

Requesting a feature.

### What is the current behavior?

When you try out [the example](https://plnkr.co/edit/75nXj6?p=preview) showing the panels toggling but *not* using the bootstrap classes, there are no specific CSS classes on the "An error occurred and we could not save the results." or "The results were saved successfull

[2018-03-08 17:23] andrewtelnov commented on #982
@fastclemmy yep, it makes sense. I am adding into our TODO list.

Thank you,
Andrew

[2018-03-08 18:06] andrewtelnov opened #983 "add survey.onGetQuestionTitle event"
[code]
The example of using:

[code]

[2018-03-08 18:22] kaphert commented on #976
Thank you for your cooperation. My suggestion is to add such a method to surveyjs instead of every developer have to implement this ourself. The risk of implementing this myself is that as soon as something new is added to surveyjs that does something on a page change or some logic is changed in a release there I also need to update this in my own script.

[2018-03-09 06:14] ajien commented on #663
It would be nice to have a way to programmatically change the content of an html field, as it can be a really helpful, for example, to use it in displaying summary of all questions and answers at the end of a survey.

[2018-03-09 06:19] andrewtelnov commented on #663
@ajien You can do this, htmlquestion.html = youValue, additionally you may use text preprocessing,
for example: `htmlquestion.html = "You name is : <b>{name}</b>, e-mail: <b> {email}</b>"`, where {name} and {email} question names.
Here is [the example](https://surveyjs.io/Examples/Library/?id=survey-processtext).

Thank you,
Andrew

[2018-03-09 06:27] ajien commented on #663
Perfect! I was trying setValue and it did not work, but I was about to try setting assigning a value to the html property and you came to the rescue.

[2018-03-09 07:59] nicklas669 opened #984 "Fileupload file names and storeDataAsText"
Hi SurveyJS.

### Are you requesting a feature, reporting a bug or ask a question?
Question and/or feature

### What is the current behavior?
When I select file(s) using the 'file' element and post the form using storeDataAsText: true, the file(s) are saved as base64 encoding. Is there any way to get the name(s) of the uploaded file(s)?

Also, what can you do if you choose to not store the data as

[2018-03-09 12:43] nicklas669 commented on #984
Hey, it would also be nice if you could provide the filetypes of the uploaded files?

[2018-03-09 13:03] andrewtelnov commented on #984
@nicklas669 Yes, adding a file Types property definitely makes sense.
About storeDataAsText = false, if you are storing survey results in our service, you do not need to do anything, we will upload the file on our backend.
You are storing results on your database, then you have to handle [onFileUpload event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onUploadFile)

Thank you,
Andrew

[2018-03-09 14:51] ajien commented on #584
Do you have another example of using a react component as a custom widget? The links above are no longer working. I am trying to implement a custom widget using [React Places Autocomplete](https://www.npmjs.com/package/react-places-autocomplete).

[2018-03-09 14:58] andrewtelnov commented on #584
@ajien Sure, here it is: https://surveyjs.answerdesk.io/ticket/details/T444

Thank you,
Andrew

[2018-03-09 18:54] andrewtelnov opened #985 "Do not send notification on setting a localizable value into localization string that equals to the value in default location"
The following code should produce only one onChanged instead of the 3 in the current version:
[code]

[2018-03-12 08:40] dmitry-kurmanov opened #986 "Default theme, stylesheets and ApplyTheme"
Need to abandon styles duplication for the _Default_ theme (in the stylesheet and in the main.scss). Now we have a little bit different styles with ` Survey.StylesManager.applyTheme("default")` and without it.

[2018-03-12 09:18] cliewdevelop opened #987 "Question: showPrevButton = false to be set at Page level"
Hello!

Have a quick question on the "showPrevButton" property.
If I want to set it for some pages to be true, and for some pages to be false (instead of the entire survey), is it possible?

Checked the docs, but don't see "showPrevButton" as a setting for Page, only for the entire Survey.

Thanks!

[2018-03-12 09:33] ajien commented on #584
Thanks, @andrewtelnov . I am trying to do what @TWKDreamState has done but it does not seem to work. Please [check this](https://stackblitz.com/edit/surveyjs-react-custom-component-widget) and let me know what is wrong.

[2018-03-12 09:56] nicklas669 commented on #843
Hi @andrewtelnov, is it possible to add a state that disables the collapse/expand feature somehow? I just want to have a section that can not be clicked to collapse/expand.

Thanks in advance,
Nicklas

[2018-03-12 11:10] ajien commented on #584
Thanks, @andrewtelnov .

[Here's what I did](https://stackblitz.com/edit/surveyjs-react-custom-component-widget) to integrate [React Places Autocomplete](https://www.npmjs.com/package/react-places-autocomplete) into the survey as a custom widget. The widget works in terms of providing the location suggestions, but I am having a problem passing the value to the Survey. Can anyone help me figure out

[2018-03-12 12:49] tsv2013 commented on #987
Hello @cliewdevelop!

The "showPrevButton" is supported on the survey level only. You can implement custom navigation to override this behaviour. Here is the example - https://surveyjs.io/Examples/Library/?id=survey-customnavigation&platform=jQuery&theme=default

Thanks, Serge
SurveyJS Team

[2018-03-12 12:58] tsv2013 commented on #972
This issue is related to the https://github.com/surveyjs/surveyjs/issues/984 - Fileupload file names and storeDataAsText

[2018-03-12 12:58] tsv2013 commented on #984
This issue is related to the #972 - Support base64 file import

[2018-03-12 13:01] andrewtelnov commented on #843
@nicklas669 It is a default behavior. You can't expand/collpase the panel if it has the state = "default".
However, the cursor change it's state on panel title, also the panel title is not clickable. We will fix it in the next minor update.

Thank you,
Andrew

[2018-03-12 13:48] CodeSmolder opened #988 "Missing German localization for add row and remove row"
In the German translation

[surveyjs/src/localization/german.ts](url)

entries for add row and remove row are missing comparing to other languages.

The translation could be as follows:

  addRow: "Reihe hinzufügen",
  removeRow: "Löschen"

* surveyjs version: 1.0.13

[2018-03-12 13:58] andrewtelnov commented on #988
@CodeSmolder Could you please review german.ts localization and add all missed strings by making a pull request?
The localization is supported by community.
Ich spreche einbischen Deutsch. aber es ist besser, wenn ein Muttersprachler die Übersetzung macht :-)

Danke,
Andrew

[2018-03-12 14:10] andrewtelnov commented on #988
@CodeSmolder
Thank you for [supporting the project](https://github.com/surveyjs/surveyjs/pull/989)!
Andrew

[2018-03-12 15:11] asilverstein opened #990 "onValidateQuestion -- Possible to show validation error, but still proceed to next question?"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question

###

Is it possible (perhaps using onValidateQuestion or some other way) to make validation work as it currently does, but still allow the user to proceed to the next question?

Basic need is, our customer wants a warning to be displayed, yet still allow the user to proceed to the next question, even if the us

[2018-03-12 16:55] wollerman opened #991 "Copy Value with Trigger"
Is it possible to copy the value from one question to another via a trigger? For example:

[code]

### What is the current behavior?

The above snippet copies the literal `{mobilephone}` string. I was hoping to copy the value entered by the user.

Thanks!

[2018-03-12 18:45] andrewtelnov commented on #990
@asilverstein You may create your own nativation: https://surveyjs.io/Examples/Library/?id=survey-customnavigation
You may add a button "Go Next in Anyway", and just the next page:
[code]
Thank you,
Andrew

[2018-03-12 18:47] andrewtelnov commented on #991
@wollerman Unfortunately we do not have this functionality yet :(

Thank you,
Andrew

[2018-03-12 20:01] ashygk opened #992 "Slide toggle for surevyjs question"
### Are you requesting a feature, reporting a bug or ask a question?

Question / requesting a feature

### What is the current behavior?

Can’t find slide toggle feature

### What is the expected behavior?

I would want a slide toggle for yes/no or on/off scenarios

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicab

[2018-03-12 21:18] asilverstein commented on #990
Thanks Andrew, I'll give that a try. Much appreciated.

[2018-03-12 21:59] wollerman commented on #991
@andrewtelnov, thanks for the quick response. I'll follow this ticket for news when it becomes available! :)

[2018-03-13 06:59] tsv2013 commented on #992
This can be achieved via css - https://www.w3schools.com/howto/howto_css_switch.asp
Here is the working sample - https://plnkr.co/edit/CJU6ia?p=preview

[2018-03-13 07:01] tsv2013 commented on #992
In case of you need rounded slider, just remove ".round" in the `/* Rounded sliders */` section of the CSS in the plunker

[2018-03-13 07:01] #992 closed

[2018-03-13 07:04] #988 closed

[2018-03-13 08:33] KrzysiekHan opened #993 "Dynamically initializate Tagbox widget in dynamic matrix"
### Are you requesting a feature, reporting a bug or ask a question?
Ask a question

### What is the current behavior?
Hi guys,
I'm struggling for some time with Tagbox widget problem. I'm using dynamic matrix element as attached in plunker. Choices of tagbox depend on first dropdown. I'm loading choices into tagbox with  onMatrixCellValueChanged event. After submit i send data with ajax to databa

[2018-03-13 14:11] andrewtelnov commented on #993
@KrzysiekHan [onMatricCellCreated](https://surveyjs.io/Documentation/Library/?id=surveymodel#onMatrixCellCreated) is the event you need
You [updated example](https://plnkr.co/edit/u4khFUVtcPSfsCaHp9C3?p=preview)

Thank you,
Andrew

[2018-03-13 15:06] KrzysiekHan commented on #993
Works perfect :) , thank You very much

[2018-03-13 15:06] #993 closed

[2018-03-13 16:12] artworkjpm commented on #974
any reason why the Norwegian is not updating? it uses the locale of no

[2018-03-13 17:04] andrewtelnov commented on #974
@artworkjpm What do you mean?
I go to https://surveyjs.io/Survey/Builder/ change survey.locale to norsk. I can see now "Choose..." becomes "Velg", "Next" button "Neste" and so on.

Thank you,
Andrew

[2018-03-14 08:46] artworkjpm commented on #974
yes you are right, I forgot to update my call to the latest version https://surveyjs.azureedge.net/1.0.14/survey.jquery.min.js. Thanks for you help

[2018-03-14 08:46] #974 closed

[2018-03-14 14:19] masciugo commented on #627
I am trying to do the same but with panel dynamic. The restful request to pupulate the second dropdown does not seem to take the correct parameter (titleName insted of valueName) from the first dropdown

https://plnkr.co/edit/sv6pYceDt00QFhupVfTW?p=preview

[2018-03-14 15:40] nicklas669 opened #994 "Custom validator bug"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
I am making a custom validator and I experienced big problems with my validator not running properly. After a lot of debugging I finally found out that my problem was that my custom validator type had camelCase and not all lowercase.

### What is the expected behavior?
Custom val

[2018-03-14 16:01] nicklas669 opened #995 "Accessing SurveyJS standard validators inside custom validator?"
Hi SurveyJS.

### Are you requesting a feature, reporting a bug or ask a question?
Asking a question

I am creating a custom validator and I was wondering if it is possible to access/use the standard built-in validators of SurveyJS, like email, phone and so on, inside my custom validator?

Below is the code for my custom validator. If you look at the line that includes the text "Can I do this some

[2018-03-14 16:23] andrewtelnov commented on #627
@masciugo Hm... It looks like a bug to me. I will investigate it.

Thank you,
Andrew

[2018-03-14 17:00] andrewtelnov opened #996 "Restfull service processing url and text incorrectly"
Restull service process the text and uses displayValue/Text instead of value
Here is [the example](https://plnkr.co/edit/sv6pYceDt00QFhupVfTW?p=preview).
The bug was [reported here](https://github.com/surveyjs/surveyjs/issues/627#issuecomment-373037246)

[2018-03-14 17:02] andrewtelnov commented on #627
@masciugo Thank you for reporting this issue to us. [It has been fixed](https://github.com/surveyjs/surveyjs/issues/996). A Unit test has been added.
The fix will be available in the next minor update on the next week.

Thank you,
Andrew

[2018-03-14 17:18] asilverstein commented on #990
This works perfectly, thanks again Andrew!

[2018-03-14 17:18] #990 closed

[2018-03-14 19:28] erbaker opened #997 "choicesByUrl binding does not fire unless dependent name is lowercase"
We have 2 dropdowns; one is populated by a static list, the second is retrieved from a URL based on selection from first dropdown. We noticed that the choicesByUrl does not fire if the "country" element is named "Country" with a capital C, only if it is lowercase.

https://plnkr.co/edit/Ll2vfUP54T3ZRAqCY0Zi?p=preview

I would expect that the case does not matter for this binding.

* browser: chrom

[2018-03-14 23:45] eferrervaughn opened #998 "New Question Types"
### Are you requesting a feature, reporting a bug or ask a question?

- Asking a Question

### What is the current behavior?

- SurveyJS doesn't have all the question types I want

### What is the expected behavior?

- I want to create a plotting question (place a dot on a matrix). What are the steps to creating a completely new question type? What areas of the code do I have to update?

[2018-03-15 07:12] andrewtelnov commented on #998
@eferrervaughn I would suggest look at custom widgets.
Here are [demos](https://surveyjs.io/Examples/Library/?id=custom-widget-select2-tagbox)
Here is [the repo](https://github.com/surveyjs/widgets)
Here is [the demo](https://surveyjs.io/Examples/Builder/?id=customwidgets) for Survey Builder.
For example microfon widget has been added by a guy from Open Source Community, here is [his commit](https

[2018-03-15 07:54] andrewtelnov commented on #994
@nicklas669 Reproduced the issue in the unit test and fixed it.
The fix will be available in the next minor version on the next week.

Thank you,
Andrew

[2018-03-15 09:48] andrewtelnov commented on #997
@erbaker I reproduced the issue in a unit test and fixed it. The fix will be available in the next minor update, on the next week.

Thank you,
Andrew

[2018-03-15 11:07] Lynn42 opened #999 "Bug in Visible If + Visible + Panel combination?"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?

When specifying a 'Visible if' and then moving to the JSON Editor tab, somehow automatically the 'Visible' property is set to False. In my eyes this is not needed, as this is a seperate property and the Visible if property works well on its own (but I could be wrong). It has no

[2018-03-15 13:04] nicklas669 commented on #995
Hey guys. I have another question. Is it possible to show several errors?

So instead of `return new Survey.ValidatorResult(null, new Survey.CustomError("You must input a name of length 3 or more."));`, perhaps I could return an array of Survey.CustomError?

Thanks in advance!

[2018-03-15 13:50] andrewtelnov commented on #994
@nicklas669 Here is the [example of using EmailValidator](https://plnkr.co/edit/ZN49W5wBLRUOiIM0YBDG?p=preview) inside your validator.
You can show several errors, if you will have several validators. One validator may generate one error at one time.

Thank you,
Andrew

[2018-03-15 13:50] andrewtelnov commented on #995
@nicklas669 Here is the [example of using EmailValidator](https://plnkr.co/edit/ZN49W5wBLRUOiIM0YBDG?p=preview) inside your validator.
You can show several errors, if you will have several validators. One validator may generate one error at one time.

Thank you,
Andrew

[2018-03-15 14:57] andrewtelnov commented on #999
@Lynn42 ok, I have added a unit test and fixed it. Survey do not run conditions (change visible/enable) at design mode, in Editor
It should work fine since the next minor update on the next week.

Thank you,
Andrew

[2018-03-15 14:58] erbaker opened #1000 "defaultValue choicesByUrl not defaulting value"
This is a bug report for a dropdown when a defaultValue is provided along with a choicesByUrl. On initial page load, the defaultValue is not selected from the list after the choices are loaded. Our example has a static list and a dynamic list for you to compare

https://plnkr.co/edit/DNJt35sNZ0rNbZ0YklyA?p=preview

* browser: chrome
* browser version: 65.0.3325.162
* surveyjs platform (angular or

[2018-03-15 15:09] Lynn42 commented on #999
Wow that was fast, thank you!

For my understanding, do I understand correctly that you implemented the first solution? : The Visible property is not automatically set to False when moving to the JSON Editor tab as a result of the Visible If property being specified.

[2018-03-15 15:12] andrewtelnov commented on #999
@Lynn42 Yes, you are right. But the bug is still here. I have to modify the Editor a little bit as well :)

[2018-03-15 15:16] andrewtelnov commented on #999
@Lynn42 ok, it is fixed now :)

[2018-03-15 16:34] eferrervaughn commented on #998
Thanks Andrew, are there any docs that explain what each property does in the Survey constructor / Widget object? I see:

Settings,
Name,
activatedBy
widgetISLoaded
htmlTemplate
isFit
activatedByChange
isDefaultRender
afterRender
willUnmount

I can infer a good amount of these but I want to make sure I am putting the expected behavior.

[2018-03-15 17:15] andrewtelnov commented on #1000
@erbaker I have added a unit test and could not reproduce the issue.
I have created an example and it works fine: https://plnkr.co/edit/37RmsmKLJjtuY0pvcp5a?p=preview
You do not use the https://restcountries.eu api correctly.

Thank you,
Andrew

[2018-03-15 18:17] erbaker commented on #1000
The issue isn't the implementation of the REST API; I have updated your plunkr:
https://plnkr.co/edit/3PZPEQwIBWAqM6wDXNlK?p=preview

I would expect that "Chad" is selected in the countries box by default.

[2018-03-15 18:22] erbaker commented on #1000
Here is the same plunkr from above but with version 0.12.36

https://plnkr.co/edit/qVPseqNDfCbwIO1ETiPh?p=preview

[2018-03-15 18:45] mdickin commented on #1000
To narrow it down a bit more, it looks like this bug surfaced in the changes from v1.0.1 to v1.0.2.

[2018-03-15 19:18] andrewtelnov commented on #1000
@erbaker @mdickin I have fixed the bug. Unfortunately I was not reproduce it in Unit Test. I have added in TODO to add a functional test (TestCafe test).
The bug was here all the time in knockout version. We built jQuery based on react version by using preact. Since couple months ago jQuery is built based on knockout version.

Here is what happend. knockout cleared the value on empty dropdown. We

[2018-03-15 19:19] mdickin commented on #1000
Thank you for the quick turnaround, @andrewtelnov!

[2018-03-15 20:25] eferrervaughn commented on #998
I took a stab at commenting the functionality.  If someone could help explain the ones I am not sure about or got might have gotten wrong.
`import noUiSlider from "nouislider";

function init(Survey) {
  var widget = {
    // Reference Name
    name: "nouislider",
    // Name you put in Survey JSON that will show in UI
    title: "noUiSlider",
    // Not sure
    iconName: "icon-nouislider",
    /

[2018-03-16 01:20] ashygk opened #1001 "Styling tooltips on surveyjs questions"
### Are you requesting a feature, reporting a bug or ask a question?

Question/ feature request

### What is the current behavior?

Tooltips achieved on survey questions using onAfterRenderQuestion event.

### What is the expected behavior?

How to create styles to those tooltips on survey questions
### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code an

[2018-03-16 08:03] andrewtelnov commented on #998
@eferrervaughn
You got everything right. Here is some additional information.
// The name of the icon, you may leave it empty or do not define at all
iconName: "icon-nouislider"
//This function is called for every question and nested questions in the survey.
//If it returns the true, then the custom widget is used for the question.
//In this example. for question with type "nouislider" used this c

[2018-03-16 08:04] andrewtelnov commented on #1001
@ashygk What do you mean? It is a custom html code, just put any css or change as you wish for you app.

Thank you,
Andrew

[2018-03-16 08:43] andrewtelnov commented on #968
@testweird123 Here is the example: https://plnkr.co/edit/QaqzW7sOkeBAg3Pn4Y2L?p=preview

Thank you,
Andrew

[2018-03-16 08:47] andrewtelnov opened #1002 "Rubric matrix - add ability to define default cell texts for all rows"
The typical scenario. Rubric matrix is used instead of matrix, because it is better to show text (some times long) instead of radio buttons. However, the cell texts are the same, or the same in most cases, for different rows, surveys creators have to put the same text in all rows.
Right now the text should be define for every cell in every row.
The suggestion solution - create the default row from

[2018-03-16 09:27] testweird123 commented on #968
Thanks a lot!! Closing it!

[2018-03-16 09:27] #968 closed

[2018-03-16 10:32] ajien opened #1003 "Survey fields get cleared when updating value on a custom widget made with PlacesAutocomplete"
### Are you requesting a feature, reporting a bug or ask a question?

Question

I was able to implement a custom widget using a React component for Google Maps Places Autocomplete. My problem is that once suggestions appear and the field state changes, the contents of all the other survey fields get cleared. Is there a way to prevent it?

[Here's what I did](https://stackblitz.com/edit/surveyjs-re

[2018-03-16 12:40] andrewtelnov commented on #1002
Here is the example of cells json:
[code]
The result will be for three columsn: Column 1, Column 2 and Column 3 and two rows: Row 1, Row 2

| | Column 1  | Column 2 | Column 3 |
| ------------- | ------------- | ------------- | ------------- |
| Row 1 | Cell Row1-Column1  | Default for Column 2 | Default for Column 3  |
| Row 2 | Default for Column 1  | Cell Row2-Column2 | Default for Column 3  |

[2018-03-16 14:14] andrewtelnov commented on #1003
@ajien For some reason on making a request to get AutoComplete, the whole app is recreating together with Survey and all data and state is lost.

Thank you,
Andrew

[2018-03-16 14:14] ajien commented on #1003
I am able to fix this issue by wrapping the PlacesAutocomplete component with another component, which I then used as the custom widget for SurveyJS. Apparently, the problem was that I was calling setState when the autocomplete field gets updated (onChange), which affected the rest of the form as the entire component re-renders. By wrapping the autocomplete component with another component, the re

[2018-03-16 15:03] ashygk commented on #1001
i do not see any demo for tooltips using custom html code

[2018-03-18 00:18] yidan opened #1004 "Bug - Multi page survey does not work"
### Are you requesting a feature, reporting a bug or ask a question?
reporting a bug

### What is the current behavior?
When I implemented a multi page survey, each page has one question and auto-advance is turned on,  the page indicator moves to the next page as expected, but the question is always the question on the first page.

And an error shows up:

Cannot find template with ID survey-page

[2018-03-18 00:19] yidan commented on #1004
![screen shot 2018-03-17 at 7 17 30 pm](https://user-images.githubusercontent.com/1720237/37561250-0dde18f2-2a18-11e8-8118-47d3fab26bc3.png)

[2018-03-18 06:48] andrewtelnov commented on #1004
@yidan It sounds as a bug. However, we have never experienced or been reported about this issue before. Could you please shared us with a project on plunker or in any other way, so we will be able to reproduce it and fix.
Right now, I can see a knockout error, but survey-page template is here and I have not any idea, why it could not find it in your project.

Thank you,
Andrew

[2018-03-19 02:08] yidan commented on #1004
Thanks Andrew. I realized it could be a compatibility issue with our hosting software. Our website is hosted on Hubspot COS.

You may take a look here
https://goo.gl/8YLDfS
password: test

Thanks!

[2018-03-19 08:26] dmitrykurmanov commented on #1004
Hello, we've found the problem. We put our templates as scripts with id `<script type="text/html" id="survey-progress">...` inside the div with survey `<div id="surveyContainer">` in your example.

And you have _site.min.js_ script which loaded after that.  `site.min.js` remove our scripts via the code:
`a("div.header-container-wrapper, div.body-container-wrapper,div.footer-container-wrapper").fin

[2018-03-19 08:51] dmitrykurmanov commented on #1001
Here the working example: https://plnkr.co/edit/0vXbRM?p=preview based on this example: https://surveyjs.io/Examples/Library/?id=survey-afterrender&platform=jQuery&theme=default

[2018-03-19 08:55] andrewtelnov opened #1005 "Trigger doesn't support complex question, like matrix for example"
It should be possible to set the trigger name as: "matrixQuestion.row 1"

[2018-03-19 11:01] nicklas669 opened #1006 "IsRequired errors show up when survey is loaded"
Hi guys.

### Are you requesting a feature, reporting a bug or ask a question?
Question/bug

### What is the current behavior?
When we load our surveys, all questions that have the "isRequired" attribute set show the requiredError text of "Please answer the question.", or in my case "Besvar venligst spørgsmålet.".

### What is the expected behavior?
Is there any way to have these errors not pop up

[2018-03-19 12:46] andrewtelnov commented on #1006
@nicklas669 Any chance that you are calling nextPage() or hasErrors() functions?

Thank you,
Andrew

[2018-03-19 12:52] nicklas669 commented on #1006
@andrewtelnov I found out why this happens, thanks to your clue. We do not call nextPage() or hasErrors() directly but I found out that we are using sender.isCurrentPageHasErrors to determine whether we should show next/submit buttons... I guess this triggers the error validations?

[2018-03-19 13:27] #985 closed

[2018-03-19 13:28] #964 closed

[2018-03-19 13:28] #958 closed

[2018-03-19 13:28] #957 closed

[2018-03-19 13:28] nicklas669 commented on #1006
Fixed, thanks.

[2018-03-19 13:28] #1006 closed

[2018-03-19 13:28] #952 closed

[2018-03-19 13:28] #950 closed

[2018-03-19 13:28] #925 closed

[2018-03-19 17:39] kaphert opened #1008 "DisplayValue for custom widget?"
I have a few custom widgets and one of them is a widget that adds a the https://flatpickr.js.org/ to the survey.

The user sees a string like: 19 Mar 2018 but the actual value is 2018-03-19.

In my situation the user is selecting a date in step 1 and I would like to show this date later on in one of the steps. This works fine when I use the `{field_name}` placeholder but it is giving me the value

[2018-03-19 17:44] yidan commented on #1004
@dmitrykurmanov Thank you so much for looking into this!
After moving the survey script after our sites.min js script, it still doesn't work :(

But I found a walkaround, the vuejs version seems to work fine.

[2018-03-19 18:48] andrewtelnov commented on #1008
@kaphert Let me clearify.
You are using {field_name} some where in title and you want to show the display value and not the actual value, am I correct?
If this correct, I may add this functionality to custom widgets. It should not be hard to implement.

Thank you,
Andrew

[2018-03-19 18:54] kaphert commented on #1008
Yes indeed that is the short explanation ;-)

[2018-03-19 18:58] andrewtelnov commented on #1008
@kaphert Then I got it :)

[2018-03-19 19:12] andrewtelnov commented on #1008
@kaphert You will have to write something like:
[code]

Thank you,
Andrew

[2018-03-19 19:15] kaphert commented on #1008
@andrewtelnov jeez, that was quick. Thanks. One suggestion though, wouldn't it be better to rename the method to `getDisplayValue` to be more inline with the `displayValue` property?

[2018-03-19 19:20] andrewtelnov commented on #1008
@kaphert Yes, you are right. It is better, corrected.

Thank you,
Andrew

[2018-03-19 23:37] jrossgowan-pulsemining opened #1009 "isSinglePage mode is missing last page"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

When ``isSinglePage = true``, the elements from all pages _except_ the last page are shown. This seems to be a regression from surveyjs 1.0.1 to 1.0.2.

### What is the expected behavior?

The elements from all pages should be shown, including the last page.

### How would you reproduce th

[2018-03-20 06:53] andrewtelnov commented on #1009
@jrossgowan-pulsemining I have recreated the issue in the Unit Test and fixed it.
The bug was here from the beginning, but in knockout version. We are building jQuery version based on knockout version since v1.0.2 (as I remember). Before we were using react version and injected preact version.

Thank you,
Andrew

[2018-03-20 06:54] andrewtelnov commented on #1009
Yes, the update will be likely released on this week.

[2018-03-20 07:17] tsv2013 commented on #1004
@yidan The code from your `sites.min js` script is executed on document ready, but code that creates and renders the survey is executing on loading, during parcing the `asdfcaefds` page.

So you need to move survey initialization later, then  `sites.min js` script is executed.

[2018-03-20 08:48] cliewdevelop commented on #987
Thank you for the answer.

[2018-03-20 08:48] #987 closed

[2018-03-20 08:55] terryttt opened #1010 "Update date format in Jquery-UI datepicker"
### Are you requesting a feature, reporting a bug or ask a question?
ask a question

 I'm using JQuery DatePicker for a date field and I want to change the date format from 'mm/dd/yy' to 'dd/mm/y' e.g. 30/03/18. However, when I pick the date from the panel, the date value was incorrect.
 (please see the gif file below).

### What is the current behavior?

The date value was incorrect.

### What is

[2018-03-20 08:55] andrewtelnov commented on #916
@xiuzhen1103 @dmitrykurmanov To add property into Panel and Pages, it should be "panelbase"
JsonObject.metaData.addProperty("panelbase", { name: "triggerAlert", default: false, choices: [true, false] });

[2018-03-20 09:04] andrewtelnov commented on #978
[The example](https://surveyjs.io/Examples/Library/?id=questiontype-matrix-rubric) has been added

[2018-03-20 09:10] dmitrykurmanov commented on #1010
moved to the widgets repo

[2018-03-20 09:10] #1010 closed

[2018-03-20 09:22] nicklas669 commented on #984
Hello @andrewtelnov or @tsv2013 . Are there any news on this matter? It would be nice if the filename and type was included in the data stored in text? Or must I handle the onFileUpload event completely? If so, can you look at my follow up question from 12 March?

Thanks in advance!
Nicklas

[2018-03-20 09:24] halexiev-hedgeserv commented on #241
Hi guys,

Have any improvements been made regarding this?

What would be the best way to dispose of surveyjs in an angular cli app?

Moreover we have many different survey json models that we need to display at runtime depending on current selection so is there any best practice to replace current surveyjs model?

Thanks,
Hristo

[2018-03-20 11:00] nicklas669 opened #1011 "Show errors on changing question value (optional)"
Hello. I have an issue that I hope you can help out with.

### Are you requesting a feature, reporting a bug or ask a question?
Bug/question

### What is the current behavior?
If I have a field that is invalid, i.e. it has an validation error on it, and I change the input text to something that I know is valid and then move the mouse to the Submit button without first clicking outside the given fi

[2018-03-20 16:42] yidan commented on #1004
@tsv2013 I see! Thank you so much!

[2018-03-20 16:42] #1004 closed

[2018-03-20 19:15] andrewtelnov commented on #1011
@nicklas669 Unfortunately I could not reproduce this behavior so far. Could you please help us to reproduce it?
Here is the [plunker example](https://plnkr.co/edit/DZ60j6haFtkHiX75DmOb?p=preview)

Thank you,
Andrew

[2018-03-20 22:19] jrossgowan-pulsemining commented on #1009
Thanks for the quick fix.

[2018-03-21 09:57] aslanbeily opened #1012 "RTL CSS issue on mobile"
Hello,
RTL radio for some reason looks wrong on moblle devices or narrow windows:

http://survey.clinicrowd.xyz/initial1.php?disease=1&lang=he&nickname=clinicrowd
(choose something in the second question to contunue) and then it looks as on the screenshot provided

Despite that, english version looks OK
http://survey.clinicrowd.xyz/initial1.php?disease=1&lang=en&nickname=clinicrowd
![screenshot_20

[2018-03-21 21:11] nicklas669 commented on #1011
@andrewtelnov I believe I have recreated the issue. Look at the [plunker here](https://plnkr.co/edit/uxD1uq7evjlvOowHIa8z?p=preview). With the console open, type in 123 in the field and press Submit/Complete. One onValueChanged is printed and the error message "Please enter value 1000 or bigger" is correctly shown. Now add another digit, eg. 4, so the input says 1234. Now click the Complete button

[2018-03-22 06:27] andrewtelnov commented on #1011
@nicklas669 Aha, I got it.
Let's look at the problem from a different angle. I believe you are doing it, because you want to show the error immediately and not only on page next/on complete, am I right?
If yes, lets add this functionality into the library, it is a valid scenario, IMHO.

Thank you,
Andrew

[2018-03-22 07:04] nicklas669 commented on #1011
@andrewtelnov Yes that is our scenario. We need to not show any errors on initial survey load, show errors whenever a field changes, show errors on clicking next/complete and if there are no errors when clicking next/complete, the survey should not stay on the current page as described in this issue.

Thanks, Nicklas

[2018-03-22 07:46] andrewtelnov commented on #1011
@nicklas669 I will try to implement it in several days. It should not take a lot of time. The scenario makes a perfect sense to me.

Thank you,
Andrew

[2018-03-22 08:25] aslanbeily commented on #1012
Solved the problem by adding

.radio input[type="radio"] {
	margin-left: 0px !important;
	position: static !important;
}
in RTL pages, but I presume I am not the only one.

[2018-03-22 09:58] andrewtelnov commented on #1012
@dmitrykurmanov Let's take a look at it and fix in the library.

Thank you,
Andrew

[2018-03-22 10:45] tsv2013 opened #1013 "Introduce full keyboard support"
- tabstops
- highlighting
- keyboard shortcuts

Seee also the  https://surveyjs.answerdesk.io/ticket/details/t522/keyboard-shortcut thread

[2018-03-22 11:45] andrewtelnov opened #1014 "Add support arrays into condition"
There should be an ability to compare the value of the checkbox, like
`{a} = ["item1", "item2"]`
This expression should return true, if {a} equals to ["item1", "item2"] or ["item2", "item1"], other wise it shoud return false.

[2018-03-22 12:07] andrewtelnov opened #1015 "Stackoverflow on having checkbox and text questions with the same name"
The following code creates stackoverflow:
[code]
It is not correct to have the same name/valueName for text and checkbox questions, but it should not lead to the stackoverflow.

[2018-03-22 14:00] mdickin opened #1016 "Add clearIncorrectValue(s) functions into survey/page/panel/question objects (Radiogroup with defaultValue not in choices)"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
If a radiogroup question is required, has a non-empty default value, and has a set of choices that _does not_ contain the default value, the required validation does not fire. The page can be submitted without choosing a radio button.

https://plnkr.co/edit/XdYSZuf3Wn0Nwtb8JYlE?p

[2018-03-22 14:26] andrewtelnov commented on #1016
@mdickin How do you get this defaultValue in the first place? What is the scenario?

defaultValue simply does question.value = defaultValue; there is no any checks here and it should not, because it comes from developers and not UI.

If we start to check if the value exists in the choices, it would definately breaks some existing surveys.
Some people use survey.setValue and then set choices progra

[2018-03-22 14:58] cizenadam opened #1017 "New logo offer"
Hello, I want to design a logo for you as a graphic designer, and if you agree, I want to start with the logo design.

[2018-03-22 15:34] mdickin commented on #1016
Ahh, I was afraid that it would break existing surveys. Would it be possible to add a flag for "limit value to the list of choices"?

As a workaround, I used `onValidateQuestion` to check radiogroup answers. Here's a plunker for it:

https://plnkr.co/edit/awOcCIJ0cNX27YMAcsEY?p=preview

[2018-03-22 16:12] dmitrykurmanov commented on #1012
@aslanbeily could you please provide an example to reproduce the issue. I tried our examples and it looks ok
![image](https://user-images.githubusercontent.com/22315929/37782827-f42f683e-2e04-11e8-8227-5139bd9d0f70.png)

[2018-03-22 16:53] mdickin commented on #1016
To answer your initial question, we are using SurveyJS on our account creation product. It walks the user through a handful of pages (most of which use your library for generating the questions) and stores the data. The user can navigate back to previous pages, sometimes days or weeks later. Thus, if we change the options in a question, we would want the user to have to choose from the new options

[2018-03-22 17:01] andrewtelnov commented on #1016
@mdickin I believe if we add function `survey.clearIncorrectValues();`, it will clear all incorrect values in question, it would perfectly solve your problem and definately can be used by others.
And yes, clearIncorrectValue(s) we will add on Page/Panel/Question levels as well.
What do you think?

Thank you,
Andrew

[2018-03-23 07:52] andrewtelnov commented on #1011
@nicklas669 From the next minor version, you will be able to use the following code:
`survey.checkErrorsMode = "onValueChanged";`

Unfortunately, it doesn't fix the issue you are mention and what is more sad, I am afraid there is no way to fix it. I have spent couple hours trying to understand what's going on, untill I have ended up with the following [example](https://plnkr.co/edit/7vWG14y2JFp4tQ

[2018-03-23 13:02] Lynn42 opened #1019 "Difference in output HasOther item between SurveyJS Editor & Library"
### Are you requesting a feature, reporting a bug or ask a question?

Possibly reporting a bug

### What is the current behavior?

There seems to be a difference in result string passed back by the library and the result string passed back by the surveyjs editor, when it comes to the 'has other item'. See example below.

### What is the expected behavior?

I would expect the result string of the l

[2018-03-23 18:04] Braunson opened #1020 "On render pass data to pre-populate IF the field exists"
I'm trying to `onRender` populate multiple fields but only if they exists. The data to pre-populate would be provided in the form or an array or object.

Ideally this is what would happens:

[code]

And on render it will fill the `name` field if it exists with the data's name, and the same for email. I'm trying to make this dynamic so I don't have to manually set each field since the data array wo

[2018-03-24 13:14] andrewtelnov commented on #1016
@mdickin You may call `survey.clearIncorrectValues();` after creating the survey model from the next minor release. It will do what you need.

Thank you,
Andrew

[2018-03-24 18:20] andrewtelnov opened #1021 "Add survey.onCurrentPageChanging event"
[code]

[2018-03-24 18:30] andrewtelnov commented on #1019
@Lynn42 What SurveyJS Library and platform do you use?
Here is [the example](https://plnkr.co/edit/NubzetvYr00Eq0H4pnto?p=preview) with the latest version of SurveyJS and jQuery.
If you are talking about v1.0.0 then we very likely fixed the issue. We were building jQuery version using our react code and pReact library - it gives us different small problems.
We are building jQuery based on knockout

[2018-03-24 18:35] andrewtelnov commented on #1020
@Braunson You may prepare the mode in the code. here is [the example](https://plnkr.co/edit/4Pj3I3xCquAkN7AAGzeP?p=preview).

Thank you,
Andrew

[2018-03-24 21:39] Braunson commented on #1020
Thanks @andrewtelnov I also made use of setting `survey.data` which will set pre-populate the data if the inputs exists with the same name.

[2018-03-24 21:39] #1020 closed

[2018-03-25 07:15] aslanbeily commented on #1012
@dmitrykurmanov , that's because I fixed it, but now it's reverted so you can use the same examples again.

[2018-03-25 11:12] motin commented on #1013
Related: https://github.com/surveyjs/surveyjs/issues/452

[2018-03-25 16:06] ajien commented on #981
Hi, Dimitri. The error I am seeing related to this issue is this: Warning:
Failed prop type: You provided a `value` prop to a form field without an
`onChange` handler. This will render a read-only field. If the field should
be mutable use `defaultValue`. Otherwise, set either `onChange` or
`readOnly`.

On Wed, Mar 14, 2018 at 8:08 PM, Dmitry Kurmanov <notifications@github.com>
wrote:

[2018-03-26 07:01] Lynn42 commented on #1019
We will try to update first then and see if that solves things. Thank you! Do you know when the next maintenance update is planned? We are waiting on that for updating because then we can take along the fix of https://github.com/surveyjs/surveyjs/issues/999

[2018-03-26 07:31] testweird123 opened #1022 "Is there a visibleIf option for multipletext items?"
### Are you requesting a feature, reporting a bug or ask a question?
 I'm wondering if there's a visibleIf option for multipletext items.

### What is the expected behavior?
Say I select options in a checkbox. The items in multipletext should be displayed based on options selected in checkbox.

### Specify your

* browser: Chrome
* browser version: 64.0.3282.119
* surveyjs platform (angular or rea

[2018-03-26 07:41] andrewtelnov commented on #1022
@testweird123 Unfortunately text item in multiple text doesn't support visibleIf. It is in our plan, but we will add it, after we will refactor our code and start to render text question as text item. Again it is in our TODO list.
We are recommending using Panel. You may achieve the same UI with it, plus get additional functionality if needed.
You may set Panel.title, put into it any question(s),

[2018-03-26 09:20] andrewtelnov commented on #998
@eferrervaughn I have created an [example with comments](https://plnkr.co/edit/HdnYE5?p=preview), please review customwidget.js file

Thank you,
Andrew

[2018-03-26 14:00] buckelieg commented on #294
The http://surveyjs.org/examples/jquery/survey-data.html link is broken :(

[2018-03-26 14:03] andrewtelnov commented on #294
@dsteinbach The correct links are:
[Get/Set Survey Data](https://surveyjs.io/Examples/Library/?id=survey-data)
[Survey in Display Mode](https://surveyjs.io/Examples/Library/?id=survey-displaymode)

Thank you,
Andrew

[2018-03-26 14:04] dmitrykurmanov commented on #294
@buckelieg  hello! Now you can find this examples here:
[Get/Set Survey Data](https://surveyjs.io/Examples/Library/?id=survey-data&platform=jQuery&theme=default)

[Survey in Display Mode](https://surveyjs.io/Examples/Library/?id=survey-displaymode&platform=jQuery&theme=default)

[2018-03-27 06:04] testweird123 commented on #1022
Okay, this seems to do the job for now. Thanks!

[2018-03-27 06:04] #1022 closed

[2018-03-27 08:09] Nuadire opened #1023 "restfull service"
### Are you requesting a feature, reporting a bug or ask a question?
Questions and suggestion
#### Provide the test code and the tested page URL (if applicable)
https://surveyjs.io/Examples/Library/?id=questiontype-dropdownrestfull&platform=jQuery&theme=default

I can do what would return an object, not a value. This possibility is very necessary.
example: result: {"question1":[{"chapterId":"1", "