[2017-09-26 18:41] andrewtelnov commented on #681
@jakubknejzlik I am afraid it doesn't make any easy to me.
These categories are seen by end-users? Do you want just dynamically change the choice property. I am sorry, I do not get it :(
Maybe you will post your survey on the paper?

Thank you,
Andrew

[2017-09-26 18:49] andrewtelnov commented on #689
@jing159w I have just created the example and it works fine to me: https://plnkr.co/edit/Vy2vgx7qiUeM7YkDn2mm?p=preview

Thank you,
Andrew

[2017-09-26 22:51] madceb opened #690 "matrixdynamic / dropdown width choicesByUrl and hasOther:true selecting other incorrectly?"
Hello,

Not sure if this is a bug or I have something missing, in order to explain this issue this is the example:
https://plnkr.co/edit/lj8wMzb0RhcQl2lpBGMD?p=preview

It is a matrixdynamic with a dropdown column loading values from a Url, and a default data. If the dropdown column has the hasOther property as false, it shows the correct information but with the hasOther property true, the dropdo

[2017-09-27 05:44] obitohub commented on #616
Hi,

this functionality is extremely important to us at the moment. What is the status of implementation ? And it's not possible to make a workaround.
Simple situation:
one question e.g. has 3 options to choose from (radiogroup). If some option is chosen then other questions radiogroups some answers should be disabled not to be able to select them. So other question could have e.g. 5 options to ch

[2017-09-27 07:52] andrewtelnov commented on #616
@obitohub To be honest I would love to postponed this functionality for a while. We are working on the first version. The main task - rewrite the way we are working with the custom widgets. The most questions are about them.
I agree it would be cool to have the ability to disabled radio button and checkboxes, but to be honest it not high demand function from one side and it is costy in developemen

[2017-09-27 07:54] andrewtelnov commented on #690
@madceb Looks like a bug to me.

Thank you,
Andrew

[2017-09-27 11:34] andrewtelnov commented on #690
@madceb I have fixed the issue.

Thank you,
Andrew

[2017-09-27 12:01] jakubknejzlik commented on #681
I’ll return tomorrow so I’ll try to prepare some plunker to make it clearer. Also the categories are used internally for statistics (we just need to be able to group questions together) so only admins (creators of form - can access designer) can see these categories

[2017-09-27 12:16] jakubknejzlik commented on #681
Also if you see the original plunker in issue description, it’s almost it, but two things:
- we can choose only one category per question (we need way to select multiple) - this is more critical for us
- it would be great if we can provide array of objects not only array of strings for property choices (object with for example value and title keys)

[2017-09-27 13:34] dmitrykurmanov commented on #174
@Jlmcconchie, hello! We don't have this section of the site now. So The problem was in incorrect scripts order. I've created an example in the plnkr with surveyJSON above and it is works fine. Please check:  https://plnkr.co/edit/XmttEV6NhkNRvzFVavsl?p=preview

[2017-09-27 13:38] madceb commented on #690
Wow that was fast @andrewtelnov
Great.
Regards,

[2017-09-27 14:55] dmitrykurmanov commented on #30
@Aymsu, hello! Sorry for the late response. I've created an example for you based on `cssClasses`. Could you please check it? https://plnkr.co/edit/tvR2MXqB7cUlCWE3jUIa?p=preview

[2017-09-27 21:05] mnhospitals opened #691 "clientId survey answered not resetting after result deleted"
I deleted the individual result from the MySurvey results screen, but the user still isn't able to re-answer the survey. It still throws the already answered flag.

[2017-09-28 02:31] tscott1213 commented on #630
I was able to determine why the querySelect returns null in the survey editor.   When added to a Survey the el that is passed to "afterRender" is the div that contains the canvas specified in the "htmlTemplate" parameter.  However, in the SurveyEditor (when both designing and testing a survey) the el that is passed to "afterRender" contains the canvas element.  This inconsistency appears to be a b

[2017-09-28 06:32] andrewtelnov commented on #691
@mnhospitals We will fix the bug and let you know.
Could you please send us your surveyId, postId and cliendId to support@surveyjs.io
We will clear the hash for this clientId manually.

Thank you,
Andrew

[2017-09-28 07:00] andrewtelnov commented on #681
@jakubknejzlik You initial example adds a property to the page object.
Ok. I have modify a litle my example: https://plnkr.co/edit/Yut8OJJcjK6f9Dr0R3qQ
Now, for every question, you have a categories property. The property is an array of objects. Each object has a value that can be added taken from the list and title.

Probably, again, I am not sure exactly, you are looking for a property editor th

[2017-09-28 13:54] mnhospitals commented on #691
Its fine, it was test data. Just let me know when the bug is fixed. Thanks!

[2017-09-28 14:38] dmitrykurmanov commented on #493
withoit custom widgets it works fine

[2017-09-28 15:10] tsv2013 commented on #691
@mnhospitals I've updated the site. Could you check it to insure we have no another issues?

[2017-09-28 18:02] nithinM commented on #493
Yeah that is true. But I need to used with custom widget. :(

[2017-09-28 20:22] mnhospitals commented on #691
Works perfect now. Thank you!

[2017-09-28 20:22] #691 closed

[2017-09-28 20:30] mnhospitals opened #692 "Add clientId to survey results"
It would be nice to see the clientId in the survey results.

[2017-09-29 04:40] sco2tbold opened #693 "Cannot set requiredText to an empty string anymore?"
### What is the current behavior?
We have all questions as mandatory and thus the asterisk is not necessary but visually annoying. Formerly it was possible to set the property requiredText="".

### What is the expected behavior?
As soon as I set requiredText="" then it's restored to requiredText="*".

It would be great if you can consider to bring back this simple feature. Thanks!

[2017-09-29 06:57] dmitrykurmanov commented on #493
@nithinM, of course, I understand, it is just note

[2017-09-29 07:49] nikitakarpenkov commented on #654
There is a workaround! See fixed plinker: https://plnkr.co/edit/8HzcfJ5SttrYxI4pJxUW
All you need is to remove event handler on widget unmount using jquery .off function:
`
willUnmount: function(question, el) {
        $(el).find("select").off('select2:select').select2("destroy");
    }
`

[2017-09-29 08:18] andrewtelnov commented on #693
@sco2tbold I do not do it on purpose. I am rewritting the way we are working with properties and sending notification on properties changing. If the value is empty it returns the default value. Right now the library deals with empty string as underfined property value. I will change it.
I will fix this issue. As a workaround you may set `survey.questionTitleTemplate = "{no}. {title}:";`

Thank you

[2017-09-29 11:47] andrewtelnov commented on #693
@sco2tbold The fix will be available in the next release.

Thank you,
Andrew

[2017-09-29 13:31] tsv2013 commented on #692
ClientId is saved in post results. I'll check why it doesn't visible as a result column.

[2017-09-29 15:34] avium commented on #457
Regarding this quote:

Survey.JsonObject.metaData.addProperty("questionbase", {name: "score:number", default: 0});
Here is the full docs about adding a property: http://editor.surveyjs.io/examples/addproperties.html#code

… it would appear the linked-to example is broken. When I try to change item values using the embedded surveyjs editor on that page, a JavaScript error is logged to the console:

[2017-09-30 03:00] Lee-SDU opened #694 "Survey cannot load surveyJSON created by function(OOP)"
### Are you requesting a feature, reporting a bug or ask a question?
**ask a question**

### What is the current behavior?
wrong message *cannot read property 'indexOf' of undefined* at code line
`var survey = new Survey.Model(surveyJSON)`

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (i

[2017-09-30 03:15] Lee-SDU commented on #694
**Added at 2017-9-30 11:14**
The below is the surveyJSON string. It is valid JSON
[code]

[2017-09-30 03:22] Lee-SDU commented on #694
**Added at 2017-9-30 11:20**
Problem solved. o(╯□╰)o
It may be because of the empty validators obj that cause it.    O(∩_∩)O~
![image](https://user-images.githubusercontent.com/9800679/31042036-a7203d68-a5d1-11e7-9c4a-bdaeac10a83c.png)

[2017-09-30 03:23] #694 closed

[2017-09-30 06:46] andrewtelnov commented on #457
@avium Yes, there was a bug in v0.12.29.. We have fixed it. The current version is 0.12.30

Thank you,
Andrew

[2017-09-30 08:26] jakubknejzlik commented on #681
@andrewtelnov ok for the example I written above the current solution that i found would be like this:
https://plnkr.co/edit/Hb16HS4n0Bvp6Xu8CRWP?p=preview

and filling this json in editor:
[code]

The problems I'm facing:
- it would be great if we can group `category1`,`category2`,`category3` in single `categories` (`category1="reaction time",category2="time analysis"` should be `categories="reac

[2017-09-30 08:39] jakubknejzlik commented on #681
Also let's say in end we'd love to use it like this: https://plnkr.co/edit/mmvORb6K9ZoNzaJkll8c?p=preview

...but:
- only one category can be selected
- in designer the string representation of each category is `[object Object]`
<img width="243" alt="screen shot 2017-09-30 at 10 33 31" src="https://user-images.githubusercontent.com/1138023/31044222-925fa194-a5cb-11e7-8d7f-95dcc8080157.png">

[2017-09-30 16:02] andrewtelnov commented on #681
So you need a propety that will looke like:

[2017-09-30 16:07] andrewtelnov commented on #681
@jakubknejzlik So you need a property that in json will look like:
`[categories : [{"category 1" : "reaction time"}, {"category 2" : "time analysis"}]]`
I have three questions now:
1) How many categories do you have? Is it same number? 3 categories or it can be from 0 to N, where N is constant or unlimited. Do you have the list of all categories or an user will just name them in the text box?
2) C

[2017-09-30 17:39] jakubknejzlik commented on #681
Technically categories:[1,138,45] would be the easiest for our servers to parse (list of category ids (number or string) - more info below)

1) number of categories could be unlimited, but we are trying to stay at reasonable amount (but it could be still 10+). We store those categories on our side in db table (id/code and name) and load them to editor via url request.(sorry for not mentioning, now

[2017-09-30 18:05] andrewtelnov commented on #681
@jakubknejzlik No problem. I want to make an example of creating a custom Property Editor and your case should be a good example. Since it is a real case and not something fancy.
So, let me clarify, before I start to code:
1) There is the list of objects, that you are getting from your server, where every object has id (numeric) and name (string).
2) An user may select unlimeted number of this cat

[2017-10-01 08:29] jakubknejzlik commented on #681
@andrewtelnov exactly. Just for the 1) the id isn't required to be number. In our case it is, but from general perspective UUID or manually created codes could be used too (so maybe using string instead of number could help cover all cases)

[2017-10-01 10:19] jakubknejzlik commented on #681
Also I'm not sure if it helps you with implementation, but I just found that the similar approach is when selecting default values for checkbox (list of keys as value and displaying modal where I can select multiple choices):
![image](https://user-images.githubusercontent.com/1138023/31053645-8facfc9e-a6a2-11e7-9c20-9a94ea7b0fc4.png)

IMHO the exact same UI could be used :)

[2017-10-01 12:20] usamaSaddiq opened #695 "Vue onQuestionAdded does not work."
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
onQuestionAdded does not work.

### What is the expected behavior?
Hey I have been testing this event and this one does not fire, plus another thing onAfterRenderQuestion fires 2 times, is that how that is supposed to work because that was I was after the first time.

but anyhow onQuestionAd

[2017-10-01 14:41] andrewtelnov commented on #681
@jakubknejzlik It is not a complex task. I have implemented [this functionality](https://github.com/surveyjs/editor/issues/163)
It was really hard to understand, what do you need :) I have suggested to have dialog with checkboxes nine days ago (see my comments 9 days ago), but for some reason, it was ignored :-)

Thank you,
Andrew

[2017-10-01 14:48] andrewtelnov commented on #695
@usamaSaddiq You have created the second instance of Survey Model on mount function. The second instance doesn't have onQuestionAdded event.
Here is the corrected version: https://jsfiddle.net/wgvs05z0/2/

Thank you,
Andrew

[2017-10-01 15:05] andrewtelnov commented on #681
@jakubknejzlik Here is [the example](https://plnkr.co/edit/O5zPOetlHqzMoyp5JeAk) with dev version. There are three different ways to set choices.

Thank you,
Andrew

[2017-10-02 00:23] usamaSaddiq commented on #695
@andrewtelnov  Thanks for that one andrew.

I have been struggling to get ahold of the docs, anywhere there might be some examples of the methods implemented?

[2017-10-02 00:26] usamaSaddiq commented on #695
Tried exploring this link: https://surveyjs.io/Documentation/Library/?id=surveymodel but there is no method like addNewQuestion or similar helper methods.

Plus explored this link: https://surveyjs.io/Examples/Library/

But just couldn't find anything of help.

Any helper methods for accessing already rendered json, because vue doesn't allow you to edit the
DOM conventionally.

Cheers

[2017-10-02 03:52] murrah opened #696 "Boolean field in matrix cell type"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
In the online editor the list of questions types in the Matrix column Cell Type drop down list does not include the Boolean question type.

### What is the expected behavior?
It would be great if it did. :-) As a workaround I am using a single Checkbox but the Boolean would be neater.

#

[2017-10-02 04:08] jakubknejzlik commented on #681
You are correct, I’ve totally missed the checkbox defaultValue in your first reply. I’m sorry for that :-/.
Thanks for your examples, it works great!

[2017-10-02 06:15] gdaniels13 commented on #470
@dmitrykurmanov Thanks for getting that fixed so fast.  (For some reason I never saw any notifications from github).

[2017-10-02 07:39] murrah opened #697 "Sequence of text processing"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
I have a Comment question type with a description property that has a custom parameter:

"description" : "Regarding your goal of: {p\_itc\_improvementgoal}, what happened?"

All good. I wanted the data substituted for the parameter to be &lt;strong&gt; so I added markdown (I am using Sh

[2017-10-02 08:24] andrewtelnov commented on #695
@usamaSaddiq You are adding questions/panels into the page object, https://surveyjs.io/Documentation/Library/?id=pagemodel
However, I am absolutely agree, there should be an example of creating the survey in code from scratch. It is actually in our TODO list. We just busy with other things, but we will add these examples as well later.

Thank you,
Andrew

[2017-10-02 08:25] andrewtelnov commented on #696
@murrah Yes, it makes sense. We will do it after v1.0 release :-)

Thank you,
Andrew

[2017-10-02 08:27] andrewtelnov commented on #697
@murrah I would say it is a bug. It is unexpected behaviour. I will work on the fix.

Thank you,
Andrew

[2017-10-02 09:01] murrah commented on #696
Cool! Thanks Andrew.

[2017-10-02 09:02] murrah commented on #697
Again, thank you!

[2017-10-02 09:04] #695 closed

[2017-10-02 11:31] dmitrykurmanov commented on #493
@nithinM, hello!  This is the bug in our examples, we should add `willUnmount` method in it. Like in this example: https://surveyjs.io/Examples/Library/?id=custom-widget-icheck&platform=jQuery

I've updated your plnkr: https://plnkr.co/edit/NWOJvBIVxqnva7NfXpKO?p=preview, could you check it please?

In fact we are working on version 1.0. And you could just import widget and use it. So these bug wi

[2017-10-02 12:23] Aymsu commented on #30
Works like a charm ! Thanks a lot

[2017-10-02 14:58] mrojas18 commented on #692
same here... i would like to see the ClientId as a value in the results, when i process the data i cant access this value.

[2017-10-02 15:05] #392 closed

[2017-10-02 15:06] dmitrykurmanov commented on #392
fix will be in release next to 0.12.30

[2017-10-02 15:12] gperreymond commented on #392
Exellent, thanks a lot.

[2017-10-02 17:47] #678 closed

[2017-10-02 17:49] enricribas commented on #567
Any idea/ progress on this? Our management really, really, really wants commas, and I've tried a few very hacky ways to add them but nothing that I am comfortable releasing to production.

It can wait, but if you're not working on it any time soon, I might just release my hacky version to the wild.

Thanks,

[2017-10-02 21:06] enricribas opened #698 "DXSurvey with custom question types"
### Are you requesting a feature, reporting a bug or ask a question?

question or feature

### What is the current behavior?

We like using dxsurvey but we have custom question types that do not work, specifically for currency formatting at the moment. Is there a way to set it up so we can set type to "currency"?
Barring that we could download and host ourselves for our use in creating surveys not

[2017-10-03 01:42] nithinM commented on #493
Hi, @dmitrykurmanov ! Yeah perfect it's working now. Thank you so much for get back with the solution for this.
Cool so waiting for the new release!!!

[2017-10-03 06:45] tsv2013 commented on #692
I've added the clientid column to the survey results and updated sites.

[2017-10-03 06:45] #692 closed

[2017-10-03 07:15] andrewtelnov commented on #567
@enricribas We will make a new custom widget that will support a mask edit, including the currency.
@dmitrykurmanov will work on it.

Thank you,
Andrew

[2017-10-03 07:23] andrewtelnov commented on #698
@enricribas We are planning to add this functionality. However, we are going to add it after we will introduce orgranization/user collabaration into dxsurvey.com.
We see it as: There will be the list of custom widget/additional question types and customer may enabled/disabled them for his organization.
To be honest, I can't give you any timeframe about this functionality. Plus we are planning to a

[2017-10-03 11:47] dmitrykurmanov commented on #567
@enricribas, I've created an example based on : https://github.com/RobinHerbots/Inputmask
https://plnkr.co/edit/KrROUQV2C3vF5SYrm3y5?p=preview
could you check it please? And I will add it in our examples.

[2017-10-03 13:01] enricribas commented on #698
Thanks for your response. My followup question would be if we build something like your php example, (probably not in PHP, probably Ruby or Elixir) and we only use it internally and not for our customers, is that considered a commercial usage for the editor source code?

Thank you.
Enric

[2017-10-03 13:27] #673 closed

[2017-10-03 13:43] enricribas commented on #567
I think that looks great. Will set it up today. Thanks!

[2017-10-03 14:07] dmitrykurmanov commented on #567
@enricribas, please check the example: https://surveyjs.io/Examples/Editor/?id=customwidgets and the license of the edtior https://surveyjs.io/Home/Licenses, thanks!

[2017-10-03 14:45] dmitrykurmanov commented on #567
@enricribas, I've added examples on  the site : https://surveyjs.io/Examples/Library/?id=custom-widget-inputmask&platform=jQuery

[2017-10-03 16:13] xiuzhen1103 opened #699 "update survey form into write only"
### Are you ask a question?

### What is the current behavior?
I understand
`survey.mode = 'display'; ` is for read only model.
I have `survey.mode = '' "` to convert back to survey form, not sure if this is correct.

I included custom widget for image picker, however when I switch between ready only and form mode, image picker still exist on ready only mode. Would you help me with this, please?

[2017-10-03 17:20] andrewtelnov commented on #698
@enricribas If you are working in non-profitable organization or do it for personal usage, then you should not buy the commercial license.
However, if you organization/company gets the profit, you will have to buy a developer license...
The most our customers use SurveyJS Editor in their intranet applications, where employees are creating and feeling the surveys/forms. Editor and Survey are built-

[2017-10-03 17:25] andrewtelnov commented on #699
@xiuzhen1103 The default value is 'edit', so your code should be:
[code]

Thank you,
Andrew

[2017-10-03 19:03] #567 closed

[2017-10-03 19:04] #698 closed

[2017-10-03 19:54] enricribas commented on #679
FYI, if this helps anyone in the future. It actually had to do with ReactRouter and RelayModern. Apparently, they don't get along and switching to FoundRouter fixed our double render issue.

[2017-10-04 02:22] murrah opened #700 "Matrix cell render event?"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the expected behavior?
I would like to modify the dom of a specific cell in a matrixdynamic question type. I know I can use afterRenderQuestion() to modify the dom for non-matrix type questions. Is there a way to listen for when a matrix cell is rendered? I can't seem to find such a thing.

Thanks.

### How

[2017-10-04 05:06] dmitrykurmanov commented on #698
wrong link, it should be https://github.com/surveyjs/surveyjs/issues/567

[2017-10-04 10:00] dmitrykurmanov commented on #653
@nikitakarpenkov, hello! Thanks for finding the bug. After some time I've found a reason. It is bug in select2 which was fixed in 4.0.4 version, please see https://github.com/select2/select2/releases/tag/4.0.4

Updated example: https://plnkr.co/edit/YZcrKRNJo8pfMHtAgF7J?p=preview
just changed 4.0.3 to 4.0.4 for select2

and I will update the site example

[2017-10-04 11:14] dmitrykurmanov commented on #654
@nikitakarpenkov, ok, select2("destroy") method was taken from the documentation. And I think that this is _select2_ bug. I've created an [issue ](https://github.com/select2/select2/issues/5064) in the select2 repo. So your workaround is good and we will include it in our examples. Thank you!

[2017-10-04 18:28] wollerman opened #701 "Submitting each page of form"
### Submitting each page of form Question

Is it possible to submit the form on each 'next'? I would like to make sure results are saved between surveyjs pages. Right now, when the page is refreshed, all information is lost.

Thanks,
-Matt

[2017-10-04 19:18] andrewtelnov commented on #701
@wollerman Please take a look at this property: https://surveyjs.io/Documentation/Library/?id=SurveyModel#sendResultOnPageNext

Thank you,
Andrew

[2017-10-04 19:28] andrewtelnov commented on #700
@murrah Indeed it doesn't called. The problem that the cell questions do not have the full rendering. To be honest, I do not know how to solve this in a good way.
What is problem you trying to solve? Maybe we will may deal with it in a different way?

Thank you,
Andrew

[2017-10-04 20:46] wollerman commented on #701
Perfect. Thank you!

[2017-10-04 20:46] #701 closed

[2017-10-04 20:50] murrah commented on #700
Thanks Andrew.

Each row has 5 cells. In one of them I wanted to add a tooltip because it is a single checkbox that needs a little explanation. I have added a "tooltip" property for the tip text to the model via
`Survey.JsonObject.metaData.addProperty("questionbase", "tooltip");`

For "normal" questions I use the `afterRenderQuestion` method to set the tooltip text via  the element's `title` attri

[2017-10-05 00:31] murrah commented on #700
Related to this is some confusion about event names.

At present I am using the following which gets called for each question, which is what I want.

    surveyModel = new Survey.Model(j);
    surveyModel.afterRenderQuestion = function(q, options){
          // Do something with the question dom via options
    };

I see there is also an example like this:

    surveyModel.onAfterRenderQuestion.ad

[2017-10-05 00:59] joeyk16 commented on #584
I wanted a custom date picker so i done this
[code]

[2017-10-05 05:57] tsv2013 commented on #584
@joeyk16 And what is going wrong? Your code looks ok for me.
I guess this is not the full code and I can make assumptions only.
Probably you forgot to register this widget with the
`Survey.CustomWidgetCollection.Instance.addCustomWidget(widget);`
code line.

[2017-10-05 07:03] andrewtelnov commented on #700
@murrah The correct way is to use onAfterRenderQuestion event: https://surveyjs.io/Documentation/Library/?id=surveymodel#onAfterRenderQuestion
In fact, you are overridden afterRenderQuestion function. Here is the code:
[code]

About tooltips. I think it makes sense to add this feature into the library. Do you show the tooltip over question inputs?
About matrix cells, I am not sure what is the best

[2017-10-05 07:41] murrah commented on #700
@andrewtelnov
1. Thanks for the syntax. I realised I was overriding the method and was using an example I found somewhere. Now I get it. Thank you.
2. Tooltips: At this stage I am just setting the title attribute on the dom element. The equivalent of:
    options.htmlElement.title = options.question.tooltip;
That sets it on the question wrapper so it pops up when over either the question title, in

[2017-10-05 08:46] andrewtelnov commented on #700
@murrah I've got you about 3. Makes sense.
About 2. Do you want to display it over all question elements, including title/description or just over question input area?

Thank you,
Andrew

[2017-10-05 09:49] murrah commented on #700
@andrewtelnov All elements I reckon. That is how it is working if I assign as per above post and it seems to work well that way. The idea is to explain the "question" as a whole, not just what one should type into the input field - there is a placeholder for that anyway. :-)

[2017-10-05 11:44] dmitrykurmanov commented on #549
@nikitakarpenkov, so it is not a bug, but not complete custom widget realization. We need to tell to the widget about row removing. So we need add this code in afterRenderMethod:
[code]

and I've update the exmple above and created new simple example:

updated example: http://plnkr.co/edit/7s73Ll?p=preview
simple example: http://plnkr.co/edit/JAxG4t?p=preview

PS: we are working on _custom widgets

[2017-10-05 12:00] dmitrykurmanov commented on #635
@abolger we've implemented it in https://github.com/surveyjs/surveyjs/issues/567, please check it.

[2017-10-05 12:02] dmitrykurmanov commented on #591
@vanBersie, hello, we've fixed it in our new site, please check surveyjs.io

[2017-10-05 14:53] Iphoning opened #702 "SurveyQuestionText.componentWillReceiveProps(): Assigning directly to this.state is deprecated (except inside a component's constructor). Use setState instead."
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?
get an error in console

### What is the expected behavior?
do not get an error

### How would you reproduce the current behavior (if this is a bug)?
I use typesctipt over this plugin

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

index.tsx
[cod

[2017-10-05 16:17] rhalp10 opened #10115 "Can number be edited like number with letter before dot 1,2,3,4a,4b,4c,5?"
### Are you requesting a feature, reporting a bug or ask a queation?

Question

### What is the expected behavior?
Can number be edited like number with letter before dot 1,2,3,4a,4b,4c,5?

[2017-10-05 18:30] andrewtelnov commented on #702
@Iphoning It has been fixed.

[2017-10-05 21:30] mikecousins opened #703 "Lots of warnings with current React"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Lots of errors/warnings when used with current React.

When installing:
`warning "survey-react@0.12.30" has incorrect peer dependency "react@^15.0.1"`
`warning "survey-react@0.12.30" has incorrect peer dependency "react-dom@^15.0.1".`

When running:
`Warning: Survey.componentWillReceiveProps

[2017-10-05 22:39] murrah commented on #700
@andrewtelnov Just a follow up for clarification re the tooltip on matrix cell checkbox groups. I am proposing that the tooltip be per checkbox. ie the target el is the wrapper div around each checkbox and label so a mouseover of the box or the label will produce the tooltip for that one option. eg:

    <div class="checkbox" title="My tooltip text goes here" style="margin-right: 5px; display: inl

[2017-10-06 05:58] jason-russell opened #704 "Loading survey data doesn't work for Number and 0 values"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a Bug

### What is the current behavior?

Setting the value for a number-type to be 0 does not render the number

### What is the expected behavior?

The number 0 should be rendered in the result

### How would you reproduce the current behavior (if this is a bug)?

So in this line I am specifying that the number of sp

[2017-10-06 06:49] andrewtelnov commented on #700
@murrah I will work on it in several days, I will come back here, so you may check it on the dev version.

Thank you,
Andrew

[2017-10-06 06:54] murrah commented on #700
@andrewtelnov Thanks Andrew. Great service! :-)

[2017-10-06 07:27] Iphoning opened #705 "onPartialSend"
### Are you requesting a feature, reporting a bug or ask a question?
How to implement this method?
It is actually don't work for me

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser: chrome
* browser version: latest
* surveyjs platform (angular or react or jquery or knockout or vue): react
* surveyjs version:0.12.3

[2017-10-06 07:46] Iphoning commented on #702
Thanx! When do you planned to make next release?

[2017-10-06 07:59] Iphoning commented on #705
Actually I just need some callback on each page. It would be awesome to set this callback via page parameter
`"pages" : [
{
"name": "page1",
"onComplete": "callbackName",
"onValidate": "callbackName",
"doNext": "callbackName",
]`

Something like this maybe

[2017-10-06 08:03] faso opened #706 "Changing choices in a matrixdropdown"
### Are you requesting a feature, reporting a bug or ask a question?
Question

Is it possible to dynamically change choices for a column in a matrixdropdown question? I want to change the possible choices from javascript after the survey has been rendered.

[2017-10-06 08:15] tsv2013 commented on #601
@Noino I've fixed a set of compatibility issues. Could you check it in the nearest release?

[2017-10-06 09:13] andrewtelnov commented on #702
@Iphoning We will release it likely today.

Thank you,
Andrew

[2017-10-06 10:37] andrewtelnov commented on #704
@jason-russell Indeed, it was a bug. I have fixed it.

Thank you,
Andrew

[2017-10-06 12:27] andrewtelnov commented on #705
@Iphoning Please use "sendResultOnPageNext" in the JSON. We do not process "sendResultOnPageNext" as react attribute.

Thank you,
Andrew

[2017-10-06 13:27] andrewtelnov commented on #706
@faso Here is the example on changing choices on changing another cell in the same row: https://plnkr.co/edit/r80ZfA?p=preview
You may likely need another event. [onMatrixCellCreated](https://surveyjs.io/Documentation/Library/?id=surveymodel#onMatrixCellCreated)

Thank you,
Andrew

[2017-10-06 14:25] faso commented on #706
Thanks for your reply.

But you see, I need it the other way around. I have a matrixdropdown with three columns of dropdown boxes. When I change a value in a previous question, I want to update the choices in the matrixdropdown.

If i try something like `question.columns[0].choices = myChoices;` it does not work.

[2017-10-06 14:29] andrewtelnov commented on #706
@faso I did not test the code, but you may do something like this:
[code]

Thank you,
Andrew

[2017-10-06 14:30] andrewtelnov commented on #706
You code doesn't work, because the quetion has been already created...

[2017-10-06 15:41] jason-russell commented on #704
Awesome, thanks for the quick fix!

[2017-10-06 15:41] #704 closed

[2017-10-06 17:13] madceb commented on #690
Hello @andrewtelnov

I check the example with the new code and it works great, but is it possible that the values are wrong sent when using a widget? I have a similar behavior that before but in a widget.

Regards,

[2017-10-06 18:08] andrewtelnov commented on #703
@mikecousins We have fixed this issue: https://github.com/surveyjs/surveyjs/issues/702
The version that has been released today should be fine.

Thank you,
Andrew

[2017-10-06 18:12] andrewtelnov commented on #696
Here is the example: https://plnkr.co/edit/pjOgBE?p=preview

[2017-10-06 18:14] andrewtelnov commented on #690
@madceb Do you mean custom widget, select2?

Thank you,
Andrew

[2017-10-06 19:44] madceb commented on #690
I've created a different widget based in select2 (btw I just realized that the examples are not working, the preselected country is not showing)

This case is in a MatrixDyanmic with dropdown like question
the data used it is just the "SelectedOption".

if the question "hasOther" is true, the values come as
question.cachedValueForUrlRequests = "other"
question.cachedValue = "other"
question.commen

[2017-10-06 21:26] murrah opened #707 "Online Editor Crashing on setting "boolean" to column.cellType in Matrix Dynamic question."
### Are you requesting a feature, reporting a bug or ask a question?
Bug in 0.12.31

### What is the current behavior?
Add a matrix question, edit it, change a column Cell type to Boolean, click OK button, throws this in console:
question_matrixdynamic.ts:293 Uncaught TypeError: Cannot read property 'indexOf' of null
    at QuestionMatrixDynamicModel.getRowValueCore (question_matrixdynamic.ts:293)

[2017-10-07 07:11] andrewtelnov commented on #707
@murrah Yes, indeed. I do check it with MatrixDropdown in Editor. There was an issue with Matrix Dynamic.
It is fixed now.

Thank you,
Andrew

[2017-10-07 14:10] usamaSaddiq opened #708 "Edit an existing question."
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?

Can't find any helper methods.

### What is the expected behavior?

Hey I am implementing my own editor for a school project and just wondering if there is a way to edit existing questions on the survey.

I am using survey.pages[0].addNewQuestion(Type, Text) method and just wanted to s

[2017-10-07 15:56] andrewtelnov commented on #708
@usamaSaddiq To insert an already existing question/element you have to use [addElement function](https://surveyjs.io/Documentation/Library/?id=pagemodel#addElement). To edit the question/element, actually change the element properties is simple as:
[code]
We have created to repos with examples of creating your own Survey Management System:
https://github.com/surveyjs/surveyjs-php
https://github.c

[2017-10-07 16:16] andrewtelnov commented on #700
@murrah Sorry, I have just read carefully your comment that you have made two days ago.
I was going to implement:
tooltip property for all questions + matrix column,
It would show tooltip when somebody move the mouse over the question or matrix cell.
Do you want to have the tooltip for every element for radiogroup or checkbox questions (cellTypes)?

Thank you,
Andrew

[2017-10-07 18:35] murrah commented on #707
@andrewtelnov Sorry, but it appears to still not work with Matrix Dynamic. The error is not thrown but I can't save the dialog.

1. Started new survey with 0.12.31
2. Dragged Matrix Dynamic onto canvas
3. Clicked Edit then Columns
4. On column 1 Cell type dropdown selected Boolean. The "edit" icon appears under the Required? column.
5. Click the `Ok` button and the dialog does nothing. No save. `C

[2017-10-07 18:50] murrah commented on #700
@andrewtelnov Yes, what you describe for all questions and matrix column would be useful.

What I also had in mind was the ability to have a tooltip for each choice in the checkbox (I hadn't thought about radio groups but yes, the same would apply). This would be useful for check boxes in normal questions too although my main need is within matrix cells.

Each row of a matrix represents a person.

[2017-10-07 18:53] andrewtelnov commented on #700
@murrah The problem that it will be easy enough to implement for question and cells and I am not sure, how to implement it for every choice in checkbox and radiogroup.
I think I will do it on question and column level first and then I will think about adding it into choices.

Thank you,
Andrew

[2017-10-07 18:54] andrewtelnov commented on #707
@murrah Yes, the fix will be available in the next release. I may update the "dev" version if you need it.

Thank you,
Andrew

[2017-10-07 19:09] murrah commented on #700
@andrewtelnov Yes, I understand. Once you complete the onAfterRenderMatrixCell event I could apply the tooltip to the dom "manually" for each option. Each check box is in its own div. See below. So if I get a ref to the td element or the form-inline div it will be simple to amend the dom on the fly.

    <td>
        <div class="form-inline">
            <div class="checkbox" style="margin-right:

[2017-10-07 19:10] murrah commented on #707
@andrewtelnov All good. Next version is fine. Just letting you know. Thanks.

[2017-10-07 19:13] murrah commented on #700
@andrewtelnov Or maybe I misunderstood about that proposed event? If you are not going to do that any time soon I will manage it myself via the onAfterRenderQuestion on the matrix question and drill down to the cell dom from there.

[2017-10-08 01:17] usamaSaddiq commented on #708
Okay great I will look into this repository for sure.

And any chance I might be able to get an HTML of a question object.

onAfterQuestionRendered return all questions so it's abit harder like that any easy helper methods?

Cheers

[2017-10-08 05:35] usamaSaddiq commented on #708
Plus I have tried the addElement function at it edits the question and adds another question with same values in the survey, here is the fiddle

https://jsfiddle.net/r5kczfdw/1/

[2017-10-08 13:43] andrewtelnov opened #709 "Add onMatrixAfterCellRender event"
A the current moment there is no way to customize questions in cells of MatrixDropdown and Matrix Dynamic. onAfterQuestion event doesn't make a lot of sense for them.

[2017-10-08 13:44] andrewtelnov commented on #709
Here is the event description:
[code]

[2017-10-08 13:47] andrewtelnov commented on #709
It has been implemented for all platforms except vue. I will do vue support on the next week.

[2017-10-08 13:49] andrewtelnov commented on #700
@murrah I have just added the [onMatrixAfterCellRender event](https://github.com/surveyjs/surveyjs/issues/709).
For now, you should be fine. You will be able to set your tooltip. I think we will add tool tip support later, since you are already done them for all other questions.

[2017-10-08 13:59] andrewtelnov commented on #708
@usamaSaddiq Updated your example: https://jsfiddle.net/r5kczfdw/2/

about cssType. There are different css classes for different cssType. sv_row/sv_q is for default cssType. You may modify them. Here is the source files: https://github.com/surveyjs/surveyjs/tree/master/src/defaultCss
And here is the demo: https://surveyjs.io/Examples/Library/?id=survey-customcss

Thank you,
Andrew

[2017-10-08 19:51] murrah commented on #700
@andrewtelnov Fantastic Andrew! I will test it out this morning. :-)
Thanks,
Murray

[2017-10-09 00:09] usamaSaddiq commented on #708
@andrewtelnov  Thanks alot.

One last thing any way to get the type of the question?

Text Question have the InputType parameter but I guess that's for input, I can determine the type but just wondering if there is any helper method or property.

Cheers

[2017-10-09 06:59] sco2tbold opened #710 "Matrix dynamic rows: remove text not saved"
When adding a question of the type "Matrix dynamic rows" the "Remove row button text" resp. "removeRowText" property is not set.

[2017-10-09 07:06] tsv2013 commented on #708
Each question has the
`question.getType()`
function which returns string with question type name.
Text question has 'question.inputType()' function - https://surveyjs.io/Documentation/Library/?id=questiontextmodel#inputType.

[2017-10-09 08:03] andrewtelnov commented on #700
@murrah I will have to update the dev version then. The changes will be in the next release only.

Thank you,
Andrew

[2017-10-09 08:06] andrewtelnov commented on #710
@sco2tbold Yes, I have introduced a bug. I have fixed it. Sorry about that.

Thank you,
Andrew

[2017-10-09 08:13] usamaSaddiq commented on #708
Thanks heaps @tsv2013

[2017-10-09 11:50] murrah commented on #700
@andrewtelnov All good Andrew. The next release is fine. You do a great job of getting stuff done. Thanks!

[2017-10-09 13:43] andrewtelnov commented on #709
The event is implemented for all platforms.

[2017-10-10 10:25] Noino commented on #601
@tsv2013 Sorry for the delayed response.
I updated to 0.12.32 and ran the same form through the validators i linked. It seems there are still some problems.

The chrome addon reports this code block
[code]
Generated from this json
[code]

as flagged with error:

And also alert:

There are some others listed too but these are the only errors it reports.

I've also attached the pdf report from achec

[2017-10-10 12:38] tsv2013 commented on #601
@Noino This markup
[code]
Is used to support bootstrap material design skin, because it requires specific DOM structure. We need to discuss it with the team.

[2017-10-10 14:06] tsv2013 commented on #601
@Noino @andrewtelnov I've added dummy span as a temporary measure to suppress the error. As for fieldset tag - if this warning is not crucial, I wouldn't like to add extra markup on the page.

[2017-10-10 14:12] andrewtelnov opened #711 "onAfterRenderQuestion doesn't work correctly in vue platform"
It pass html element without title and errors

[2017-10-11 04:43] tscott1213 opened #712 "Matrix Radio Buttons do not scroll properly with React platform"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
When rendering a survey using the React build, if the survey is placed in a container that scrolls and the survey has  a matrix with radio buttons, the radio buttons will not scroll properly.

It appears that the <label> element that contains the <input> element for the radio but

[2017-10-11 19:25] camloken opened #713 "Optional skip button"
It would be nice if you could add a skip button at the bottom of the survey that would allow users to opt out of the survey if they don't want to take it.  You could even customize the behaviour to "Never show again" or "Show next time" and "Repeat x.number of times".

[2017-10-11 19:59] mikecousins commented on #703
We still get some warnings when we install packages:

[code]

Maybe the dependency in package.json needs to be updated?

[2017-10-11 21:37] jyclam commented on #382
I would also like to know if it's now possible to add an id/class to specific elements.

[2017-10-12 06:42] andrewtelnov commented on #382
@mymagicalpants You may change page/panel/question id: myQuestion.id = "myUniqueId";
We are generating a unique id by using a static numeric property.

@tsv2013 Could you please comment about class element.

Thank you,
Andrew

[2017-10-12 06:49] andrewtelnov commented on #713
@camloken Are you talking about a survey integrated into a web page/application?
SurveyJS Library is just a JavaScript widget. You may show/hide it as you want based on your business logic. SurveyJS Library doesn't have access to web application sessions, user accounts and so on. Every platform has its own implementation.
I am sure, there are a lot of examples how do implement this functionality f

[2017-10-12 08:39] andrewtelnov opened #714 "Re-think and redesign custom Widget support"
1. Create a repository where all custom widget is located
2. Create npm packages for all platform to install custom widget
3. All platform should support the same custom widget interface. In other words the custom widget code could be the same for all platform
4. Developer may choose when the custom widget is used:
- by setting a custom propery as "renderAs"
- replace all questions with a particul

[2017-10-12 08:44] andrewtelnov commented on #714
Now, vue supports the standard custom widget interface as well. It means we may write the same code for all platforms.
However, you may use vue component approach as well, and re-use your vue components.

[2017-10-12 08:49] snay commented on #711
btw, what's the correct behaviour?
Should the event be triggered on each question render or only if model changed?
After #684 it was on each render (let's say, after page change) and now it shows the laziness in full, afaiu.

[2017-10-12 08:54] andrewtelnov commented on #711
@snay It passed the incorrect html element into the event. Right now, the current wrong version, passes into options.htmlElement the input html element of the question, where it should pass an element that contains: question title, question description, question errors and question input elements.

I was doing an example: https://surveyjs.io/Examples/Library/?id=survey-afterrender and it works for

[2017-10-12 08:57] andrewtelnov commented on #711
@snay You may also be interesting in this enhancement: https://github.com/surveyjs/surveyjs/issues/714
You have function isDefaultRender that will return true, so the default rendering will be available.
I am thinking about adding updateRender() function in the custom widget, It will be called on updated function. I am not sure, do we need it or not.
Also you may just use your own vue component, i

[2017-10-12 09:00] Ourdesignz123 opened #715 "unable to get value of type html"
Hello Team

I am unable to get value of input type html in the survey js here is my code

<script type="text/javascript" >
Survey.Survey.cssType = "bootstrap";

var surveyJSON ={
 pageNextText: "Next",
 pagePrevText: "Back",
 pages: [
     {
   name: "Type of Application",
   elements: [
    {
     type: "radiogroup",
     name: "Application_Type",
     startWithNewLine: false,
     title: "Applic

[2017-10-12 09:03] andrewtelnov commented on #715
@Ourdesignz123 Html question is created to showing some information to a user in a nice way. It doesn't have any inputs.
You should use other question types.

Thank you,
Andrew

[2017-10-12 12:58] Noino commented on #601
I believe that it is necessary to fieldset radio buttons, and even checkboxes that are part of a multiple choice question.

https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/H71

[2017-10-12 13:29] tsv2013 commented on #382
@jyclam Probably this [example](https://surveyjs.io/Examples/Library/?id=survey-cssclasses) can help you.

[2017-10-12 13:52] harishmegharaj opened #716 "<br/> as part of question is not coming in next line"
### Are you requesting a feature, reporting a bug or ask a question?
On Applying <br/> on Questions, it is not coming in next line.

### What is the current behavior?
<br> is getting printed as part of Question

### What is the expected behavior?
On passing <br/> as part of text, it should appear in next line.

### How would you reproduce the current behavior (if this is a bug)?
Pass <br/> as part

[2017-10-12 16:00] camloken commented on #713
Yes, you are correct. There are many different (hacky) ways to do this. I guess what I'm really asking for is a way to create custom buttons in the .sv_nav at the bottom of the survey. You could add an id or a callback that would allow developers to tie logic into it (for example a skip button). It's difficult, in React, to inject elements outside of their virtual dom. So having a way to create a

[2017-10-12 17:54] andrewtelnov commented on #703
@tsv2013 @dmitrykurmanov Could you please take a look at this issue?

Thank you,
Andrew

[2017-10-12 18:00] andrewtelnov commented on #716
@harishmegharaj description property is a text and the library render its as a text.
There are two solutions:
1) Use a markdown library, here is [the markdown demo](https://surveyjs.io/Examples/Library/?id=survey-markdown-matrix&platform=Angular2)
2) Correct it on survey.onAfterRenderQuestion event, here is [the demo](https://surveyjs.io/Examples/Library/?id=survey-afterrender&platform=Angular2)

[2017-10-12 18:02] andrewtelnov commented on #713
@camloken You may render navigation buttons by yourself and make the built-in navigation buttons are invisible,` survey.showNavigationButtons = false;`.
Here is [the demo](https://surveyjs.io/Examples/Library/?id=survey-customnavigation&platform=Reactjs)

Thank you,
Andrew

[2017-10-13 05:25] dmitrykurmanov commented on #703
I will check it

[2017-10-13 06:15] harishmegharaj commented on #716
Thanks Andrew, the information was very helpful

[2017-10-13 10:22] thomas-gt commented on #406
+1

[2017-10-13 13:31] enricribas opened #717 "Add page name as class for wrapper"
### Are you requesting a feature, reporting a bug or ask a question?

Not sure, I guess a new feature

### What is the current behavior?

There is no way to target a specific page with CSS

### How would you reproduce the current behavior (if this is a bug)?

We have certain pages that need different css styling. If each page had the name of the page as a class name, a world of possibilities would

[2017-10-13 13:50] tsv2013 commented on #717
Each panel/page/question DOM element id can be changed as mentioned [here](https://github.com/surveyjs/surveyjs/issues/382#issuecomment-336035722).
And thus can be addressed via CSS selectors.

I think different surveys wll have different object (panel/page/question) names, set by user via SurveyJS Editor and it's hard to write some common css rules.

`afterRender` events set gives an opportunity

[2017-10-13 14:19] enricribas commented on #717
Isn't ```afterRender``` fired... well...after it's rendered?
How can I add a class or change its id if it's already rendered?
Sorry, I'm confused. I also don't understand why it's hard to add the pagename as a class or use that as the id, but ok.

[2017-10-13 14:29] andrewtelnov commented on #717
@enricribas We have the following event for question, [survey.onUpdateQuestionCssClasses](https://surveyjs.io/Documentation/Library/?id=surveymodel#onUpdateQuestionCssClasses).
I may add the similar event for panel and page. Will it work for you?

Thank you,
Andrew

[2017-10-13 14:29] tsv2013 commented on #717
Yes, `afterRender` fires after DOM element has been rendered. Is case of adding CSS classes to any element no matters when it was done, the CSS rules will be applied immediately.

If you add a CSS class based on the page name, how you are going to create a corresponding css rule? You need to load a style sheet on the page, this style sheet sould mention all needed pre-defined CSS classes and your

[2017-10-13 14:47] enricribas commented on #717
There is obviously some misunderstanding. :)

We have a multiple page survey. On one page, let's say a page named 'personal_info', we want the background to have an image or different colour. so CSS rule would be simple.

[code]
For other pages, we don't want that colour. Another example is a survey question that is set up in two columns and everything is misaligned, so I need to fix it, but I don

[2017-10-13 14:55] enricribas commented on #717
To your other question, ``` survey.onUpdateQuestionCssClasses ``` does work but I *think* I can only add classes on the question level not the page level, unless there is a link to the page element somewhere I missed.

[2017-10-13 15:10] enricribas commented on #717
Interestingly, adding ```survey.currentPage.cssClasses.root = ...``` does work but only on the next page, but not on the currentPage

[2017-10-13 15:43] camloken commented on #713
Thanks, I didn't realize you could do this.

[2017-10-13 17:55] gaurav-singhal commented on #657
Ok I have another issue. If the choices are dependent on previous filled answer, then its an issue as previous value is not picked by url.

[](https://plnkr.co/edit/hBcORIh9cSvbWw3bTj4Y?p=preview)

[2017-10-13 17:59] gaurav-singhal commented on #418
Ok I have another issue. If the choices are dependent on previous filled answer, then its an issue as previous value is not picked by url.

[sample plunk code](https://plnkr.co/edit/hBcORIh9cSvbWw3bTj4Y?p=preview)

[2017-10-13 18:03] andrewtelnov commented on #657
@gaurav-singhal survey.setValue() mehtod is working: https://plnkr.co/edit/W3xJsNYbfHKbSkBdgdHV?p=preview
survey.data  - doesn't work, because it doesn't call the notification and the request is send before setting the value to survey.data
If the current solution, is not working for you, please let me know.

Thank you,
Andrew

[2017-10-13 18:06] andrewtelnov commented on #418
@gaurav-singhal Here is the answer: https://github.com/surveyjs/surveyjs/issues/657#issuecomment-336525940 :)

[2017-10-13 18:13] andrewtelnov commented on #717
@enricribas My suggestion is to ass survey.onUpdatePageCssClasses event. It doesn't exist, I may add it and it will work similar to survey.onUpdateQuestionCssClasses.
about survey.currentPage.cssClasses.root, it doesn't work because the first page is already rendered before you set the code.

Thank you,
Andrew

[2017-10-14 05:24] gaurav-singhal commented on #657
Thanks that works.

Another issue is if we change the value of question on which further questions choices are dependent, then the value of the dependent questions in data does not change and remains valid.
[https://plnkr.co/edit/IXTnkEGvUG9I71TAKwSY?p=preview](https://plnkr.co/edit/IXTnkEGvUG9I71TAKwSY?p=preview)

So if we change the value of region to Americas in there from Africa, the country v

[2017-10-14 18:20] andrewtelnov commented on #657
@gaurav-singhal It will be hard for the library to find this dependence and clear the value. I would suggest to use onValueChanged event. Here is the working example: https://plnkr.co/edit/EytqdR1h1SkR5vl5Gg07

Thank you,
Andrew

[2017-10-15 19:49] mellogarrett opened #718 "Preact vs React 16"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
Everything under the hood renders with Preact

### What is the expected behavior?
I want to use a library on top of SurveyJS that requires React 16. How would I go about replacing Preact with React 16??

### How would you reproduce the current behavior (if this is a bug)?

#### Provide

[2017-10-16 07:11] gaurav-singhal commented on #657
Seems like the value is not cleared from the survey data immediately. Please check.

[https://plnkr.co/edit/GIJcXElBHHJZjEq77cQ9?p=preview](https://plnkr.co/edit/GIJcXElBHHJZjEq77cQ9?p=preview)

If you change region from Africa to Asia, the value in country is not immediately cleared as well as it lets us submit country without selecting it.

[2017-10-16 07:11] andrewtelnov commented on #718
@mellogarrett Why don't want to use the SurveyJS react version in this case?
To be honest, we have never try react + preact. The whole point of using preact, is to avoid using react libraries and as result decrease the size.

Thank you,
Andrew

[2017-10-16 07:37] andrewtelnov commented on #657
@gaurav-singhal Yes, I would consider this as bug. For some reason clearValue doesn't work correctly. I will take a look at it.
I think, I will be able to handle this scenario without clearValue. If there is a value and it exists in visibleChoices and after updating visibleChoices (for example getting new values from the restful service) the value doesn't exists in visibleChoices any more, then cl

[2017-10-16 08:11] andrewtelnov commented on #657
@gaurav-singhal I have fixed the bug, it will be available in the next minor release.
I will think about clearing the value automatically. It is not as easy as I think initially.

Thank you,
Andrew

[2017-10-16 08:43] gaurav-singhal commented on #657
Thanks. Saw the change that you did.

I tried three options to clear the value in question.choicesChangedCallback but it does not clear. Let me know when your changes are available in the release. Thanks!

[code]

[2017-10-16 09:49] editplus86 opened #719 "custom property choices attribute is not rendering properly"
I am adding a new "question base" property which is dropdown in nature like choicesOrder.
When it render to question edit model (Editor) it shows [object,object] in <select> and value for <option> not set.

Survey.JsonObject.metaData.addProperty("question", {name: "customProperty", choices: [ {"value": "USA", "text": "United States of America"}, {"value": "GBR", "text": "Great Britain"} ] });

Tha

[2017-10-16 12:08] dmitrykurmanov commented on #718
we don't support react 16 yet, I think we should try it

[2017-10-16 12:11] dmitrykurmanov opened #720 "React 16"
related to https://github.com/surveyjs/surveyjs/issues/718

need to support the latest react 16 version
https://reactjs.org/blog/2017/09/26/react-v16.0.html#breaking-changes

from @mikecousins  ( https://github.com/surveyjs/surveyjs/issues/703 ):

[2017-10-16 12:58] andrewtelnov commented on #719
@editplus86 There is a way to implement it by using this code:
[code]
However, I would agree that your code is cleaner. It doesn't support the localization, but the most people doesn't need it.
So I would consider this as a usability bug in API.

Thank you,
Andrew

[2017-10-16 12:59] andrewtelnov commented on #719
Here is the plunker example: https://plnkr.co/edit/TyxwpRfCnQDtcDROzfJC?p=preview

[2017-10-16 13:32] editplus86 commented on #719
Thank you Andrew,
The workaround is perfectly fine. 👍

[2017-10-16 13:32] #719 closed

[2017-10-16 13:55] andrewtelnov commented on #657
@gaurav-singhal I have implemented the clearing values on changing choices from restful service, if the value previous existed in the choices and then doesn't exists in the choices array.
It means, that from the next minor release you don't need to clear value, it should be done by the library.

Thank you,
Andrew

[2017-10-16 14:35] dmitrykurmanov commented on #703
please see https://github.com/surveyjs/surveyjs/issues/718

[2017-10-16 14:35] #703 closed

[2017-10-17 14:59] mnhospitals opened #721 "Editing a submitted survey by clientId"
I am wondering if there is any functionality to allow a user (clientId) to go back into a survey after they have submitted the survey and change their answers?

[2017-10-18 06:32] andrewtelnov commented on #721
@mnhospitals Are you talking about this API: http://api.dxsurvey.com/Help/Index?
It is intergrated into SurveyJS. I guess we may add a new method into our public API:
api/Survey/getClientResult?resultId={resultId}&clientId={clientId}
It will return the survey JSON result, if succeed.
Let me know if you need this functionality.

Thank you,
Andrew

[2017-10-18 13:06] juleslui opened #722 "Regex validation doesn't work with "other" values"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
A regex validator isn't fired when entering custom values on checkbox or radiogroup questions (through choosing the "Other" option). The validator fires fine with normal textbox questions.

### What is the expected behavior?
A regex validator is fired when entering custom values

[2017-10-18 13:11] juleslui opened #723 "Equivalent of ionViewCanGoBack"
### Are you requesting a feature, reporting a bug or ask a question?
Asking a question

### What is the current behavior?
The only available lifecycle events available are for if the user leaves the page by either popping or pushing a new one. I'd like a lifecycle event for just the former to check if the user decides to leave mid form instead of checking even when the form is accomplished and the

[2017-10-18 13:27] juleslui opened #724 "SortableJS Custom Widget making other elements draggable"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug and kind of asking a question at the same

### What is the current behavior?
Upon applying the provided example for the sortablejs custom widget, other elements in my survey started becoming draggable, and can sometimes be placed somewhere else on the page, messing up the entire UI. Pressing Next or Previous and c

[2017-10-18 14:01] noorball commented on #234
Thanks for the responces.
@andrewtelnov I tried the code in the demo, but failed to have a new property in question/page.
[code]
What may cause the problem?

@jasonracey Could you please clarify what do you mean by

[2017-10-18 14:22] andrewtelnov commented on #234
@noorball Where do you put this code? It should be placed before creating the survey.

Thank you,
Andrew

[2017-10-18 14:24] andrewtelnov commented on #722
@juleslui I just did not think about "other" value, but if there is the validator in the question, I guess, I may run it against the other value as well.

Thank you,
Andrew

[2017-10-18 14:28] andrewtelnov commented on #724
@juleslui There are a lot of code :-)
I am working on this functionality at the current moment: https://github.com/surveyjs/surveyjs/issues/714
Here is the new code for sortable list: https://github.com/surveyjs/widgets/blob/master/src/sortablelist.js
It becomes a new widget type. Let's come back to this issue on the next week. We are totally redesigning the way we are working with custom widgets.

[2017-10-18 14:30] andrewtelnov commented on #724
Forgot to say, this code https://github.com/surveyjs/widgets/blob/master/src/sortablelist.js, will not work with the current version. It requires new changes I have made in the library.
The old custom widget code should continue to work in the new version, but it would be better if you use a new approach. We will fix bugs in the widgets repo and we will support them.

Thank you,
Andrew

[2017-10-18 14:33] andrewtelnov commented on #723
@juleslui I am not sure, if I understood you correctly. Do you need this?
[survey.onCurrentPageChanged event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onCurrentPageChanged)
and [Page.visibleIndex property](https://surveyjs.io/Documentation/Library/?id=pagemodel#visibleIndex)

It will allow you to find out, if a user go to the next page or back.

Thank you,
Andrew

[2017-10-18 14:52] mnhospitals commented on #721
Hello Andrew,

Currently, when using the clientId functionality, when you render the survey it shows that they have entered. But we are looking for the ability to then edit those answers. So the process would be having the user fill out the survey, but once they render the survey again with the same clientId, instead of showing the message that they have already entered, show the survey with their

[2017-10-18 20:46] andrewtelnov commented on #721
@mnhospitals Just to be 100% clear, you are talking about our service, am I right?
In this case, we will add this functionality, maybe on the next week.

Thank you,
Andrew

[2017-10-19 00:00] juleslui commented on #723
Thank you so much for your reply, good sir, but this was my bad. I posted this on the wrong repository.

I'll be closing this now.

Sorry for the confusion.

[2017-10-19 00:00] #723 closed

[2017-10-19 05:10] noorball commented on #234
@andrewtelnov This code is put as in the demo code. As we see it doesn't create survey object explicitly.
[code]

[code]
My problem is I don't have 'tag' property in my view like in the screenshot below :(
![surveyjs-add-property](https://user-images.githubusercontent.com/3434216/31755004-588f3096-b4bd-11e7-8e14-17128ac63a7c.png)

[2017-10-19 06:57] andrewtelnov commented on #234
@noorball Could you please create a demo in plunker or fiddle?
We have a lot of examples with adding properties and I have never seen this issue.

Thank you,
Andrew

[2017-10-19 11:16] eladh commented on #643
hi @andrewtelnov

following up on this issue we also have issue regarding the **equals operator** on **checkbox**,
we developing MD editor that super users will be able to assign rules to the questions and in
checkbox its confusing because the users has to use **contains()** function and not the equals operator.

my question - is it possible to support also **== (equals)** operator when evaluating

[2017-10-19 14:31] andrewtelnov commented on #643
@eladh Do you mean if the constant is not an array, then deal with "equals" operator as "contains"?
I think it is better to give the ability to override the operator as you wish. The only problem, you need it only for arrays. Let me think...

I will probably add it the functionality by Monday, but if not, please ping me.

Thank you,
Andrew

[2017-10-19 14:39] andrewtelnov commented on #643
@eladh Another suggestion, what if I would add *= . It would  means **contains**.
Will it helps?

Thank you,
Andrew

[2017-10-19 14:50] andrewtelnov commented on #643
I have added '*=' support event if it doesn't help you.

Thank you,
Andrew

[2017-10-19 16:43] AndOne1974 opened #725 "ko version of the matrix looks broken"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

there is text displayed where there should be no text

### What is the expected behavior?

no text after the Radio button

### How would you reproduce the current behavior (if this is a bug)?

just navigate to the example ko page for matrix

#### Provide the test code and the tested page U

[2017-10-19 16:44] AndOne1974 commented on #725
![screenshot_1](https://user-images.githubusercontent.com/1571332/31783144-82c31d10-b4fd-11e7-97d2-41571f93e390.png)

[2017-10-19 17:27] rlouissidney opened #726 "Version 0.12.33 not working firefox 56"
But works with chrome, ie, opera
Tested page URL:  https://surveyjs.io/Editor/Editor/
### Specify your
TypeError: _this.sheet.addRule is not a function[En savoir plus]  survey.ko.js:14721:80
	StylesManager</StylesManager.prototype.initializeStyles/< https://surveyjs.azureedge.net/0.12.33/survey.ko.js:14721:80
	forEach self-hosted:269:13
	StylesManager</StylesManager.prototype.initializeStyles http

[2017-10-20 04:09] noorball commented on #234
@andrewtelnov Ahh, I fixed it. The problem occured because of adding the needless survey.jquery script.
    `<script src="https://surveyjs.azureedge.net/0.12.32/survey.jquery.js"></script>`
Once I removed it, everything worked like a charm.
Thanks!

[2017-10-20 06:14] rlouissidney commented on #726
Investigate a little, it  seems addRule doesn't exist in Firefox, use insertRule instead ?
http://help.dottoro.com/ljuucnct.php

[2017-10-20 06:18] andrewtelnov commented on #726
@rlouissidney Yes, we will fix it ASAP and release a new version.

Thank you,
Andrew

[2017-10-20 07:40] tsv2013 commented on #726
I've changed `addRule` -> `insertRule`

[2017-10-20 09:15] AndOne1974 commented on #725
fix confirmed on IE and FF, thx!

[2017-10-20 09:15] #725 closed

[2017-10-21 17:33] andrewtelnov commented on #722
@juleslui The bug is fixed. The fix will be available in the next minor update.

Thank you,
Andrew

[2017-10-23 06:41] gaurav-singhal opened #727 "Image selector with choices restful on iOS opens native select"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

I am using the image picker with dropdown and rest API calls. On iOS, it popsup the select native wheel even though it is later hidden. I am assuming that this happens because of rest as the sample given on your site works fine.

![img_1595](https://user-images.githubusercontent.com/269005

[2017-10-23 07:02] tsv2013 commented on #727
Can you post here the exact steps to reproduce this behaviour on our side? Is it reproducable with our examples?

[2017-10-23 09:06] gaurav-singhal commented on #727
See this [plnkr](https://plnkr.co/edit/e5kg8it3gB5hYBaziUQc?p=preview). Go prev/next and you will notice the select wheel.

[2017-10-23 09:21] guns81 opened #728 "add hasComment new property"
### Are you requesting a feature, reporting a bug or ask a question?
question

### What is the current behavior?
doesnt show nothing

### What is the expected behavior?
show second textbox

hi,
i'm trying to implement another hasComment property
i want to show 2 textbox. I have try to introduce in survejs (for jquery):

//__WEBPACK_IMPORTED_MODULE_1_react__["createElement"]("div", null, commentTex

[2017-10-23 12:17] tsv2013 commented on #727
Thank you for the provided sample. I'll check it and update this thread.

[2017-10-23 12:23] gaurav-singhal commented on #727
Thanks!

[2017-10-23 13:23] andrewtelnov commented on #728
@guns81 We are going to launch the new way of adding custom widgets and plug-ins in several days. Actually the code that support a new approach has been already released. You may take a look how to implement them by looking at these code: https://github.com/surveyjs/widgets/tree/master/src
Probably inputMask is the closest implementation: https://github.com/surveyjs/widgets/blob/master/src/inputma

[2017-10-23 19:02] mdickin opened #729 "Boolean values don't work in visibleIf expressions"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
`visibleIf` works fine when the values are not "True" or "False". If they are, then it fails to enable visibility.

### What is the expected behavior?
I would expect boolean values to either work as strings (`{MyValue} = 'True'`) or boolean values (`{MyValue} = true`)

I submit t

[2017-10-23 19:41] mdickin commented on #729
Looks like I can get it to work by doing `{MyValue} contains 'true'`

[2017-10-24 06:40] andrewtelnov commented on #719
@editplus86 After the next update, your code will work as well:
`Survey.JsonObject.metaData.addProperty("question", {name: "customProperty", choices: [ {"value": "USA", "text": "United States of America"}, {"value": "GBR", "text": "Great Britain"} ] });`

Thank you,
Andrew

[2017-10-24 07:09] P8888 opened #731 "Measuring time spent on each page (screen)"
Hi,
I would like to measure time spent on each question (screen) in my questionnaire. Can anyone help me how to do that using javascript? :) Thank you in advance.

[2017-10-24 07:40] gaurav-singhal opened #732 "example of How to set custom properties in choices restful"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
Need an example for setting choices restfull custom properties in lib as well as editor. There was a commit recently. So what it changes for us. [commit](https://github.com/surveyjs/surveyjs/commit/176fa520f4f75442149a65319fd1114b383e8309)

### What is the expected behavior?

### How wo

[2017-10-24 07:51] tsv2013 commented on #727
Hi, @gaurav-singhal
You need to set
`"focusFirstQuestionAutomatic": false,`
survey option.

You can check the modified [plunk](https://plnkr.co/edit/5SfXPoWxGH6r7W6zo53s?p=preview).

[2017-10-24 08:04] tsv2013 commented on #732
Are you talking about [this](https://surveyjs.io/Examples/Library/?id=questiontype-dropdownrestfull&platform=jQuery) example?

[2017-10-24 08:08] gaurav-singhal commented on #732
No I am talking about an example where we can create and access the custom properties in choices restfull. It was working earlier in 0.12.26 but after taking the latest version of 0.12.34 these properties are no longer accessible. So am just wondering if you have change the way.

      `  Survey.JsonObject.metaData.addProperty("itemvalue", "name");`

[2017-10-24 08:24] gaurav-singhal commented on #727
Thanks!

[2017-10-24 08:24] #727 closed

[2017-10-24 08:35] gaurav-singhal commented on #657
Thanks!

[2017-10-24 08:35] #657 closed

[2017-10-24 08:45] gaurav-singhal commented on #615
The latest build 0.12.34 is not supporting this and value returned is undefined.

[2017-10-24 09:31] guns81 commented on #728
thanks for the answer
but i cant undestand how to use it.
this will set an input mask on existing textbox am i right?
i need to add a new one with another property like hasComment

let me know and thanks

[2017-10-24 12:12] andrewtelnov commented on #729
@mdickin Yes, it is definately the bug. I have fixed it, the fix will be available in the next minor release.

Thank you,
Andrew

[2017-10-24 12:13] mdickin commented on #729
Awesome, thanks for the quick turnaround! I love the library.

[2017-10-24 13:03] andrewtelnov commented on #731
@P8888 Here is the example: https://plnkr.co/edit/ZxIQLg?p=preview

Thank you,
Andrew

[2017-10-24 13:26] andrewtelnov commented on #732
@gaurav-singhal I have just checked it is here: https://plnkr.co/edit/zuP2xLI0zvUpRXuv9mag?p=preview
I have debuged it and name property is here in run-time as well.

You may now do this:

`Survey.JsonObject.metaData.addProperty("itemvalue", {name: "name", default: "myDefaultText"});`

All values will be myDefaultText by default in run-time.

Thank you,
Andrew

[2017-10-24 14:15] andrewtelnov commented on #615
@gaurav-singhal Choices restfull doesn't work correctly for your code. I have fixed this issue. The next version should be fine.

Thank you,
Andrew

[2017-10-24 14:21] andrewtelnov commented on #728
@guns81 the code just shows the approach. So what is your goal?
You are having hasComment property. Now you want to have hasComment2 boolean property?
If i is set, then show the text box that get/set value as
[code]
Something like that?

Thank you,
Andrew

[2017-10-24 15:02] P8888 commented on #731
Thank you very much!
And is it possible to save the information about the time directly on the server into the results from the survey? So that there will be for example an extra column with all the times spent on page for each respondent?

Thank you!
P.

[2017-10-24 15:11] P8888 commented on #731
Thank you very much for your response!

[2017-10-24 18:43] enricribas opened #733 "Radio button input not initially focused"
### Are you requesting a feature, reporting a bug or ask a question?

bug. it seems or doing something wrong again

### What is the current behavior?

focus on first input does not seem to work with radio buttons

### What is the expected behavior?

I would expect to be able to switch to other radio button with arrow keys if input was selected

### How would you reproduce the current behavior (if

[2017-10-24 19:27] andrewtelnov commented on #733
@enricribas Do you want to focus the first input on the first page?

Thank you,
Andrew

[2017-10-24 20:00] andrewtelnov opened #734 "Override condition operators functions"
Add two static functions into Condition class:
public static getOperator(opName: string): any - returns the operator function
public static setOperator(opName: string, func: (left: any, right: any) => boolean) set the operator functions.
Here is the exampe of using:
[code]

[2017-10-25 02:18] juleslui commented on #722
Thank you so much! How would I know when it's out? I'm currently using the survey-angular package.

[2017-10-25 02:18] #722 closed

[2017-10-25 13:02] andrewtelnov opened #735 "knockout platform: on loading survey, visibleIf may do not work correctly"
If a question has visibleIf expression or visible equals false, it located inside the panel and startWithNewLine set to false, then it shows in the survey regardless that the question is invisible.

[2017-10-25 14:02] gaurav-singhal commented on #732
As mentioned above want an example for choices restful but the example you are showing is direct adding in choices. I think you have already mentioned in #615 that it was a bug and you have fixed it. waiting for release now.

[2017-10-25 15:22] guns81 opened #736 "matrixdropdown trigger on a field"
### Are you requesting a feature, reporting a bug or ask a question?
question

Hi Again and thanks for your work.
I have a question about matrixdropdown element.
If i have 2 questions in two rows is possibile to enable the second row only if a field in first row answer is for example "Yes" ?

thanks a lot

[2017-10-25 17:17] enricribas commented on #733
yes, please. I think that makes the most sense, at least for us

[2017-10-25 20:03] andrewtelnov commented on #736
Hi,
Here is the example: https://plnkr.co/edit/u1Obq5T4fX0Rc3hJA3AI?p=preview

Thank you,
Andrew

[2017-10-25 20:05] andrewtelnov commented on #733
@tsv2013 Let's add the code that will focus the first question on published page in our service:
`survey.focusFirstQuestion();`
call it right after the initial rendering.

Thank you,
Andrew

[2017-10-25 20:29] akmr9 opened #737 "Can we use intl-tel-input JQuery plugin with Survey.js?"
### Are you requesting a feature, reporting a bug or ask a question?
requesting a feature

### What is the current behavior?

### What is the expected behavior?
Have a country code drop down on the existing telephone field.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

[2017-10-25 22:23] akmr9 commented on #737
Can we also use stuff like Ladda button spinner.  Because when I do Ladda.Create() it is throwing an error.

[2017-10-26 05:51] tsv2013 commented on #733
@andrewtelnov Done
@enricribas I've updated the sites. Please check.

[2017-10-26 08:16] andrewtelnov commented on #737
@akmr9 We are going to introduce new way of adding custom widgets into our library in several days. In fact the code is already in the released version. Here is the code for inputMask: https://github.com/surveyjs/widgets/blob/master/src/inputmask.js

Thank you,
Andrew

[2017-10-26 08:56] guns81 commented on #736
ok thanks for the example
but this works also for 2 questions in different rows?
thanks a lot

[2017-10-26 09:00] andrewtelnov commented on #736
@guns81 Just add one more variable and modify the example accordingly based on your needs.

Thank you,
Andrew

[2017-10-26 09:11] dmitrykurmanov commented on #737
and the example: https://surveyjs.io/Examples/Library/?id=custom-widget-inputmask&platform=jQuery

[2017-10-26 09:20] care46 opened #738 "Value of answer before hiding"
Hi, i have this case:

- 1 standard text answer
- 1 answer with custom widget

The answer with custom widget have a visibleIf condition like {question1 = 'hello'}
The survey have the clearInvisibleValue property like "onHidden"

well, when i write hello on first answer, the second question disappear and custom widget call the function "willUnmount: function(question, el)", but when this function i

[2017-10-26 10:16] guns81 commented on #736
this is what i do based on your example:

Survey.Survey.cssType = "bootstrap";
Survey.defaultBootstrapCss.navigationButton = "btn btn-green";

window.survey = new Survey.Model({questions: [
{ type: "matrixdropdown", name: "frameworksRate", title: "Please tells us your opinion about JavaScript MVVM frameworks",
    choices: ["Excelent", "Good", "Average", "Fair", "Poor"],
    columns: [{ name: "usi

[2017-10-26 12:46] andrewtelnov commented on #736
@guns81 I have updated the example: https://plnkr.co/edit/u1Obq5T4fX0Rc3hJA3AI?p=preview

Thank you,
Andrew

[2017-10-26 12:53] tsv2013 commented on #738
Can you introduce a local variable (or property in the question) for previous value, use it's value on widget init and update it on value changed?

[2017-10-26 13:03] guns81 commented on #736
Thanks Andrew,

You have Just added another question on the same Matrix am i right ?
I have 2 Matrix and i need to make an interaction from first to second

Thnks

[2017-10-26 13:04] andrewtelnov commented on #738
@care46 clearInvisibleValue will call clearValue method on making the question invisible.
If you set clearInvisibleValue to "onComplete" you get the behavior you need.

Thank you,
Andrew

[2017-10-26 13:10] care46 commented on #738
@tsv2013 great idea!

[2017-10-26 13:10] #738 closed

[2017-10-26 13:35] andrewtelnov commented on #736
@guns81 I see the issue. For some reason pReact doesn't update the rootQuestion/matrix. I made a workaround: https://plnkr.co/edit/k1Q8cHUkHCEbd641g5tW?p=preview

Thank you,
Andrew

[2017-10-26 16:07] mnhospitals commented on #692
This still does not allow for the clientId to be passed in the REST API call to https://surveyjs.io/api/MySurveys/getSurveyResults.

[2017-10-26 16:13] care46 opened #739 "widget in matrixdynamic"
hi, i have added a custom widget in matrixdynamic to have a different view and function in one column of the table..

My case is:
- matrixdynamic with only one column drawn by a custom widget based on a text type question

My problem is this:
- if i have 2 row in table, and i remove the second row, when i am in willUnmount widget function, the property question.id, question.value ecc  is relative

[2017-10-26 17:18] g87 opened #740 "isExpanded and isShowing properties"
Hi,
I'm having some trouble getting  properties isExpanded or isShowing.
For some reason it returns undefined.
I'm using version 0.12.34

I've created an object using the following code.
`var survey = new Survey.Model(surveyJSON);
survey.isShowing`
Does not return any value.

The Survey itself seems to work fine, I've managed to include it in my webpage and it shows up in the corner.

I'm not sure

[2017-10-26 20:15] andrewtelnov commented on #692
@tsv2013 Could you please check it out?

Thank you,
Andrew

[2017-10-26 20:18] andrewtelnov commented on #740
@g87 Please the following mode:
[code]

Thank you,
Andrew

[2017-10-26 20:21] andrewtelnov commented on #739
@care46 Could you please provide us with an example?

Thank you,
Andrew

[2017-10-26 23:02] g87 commented on #740
@andrewtelnov

I've just tried this and survey.isShowing still returns undefined.
I'm wondering if I'm using it correctly.
I'm also have:
`var surveyWin = new Survey.SurveyWindowModel(surveyJSON);`

 ` $("#surveyContainer").SurveyWindow({
            model: surveyWin.survey,
            onComplete: sendDataToServer
        });`

[2017-10-27 01:30] legreco commented on #649
I have the same problem, i tried
[code]
but it doesnt work

[2017-10-27 05:27] dmitrykurmanov commented on #649
@legreco, what version of the surveyjs do you use?

[2017-10-27 06:35] tsv2013 commented on #692
This is the page with the results of my survey
![image](https://user-images.githubusercontent.com/3013415/32090712-69231354-baf9-11e7-9282-65a0adefc4da.png)
As you can see client IP address is accessible.
But first you should turn this option on.
Another reason - your result columns can be customized and you need to show corresponding column.
And by default client ID column doesn't visible in publ

[2017-10-27 06:43] tsv2013 commented on #692
@mnhospitals @andrewtelnov I'll check the API right now

[2017-10-27 06:58] tsv2013 commented on #692
@mnhospitals @andrewtelnov
The `IPAddress` column is present in the API results as well:
![image](https://user-images.githubusercontent.com/3013415/32091536-4ff785aa-bafd-11e7-9184-062e7cca4ad2.png)

[2017-10-27 07:01] guns81 commented on #736
Oh! thanks!! you are the best :+1:

so i have to ask you something...
with normal question i was using enableIf property to disable questions based on previous answer.

if i have tree Matrix and i need to enable the third Matrix if the answer on first is Yes for example do u think i need to add a property for every field and use it?

thnks again!

[2017-10-27 07:09] care46 commented on #739
@andrewtelnov  ok i made an example in plunker

https://plnkr.co/edit/mwsipOEupQnGPcR00vAD?p=preview

I have set a custom widget, and in willunmount function i put an alert of question.value

If you put a value in first row and a different value in second row, then you remove the first row, you will see that the alert return the value of the row that remain in table and not the value that you remo

[2017-10-27 08:25] andrewtelnov commented on #740
@g87 I will add an example
Here is the code:
[code]

Thank you,
Andrew

[2017-10-27 08:58] andrewtelnov opened #741 "Survey Window does not work for knockout platform"

[2017-10-27 11:09] legreco commented on #649
I am using survey-jquery@0.12.34.

[2017-10-27 13:10] andrewtelnov commented on #736
@guns81 For some reason enableIf doesn't work here. I did not have time to look at it. I will do it soon. Likely there is a bug, but I do not understand where exactly.
The following code should work:
[code]
I will investigate what is wrong here and let you know.

PS: I will mark it as bug, to make sure I do not forget about it. Please do not close it.

Thank you,
Andrew

[2017-10-27 13:13] andrewtelnov commented on #740
@g87 I'm trying to make the example and I do not like the way it works right now. I will improve API on the next week and finish with the example.

Thank you,
Andrew

[2017-10-27 13:26] andrewtelnov commented on #739
@care46 Yes, I got the issue now. It looks like a bug to me. I will work on the fix.

Thank you,
Andrew

[2017-10-27 13:29] andrewtelnov commented on #722
@juleslui The new version is released.

Thank you,
Andrew

[2017-10-27 14:32] andrewtelnov commented on #739
@care46 I have fixed the issue. matrix dynamic row use incorrect key.

Thank you,
Andrew

[2017-10-27 14:36] editplus86 opened #742 "How to set timer for question and page"
### Are you requesting a feature, reporting a bug or ask a question?
question/feature

### What is the current behavior?
not found this functionality

### What is the expected behavior?
I have requirement to create multi page quiz questionnaire having timer for question and page.
Surveyjs is good fit for this but needs an additional feature or solution how to implement.

Assume I have create custo

[2017-10-27 15:03] editplus86 opened #743 "Wysiwyg html editor plugin for "HTML Editor" textarea in HTML question"
### Are you requesting a feature, reporting a bug or ask a question?
feature/bug

### What is the current behavior?
Wysiwyg html editor not working with HTML Editor tab textarea

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: https://plnkr.co/edit/9HTarj8PBI0EBuwLnzZQ?p=preview
Add HTML type question and click on Edit, Click on "Html Editor", textarea should b

[2017-10-27 15:08] #733 closed

[2017-10-27 18:59] andrewtelnov commented on #742
@editplus86 Right now it can be done with some coding, here is an [example with timer](https://plnkr.co/edit/ZxIQLg?p=preview)
You will need to create the [custom navigation](https://surveyjs.io/Examples/Library/?id=survey-customnavigation) to remove the "previous" button.
Here is one more example that you may want to see: https://surveyjs.io/Examples/Library/?id=survey-autonextpage

I like the id

[2017-10-27 19:10] andrewtelnov commented on #743
@editplus86 I would suggest to use the latest version 0.12.35, since some bugs have been fixed in Property Editors. However, there is no build-in way to override the property editor yet.
We want to add the ability to override the current properties. For example "text" and "html" with a popular markdown/html editors.

Thank you,
Andrew

[2017-10-27 19:14] andrewtelnov commented on #743
@editplus86 There is a defaultValue property now. You may want to introduce correct answer property with the same type.
In the previous post, I suggested to work together on the quiz functionality.
We may introduce the correctAnswer. We may even encrypt/descrypt it (something really simple). In this case the correct answer will not be seen on the page.

Thank you,
Andrew

[2017-10-27 21:16] legreco commented on #721
i want to save and edit incomplete survey to my backend?
How can i do that?

[2017-10-28 04:45] editplus86 commented on #743
Thanks Andrew :)
Appreciate your prompt reply.
I would love to work with you infect have created several other type of questions (required for quiz) in a separate plnkr which I will share with you soon for your review and feedback.
I found SurveyJs is not only good fit for Survey functionality but also quiz and online test web application.
Needs few more enhancement in editor to have more flexibil

[2017-10-28 10:59] andrewtelnov commented on #721
@legreco survey.data contains the survey result as JSON. You may save them onCurrentPageChanged event, https://surveyjs.io/Documentation/Library/?id=surveymodel#onCurrentPageChanged
and onComplete event.
You may do it on timer, let's say every 60 seconds, it is up to you.

Thank you,
Andrew

[2017-10-28 12:41] andrewtelnov opened #744 "Set all survey model properties and events in declarative way in react, angular and jquery."
All survey model properties and events have to be set in declarative way,
For example:
[code]
It should be the same as:
[code]

[2017-10-28 13:30] andrewtelnov commented on #736
@guns81 I have fixed the bug. From the next minor version, the visibleIf/enableIf assign onMatrixCellCreated will work as expected.

Thank you,
Andrew

[2017-10-29 11:10] andrewtelnov commented on #740
@g87 I have redesined the API for survey window.
The old code I have past here, will continue to work. From the next minor update you will be able to use the following code:
[code]
surveyWindow have the following properties and methods:
expand(), collapse() and isExpanded property on get/set
hide(), show() and isShowing property on get/set

`<button onclick="surveyWindow.show()">Show Survey Window

[2017-10-29 14:27] andrewtelnov opened #745 "Make it possible to create a quiz"
Required functionality
- Disable previous button (**done**)
- Enable timer to calculate time spent on survey and on every page (**done**)
- Time limitation for survey/page - go to the next page/ complete the quiz + show the time (spent/left) (**done**)
- timer panel with progress (**done**)
- Right answers (**done**)
- Answers cost and score calculation

[2017-10-30 07:58] care46 commented on #739
@andrewtelnov if i try with my plunker example, it will be ok?

[2017-10-30 08:07] andrewtelnov commented on #739
@care46 I have just tried it: https://plnkr.co/edit/RiGlwBcOAOBKIhnzC1iQ?p=preview
and it doesn't delete the correct rows :(((
Let me go back to the issue...

[2017-10-30 08:17] andrewtelnov commented on #739
@care46 Arh, I see the reason: https://github.com/surveyjs/surveyjs/commits/master
The release was made before I have fixed the bug. It works fine locally, but not in the release version.
We will do the next release on this week. I may prepare the dev version if you need the fix ASAP.

Thank you,
Andrew

[2017-10-30 08:18] care46 commented on #739
@andrewtelnov ok perfect, i can wait the next version! ;)

[2017-10-30 08:40] andrewtelnov commented on #743
@editplus86 I have create two new issues:
https://github.com/surveyjs/surveyjs/issues/745
https://github.com/surveyjs/editor/issues/185

Thank you,
Andrew

[2017-10-30 08:47] guns81 commented on #736
is this fix on 0.12.35?

thank you Andrew

[2017-10-30 12:53] andrewtelnov commented on #736
@guns81 Unfortunately not, I have fixed it on the next day after 0.12.35 has been released.

Thank you,
Andrew

[2017-10-30 14:04] mnhospitals commented on #721
Does this also work with completed surveys? And how would I get the data out from the service by clientId. e.g loadSurveyFromService(clientId)

[2017-10-30 15:17] g87 commented on #740
@andrewtelnov
The changes sound good.
When will the new version be released?

[2017-10-30 15:20] tsv2013 commented on #721
@mnhospitals Currently our service hasn't functionality that returns result data by resultId and clientId. You can obtain only whole results data array. Could you please specify - what manipulations you want to do with already posted data for completed survey? What is your certain scenario?

More over - I see potential privacy violation problems if we will have public API that will return de-anony

[2017-10-30 15:32] andrewtelnov commented on #740
@g87 Definately on this week.

Thank you,
Andrew

[2017-10-30 18:23] madceb opened #746 "Custom Widget loaded value missing?"
### Are you requesting a feature, reporting a bug or ask a question?
question, possible bug?

### What is the current behavior?
if json data is loaded the value is no where found in widget, is different since version 0.12.32

### What is the expected behavior?
To have the loaded value available to pre select or display data

### How would you reproduce the current behavior (if this is a bug)?
in 0

[2017-10-30 21:00] andrewtelnov commented on #746
@madceb Yes, I have changed gettting values from restful services. The property is still there, however it is better do not use it, it is a private property. What do you want to achieve?

Thank you,
Andrew

[2017-10-31 02:22] madceb commented on #746
Hello @andrewtelnov, what I'm trying to do it is to preselect in the select2 widget a previously saved data. Using the property mentioned I used to do it in 0.12.32 and back version.
Thanks,

[2017-10-31 05:47] andrewtelnov commented on #746
@madceb You may take a code from here: https://github.com/surveyjs/widgets/blob/master/src/select2.js
It supports preselect.
We are going to release new custom widgets approach on this week.

Thank you,
Andrew

[2017-10-31 12:51] care46 commented on #739
@andrewtelnov  I have another question, the willonmount function will be called when I remove a row from a table, or when the question is hidden under condition, but it is also called when page change in the survey.. there is an option to locate when they are in the case of a "change page" and not in "hidden" case?

[2017-10-31 13:26] tsv2013 commented on #739
@care46 If we'll take a look into the [custom-widget.tsx](https://github.com/surveyjs/surveyjs/blob/master/src/react/custom-widget.tsx) file, the `render` function is look like
[code]
If question is invisible, it is not rendered. Similar code is written in the `matrixdynamic` cell renderer.

So in both cases (row removal/question hiding) element will not be rendered and should be removed from DOM.

[2017-10-31 13:32] tsv2013 commented on #736
@guns81 We'll do our best.

[2017-10-31 19:03] wollerman opened #747 "Integrating Ionic NavController into onComplete"
I'm still learning the ropes of surveyJS and Ionic/Angular, so this might be a silly question and hopefully you don't mind. I'm also duplicating this request from an[ ionic surveyjs example](https://github.com/abritopach/ionic-surveyjs/issues/1).

I'm trying to integrate the navcontroller into my survey component:
[code]

When the page gets rendered I see the navcontroller in the console as expect

[2017-10-31 20:13] madceb commented on #746
Thanks @andrewtelnov, I'll be looking forward for the new widgets approach.
Excellent work.
Regards,

[2017-11-01 07:02] tsv2013 commented on #747
It could be caused by the wrong context. Could you check in the browser debugger console - what the "this" object is inside the doPop(), when it's being called?
If the "this" object is not an instance of the SurveyComponent, you can fix it using fat arrow function declaration:
[code]

[2017-11-01 16:41] wollerman commented on #747
That did the trick! Thanks!

It seems like at that point in time the context is a list of functions with the first being `doPop`.  So it's definitely not an instance of SurveyComponent.

Seems like I need to understand ES6 better. Going to dive into that.

[2017-11-01 16:42] #747 closed

[2017-11-02 22:42] akmr9 opened #748 "How to validate if atleast one text field is entered out of three text fields?"
### Are you requesting a feature, reporting a bug or ask a question?

Yes

### What is the current behavior?

### What is the expected behavior?

I have three text fields and I want to validate if atleast one is entered out of three.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[2017-11-02 22:44] akmr9 commented on #737
got it Thanks.

[2017-11-02 22:44] #737 closed

[2017-11-03 06:29] tsv2013 commented on #748
You need to process onValidateQuestion event, as shown in this example - https://surveyjs.io/Examples/Library/?id=validators-event&platform=jQuery

[2017-11-03 06:35] andrewtelnov commented on #748
@akmr9 Here is the plunker example: https://plnkr.co/edit/LnCbZm?p=info

Thank you,
Andrew

[2017-11-03 08:29] dprogaki commented on #676
Hi guys! Any news on this one?

[2017-11-03 12:22] andrewtelnov commented on #676
@dprogaki Unfortunately we have posponed this functionality.
Aftere releasing the first version we are going to re-write the our expression functionality. If we implement it for every items in dropdown/checkbox/radiogroup as it is now, it will kill the performance the survey if there are any question with a lot of items.
But it is still in our radar.

Thank you,
Andrew

[2017-11-03 16:07] care46 commented on #739
@andrewtelnov i see that the version was updated at 0.12.36, but if i try with plunker example, the bug was the same... maybe the fix is not in 0.12.36 but will be in 0.12.37?

thank you

[2017-11-03 16:08] care46 commented on #739
@andrewtelnov sorry, i have js in cache, it seems to be ok... now i try!

[2017-11-03 16:15] guns81 commented on #736
hi and thanks for your work,
i've seen the release 0.12.36 but if i try to set enableif on the online editor it doesn't work
i've try this for example:
{p1_d1} = 'Yes' on the p2_d2 question

thanks

[2017-11-03 19:46] andrewtelnov commented on #736
@guns81 It works fine to me: https://plnkr.co/edit/aoQvM1gmbJK8Nrk5v92H?p=preview

Thank you,
Andrew

[2017-11-04 02:00] leslieaimone opened #750 "Boolean questions not numbered."
### Are you requesting a feature, reporting a bug or ask a question?
Possible bug.

### What is the current behavior?
I have a survey of numbered questions. My Boolean type is not numbered. I happen to have it directly after a checkbox question so it looks like it's just another option for the checkbox question.

### What is the expected behavior?
I feel it should be numbered just like the other q

[2017-11-04 02:13] leslieaimone commented on #750
Of course as soon as I wrote this I realized that if you add a title, it numbers properly. I can live with that.

[2017-11-04 02:13] #750 closed

[2017-11-06 12:16] AhsanShafique opened #751 "Browser Back button no working to go to previous question."
### Are you requesting a feature, reporting a bug or ask a question?
Ask A question

### What is the current behavior?
Browser Back not working to go to previous step

### What is the expected behavior?
Wanna use browser back button to go to previous question

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

T

[2017-11-06 12:44] andrewtelnov commented on #751
@AhsanShafique I guess you are talking about next/prev buttons and back button. You can implement this functionality by yourself by using survey.onCurrentPageChanged event. The implementation is depended from the platform you are using.

Thank you,
Andrew

[2017-11-06 15:48] maddog72 opened #752 "Angular SPA and SurveyWindow Expand/Collapse Link"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?
When using the surveyjs component in an Angular SPA webapp, opening the collapsed survey window will display the survey momentarily and then the browser opens the Angular route defined as the root of the site.

### What is the expected behavior?
The surveyjs collapsed window sho

[2017-11-06 16:25] mdickin opened #753 "Custom control support for multipletext"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature

### What is the current behavior?
I have a custom control for text inputs with `inputType = 'tel'`. This works fine for a single text question, but for `multipletext` inputs with `inputType = 'tel'`, the library does not detect it.

### What is the expected behavior?
I would like to have custom control suppo

[2017-11-06 16:42] care46 commented on #739
IT'S OK!!!

[2017-11-06 16:42] #739 closed

[2017-11-07 03:26] andrewtelnov commented on #753
@mdickin It is one multiple text item level. Here is the example: https://plnkr.co/edit/itDld0Kmy2H461OHG5lY?p=preview

Thank you,
Andrew

[2017-11-07 04:48] AhsanShafique commented on #751
Hi Andrew,
I am taking about browser back button. is there any possibilities that browser back button works like previous button.

Please find attachment for further reference.

![2017-11-07_0943](https://user-images.githubusercontent.com/28631001/32477515-9d42e768-c3a0-11e7-865c-c1d3486d7517.png)

[2017-11-07 05:06] andrewtelnov commented on #751
@AhsanShafique I have understood you in the first message.
As I told, you have to implement it by yourself, based on your SPA logic and framework you are using: angular, react... We can't control it on widget level.
Please take a look at this example: https://surveyjs.io/Examples/Library/?id=survey-customnavigation
You have to hide the build-in navigation and render your own.
You have to change th

[2017-11-07 12:33] tsv2013 commented on #752
I've fixed it - changed 'a' tag to the 'span' thus got rid of navigation. Fix will be available in the nearest minor update.

[2017-11-07 18:05] andrewtelnov commented on #753
@mdickin Here is the code that should help you: https://github.com/surveyjs/widgets/blob/master/src/inputmask.js
We are going to release a new way of creating custom widgets. However, the code is already working in the latest version.

Thank you,
Andrew

[2017-11-07 18:41] andrewtelnov opened #754 "Support expression in conditions (visibleIf and enableIf)"
It should be possible to use expressions in the conditions, for example:
visibleIf: "({question1} + {question2} + {question3}) / 2 >= 3";

[2017-11-07 18:48] mdickin commented on #753
That's perfect, thank you for your help!

[2017-11-07 18:48] #753 closed

[2017-11-07 23:33] akmr9 commented on #748
Works great. Thanks.

[2017-11-07 23:33] #748 closed

[2017-11-08 03:24] akmr9 opened #755 "Is there a default way in surveyjs to achieve the bootstrap-show-hide password functionality"
### Are you requesting a feature, reporting a bug or ask a question?

asking a question/ requesting a feature

### What is the current behavior?

### What is the expected behavior?

Is there a default way in surveyjs to achieve the bootstrap-show-hide-password plugin functionality or should we do that with custom widgets?

### How would you reproduce the current behavior (if this is a bug)?

####

[2017-11-08 19:15] wollerman opened #756 "Display Multiple Pages in Single View?"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question.

### Question
Is it possible to render all pages in a single view? I'm looking to make a sort of single page survey where by clicking 'next' instead of hiding/showing things, the view scrolls down to the next surveyjs page.

I can implement all questions on a single page and simply have custom navigation that

[2017-11-08 20:36] andrewtelnov commented on #754
The functionality is implemented. I have to add more unit tests to check complex scenarios.

[2017-11-08 20:42] andrewtelnov commented on #756
@wollerman I would create another json, where I would change the pages on panels and put them on one page. Another option,  create a Survey model from Json and before rendering create another Survey Model with one page and add for every page create a panel in the second and move all pages elements into panels.

Thank you,
Andrew

[2017-11-08 22:47] wollerman commented on #756
@andrewtelnov that makes sense. Thanks! A quick follow up: is there a way to style panels? I tried looking around first and found @648 which suggests there is no class being generated for panels.

[2017-11-08 22:50] wollerman commented on #756
Actually looking at the [custom CSS page](https://www.surveyjs.io/Examples/Library?id=survey-customcss&platform=Angular2) seems to provide what I need. Thanks again!

[2017-11-08 22:50] #756 closed

[2017-11-09 07:19] andrewtelnov opened #757 "New question: ExpressionQuestion"
A read-only question, rendered by div. It has expression property that used for calculation.
For example expression = "{quantity} * {price} * getdiscount({quantity})";
where getdiscount is a registered function.

[2017-11-09 07:39] Ourdesignz123 opened #758 "Change Response"
Hi Team

I want to change the response of survey js from Thank you for completing the survey! to something else.

Will i be able to change using and js code

Please revert ASAP!

Thanks

[2017-11-09 07:50] andrewtelnov commented on #758
@Ourdesignz123 survey.completedHtml = yourvalue;

Thank you,
Andrew

[2017-11-09 10:06] Ourdesignz123 commented on #758
function sendDataToServer(survey) {
    survey.sendResult('5db2de91-9d2a-4478-bcdd-907844cf2132');
}

var survey = new Survey.Model(surveyJSON);
$("#surveyContainer").Survey({
    model: survey,
    onComplete: sendDataToServer,
    completedHtml: "​<p><h4>Thank​ ​ you​ ​ for completing​ ​ the​ ​ survey.​ ​ ​ Our​ ​ mortgage​ ​ specialist​ ​ will​ ​ be​ ​ in​ ​ touch​ ​ shortly.​ ​ ​ In​ ​ the​ ​

[2017-11-09 10:23] miguel1989 opened #759 "Checkbox select / unselect bug in VUE only."
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
Go to https://surveyjs.io/Examples/Library/?id=questiontype-checkbox&platform=Vue

1) select checkbox1
2) select checkbox2
3) unselect checkbox2
4) unselect checkbox1
5) select checkbox2
6) checkbox1 & checkbox2 both are selected

### What is the expected behavior?

at step6 only

[2017-11-09 12:53] andrewtelnov commented on #758
You may try this:
[code]
Here is the example: https://plnkr.co/edit/v5qMnCSGYKXQRWOB8q5C?p=preview

Thank you,
Andrew

[2017-11-10 02:24] john1625b commented on #585
Your redux branch helped me a lot, thanks a lot. Also I now understand how survey js stores its data in the model object.

Thanks again

[2017-11-10 08:44] miguel1989 commented on #759
thank you

[2017-11-10 10:44] dmitrykurmanov commented on #585
Good! It's weird, but I do not see this branch now, was it in this repository?

[2017-11-10 10:57] andrewtelnov opened #760 "Question title on the left"
Currently question title can be located on the top or the bottom.
A lot of forms required title to be located on the left. It makes sense for questions rendered in one line, like textbox.

Thank you,
Andrew

[2017-11-12 08:21] andrewtelnov opened #761 "Add property questionTitleLocation into Panel and Page"
There is no way to define title location on Page and Panel level right now.
There should be: "default", "top" and "bottom" possible values. If "default" value is set then the value should be taken from parent Panel/Page or from the survey questionTitleLocation property.

[2017-11-13 08:36] care46 opened #762 "Problem with visibleIf in jquery Version"
Hi, i have found this bug.. this is an example

https://plnkr.co/edit/1Zm11LjQe03DQtpiLy7U?p=preview

I have a problem with visibleIf formula in this format "01-01-2018"

If i have a question with visibleIf property set like "{question1} == '01-01-2018'", the formula match only the first 2 character... if in question1 i write '01-01-2018' or '01-02-2018' the second question is visible... if i writ

[2017-11-13 08:58] andrewtelnov commented on #762
@care46 I have started to use parseFloat to check if the string is number or not. I did not know that it can convert the expression as well.
Anyway the issue is fixed. The fix will be avaliable in the next minor update.

Thank you,
Andrew

[2017-11-13 10:12] morphet81 opened #763 "Vue.js - Survey model cannot be a computed property"
### What is the current behavior?
If the survey model is set as a computed property, the first page is displayed correctly but navigation buttons in the survey do not work.

### What is the expected behavior?
It should be possible to set the model as a computed poperty or to mention clearly it cannot.

### How would you reproduce the current behavior (if this is a bug)?
Set the model as a computed

[2017-11-13 20:01] robinwkurtz commented on #751
Hey @andrewtelnov, is there any documentation on the url hash?

I'm not able to change my current page based on the name or number (#pageNo-0 (#pageNo-1))

Thanks!

[2017-11-13 20:14] brunobg opened #764 "Not filled rows in matrix with required answers"
### Are you requesting a feature, reporting a bug or ask a question?
Feature/question

### What is the current behavior?
Matrices print a single error "Please answer questions in all rows."

### What is the expected behavior?
In very large matrices, it is hard to find which rows were not filled, particularly in mobile. Is there a way to get a callback and change their style so they are easily noti

[2017-11-14 05:47] tsv2013 commented on #751
@robinwkurtz This functionality isn't implemented inside the SurveyJS package. Because it strongly depends on the certain application implementation. Thus there is no documentation describing the format of the page hash. As @andrewtelnov mentioned earlier, you can implement custom navigation on your own way: via subscribing "hash changed" event, or application routing event.

[2017-11-14 05:49] tsv2013 commented on #763
@morphet81 Could share the plunker (or another sandbox/application) example, illustrating the problem, to check it on our side?

[2017-11-14 08:09] care46 opened #765 "Clear value "onHidden" not working with panel condition"
Hi, i have this case:

{
 clearInvisibleValues: "onHidden",
 pages: [
  {
   elements: [
    {
     type: "text",
     name: "question3"
    },
    {
     type: "panel",
     elements: [
      {
       type: "checkbox",
       choices: [
        "item1",
        "item2",
        "item3"
       ],
       name: "question2"
      }
     ],
     name: "panel2",
     visibleIf: "{question3} = 'hello'"

[2017-11-14 09:29] andrewtelnov commented on #765
@care46 It is hard to say, is it a bug or not. We do not clear the value recursively for elements in the panel. We can do it of course, but I am not sure, is it a good thing to do.

Thank you,
Andrew

[2017-11-14 09:33] care46 commented on #765
@andrewtelnov ok! is not a problem because now i can use a workaround and i set the same condition on all question..

[2017-11-14 09:39] andrewtelnov commented on #765
@care46 ok then. If we have more requests, then we change the behavior and start to clear values recursively.

Thank you,
Andrew

[2017-11-14 13:12] andrewtelnov commented on #764
@brunobg We will have to introduce a css class for rows with errors.
Guys @dmitrykurmanov @tsv2013 could you please add a css class and include it into the rendering?

Thank you,
Andrew

[2017-11-14 14:34] robinwkurtz commented on #751
Hello @tsv2013, thanks for you reply! 'Application routing event' is what I am looking for. That let me to [#574](https://github.com/surveyjs/surveyjs/issues/574) which mentions goToQuestion.. This might be my win.

I simply wanted to allow users to refresh without losing their place in the survey.

Thanks!

[2017-11-14 18:17] andrewtelnov commented on #751
@robinwkurtz What JavaScript library/platform do yo use?
Actually all you need from surveyjs are:
survey.currentPageNo (from 0 to pageCount -1) and survey.onCurrentPageChanged event.

Thank you,
Andrew

[2017-11-14 18:22] andrewtelnov commented on #751
@robinwkurtz I have modified the example in issue you have mentioned:
https://plnkr.co/edit/rBG9rV?p=preview
It uses onCurrentPageChanged event as well now.

Thank you,
Andrew

[2017-11-14 19:25] wollerman opened #766 "Customize Panels after Loading into SurveyModel"
### Are you requesting a feature, reporting a bug or ask a question?

Question. This is related to #756 where I am trying to make a single page survey. I'm using survey-angular with angular2. My two questions are listed below:

### Injecting buttons

I've updated my json to have all questions in separate panels. I would now like to add a custom button to each panel that will trigger a script. Afte

[2017-11-14 19:28] andrewtelnov commented on #766
@wollerman Please take a look at this demo: https://surveyjs.io/Examples/Library/?id=survey-afterrender&platform=Angular2
and on this event: https://surveyjs.io/Documentation/Library/?id=surveymodel#onAfterRenderPanel

Thank you,
Andrew

[2017-11-14 19:43] andrewtelnov opened #767 "Should we exclude the value of invisible questions from the survey results by default?"
We are thinking about making a breaking change before releasing the v1.0.
Right now, the [survey.clearInvisibleValues](https://surveyjs.io/Documentation/Library/?id=surveymodel#clearInvisibleValues)  property has default value "none'. It means that values for invisible questions are included into survey results.
Do anybody has an objection if we change the default value from "none" to "onComplete"

[2017-11-14 20:14] robinwkurtz commented on #751
Hello @andrewtelnov, thanks for your help on this!

I'm currently using jQuery.

Having a hard time getting the gotoQuestion to fire 'onAfterRenderQuestion' due to my current page number being overwritten by 'onCurrentPageChange'.

[code]

[code]

I think I am going about this problem wrong! Any advice/thoughts?

Thanks

[2017-11-14 21:11] wollerman commented on #766
@andrewtelnov, thank you. That is helpful. I have a follow up question: Is there a way to get the next panel or element on a page? I see documentation for next page but not next element.

[2017-11-14 23:26] akmr9 commented on #755
Okay Thank you.

[2017-11-14 23:26] #755 closed

[2017-11-14 23:43] akmr9 opened #768 "Select2 tag box for plaform jQuery not working"
### Are you requesting a feature, reporting a bug or ask a question?

question/bug

### What is the current behavior?

I am trying to implement the Select2 tag box for JQuery which is implemented on the custom widgets example on the Survey js website. And I am having choices array instead of using choicesbyUrl. But when the page loads the control is rendered but the choices are not present. The ch

[2017-11-15 07:07] andrewtelnov commented on #768
@akmr9 It works with choices as well: https://plnkr.co/edit/KeSTSmO5fwo3FzLuwhcy?p=preview

Thank you,
Andrew

[2017-11-15 07:12] andrewtelnov commented on #766
The panel and page has the elements property, the array of elements.
element can be question or another panel.

Thank you,
Andrew

[2017-11-15 08:08] faso opened #769 "question.value is undefined in custom widgets if set to []"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

question.value is undefined in afterRender if set to an empty array

### What is the expected behavior?

That I can assign question.value in afterRender to be equal to an empty array

[code]

### Specify your

* browser: any
* browser version: any
* surveyjs platform (angular or react or j

[2017-11-15 08:37] andrewtelnov commented on #751
@robinwkurtz @AhsanShafique Here is the code:
[code]

[2017-11-15 08:40] andrewtelnov commented on #769
@faso Could you try:

[code]

Thank you,
Andrew

[2017-11-15 08:42] faso commented on #769
Yes, it works now, thanks!

Just out of curiosity - why is it this way?

[2017-11-15 09:02] faso commented on #769
But if I do

[code]

It's still undefined. Why so?

[2017-11-15 09:03] andrewtelnov commented on #769
@faso Because the library change the empty array into undefined value, if the array is empty. Empty array should not be in the survey result and required value check should produce the error.

Thank you,
Andrew

[2017-11-15 09:05] faso commented on #769
Alright, thank you for quick answers. Always a joy to get help from you guys!

[2017-11-15 15:45] #769 closed

[2017-11-15 17:10] care46 commented on #767
For me no problem! I use only "onHidden" value :D

[2017-11-15 17:34] andrewtelnov commented on #767
@care46 Thank you!
If we do not get any objection during a week, we will do the change.

[2017-11-16 02:44] patskot opened #770 "Custom css classes not rendered in survey when using Vue"
### Are you requesting a feature, reporting a bug or ask a queation?

Reporting a bug

### What is the current behavior?

Only some custom CSS classes are added to the survey markup when using the Vue library.

### What is the expected behavior?

When adding a custom class to an element it should show up in the markup: e.g.
`classes.description = "question-description"`

### How would you reproduc

[2017-11-16 10:35] AhsanShafique commented on #751
Thank you @andrewtelnov.
1 more thing i would like to ask, is there any option that we can post every single question of server when user click on next and server return the next questions against the answer of previous question.

[2017-11-16 11:44] sfcrebecca opened #771 "Cannot input answer to questions on dynamic panel under Angular5 in Chrome and Firefox"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
Unable to enter answer to questions on dynamic panel under Angular5
Questions outside the dynamic panel are working fine.
All questions are working fine if not placed in dynamic panel
If I replace the JSON with one without dynamic panel, all questions have no problem.

### What i

[2017-11-16 11:57] andrewtelnov commented on #751
@AhsanShafique You may post the result on every page next, survey.sendResultOnPageNext = true;
but if you have to load the part of the survey, you would have to code this functionalty by yourself.

Thank you,
Andrew

[2017-11-17 07:12] fvakiliev opened #773 "JSON Path support in dropdown rest"
Currently we can use only a primitive syntax for accessing the **Json** elements in web-based calls. It would be good to support the syntax of **JSONPath** (for example: _$.leaderboard[*].Team_tag_).
Watch here: [http://goessner.net/articles/JsonPath/](url).

Sincerely, OldCat, diligent user ;)

[2017-11-17 12:29] harishmegharaj opened #774 "Text in progress bar should be moved"
I need an option to move the "Page <start> of <end>" to outside progress bar.

Currently: I can move the text within progress bar limits.

Expected: I need to move the text outside the progress bar Eg: Page <start> of <end> : (Progress bar appearing at this place). Attaching image for reference
![image](https://user-images.githubusercontent.com/6915297/32947252-04faf864-cbc1-11e7-8d49-e307af371d00

[2017-11-17 12:58] andrewtelnov commented on #774
@harishmegharaj You may create your own naviation or render your own progress bar. Here is the demo: https://surveyjs.io/Examples/Library/?id=survey-customnavigation

Thank you,
Andrew

[2017-11-17 21:29] robinwkurtz commented on #751
Thanks @andrewtelnov !

[2017-11-18 07:03] maalina opened #775 "Add image as part of a question"
Is it possible to add an image as part of a question currently?

[2017-11-18 18:40] andrewtelnov commented on #745
The demo has been created: https://surveyjs.io/Examples/Library/?id=survey-quiz

[2017-11-18 18:42] andrewtelnov commented on #743
@editplus86 Here is what we have so far:
https://surveyjs.io/Examples/Library/?id=survey-quiz
https://surveyjs.io/Examples/Editor/?id=ckeditorpropertyeditor

Thank you,
Andrew

[2017-11-18 18:44] andrewtelnov commented on #775
@maalina Have you tried the [hml question](https://surveyjs.io/Examples/Library/?id=questiontype-html)

Thank you,
Andrew

[2017-11-19 06:15] harishmegharaj commented on #774
Thanks Andrew, this information was very helpful.

Regards,
Harish

On Fri, Nov 17, 2017 at 6:28 PM, Andrew <notifications@github.com> wrote:

[2017-11-19 08:22] andrewtelnov opened #776 "If question has title location as "left" the alligment for radiogroup and checkbox may be incorrect"
Set survey/page.questionTitleLocation to "left" then add radiogroup question on the page and set colCount  to 0. You will see the issue, title and radio groups are not on the same line.

[2017-11-19 08:26] andrewtelnov opened #777 "Other textbox should be on the same line if all elements on one line"
Create radiobox/checkbox, set colCount to 0 and hasOther to true. When an end-user select the other element the text box will appear under the element. It looks bad, since all other elements are rendered in one line.

[2017-11-20 06:58] dmitrykurmanov commented on #771
We've created an example with ng5 and surveyjs for you: https://stackblitz.com/edit/surveyjs-angular-test?file=app%2Fapp.component.html, could you check it please?

[2017-11-20 07:58] dmitrykurmanov commented on #771
We've created an example with the ng5 and the json above: https://stackblitz.com/edit/surveyjs-angular5-example-gh771, could you check it please?

[2017-11-20 08:23] #776 closed

[2017-11-20 11:35] aslanbeily opened #778 "Hebrew support"
Is there any chance to add a Hebrew support, including the Editor? I could provide the strings and everything you might need. Or, I could just add it myself if you could point a finger :)

[2017-11-20 11:48] tsv2013 commented on #778
You can easily add it yourself via putting corresponding file into the localization folder, like this - https://github.com/surveyjs/surveyjs/blob/master/src/localization/german.ts

[2017-11-20 11:50] dmitrykurmanov commented on #778
and for the editor: https://github.com/surveyjs/editor/tree/master/src/localization

[2017-11-20 12:36] alasdaircr opened #779 "DOM manipulation in onAfterRenderQuestion"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question

### What is the current behavior?

Using `insertBefore` on htmlElement passed to `onAfterRenderQuestion` has no effect.

### What is the expected behavior?

DOM manipulation persists.

### How would you reproduce the current behavior (if this is a bug)?

[code]

The `<div class="sv_q_no">Q1</div>` element is a

[2017-11-20 13:25] dmitrykurmanov commented on #779
I think, you don't use `insertBefore` correctly. I've created an example: https://plnkr.co/edit/39Wy5KTYelDisl9etit3?p=preview, please check it.

[2017-11-20 15:10] alasdaircr commented on #779
This is maybe a chrome bug for me then? Your example doesn't work either

![screen shot 2017-11-20 at 15 09 41](https://user-images.githubusercontent.com/7381617/33025112-e739765c-ce04-11e7-8822-75392022ed6e.png)

Do you see `Q1` in front of `1. * What car are you driving?`

[2017-11-20 15:16] dmitrykurmanov commented on #779
no i see it "after", but I think that this is another issue, in the first case we don't see label at all :)

[2017-11-20 15:19] dmitrykurmanov commented on #779
I've fixed the example: https://plnkr.co/edit/39Wy5KTYelDisl9etit3?p=preview (removed unneded appendChild)

[2017-11-20 15:43] alasdaircr commented on #779
For some reason it doesn't work for me - the insertBefore operation is broken. Perhaps it's a problem with jQuery. This survey is hosted on a wordpress site. I'll investigate.

Thanks for looking into it.

[2017-11-21 06:46] dmitrykurmanov commented on #779
ok, it you will need to help, feel free to ask us

[2017-11-21 16:00] Lynn42 commented on #767
Thanks for the heads-up! I'm checking with my programmers now and hope to let you know tomorrow.

[2017-11-21 16:08] cnx90 opened #780 "onPartialSend - sendResultOnPageNext - working example - how to include onPartialSend event"
### Are you requesting a feature, reporting a bug or ask a question?
I ask a question and if possible I kindly request to add a working example of onPartialSend functionality  to the surveyjs.io Documentation page.

### What is the current behavior?
I have a working survey (knockout js) with several pages on my server. I would like to send the result to the sever after next button is pressed and n

[2017-11-21 16:12] Lynn42 commented on #512
I noticed that the matrix.isAllRowRequired and the requiredErrorText don't work together as you might expect.
You would expect requiredErrorText, if specified, to overwrite the standard error message, just like it does combined with isRequired. However, with matrix.isAllRowRequired the standard text is shown when not all rows are filled, not the text specified in requiredErrorText. Is this somethi

[2017-11-21 16:23] tizzo commented on #745
Looks like the [react version](https://surveyjs.io/Examples/Library/?id=survey-quiz&platform=Reactjs) isn't working atm. I'm currently evaluating libraries to use for a quiz build.

[2017-11-21 16:45] Lynn42 opened #781 "Visible if functionality doesn't work the same in newer SurveyJS editor version?"
### Are you requesting a feature, reporting a bug or ask a question?

Ask a question

### What is the current behavior? vs. What is the expected behavior?

On https://surveyjs.io/Editor/Editor/:

When testing the form, and selecting '1' and '2' on the question 'Resultaatselectie', I expect the two panels 'Resultaat1'  and 'Resultaat2'  to show, as defined in their respective 'Visible if' statement

[2017-11-21 17:05] Lynn42 commented on #781
The version of the editor we currently have installed, where the Visibility If does work as expected, is v0.12.31.

[2017-11-21 18:43] andrewtelnov commented on #745
@tizzo I have fixed the issue. It is working now.

Thank you,
Andrew

[2017-11-21 19:06] andrewtelnov commented on #512
@Lynn42 It is an another error type. You may change it as the following:
Survey.surveyStrings.requiredInAllRowsError = "Your error text";
The default text is "Please answer questions in all rows.", if you are using the default, "en", locale.

Thank you,
Andrew

[2017-11-21 19:15] andrewtelnov commented on #780
@cnx90 I may create an example. I am not sure it would help you.
onPartialSend event is fired on pressing the next page if sendResultOnPageNext equals true. It doesn't have any options.
It doesn't called on pressing the complete button.
For our service, the only difference between sending data on partial send (pressing next button) or on complete (pressing complete button) is that it has the flag

[2017-11-21 22:29] akmr9 commented on #768
Yup..It is working. Thanks.

[2017-11-21 22:29] #768 closed

[2017-11-22 01:54] alasdaircr commented on #779
Closer to triaging this issue - Preact is removing the element during a rerender diff operation. I can get the elements to appear by going to the next page. Then once I answer a particular question the element is diff'd away.

Why this behaviour is different to your example I'm not sure - but you will see that if you answer the question in the answer the question number element is removed.

[2017-11-22 02:00] alasdaircr commented on #779
`survey.onAfterRenderQuestion` is not called when the question re-renders due to an answer being selected.

[2017-11-22 06:11] #493 closed

[2017-11-22 09:43] Lynn42 commented on #781
Thank you Andrew!

[2017-11-22 09:51] Lynn42 commented on #767
We have no objection!

[2017-11-22 13:50] cnx90 commented on #780
@andrewtelnov  Thank you for a quick reply. I hope the example will still be useful.
I set the sendResultOnPageNext  in both ways in a script and JSON. The survey result is sent only when I will go to the end of the survey and click **Submit** but when I am clicking next no data is sent to server.

[code]
**JSON:**
[code]
There are no errors in console. Can you suggest a way to debug it?

For test

[2017-11-22 14:23] andrewtelnov commented on #780
@cnx90 Sure, there is the [example](https://plnkr.co/edit/yU0BJA?p=preview)

Thank you,
Andrew

[2017-11-22 15:34] Lynn42 opened #782 "Backward compatibility"
### Are you requesting a feature, reporting a bug or ask a **question**?

Question

We were wondering whether we are right in assuming that the SurveyJS Editor library is backward compatible with older versions of the Survey.JS. Libary.
So for instance, if we would use a new version of the Editor to build a form,  and then try to show it using an older version of the Survey.JS library (for existin

[2017-11-22 17:55] andrewtelnov commented on #767
@Lynn42 Thank you!

[2017-11-22 18:09] andrewtelnov commented on #782
@Lynn42
SurveyJS Editor should able to edit all survey jsons, that has the same or early versions.
SurveyJS Library should be able to run  all survey jsons, that has the same or early versions.
We fully support the very first version of survey JSON that has been released almost two years ago by our last version, v0.96.1 at the current moment.
We want to continue doing it.

However if survey json h

[2017-11-22 22:46] patskot opened #783 "Request: Panels to include description option"
Feature request:

Would be awesome if panels had a `description` field that sits below the panel `title`.

[2017-11-23 07:21] andrewtelnov opened #784 "After clearing data in the survey, values in the questions located in Dynamica Panel could not be set"
If you have the DynamicPanel with panelCount >= 1 then after clearing the survey `data, survey.data = {};` the editors in the dynamic panel could not set the value.

[2017-11-23 08:47] andrewtelnov commented on #783
The following properties have been added:
Panel.description get/set
Page.description get/set
PanelDynamic.templateDescription get/set

Thank you,
Andrew

[2017-11-23 09:32] Zucka opened #785 "Question Description not showing when 'questionTitleLocation' is set to 'left'"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Question description is not showing when questionTitleLocation is set to left

### What is the expected behavior?
That the description is showed as it is on the online editor

### How would you reproduce the current behavior (if this is a bug)?
See url

#### Provide the test code and the tes

[2017-11-23 09:32] Lynn42 commented on #782
Amazing, we hoped this to be the case. Thank you for the quick response!

[2017-11-23 09:40] dmitrykurmanov commented on #785
Thaks, I will fix it. The bug is only in react, jquery and angular

[2017-11-23 10:10] dmitrykurmanov commented on #785
fix will available in the next release, I hope it will be today

[2017-11-23 10:25] Zucka commented on #785
Awesome !

[2017-11-23 10:36] #782 closed

[2017-11-23 13:28] andrewtelnov opened #786 "There is no way to add quotes into expression."
The following expression doesn't work:
`question.visibleIf = "{myText}= 'I'm here'";`
There should be a way to escape quotes, by using this syntaxes:
`question.visibleIf = "{myText}= 'I\\'m here'";`

[2017-11-23 14:09] andrewtelnov commented on #786
Implemented/Fixed
In the editor you will have to write the following code:
{myText} = 'I\'m here'
but in run-time, in JavaScript it should be:
`question.visibleIf = "{myText} = 'I\\'m here'";`

[2017-11-24 09:34] sfcrebecca commented on #771
Hi @dmitrykurmanov , thank your for our example.

I have copy my JSON to your example and it works!! I'm still figuring out what's the problem with my environment.

Can I say Surveyjs is certified on Angular5 and all existing components/libraries should be supported as in Angular4?

I'm also testing some custom widgets in the same environment also but can't make them work neither. I suspect it is

[2017-11-24 09:41] dmitrykurmanov commented on #771
Yes, if you will find some unsupported part you could create an issue ans we will fix it.

Ok, I will create an example with angular 5 and custom widgets like the example in reactjs above

[2017-11-24 10:51] sfcrebecca commented on #771
@dmitrykurmanov thanks so much for your assistance!!

[2017-11-24 14:42] alekhraut commented on #469
I tried above approach provided by @SlowburnAZ , but some how the newly added "<span class="matrix-vert">' + $val + '</span>" gets vanished from DOM as soon as click event is triggered on the matrix.

Plunker URL : https://plnkr.co/edit/WLcEODfDEbdXhPrpkUpJ?p=preview

Could you please let me know if am missing out anything?

-Thanks

[2017-11-25 19:14] andrewtelnov opened #787 "Add ability to have the started page"
If the property firstPageIsStarted : boolean (default false) is the true, then the first page becomes the started page.
The first page has the started button, instead of next. The end-user could not comeback to it after it press the started button.
The started page should not be the part of visible pages. It is always invisible.

[2017-11-26 12:54] andrewtelnov commented on #787
The following API has been added:
survey.firstPageIsStarted: boolean - set it to true to make the first page the started page.
survey.start() - call it to go to the visible survey pages, the survey will turn to the 'running'state.
survey.startSurveyText: string get; set; - set it to change the default text for the 'Start' button.

[2017-11-27 08:55] andrewtelnov opened #788 "choices restfull functionality doesn't support XML response."

[2017-11-27 12:03] tsv2013 commented on #788
I'll look into it.

[2017-11-27 18:20] paritoshmmmec opened #789 "Navigation delay"
### Are you requesting a feature, reporting a bug or ask a question?
Asking a question

### What is the current behavior?
Navigation between pages is pretty quick, if autonext is selected.

### What is the expected behavior?
Is it possible to introduce a scroll affect?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if appl

[2017-11-27 20:06] andrewtelnov commented on #789
@paritoshmmmec There is [onCurrentPageChanged event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onCurrentPageChanged).
I beleive you may appy a transition effect on this event.

Thank you,
Andrew

[2017-11-27 23:32] alzulas commented on #600
The rest of my website needs Bootstrap 4.0 to display properly. Is there a way to fix this alignment issue without reverting to 3.3? The radio buttons just end up all over the place. http://www.personassessment.com/RSSM.html

[2017-11-28 08:25] tsv2013 commented on #788
You can check the code of "Load from xml" test

[2017-11-28 08:32] andrewtelnov commented on #600
@alzulas Could you please try the current version 0.96.3. We have added the BS4 support in this version.

Thank you,
Andrew

[2017-11-28 08:38] tsv2013 commented on #600
@andrewtelnov I fixed the wrong alignment for BS4 in this https://github.com/surveyjs/surveyjs/commit/645caa0c4089602955514b65d372ffe6f525b5c6 commit

[2017-11-28 21:10] alzulas commented on #600
Awesome. The radio buttons now align on the left, which is great. Is there a way to make 0 column items space out evenly? Also, is there a way to properly space out the matrix buttons? See attached images.
<img width="1534" alt="screen shot 2017-11-28 at 1 07 01 pm" src="https://user-images.githubusercontent.com/7562391/33344331-7afe9b72-d43d-11e7-8eb3-5635d288fad8.png">
<img width="1527" alt="scr

[2017-11-28 23:26] akmr9 opened #790 "Anchor tag not parsing into a link"
### Are you requesting a feature, reporting a bug or ask a question?

question

### What is the current behavior?

When I include anchor tag in a string the anchor tag is not parsed to a link.
Ex: I like Survey js library. <a  href = "https://surveyjs.io/Examples/Editor/">Click here</a> to see examples.

### What is the expected behavior?

I would expect that "Click here" would turn into a link.

[2017-11-29 02:11] john1625b commented on #585
@dmitrykurmanov https://github.com/surveyjs/surveyjs_react_quickstart/tree/redux This is the branch we were talking about right?

[2017-11-29 05:42] dmitrykurmanov commented on #585
@john1625b, yes thank you! I've lost it :)

[2017-11-29 07:01] dmitrykurmanov commented on #790
Could you please specify you use case? Where do you want to insert the link? I think you need the markdown [feature](https://surveyjs.io/Examples/Library/?id=survey-markdown-radiogroup&platform=jQuery#) Here an example with title : https://plnkr.co/edit/hiAEp7?p=preview

[2017-11-29 10:03] okkuweb commented on #601
What is the status of this issue? It seems like there has been some progress, but the changes are still underway?

[2017-11-29 10:24] tsv2013 commented on #601
@okkuweb I've fixed all errors shown by WCAG20 validators. There are still some warnings. Some of them require markup changes and adding additional markup. The markup changes can became "breaking changes". I'd like to evaluate warnings cruciality to fix most crucial ones to minimize markup changes.

[2017-11-29 10:51] Noino opened #791 "Request: Singlepage view mode"
So this one is quite similar to #598  in that i wish to be able to view all the answers given on a single page. The main difference is that i don't want to have to navigate past all the pages of the survey to get to it, so basically its the same feature (or same page) but with a different way to get to it.
Two birds with one stone!

The use case for this would be after a user has submitted their s

[2017-11-29 11:01] dmitrykurmanov opened #792 "Auto focus bug"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
see https://community.devexpress.com/blogs/aspnet/archive/2017/11/28/scalability-of-asp-net-office-controls-azure-web-gardens-farms-amp-cloud-support-ctp-v17-2.aspx

### What is the expected behavior?
no scroll

[2017-11-29 11:18] #792 closed

[2017-11-29 11:40] Noino commented on #601
@tsv2013 Thanks for your hard work.

Seems you've got pretty much all of them down. Really only fieldsets remaining as far as i can see, and i'm not sure how you are supposed to accomplish that within matrix tables, but in my form "6. question2" and "7. question3" you have a <form> tag where <fieldset> would seem natural.

One thing i noticed trying that same form through achecker.ca again (even t

[2017-11-29 12:01] Zucka commented on #785
Verified working :)

[2017-11-29 12:01] #785 closed

[2017-11-29 13:11] tsv2013 commented on #601
@Noino Thank you for the valueable feedback! I'll fix remaining issues and update this thread. Hope it will be soon.

[2017-11-29 14:28] pankanis-rushikesh opened #793 "Matrix Dropdown With Multiple File Upload"
I would like to have MatrixDropDown with following cells
1st Column : RadioGroup with options Yes,No,Mabe
2nd Column : Comment Box visible only if Value of 1st column is N
3rd Column : Multiple File Upload

There would be Multiple Rows , For each Row Comment Box  should be visible according to the 1st column value of that row.

Could you please tell me how to build this survey json.

[2017-11-29 14:31] andrewtelnov commented on #793
@pankanis-rushikesh Unfortunately it is not possible to create it at the current moment.
I would suggest you to go with PanelDynamic.
You may have all 3 questions on the same line and it will be pretty the same.

Thank you,
Andrew

[2017-11-29 14:36] pankanis-rushikesh commented on #793
I tried with Panel Dynamic but then it does not show me in Matrix Format ( CSS ).I wanted it to look like matrix but with addition questions. If each row in matrix Dropdown could have name then each cell in that row will have name like  `rowName.cellName`  this could maybe solve the problem.

[2017-11-29 14:43] andrewtelnov commented on #791
@Noino It is definately make sense. We had several requests with this functionality already. I have added the issue to [the project ideas](https://github.com/surveyjs/surveyjs/projects/1). We will likely implement it in the next versions.

Thank you,
Andrew

[2017-11-29 14:58] tsv2013 opened #794 "Introduce default themes (color schemes) for survey"
- Survey with default theme (without any 3rd party libraties like Bootstrap) should look nice
- Probably one should be able to set some base colors (text, background, buttons, titles, navigation) for survey
- We should use this examples on our site
- One should be able to load logo picture and set organization title or some other (what exactly?) info for the "Run Survey" page

[2017-11-29 17:23] andrewtelnov commented on #793
@pankanis-rushikesh I do not see any good solution rigth now :(
I may add an event, that will allow you to create the question you want in the matrix. Probably there is a more elegant solution. I have to think...

Thank you,
Andrew

[2017-11-29 19:53] akmr9 commented on #790
That's what I am exactly looking for. Thank you very much.

[2017-11-29 19:53] #790 closed

[2017-11-29 21:36] willgdjones opened #795 "Image picker does not work correctly."
### Are you requesting a feature, reporting a bug or ask a question?

Bug!

### What is the current behavior?
Image picker does not work correctly.
https://surveyjs.io/Examples/Library/?id=custom-widget-image-picker&platform=jQuery#

### What is the expected behavior?
To return the result from the given example.

### How would you reproduce the current behavior (if this is a bug)?
By using the ver

[2017-11-30 05:42] tsv2013 commented on #795
Custom widgets are 3rd patry controls, integrated with SurveyJS and thus require some additional scripts to be loaded on the page.
Have you added custom widget's scripts on your page, as shown on the HTML tab of the [Image Picker widget](https://surveyjs.io/Examples/Library/?id=custom-widget-image-picker&platform=jQuery) example?

[code]

[2017-11-30 06:29] benweizhu opened #796 "How to customize the question title to put the question number in a unique span?"
### Are you requesting a feature, reporting a bug or ask a question?

I want to ask how can I customize the question title to split the question number  into a span, so that I can add style for the number itself?

### What is the current behavior?

In current question title template, the number and the question is in a string.

[code]

Like:
1.What's your name?

But I want the 1. is in another spa

[2017-11-30 07:10] andrewtelnov commented on #796
@benweizhu I believe [this example](https://surveyjs.io/Examples/Library/?id=survey-afterrender) should help you.

Thank you,
Andrew

[2017-11-30 07:14] andrewtelnov commented on #796
@benweizhu Or another suggestion use markdown functionlity: https://surveyjs.io/Examples/Library/?id=survey-markdown-radiogroup
But at first you have to change the survey.questionTitleTemplate from the default: {no}. {require} {title} to what ever you want.

Thank you,
Andrew

[2017-11-30 07:23] benweizhu commented on #796
Thanks a lot. @andrewtelnov

[2017-11-30 07:33] #796 closed

[2017-11-30 08:32] tsv2013 commented on #600
@alzulas I've fixed spacing. As for matrix buttons - this is default buttons alignment inside the matrix table. You can override this behaviour via CSS styles as shown in [this example](https://plnkr.co/edit/VOrtDm?p=preview).

[2017-11-30 11:59] tsv2013 commented on #601
@Noino I've added fieldset tags with necessary 'legend' tags inside.
I had to implement not so beautiful solution for matrixes as I wanted to. I wrapped with fieldset tag the whole matrix question due to the 'tr' and 'td' tags wrapping crashes table structure.
Changes wil be available in the nearest update.

Thank you for cooperation

[2017-11-30 11:59] #601 closed

[2017-11-30 12:00] #600 closed

[2017-11-30 13:01] tsv2013 opened #797 "Immediate update option for calculated question"
Recalculate value when user types, not on control lost focus or page navigation events only.

[2017-11-30 21:51] wollerman commented on #766
Thanks!

[2017-11-30 21:51] #766 closed

[2017-12-01 12:26] andrewtelnov opened #798 "Add question.titleLocation property"
Right now the title location is defined by parent panel, page and survey questionTitleLocation property. Sometimes, there is a need to override it just for one question.

[2017-12-01 14:52] mdickin opened #799 "Required Multipletext items do not respect questionTitleTemplate"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
Multipletext item titles are hardcoded to put the required text to the left of the title

### What is the expected behavior?
Use Survey.questionTitleTemplate to determine how to format the title

### How would you reproduce the current behavior (if this is a bug)?
See [plunker](h

[2017-12-01 16:29] mdickin commented on #799
As a work around, I have used this code (which is still not using the template, but it's okay for our purposes):

[code]

[2017-12-01 19:18] andrewtelnov commented on #799
@mdickin Could you use the Panel and several text questions?
I have introduced the multiple text question before we had the Panel. Panel was added in a year after multple text question.

I think we need another property for text item titles in mutlple text question.

PS: I am going to work on this functionality: https://github.com/surveyjs/surveyjs/issues/798

Thank you,
Andrew

[2017-12-01 20:06] mdickin commented on #799
One of the uses we have for `multipletext` is for providing phone numbers, like work/home/mobile. Only one is required, and it's easy to just set `isRequired` on the `multipletext` element

[2017-12-01 23:25] alzulas commented on #600
First, I've updated to the 0.97.0 and haven't seen the spacing issue fixed yet, so I'm just curious if it's coming soon? Or maybe not changed in the JQuery version? I'm not sure.

Second, is there a way to make the width of the first column different than the others instead of just forcing them all to be the same width? In your example, that would be the column with "Product is affordable" in it.

[2017-12-02 11:14] andrewtelnov commented on #799
@mdickin Hm, I think we can add isRequired validation into Panel.

Thank you,
Andrew

[2017-12-03 07:27] tsv2013 commented on #600
As you can see from the [commits history](https://github.com/surveyjs/surveyjs/commits/master) commit 044e93b was done after 0.97.0 had been released and will be available in the next update.

[2017-12-03 07:32] tsv2013 commented on #600
@alzulas For quesions customization you can use [onAfterRenderQuestion event](https://surveyjs.io/Documentation/Library/?id=surveymodel#onAfterRenderQuestion) and patch rendered quesion in any manner.
If you want to use CSS selectors, I've updated [the example](https://plnkr.co/edit/LwyumLdtqVeD6UAXoVGy?p=preview).

[2017-12-03 07:55] andrewtelnov opened #800 "Questions in DynamicPanel doesn't use the page.QuestionTitleLocation"
Create a survey with one page, dynamicPanel and text question in the dynamic panel template. Then set the page.QuestionTitleLocation into bottom. text question will continue to show it's title on the top.

Additionally, it will be nice to override the default behavior by introducing a new property into dynamic panel: templateTitleLocation.

[2017-12-03 08:38] andrewtelnov opened #801 "Add properties into question panel: allowAddPanel/allowRemovePanel"
allowAddPanel - set it to false to hide the 'Add New' button
allowRemovePanel - set it to false to hide the 'Remove' button

[2017-12-03 08:53] andrewtelnov opened #802 "Dynamic panel text processing. It doesn't processes values that has names different from question names in the templates"
If you set the variable into dynamic panel array value in run-time and it doesnt' equal to any question name in the dynamic panel, then text processor will returns null for this name.

As workaround, you have to add invisible question into dynamic panel template with the name of your variable.

[2017-12-03 09:39] andrewtelnov opened #803 "Condition could not run with variable like "abc #$%^?""
If you have to do a condition with matrix value, like matrixname.rowName and row value is:
"Are you married?" then the condition could not run correctly.

A workaround: set the row value to "isMaried" and text to "Are you married?"

[2017-12-04 00:55] shailendramonu commented on #765
This should be a feature as in a panel if we have multiple question (dropdowns), values are not cleared for invisible conditions.

[2017-12-04 08:37] dmitrykurmanov opened #804 "Checked class"
https://surveyjs.answerdesk.io/internal/ticket/details/t263

_checked_ class for checkboxes and radiogroups inputs

[2017-12-04 12:51] andrewtelnov opened #805 "There is no vertical margin between questions if they have title location equals toleft"
Drop two text questions on the page. Set page.questionTitleLocation to left and test the survey.
You will see that two text inputs have no vertical space between them.

[2017-12-04 14:14] mdickin commented on #799
I'm not sure that would fix things. We use panels as a way of grouping sets of questions on a page, and don't know that nesting panels would be the right approach. It seems like they serve two different purposes. Also, panels don't currently allow arranging questions inline.

[2017-12-04 18:59] andrewtelnov commented on #799
@mdickin I have looked the code. I think I will change it. There is a code duplication. It is better remove all custom rendering for multiple text item and create and render the text question, similar to the matrix dropdown/dynamic. In this case title location we will get for free, as well as other features.
The only issue, we will have another property to setup the title location. It should be "l

[2017-12-05 07:48] andrewtelnov opened #806 "survey.clearInvisibleValues= "onHidden" doesn't work for questions located in the Dynamic Panel"
For the following JSON clearInvisibleValues= "onHidden" dosn't work.
[code]

[2017-12-05 07:49] rfortunati opened #807 "Explicitly click on Complete when using goNextPageAutomatic=true"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
When using the goNextPageAutomatic=true, every page including the lastPage will jump to the nextPage or the CompletedPage. Example code below.

### What is the expected behavior?
I expect that we stay on the lastPage and the user explicitly needs to click on the Complete button.

[2017-12-05 08:05] tsv2013 commented on #807
Thank you for the report, @rfortunati
We've discussed the issue with the team and decided to make this option more flexible:
true - go next page and submit automatically
false - do not go next page and submit automatically
"autogonext" - go next page automatically but do not submit

[2017-12-05 08:16] andrewtelnov commented on #807
@tsv2013 it works for me. You may implement it. Just extend the unit tests related to goNextPageAutomatic option and update the property definition.

Thank you,
Andrew

[2017-12-05 08:18] tsv2013 commented on #807
@andrewtelnov ok

[2017-12-05 08:49] benweizhu opened #808 "Is it possible to pre-populate the survey form with some answers?"
### Are you requesting a feature, reporting a bug or ask a question?

Ask a question:

Is it possible to pre-populate the survey form JSON with some answers in it?

Something like:

[code]
Because I want to save the partial question that my users filled in.

[2017-12-05 08:56] dmitrykurmanov commented on #808
Sure, please check the example https://surveyjs.io/Examples/Library/?id=survey-data&platform=jQuery

[2017-12-05 09:01] benweizhu commented on #808
Thanks a lot. @dmitrykurmanov

[2017-12-05 09:01] #808 closed

[2017-12-05 09:02] andrewtelnov commented on #806
Add the fix for survey.clearInvisibleValues = "onComplete".

[2017-12-05 09:29] AnnaBeketovaDevexpress opened #809 "Small icon edit"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2017-12-05 09:31] #809 closed

[2017-12-05 13:33] LA95 commented on #135
What if I want to remove the '*' in a matrixtype questionnaire?

[2017-12-05 20:50] alzulas commented on #600
Awesome. Perfect! Thank you guys so much.

[2017-12-06 06:36] tsv2013 commented on #807
I've implemented the option value, mentioned above.
It will be available in the nearest update.

[2017-12-06 06:48] rfortunati commented on #807
Thanks @tsv2013 @andrewtelnov

[2017-12-06 13:17] Lynn42 commented on #781
I think I have found a different way in which the VisibleIf functionality works in an older version (v0.12.31), but not on the newest version of the editor (0.97.0).

It concerns the following JSON code, you expect the 2nd and 3rd questions to only become visible after the answer on the 1st question is 'Ja'. However, they immediately show, regardless of the answer being filled in.

{
 pages: [
  {

[2017-12-06 13:32] andrewtelnov commented on #781
@Lynn42 Yes, it is a bug. 'equals' doesn't work for some reason. You may use '=' as a work-around.
visibleIf: "{VoortijdigEindeSelectie} = 'Ja'"
I will work on the fix.

Thank you,
Andrew

[2017-12-06 13:36] Lynn42 commented on #781
I will do that, thank you.

[2017-12-06 13:47] andrewtelnov commented on #781
@Lynn42 We do not support 'equals' before. We have 'equal'. Anyway, I have added 'equals' into the operator list as well. In case if somebody will use 'equals'.

Thank you,
Andrew

[2017-12-07 06:53] andrewtelnov opened #810 "Change QuestionFile.storeDataAsText property default value"
The default QuestionFile.storeDataAsText property is false till v0.98. It is changing to true, so the file content is saved as a text in the survey.data by default.

[2017-12-07 10:24] #804 closed

[2017-12-07 11:59] dmitrykurmanov commented on #630
@tscott1213 sorry for the late answer, we've released new custom widgets scructure. Please check https://surveyjs.io/Examples/Library/?id=custom-widget-signaturepad&platform=jQuery . If the bug still exists, please create a plunker with it. Thank you.

[2017-12-07 13:20] noorball commented on #10
Hello,
If attachment control is added to the survey I can attach files in text form.
Could anybody provide information on how to make available file attachment download on survey view and edit?

[2017-12-08 09:12] dmitrykurmanov opened #811 "more classes for rating question"
from @KendallPark  https://github.com/surveyjs/widgets/issues/10

[2017-12-08 09:26] andrewtelnov opened #812 "add iif function into expression and support boolean expression"
Allow to use a boolean expression that will return true/false and add iif function.
Here is the example of using it in unit tests:
iif({a} + {b} > 20, 'high', 'low')
If the summary of two questions returns more then 20 it will return 'high', otherwise it will return 'low'.
And it supports the nested functions:
"iif({a} + {b} > 20, 'high', iif({a} + {b} > 10, 'medium', 'low'))"
If the summary less

[2017-12-08 11:25] dmitrykurmanov commented on #811
rating example (with dev cdn) https://plnkr.co/edit/OKwOTJyl8hbD9wUMTgAp?p=preview

[2017-12-08 14:05] andrewtelnov opened #813 "Add question.valueName property"
The survey.data store the question values by question name.
There are many scenarios, when there is a need to have different questions shared the same data.
The current work-around, given the same name to theses questions doesn't work well in many cases.

[2017-12-08 14:11] dmitrykurmanov opened #814 "Rating Question: CssClasses Knockout"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
CssClasses doesn't apply

### How would you reproduce the current behavior (if this is a bug)?
https://plnkr.co/edit/3N5qu8bsQ63SXLMjdQm8?p=preview
background should be orange, cssClasses item doesn't apply

[2017-12-10 00:25] tizzo commented on #745
I'm currently working on a quiz system based on surveyjs. I'm implementing `Right answers` like this for the simple cases:

[code]

And I'm implementing a simple answer cost and score calculation system. I'm supporting most of the question types provided by surveyJs so there's handling for different question types but in essence I'm doing similar to the following (but with a bunch of different plu

[2017-12-10 13:37] andrewtelnov opened #815 "Use QuestionText as an item in the MultipleText Question"
There are some code duplication, since there is the custom rendering for multiple text item.
It makes sense to use the text question, to remove the code duplication. It will allow to introduce features faster and custom widgets will work in mutiple text items automatically, without additional coding.

[2017-12-10 14:52] andrewtelnov commented on #745
Hello @tizzo,
We are working on release v1.0 right now. We are pretty close.
We have the question cost and right answers in our TODO list to finish with Quiz completely, but we have decided to postponed it.
I can't tell your the precise time frame. We may work on it in January, but I can't garantee this.
Anyway, if you have any difficulty of implementing what you want, just let us know and we will

[2017-12-10 18:37] tizzo commented on #745
Thanks @andrewtelnov! Yeah, we need to have something working this week. Would love to find a way to contribute my own answer to this problem but I think it's probably not totally a generalizable solution as I'm building something around SurveyJS rather than into it for this specific use case.

[2017-12-11 06:37] asadmalik3 opened #816 "Restart survey once it is completed."
How can i go back to page 1 and restart survey once complete button is pressed?

[2017-12-11 07:41] andrewtelnov commented on #816
@asadmalik3
[code]

Thank you,
Andrew

[2017-12-11 12:47] Noino commented on #601
The lastest change (8578f4f) seems to be missing in jquery and angular?

[2017-12-11 12:59] tsv2013 commented on #601
@Noino  jquery and angular libraries are based on the the react code. They're just wrappers.

[2017-12-11 14:06] Noino commented on #601
@tsv2013 Alright. Thought it might have been the case since i was seeing some complaints about fieldsets missing still, but turns out it was a cache issue, hard reload fixed almost all.
Still, one type that i clearly missed in my previous response, "10. question6" i get error for due to missing fieldset. This is the rating type question.

Sorry for resurrecting a closed ticket, should've noticed t

[2017-12-11 18:35] wollerman opened #817 "After section visibleIf is false, the hidden data is still sent"
### Are you requesting a feature, reporting a bug or ask a question?

Bug/Question

### What is the current behavior?

If there's a section that has a visibleIf condition on previous questions, the user can somehow toggle the questions and fill them out. However, if the user changes their mind on the previous question and it then hides the visibleIf, then the hidden question values are still sent.

[2017-12-11 19:13] andrewtelnov commented on #817
@wollerman You have to set the `survey.clearInvisibleValues = "onComplete";`
From the next minor version you should not do anything. It will be the value by default: https://github.com/surveyjs/surveyjs/issues/810

Thank you,
Andrew

[2017-12-11 20:15] wollerman commented on #817
Awesome, thanks. Quick follow up: when the next minor version is released, will that feature flag still be available/supported?

Also thank you for the amazingly quick response times!

[2017-12-11 20:19] andrewtelnov commented on #817
Yes, the property will be there. We have changed the default value only.

[2017-12-11 20:22] benirose opened #818 "Survey-Vue: page.vue and panel.vue missing `hasDescription` computed property"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a Bug.

### What is the current behavior?
Getting Javascript Error.
[code]

Looks like this computed property was added to the template of `page.vue` in 3f37847, but it was never defined. I believe `panel.vue` has the same issue.

### What is the expected behavior?
Looks like `hasDescription` is supposed to be a compute

[2017-12-11 21:28] wollerman commented on #817
Thank you!

[2017-12-11 21:28] #817 closed

[2017-12-12 06:40] tsv2013 opened #820 "Validate the condition on visibleIf property"
Need to validate the property rather than question attributes on visibleIf property for each question.
https://surveyjs.answerdesk.io/ticket/details/T170)

[2017-12-12 06:43] andrewtelnov opened #821 "The cascading dropdown in dynamic panel may call incorrect retfull request."
The following json doesn't work:
[code]

[2017-12-12 08:21] asadmalik3 commented on #816
i am using survey-angular library, and i am generating form using below code

var survey = new Survey.ReactSurveyModel(surveyJSON);
survey.onComplete.add(sendDataToServer);
Survey.SurveyNG.render("surveyElement", {model:survey});

I dont find any method to clear the survey.

[2017-12-12 08:32] andrewtelnov commented on #816
@asadmalik3 here is the example: https://plnkr.co/edit/MVXFVl0OmUG893qP25tp?p=preview

Thank you,
Andrew

[2017-12-12 10:05] dmitrykurmanov opened #822 "Dynamic panel with radiobutton bug in knockout"
![panel_dynamic_radiogroup_ko_bug](https://user-images.githubusercontent.com/22315929/33878599-f3fefe0e-df3c-11e7-8c44-84f33b44fd60.gif)

[2017-12-12 11:36] #822 closed

[2017-12-12 12:54] halexiev-hedgeserv opened #823 "Can you add support for customising 'panel' elements?"
### Are you requesting a feature, reporting a bug or ask a question?
Question.

### What is the current behavior?
Panels are not customisable via custom widget support. We would like to have panels as collapsible containers just like Bootstrap's collapse (https://v4-alpha.getbootstrap.com/components/collapse).

### What is the expected behavior?
To be able to customise panels so that they, in our

[2017-12-12 14:05] andrewtelnov commented on #823
@halexiev-hedgeserv We have this functionality in our TODO list. Unfortunately we have postponed it. The easy solution is to have a boolean question and set the visibileIf to the panel. Here is the example: https://plnkr.co/edit/eDdIsdccLy5PLnduYlfn?p=preview

Thank you,
Andrew

[2017-12-12 14:12] halexiev-hedgeserv commented on #823
@andrewtelnov That's a cool around it, however if the wrap-around checkbox is deselected (meaning the panel is collapsed and not visible) the answers from the questions in that panel won't be submitted to the survey. Is there a way to submit the answers for questions that are not visible?

[2017-12-12 14:15] andrewtelnov commented on #823
@halexiev-hedgeserv Sure, survey.clearInvisibleValues = "none";

Thank yuo,
Andrew

[2017-12-12 14:25] andrewtelnov opened #824 "dynamic panel templateTitle text processing doesn't work if question has valueName set."
dymanic.templateTitle = "Value: {panel.panelQ1}"; doesn't work if question.name = 'q1' and question.valueName = 'panelQ1'

[2017-12-12 14:27] halexiev-hedgeserv commented on #823
@andrewtelnov Yes, but this still will not quite do it because, for example if you have a question with anwers {a, b} and based on the selection you show/hide one of two more questions with answers {a2, a3} and {b2, b3}. If you first select {a} and then {a2}, but then you switch to {b} and {b2}, we don't want to submit {a2}. Which is what happens if you clearInvisibleValues="none"...

[2017-12-12 14:39] andrewtelnov commented on #823
@halexiev-hedgeserv Just test the example. I think it works as you need :)

Thank you,
Andrew

[2017-12-12 14:49] Kichi93 opened #825 "Custom defaultValue behaviour not implementing setDefaultValue correctly."
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behaviour?

setDefaultValue() changes the data but the dropdown still displays the old value.

### What is the expected behaviour?

setDefaultValue() should change the data and appearance of dropdowns.

### How would you reproduce the current behaviour (if this is a bug)?

Go to the plunkr example an

[2017-12-12 14:58] halexiev-hedgeserv commented on #823
@andrewtelnov We tested it, here's our scenario:

https://plnkr.co/edit/GgK65eeJJwXzRmj8SGj8?p=preview

Steps to follow:
1. Select 'Product A'
2. Provide answer to the comment question, for example, 'Dont want this!'
3. Change to 'Product B'
4. Provide answer to the new comment question, for example, 'Want this!'
5. Complete survey

Here's the result we get:

`result: {"isImprovePanelShowing":true

[2017-12-12 15:04] andrewtelnov commented on #823
@halexiev-hedgeserv You do not to set the clearInvisibleValues="none".
The question value will be in the result if the question is visible, the default behavior now. It doesn't matter if the question in the visible or invisible panel. We are checking on question visible property only and not its parent.

Thank you,
Andrew

[2017-12-12 15:49] halexiev-hedgeserv commented on #823
@andrewtelnov Yep you are right, that could actually work, we'll definitely try it out :)

Just one last question - is there any ETA on the real support for collapsible panels, like in couple of months maybe, year?

Thank you for your quick replies 👍
Hristo

[2017-12-12 16:29] wollerman opened #826 "Angular2 Page visibleIf Issue"
### Are you requesting a feature, reporting a bug or ask a question?

Bug/Question

### What is the current behavior?

I have a survey such as:

[code]

where the second page visibility is conditional on a question from the first page. This works fine on the editor and on plunker. However, I can't seem to make it work with Angular.

I've also tried putting logging during onValueChanged and can see

[2017-12-12 19:24] asadmalik3 commented on #816
@andrewtelnov  thanks for your help. But i am facing a small issue, i am using survey-angular library which i have installed in my angular application through npm, here is the link to it https://www.npmjs.com/package/survey-angular

The way i am creating survey in my angular component is given below in image

![image](https://user-images.githubusercontent.com/6158094/33903966-e0cc3b80-df9b-11e7-8d

[2017-12-12 19:49] andrewtelnov commented on #825
@Kichi93 You do not need to call setDefaultValue on afterRender.
setDefaultValue is called when it is needed, after loading the survey from Json, if defaultValue property is set, for example. It is a protected method, not public.

Do you want to remove optionsCaption completely? What should be shown if the value is not set?

Thank you,
Andrew

[2017-12-12 19:52] andrewtelnov commented on #823
@halexiev-hedgeserv We will public our TODO list here: https://github.com/surveyjs/surveyjs/projects/1
Probably we will allow to vote on features, we are not sure yet.
I like the idea to expand/collapse the panel content.

Thank you,
Andrew

[2017-12-12 19:54] andrewtelnov commented on #826
@wollerman Could you please try it with the latest version, v0.98.3? I remember, I have fixed a bug related to this some times ago.

Thank you,
Andrew

[2017-12-12 19:58] andrewtelnov commented on #816
@asadmalik3 You have the error in your console. That is why it doesn't work.
It is hard to say what is going on. Could you create an example on plunker? or provide us with JSON.
Do you use any events?

Thank you,
Andrew

[2017-12-12 20:07] Kichi93 commented on #825
Hi @andrewtelnov, thanks for the response.

setDefaultValue is not called automatically if data is loaded into the survey - I am trying to recreate the effect when data is passed into the survey.

Yes, I would like to remove it completely. The value should always be set to either something the user has selected or the default value, so the "Choose..." option is not needed and allows the user to ma

[2017-12-12 22:08] alzulas opened #827 "Mobile device viewing issues for 0.97 or greater"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Broken on Mobile devices

### What is the expected behavior?
Proper layout on smaller devices. Worked before I requested Bootstrap 4.0 updates (oops, sorry)

### How would you reproduce the current behavior (if this is a bug)?
Look at any of the 0.97 or newer surveys on a small device

####

[2017-12-13 06:13] tsv2013 commented on #827
@alzulas Thank you for the report. We'll fix it.

[2017-12-13 06:50] andrewtelnov commented on #825
@Kichi93 Here is [the example](https://plnkr.co/edit/xSVLWR?p=preview) that does what you need.

Thank you,
Andrew

[2017-12-13 08:13] andrewtelnov opened #828 "Any comparation with undefined/null value in the expression should return false"
The following expression returns true:
{myValue} < 10, where myValue is undefined.
The expected result is false, since myValue is not defined yet.

[2017-12-13 10:05] Kichi93 commented on #825
@andrewtelnov, thanks for your help so far.

That example doesn't set the default value if data is passed into the survey - i.e. if you change the survey initiation to `$("#surveyElement").Survey({model: survey, data:{}});`

The reason we need this is because our system allows users to edit the answers to their surveys, so we load their previous answers in using the data attribute. If they change

[2017-12-13 11:30] dmitrykurmanov commented on #827
We've fixed it and it will be in the next release. As a workawound you can use the following code:

[code]
you can see it in action at the https://surveyjs.io/Examples/Library/?id=survey-customcss&platform=jQuery

[2017-12-13 11:37] #827 closed

[2017-12-13 12:49] irynmare opened #830 "Can you add survey.questionDescriptionLocation"
### Are you requesting a feature, reporting a bug or ask a question?

requesting a feature

### What is the current behavior?

Description of the questions is shown under question title

### What is the expected behavior?

Can you add survey.questionDescriptionLocation to be able to show description in bottom of the question as it was done for errors with survey.questionErrorLocation?

### How wou

[2017-12-13 13:51] andrewtelnov commented on #830
@irynmare There is already titleLocation property. Description is rendered under the title.
It has "top", "bottom" and "left" options.
Does it work for you?

Thank you,
Andrew

[2017-12-13 14:09] andrewtelnov commented on #825
@Kichi93 When you set the data to empty object, all values, including the default values are cleared.
You have to use the following code:
[code]
Regarding removing the "Choose..." option item. I have updated [the example](https://plnkr.co/edit/xSVLWR?p=preview) but it shows the "Choose..." option after value changed....
I may add into our TODO list, but adding this specific option will take some t

[2017-12-13 14:44] irynmare commented on #830
Not really. I need title to be in top and description under input. Added picture of how it should look.
![f9d57fa](https://user-images.githubusercontent.com/34510857/33944345-8d0d9cf8-e024-11e7-933d-458cb7e97d47.PNG)

[2017-12-13 16:33] Kichi93 opened #831 "The "contains" conditional is not working for string variables"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

Questions with visibleIf expressions using the "contains" keyword are not displaying even when the values match.

### What is the expected behavior?

A question will become visible if the referenced question contains a certain value.

### How would you reproduce the current behavior (if th

[2017-12-13 18:48] andrewtelnov opened #832 "onAfterRenderQuestion doesn't called after re-rendering the question in react, jQuery, angular platforms"
The question re-renders itself, for example after value changed. The changed were maden intially onAfterRenderQuestion event are gone as result.

The event should be called every time the question is rendered.

[2017-12-13 18:51] andrewtelnov commented on #825
@Kichi93 I have fixed the problem with rendering: https://github.com/surveyjs/surveyjs/issues/832
As result the code in the example before will work perfectly, "Choose..." option will not be shown on value changed.
The fix will be available in the next minor update, this week or early next week.

Thank you,
Andrew

[2017-12-13 18:52] andrewtelnov commented on #830
@irynmare It looks good and yes, we do not have an option for this right now.
I'm adding this into our TODO list...

Thank you,
Andrew

[2017-12-13 19:19] andrewtelnov commented on #831
@Kichi93 contains doesn't work with string. Probably it makes sense to add this functionality and check for substring, if the value is string.
You have to register the function right now. Here is the updated [plunk](https://plnkr.co/edit/LJA5AMKBzzamTbRI1cFx?p=preview)

Thank you,
Andrew

[2017-12-13 19:21] andrewtelnov commented on #469
@alekhraut I think I have just fixed [this issue](https://github.com/surveyjs/surveyjs/issues/832)
Please try the next minor update that we will release in several days.

Thank you,
Andrew

[2017-12-13 19:44] Kichi93 commented on #831
@andrewtelnov, thanks, that fix is perfect.

It definitely worked with previous versions of surveyJS though - last version I know it worked with was 0.12.34.

[2017-12-14 04:28] andrewtelnov commented on #831
@Kichi93 Yes, you are right. I will make it works again.

[2017-12-14 10:07] andrewtelnov commented on #831
@Kichi93 The issue was fixed, unit tests were added.
The fix will be available in the next minor update.

Thank you,
Andrew

[2017-12-14 12:45] andrewtelnov opened #833 "Add panelIndex variable into expression for dynamic panel"
There should be possible to write in the visibleIf expression: "{panelIndex} = 0".
That means that a question/panel will be shown for the first panel only.

[2017-12-14 23:01] wollerman commented on #826
@andrewtelnov I didn't realize I was so far behind and updated! package.json is now at `"survey-angular": "^0.98.3",`

Unfortunately that didn't fix my issue. I've tested the above form json with no success. Opening devtools I can see that the console is logging for `surveyModel.onValueChanged.add(this.valueChanged);`. But the inspector doesn't show any changes in the footer. At first I was suspec

[2017-12-15 06:30] andrewtelnov commented on #826
@wollerman I do not see any problem with your code that you have provide to us.
Unfortunately, it is really hard to say what is going on.
When any value is changed in the survey, the survey asks all elements to re-run their expresions (visibleIf and enableIf) with new values.
It has nothing to do with onValueChanged events and others.
It may stop work, if your code on events produced an error, the

[2017-12-15 08:35] andrewtelnov commented on #93
Set this property to true:
survey.firstPageIsStarted = true;

[2017-12-15 08:35] #93 closed

[2017-12-15 08:37] #337 closed

[2017-12-15 08:37] #346 closed

[2017-12-15 08:38] #348 closed

[2017-12-15 08:39] #384 closed

[2017-12-15 08:40] #382 closed

[2017-12-15 08:40] #396 closed

[2017-12-15 08:41] #401 closed

[2017-12-15 08:41] #406 closed

[2017-12-15 08:45] andrewtelnov commented on #407
@Nicolaidavies We have the question.valueName property now. If it is set then this property use instead of question.name. It means you may have questions with different names, but they may share the same data if they have the same valueName.

Thank you,
Andrew

[2017-12-15 08:45] #407 closed

[2017-12-15 08:45] #400 closed

[2017-12-15 08:46] #418 closed

[2017-12-15 08:48] #431 closed

[2017-12-15 08:49] #438 closed

[2017-12-15 08:49] #440 closed

[2017-12-15 08:51] #445 closed

[2017-12-15 08:51] #447 closed

[2017-12-15 08:52] #454 closed

[2017-12-15 09:01] #473 closed

[2017-12-15 09:02] #474 closed

[2017-12-15 09:02] #475 closed

[2017-12-15 09:04] #478 closed

[2017-12-15 09:05] #479 closed

[2017-12-15 09:07] #490 closed

[2017-12-15 09:13] andrewtelnov commented on #504
@frankwo1 Here it is: https://github.com/surveyjs/surveyjs_react_quickstart

Thank you,
Andrew

[2017-12-15 09:13] #504 closed

[2017-12-15 09:13] #515 closed

[2017-12-15 09:15] andrewtelnov commented on #521
@willgdjones Here is another custom widget that may help you: https://surveyjs.io/Examples/Library/?id=custom-widget-autocomplete

Thank you,
Andrew

[2017-12-15 09:15] #521 closed

[2017-12-15 09:16] #534 closed

[2017-12-15 09:16] #537 closed

[2017-12-15 09:16] #545 closed

[2017-12-15 09:17] #548 closed

[2017-12-15 09:18] #549 closed

[2017-12-15 09:19] #555 closed

[2017-12-15 09:19] #556 closed

[2017-12-15 09:19] #557 closed

[2017-12-15 09:22] #563 closed

[2017-12-15 09:23] #564 closed

[2017-12-15 09:23] #568 closed

[2017-12-15 09:24] #578 closed

[2017-12-15 09:25] #579 closed

[2017-12-15 09:25] #591 closed

[2017-12-15 09:28] #585 closed

[2017-12-15 11:44] #595 closed

[2017-12-15 11:44] #596 closed

[2017-12-15 11:45] #599 closed

[2017-12-15 11:45] #604 closed

[2017-12-15 11:46] #609 closed

[2017-12-15 11:47] #610 closed

[2017-12-15 11:47] #611 closed

[2017-12-15 11:47] #612 closed

[2017-12-15 11:47] #613 closed

[2017-12-15 11:48] #615 closed

[2017-12-15 11:48] #614 closed

[2017-12-15 11:49] #619 closed

[2017-12-15 11:49] #624 closed

[2017-12-15 11:51] abritopach opened #835 "BUG Deleting a survey with PRIVATE API"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?

When you try to delete a survey by calling

https://dxsurvey.com/api/MySurveys/delete/{id}?accessKey={accessKey}

I get the following error

<Error>
<Message>An error has occurred.</Message>
</Error>

I think the endpoint is wrong.

### What is the expected behavior?

Delete the survey

###

[2017-12-15 11:54] andrewtelnov commented on #626
@manoj-negi Sorry, we have missed the question.
You may always go through your survey data, like
[code]

Thank you,
Andrew

[2017-12-15 11:54] #626 closed

[2017-12-15 11:54] #627 closed

[2017-12-15 11:54] #629 closed

[2017-12-15 11:55] #634 closed

[2017-12-15 11:55] #635 closed

[2017-12-15 11:55] #638 closed

[2017-12-15 12:10] #630 closed

[2017-12-15 12:12] andrewtelnov commented on #639
@syash2015 Sorry, I have missed the question.
You have to set startWithNewLine property to false.
For radiogroup question you may set colCount to 0 to have all buttons on the same line
And finally, set titleLocation property to "left".

Thank you,
Andrew

[2017-12-15 12:12] #639 closed

[2017-12-15 12:13] #631 closed

[2017-12-15 12:14] #643 closed

[2017-12-15 12:14] #644 closed

[2017-12-15 12:14] #645 closed

[2017-12-15 12:14] #651 closed

[2017-12-15 12:15] #652 closed

[2017-12-15 12:15] #653 closed

[2017-12-15 12:15] #654 closed

[2017-12-15 12:16] #655 closed

[2017-12-15 12:16] #656 closed

[2017-12-15 12:16] #658 closed

[2017-12-15 12:17] #660 closed

[2017-12-15 12:17] #661 closed

[2017-12-15 12:17] #663 closed

[2017-12-15 12:26] andrewtelnov commented on #664
@akhoury I have revisted this issue. It should be fine now.

Thank you,
Andrew

[2017-12-15 12:26] #666 closed

[2017-12-15 12:27] #667 closed

[2017-12-15 12:27] #668 closed

[2017-12-15 12:33] #672 closed

[2017-12-15 12:37] #681 closed

[2017-12-15 12:37] #683 closed

[2017-12-15 12:37] #684 closed

[2017-12-15 12:37] #685 closed

[2017-12-15 12:38] #689 closed

[2017-12-15 12:39] andrewtelnov commented on #690
@madceb Sorry, I have missed the question. We have re-written custom widgets completely.
It should be fine now.

Thank you,
Andrew

[2017-12-15 12:39] #690 closed

[2017-12-15 12:40] #693 closed

[2017-12-15 12:40] #696 closed

[2017-12-15 12:53] #697 closed

[2017-12-15 12:53] #699 closed

[2017-12-15 12:54] #700 closed

[2017-12-15 12:54] #702 closed

[2017-12-15 12:54] #705 closed

[2017-12-15 12:55] #706 closed

[2017-12-15 12:55] #707 closed

[2017-12-15 12:56] #709 closed

[2017-12-15 13:03] #710 closed

[2017-12-15 13:04] #711 closed

[2017-12-15 13:06] andrewtelnov commented on #712
@tscott1213 It has been fixed on Oct 10 with this commit: https://github.com/surveyjs/surveyjs/commit/9a288d1e9c29683a945b68e5df53cea4e05cbe33#diff-09d28bb65676639fc1544d1e8c1e0556

[2017-12-15 13:07] #713 closed

[2017-12-15 13:07] #714 closed

[2017-12-15 13:08] #721 closed

[2017-12-15 13:09] #724 closed

[2017-12-15 13:09] #726 closed

[2017-12-15 13:10] #729 closed

[2017-12-15 13:12] andrewtelnov commented on #731
@P8888 Now, we have a built-in functionality for this: https://surveyjs.io/Examples/Library/?id=survey-quiz

Thank you,
Andrew

[2017-12-15 13:12] #731 closed

[2017-12-15 13:12] #732 closed

[2017-12-15 13:12] #736 closed

[2017-12-15 13:13] #741 closed

[2017-12-15 13:13] andrewtelnov commented on #742
@editplus86 We have a built-in functionality now. Here is the example: https://surveyjs.io/Examples/Library/?id=survey-quiz

Thank you,
Andrew

[2017-12-15 13:13] #742 closed

[2017-12-15 13:14] #743 closed

[2017-12-15 13:14] #744 closed

[2017-12-15 13:15] #746 closed

[2017-12-15 13:15] #751 closed

[2017-12-15 13:15] #752 closed

[2017-12-15 13:15] #754 closed

[2017-12-15 13:15] #757 closed

[2017-12-15 13:16] #758 closed

[2017-12-15 13:16] #759 closed

[2017-12-15 13:17] #767 closed

[2017-12-15 13:17] #770 closed

[2017-12-15 13:18] #774 closed

[2017-12-15 13:18] #775 closed

[2017-12-15 13:18] #777 closed

[2017-12-15 13:20] andrewtelnov commented on #779
@alasdaircr It should be fine from the next minor, v0.98.4

Thank you,
Andrew

[2017-12-15 13:20] #779 closed

[2017-12-15 13:20] #780 closed

[2017-12-15 13:20] #781 closed

[2017-12-15 13:20] #783 closed

[2017-12-15 13:21] #786 closed

[2017-12-15 13:21] #784 closed

[2017-12-15 13:21] #787 closed

[2017-12-15 13:21] #788 closed

[2017-12-15 13:22] #789 closed

[2017-12-15 13:23] #795 closed

[2017-12-15 13:23] #798 closed

[2017-12-15 13:23] #800 closed

[2017-12-15 13:23] #801 closed

[2017-12-15 13:24] #734 closed

[2017-12-15 13:24] #735 closed

[2017-12-15 13:24] #760 closed

[2017-12-15 13:24] #761 closed

[2017-12-15 13:24] #762 closed

[2017-12-15 13:26] #802 closed

[2017-12-15 13:26] #803 closed

[2017-12-15 13:26] #805 closed

[2017-12-15 13:26] #806 closed

[2017-12-15 13:26] #807 closed

[2017-12-15 13:26] #810 closed

[2017-12-15 13:27] #811 closed

[2017-12-15 13:27] #812 closed

[2017-12-15 13:27] #813 closed

[2017-12-15 13:27] #818 closed

[2017-12-15 13:28] #824 closed

[2017-12-15 13:28] #821 closed

[2017-12-15 13:29] #825 closed

[2017-12-15 14:37] dmitrykurmanov opened #836 "EnableIf for matrixes columns"
need to implement

[2017-12-15 15:11] tsv2013 commented on #835
@abritopach Thank you for the report. We'll fix it ASAP.

[2017-12-15 15:40] tscott1213 commented on #712
Hi Andrew,

That actually didn't fix it.

If you remove the absolute positioning from this line, then it is fixed:
'.sv_qstn label.sv_q_m_label': 'position: absolute; margin: 0;'

Thank you.
Todd

[2017-12-15 16:36] andrewtelnov commented on #712
@tscott1213 ok I will try to find out, why we use here absolute position. If I do not see the reason, I remove it.

Thank you,
Andrew

[2017-12-18 09:00] andrewtelnov commented on #27
@xibman Here is the example of implementing editor by using custom widgets: https://surveyjs.io/Examples/Library/?id=custom-widget-ckeditor

Thank you,
Andrew

[2017-12-18 09:00] #27 closed

[2017-12-18 09:03] andrewtelnov commented on #71
@ZakMiller We have added question.width property some times ago.
Here is the example: https://plnkr.co/edit/JwIuOw9x3UjWIXsHP144?p=preview

Thank you,
Andrew

[2017-12-18 09:03] #71 closed

[2017-12-18 09:08] andrewtelnov commented on #393
@Kuhax We have add the ability to edit choicesByUrl for columns some times ago.

Thank you,
Andrew

[2017-12-18 09:08] #393 closed

[2017-12-18 10:55] tsv2013 commented on #835
@abritopach I've tried to delete the survey via this endpoint and everything works ok for me. Can you please open a ticket at the https://surveyjs.answerdesk.io/ ? I 'll mark it as private and you can post your account and survey info that allows me to reproduce the issue and fix it.

[2017-12-18 13:31] irynmare opened #837 "Substitution for question.DefaultValue"
### Are you requesting a feature, reporting a bug or ask a question?
question

### What is the current behavior?
Can you add substitution for question.defaultValue as it was done for title and description.

### What is the expected behavior?
It will be great if I can assign some variable  name value through survey.setValue('name', 'test substitution') and then assign question.defaultValue = {name}

[2017-12-18 13:38] JonBetts opened #838 "Cannot seem to override values of certain default strings"
### Are you requesting a feature, reporting a bug or ask a question?
Asking a question

### What is the current behavior?
I cannot seem to override the default text for strings such as 'requiredInAllRowsError'.

### What is the expected behavior?
To be able to override the values of such strings. Some can be overridden (e.g. 'showQuestionNumbers'), but I cannot seem to change others. Is there a st

[2017-12-18 14:24] andrewtelnov commented on #838
@JonBetts Do you want to override it for on all matrixes or just one?
You can always change the localized string for all questions like this:
`Survey.surveyLocalization.surveyStrings.requiredInAllRowsError = "My text";`

Thank you,
Andrew

[2017-12-18 14:27] andrewtelnov commented on #837
@irynmare Why do you want to set the defaultValue and not the value itself?

Thank you,
Andrew

[2017-12-18 14:30] irynmare commented on #837
we want to predefined some customer data like phone number from data we already have. But user should be able to change it.

[2017-12-18 14:31] JonBetts commented on #838
Just one matrix would be ideal, but just changing it for all questions is a good start. Thanks Andrew, I will try that out! I'll close the ticket later on after I've been playing around.

[2017-12-18 14:36] andrewtelnov commented on #837
@irynmare  If you set it to value directly, he will be still able to change it.
The only difference between defaultVaue and value, that defaultValue can be in survey JSON, it is a part of survey definition.
You may set the value dirrectly in our phone/e-mail question. You user is able to change them later. For end-user, it will look absolutely the same.

Thank you,
Andrew

[2017-12-18 14:37] andrewtelnov commented on #838
@JonBetts If you need it to be diffrent for diffrent matrix and it should be a part of survey JSON, then I convert it to suggestion.

Thank you,
Andrew

[2017-12-18 14:38] tsv2013 commented on #837
@irynmare  you can assign pre-defined customer data via "survey.data" property, e.g:

[code]

[2017-12-18 15:13] irynmare commented on #837
Thank you for answers, I understand that I can assign values derectly in script, but then I am tied to question names, so I should know exact questions where this variable should be used. Also I would like to have this value in survey json.
It will be ideal if this substitution value can be assign in Survey Editor for the each question where I want to use it and in the script so I just can assign

[2017-12-18 15:28] tsv2013 commented on #837
@irynmare You can add a tag to a question. This tag property can contains the name of your environment variable name (work_phone, person_city) and thus you can collect default values for certain variables and set them via the "data" property. What do you think?

[2017-12-18 15:31] abritopach commented on #835
@tsv2013 Done. Ticket created.

Thanks!!

[2017-12-18 15:37] tsv2013 commented on #835
@abritopach Thank you, I'll take a look.

[2017-12-18 15:37] tsv2013 commented on #835
@abritopach JFYI: I've made this ticket private.

[2017-12-18 16:01] irynmare commented on #837
@tsv2013 I'll try this solution. Thank you.

[2017-12-19 07:42] andrewtelnov opened #839 "Show all pages as one page"
It can be useful in display mode, but also in edit mode as well.
It can be convinient to create a survey in the Editor by having several pages, but show all of them as one page in run-time.

[2017-12-19 11:36] tsv2013 commented on #835
@abritopach The bug is fixed. Site updated. Thank you for the report.

[2017-12-19 11:36] #835 closed

[2017-12-19 14:03] alekhraut commented on #469
-Thanks @andrewtelnov, it seems to be working fine with this version.

[2017-12-19 14:09] #469 closed

[2017-12-19 16:21] abritopach commented on #835
@tsv2013 Thank you very much!

I'm sorry to be a bore, but I've detected other strange things.

When I make the request it is now deleted but instead of getting a OK message  I get a HttpErrorResponse

`
HttpErrorResponse {headers: HttpHeaders, status: 200, statusText: "OK", url: "https://dxsurvey.com/api/MySurveys/delete/ab877922…5b9f3c?accessKey=ac6bc54aee714bcaab3dc2e6aed0f15d", ok: false, …}
e

[2017-12-20 08:14] #833 closed

[2017-12-20 08:14] #832 closed

[2017-12-20 08:14] #831 closed

[2017-12-20 08:14] #828 closed

[2017-12-20 12:19] andrewtelnov opened #840 "Support module (%) operator in expression"
'10 % 3' - this expression should return 1. 10 module 3 is 1.

[2017-12-20 13:04] andrewtelnov opened #841 "Randomize elements on page"
Add properties:
survey.questionsOrder: ["default", "random"]
page.questionsOrder: ["default", "initial", "random"]

[2017-12-20 16:35] halexiev-hedgeserv commented on #823
@andrewtelnov Hi Andrew, just to let you know that we implemented your suggestion and it works fine as far as collapsing/expanding the panel, so thank you once more!

One thing that's not working though is the validation of required questions within the panel when the panel is collapsed :(

To us being able to collapse/expand panels is more of a UX thing, definitely important but not critical, whe

[2017-12-20 22:42] JonBetts commented on #838
How can I achieve this server-side rather than in the Javascript? For example, with `isAllRowRequired`, I can just create add it to a map in Java land like so: `questionObject.put("isAllRowRequired", true);` and it picks it up. But this doesn't seem to work for these string localisations.

[2017-12-21 07:20] andrewtelnov commented on #823
@halexiev-hedgeserv What is your deadline? I think the easiest for us, is adding the state property to the model: normal, expanded, collapsed. If there expanded and collapsed is shown then show the UI for expanding/collapsing the panel.
If the panel is collapse and some questions inside it do not pass validation then change the state to expand.

Thank you,
Andrew

[2017-12-21 08:28] andrewtelnov commented on #838
@JonBetts SurveyJS is a client JavaScript library. I guess you are having the surver side code that renders the client code. You have to render the code I have provided:
`Survey.surveyLocalization.surveyStrings.requiredInAllRowsError = "My text";`
before you are rendering the code that creates the Survey on the client.
Probably I do not understand your scenario, then provide it in more details ple

[2017-12-21 09:56] halexiev-hedgeserv commented on #823
@andrewtelnov Deadline is Feb'18 so there's some time, but the clock is ticking.

Your idea sounds good. Maybe it also make sense to add another flag or something like that to prevent validation from happening and automatically expanding the panel for people in the situation that we are now who are perfectly fine with (and maybe even expecting) validation not being triggered when the panel is coll

[2017-12-21 11:56] andrewtelnov commented on #823
@halexiev-hedgeserv I was not sure that we may implement it this year, but in January, it is fine.
I wanted to implement this functionality from the beginning. The main problem I have is UI. We have the designer on board right now, so it should not be an issue.

Thank you,
Andrew

[2017-12-21 14:12] rooswelt opened #842 "Custom widgets in Ionic app"
### Are you requesting a feature, reporting a bug or ask a question?
Ask a question

### Question
Is it possible to use custom widgets on Ionic (v.3) apps? Are there any tutorials/examples?

[2017-12-21 15:58] tsv2013 commented on #842
Unfortunately we have not tested SurveyJS with Ionic. We cann't give any recomendations here.
Custom widgets are ordinary HTML/JS/CSS objects. I do not see any objections. But problems can be in case of rendering into specific native controls.

[2017-12-21 16:15] rooswelt commented on #842
I'm trying to insert a ImagePicker in my survey.  But I see nothing.
This is my code:

**component.ts**
[code]
 **index.html**
[code]

**JSON survey content**
[code]

I see other elements but no image picker. In console
I have this error:
![schermata 2017-12-21 alle 17 15 03](https://user-images.githubusercontent.com/1296566/34264237-83fa7510-e672-11e7-8da1-fdb6dcbe3fbb.png)

I'm kinda stuck. Any

[2017-12-21 18:28] andrewtelnov commented on #842
@rooswelt You may have this error, if the "imagepicker" was not registered for some reason.
It means that following code: https://github.com/surveyjs/widgets/blob/master/src/image-picker.js was not executed at the moment the survey starts parsing the json.
I can't see where do you inlude "survey.jquery.js" script? It should be included before "surveyjs-widgets"

Thank you,
Andrew

[2017-12-21 19:39] #839 closed

[2017-12-21 19:39] #840 closed

[2017-12-22 05:00] andrewtelnov opened #843 "Add expand/collapse for Panel"
Add property panel.state: string, where 3 options are available, "default", "expanded", "collapsed".
When the state is collapsed then only a panel caption (title + expand/collapse button) is rendered.
When the state is expanded a panel caption contains the collapse button except panel title.
Two new methods should be added into panel: collapse() and expand().
If the panel is collapsed, but there a

[2017-12-22 06:12] andrewtelnov commented on #823
@halexiev-hedgeserv FYI: https://github.com/surveyjs/surveyjs/issues/843

Thank you,
Andrew

[2017-12-22 14:08] andrewtelnov opened #844 "Add isRequired property into Panel"
Add two properties: panel.isRequired and panel.requiredErrorText.
If all questions are empty and isRequires = true, then the error should be shown,

[2017-12-23 05:59] andrewtelnov opened #845 "other value doesn't restore in dropdown if survey.storeOthersAsComment = false"
The bugs details are [here](https://surveyjs.answerdesk.io/internal/ticket/details/t333)

[2017-12-23 06:07] andrewtelnov commented on #845
After some investigation, everything is working as expected.

[2017-12-23 06:07] #845 closed

[2017-12-24 06:16] asadmalik3 commented on #816
@andrewtelnov Thanks alot for your help. I tried to product this error in plunkr but wasn't able to do so, it is working fine in plunkr, so it might be some issue in my local code.
I have another small question, once survey is completed i want to re-start it with some data, how can i do this? Here is the [plunkr ](https://plnkr.co/edit/WaBj7VxrGd6bNbFCBIsZ?p=preview)

[2017-12-24 09:03] andrewtelnov commented on #816
@asadmalik3 I have made the fork and modify an example: https://plnkr.co/edit/fmKB94zpvLH2FI8Cni2v
Unfortunately, it doesn't work due a small bug. I have just fixed it. The code will work from the next minor version that we will release on the next week.

Thank you,
Andrew

[2017-12-24 12:55] asadmalik3 commented on #816
Thank you. I am waiting for that update.

[2017-12-25 12:43] andrewtelnov commented on #799
@mdickin We have added isRequried into Panel: https://github.com/surveyjs/surveyjs/issues/844

Thank you,
Andrew

[2017-12-26 07:17] andrewtelnov commented on #745
Added:
question.correctAnswer, survey.getCorrectedAnswers(), survey.getInCorrectedAnswers() and the following completedHtml is possible:
`"You have answered correctly {correctedAnswers} on {questionCount} questions. {inCorrectedAnswers} answers are incorrect."

[2017-12-26 13:39] #836 closed

[2017-12-26 13:39] #841 closed

[2017-12-26 13:39] #844 closed

[2017-12-28 06:57] andrewtelnov opened #846 "Clear errors on making question invisible"
If there is a validation error in the question that you have to fixed and during the fix you are making this question invsible and after some changes visible again, an end-user may confused getting the same error. It is better to clear all errors after a question becomes invisbile.

[2017-12-28 11:28] #837 closed

[2017-12-30 06:55] #846 closed

[2017-12-30 06:57] andrewtelnov commented on #823
@halexiev-hedgeserv It has been implemented: https://plnkr.co/edit/SwRobS1FS0MpHnDJ6G3X?p=preview

Thank you,
Andrew

[2017-12-30 06:57] #823 closed

[2017-12-30 06:58] #843 closed

[2017-12-30 17:10] halexiev-hedgeserv commented on #823
@andrewtelnov Great! Could you only clarify how can the panel be expanded when it contains required question that has not been populated and the "complete" button is clicked:

https://plnkr.co/edit/tdiTaVYq0QNchYTpWhwM?p=preview

Thank you,
Hristo

[2017-12-30 18:31] andrewtelnov commented on #823
@halexiev-hedgeserv Yes, you are right. It is a bug. I have just fixed it with the commit above.

Thank you,
Andrew

[2018-01-01 19:06] dmitrykurmanov commented on #842
Hello! You could check this project https://github.com/abritopach/ionic-surveyjs. It may help.

[2018-01-02 09:34] skeary-immt commented on #745
Hi,

The ability to do quizzes looks really useful :)

I was looking through the changes and noticed a couple of typos or grammar issues:

* `getCorrectedAnswers()` should probably be `getCorrectAnswers()` or perhaps, even better, `getCorrectAnswerCount()` as the function returns the count and not the actual answers.
* Similarly, `getIncorrectedAnswers()` should probably be `getIncorrectAnswers()`

[2018-01-02 10:28] andrewtelnov opened #847 "Survey doesn't scroll to the first question with an error"
Survey scrolled to the first question with an error. This functionality stopped to work in v1.0.

[2018-01-02 10:39] andrewtelnov commented on #847
It was fixed with the following commit: https://github.com/surveyjs/surveyjs/commit/c8a7227c600cf3d7ec096d6abc60d52a6fe713af

[2018-01-02 10:53] andrewtelnov commented on #745
@skeary-immt I have modified/added properties names.

Thank you,
Andrew

[2018-01-02 20:19] abrambailey opened #848 "Visible If not working after you click "Run Survey""
When you click on the Run Survey button depicted below, all questions load, even if you have some with visible false and those are meant to be triggered by visibleIf conditions. The survey seems to work fine when you enter the "Test Survey" tab instead.

![image](https://user-images.githubusercontent.com/978462/34498561-c77c8eaa-efc7-11e7-9fdb-d6411b9bfbf2.png)

[2018-01-03 07:16] andrewtelnov commented on #848
@abrambailey We will look at it. Do you use surveyjs.io or dxsurvey.com website?

Thank you,
Andrew

[2018-01-03 13:56] asadmalik3 commented on #816
@andrewtelnov any word about the update? is it released?

[2018-01-03 14:03] andrewtelnov commented on #816
@asadmalik3 It works as expected now. You may just try the example I have posted above.

Thank you,
Andrew

[2018-01-03 14:03] #816 closed

[2018-01-03 17:26] care46 opened #849 "Custom CSS panel"
Hi, in my survey i write a function like this

 this.model.onUpdateQuestionCssClasses.add(function(survey, options)
		{
			var classes = options.cssClasses

			if (options.question.renderAs == "SiteNV")
			{
				classes.mainRoot = "question_css question_nv";
			}

		});

to customize a question css class

It's possible to do the same for customize the PANEL css class?

thank you

[2018-01-03 18:53] andrewtelnov commented on #849
@care46 It will be available from the next minor version.
[code]

Thank you,
Andrew

[2018-01-03 20:09] abrambailey commented on #848
surveyjs.io

[2018-01-03 22:10] mikecousins commented on #720
Is this planned soon? It's a pretty quick and easy fix in package.json.

[2018-01-04 10:33] valero90 opened #850 "Doubt about loading dynamic questions"
I am wondering if there is any method to load questions from the server, and load them to the Vue template.

Actually, when I load the questions they won't show.

Test code

Controller:
[code]

Component:
[code]

[2018-01-04 11:05] ak34504 opened #851 "How to pass custom error and hold screen like existing validation message."
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac