[2017-02-14 07:32] andrewtelnov commented on #234
@jasonracey  You have to add a new property into survey question meta data.
Survey.JsonObject.metaData.addProperty("questionbase", "category");
Here is [the full description](http://editor.surveyjs.io/examples/addproperties.html#code) about adding properties into survey classes.
onComplete method, you may create the data JSON you need and send it to your server.

Thank you,
Andrew

[2017-02-14 09:40] andrewtelnov commented on #233
The feature is implemented. Examples are required.

[2017-02-14 10:52] dmitrykurmanov commented on #229
@tommygaessler, may be you need to try add something like this:

`    map: {
      ...
      'survey-angular':            'node_modules/survey-angular/dist/survey.angular.min.js'
    },`

in your systemjs.config.js file. I've done that in my example https://github.com/dmitrykurmanov/survey-angular-example. Maybe I'm wrong, I'm not very familiar with SystemJs.

[2017-02-14 11:00] #73 closed

[2017-02-14 11:01] dmitrykurmanov commented on #92
please go to  #93

[2017-02-14 11:01] #92 closed

[2017-02-14 11:09] dmitrykurmanov commented on #171
@cloudstoneme, thanks we will think about it.  You could also try to use https://unpkg.com/#/, for example:

https://unpkg.com/survey-react@0.11.1

[2017-02-14 11:13] #209 closed

[2017-02-14 11:16] #225 closed

[2017-02-14 11:16] #230 closed

[2017-02-14 11:18] #211 closed

[2017-02-14 11:18] #208 closed

[2017-02-14 11:19] #207 closed

[2017-02-14 11:20] #206 closed

[2017-02-14 11:22] dmitrykurmanov commented on #203
@ryancwalsh, we fixed it

[2017-02-14 11:22] #203 closed

[2017-02-14 11:23] #200 closed

[2017-02-14 11:52] #228 closed

[2017-02-14 15:29] dmitrykurmanov opened #235 "Doesn't work example trigger-setvalue at surveyjs.org (except knockout)"
http://surveyjs.org/examples/jquery/trigger-setvalue.html

Doesn't work for react, jQuery, angular

[2017-02-14 16:08] tommygaessler commented on #229
Thanks @dmitrykurmanov I got it figured out!

[2017-02-14 19:56] andrewtelnov commented on #235
@dmitrykurmanov it should be fixed now.

Thank you,
Andrew

[2017-02-15 12:45] harpsicord86 opened #236 "Using Matrix single choice for scale questions"
Hi there,

I've been looking into using survey.js for helping to generate surveys and this certainly does do a lot of stuff we are looking for!  However, I do have one question.

Is it possible to add another header row on top of the Matrix template as it would be useful to show what certain headers mean i.e. 0 - Not important, 5 - Very Important

Ideally something like this:
![image](https://clou

[2017-02-15 13:41] andrewtelnov commented on #236
@harpsicord86 At the current moment the only way to do it, is using onAfterRenderQuestion event: https://github.com/surveyjs/surveyjs/issues/219, in options event variable you will have a question and element properties, where element is the html element associated with the question.
Unfortunately, there is no a demo yet. We may try to use this example as a demo for custom rendering.
You may try t

[2017-02-15 17:11] JonBetts opened #237 "Can still press submit button when survey mode is set to 'display'"
Not sure if this is just me, but when I set a survey to be read-only, all the survey inputs are disabled except the submit button. Pressing that in my application causes an issue, and I don't really want to have to deal with it server-side if I can help it.

Is this a known issue?

Thanks.

[2017-02-15 18:55] andrewtelnov commented on #237
@JonBetts In fact, I just have not decided what to do. There should be an another flow:
 "End" button and onEndDisplay event. I was not sure about the button and event names and as result did nothing :-)
By the way what is your flow?

Thank you,
Andrew

[2017-02-16 10:19] nelero opened #238 "jquery rating version displays NULL"
if i use the latest version of the jquery survey with a rating question, it displays null for near min and max values
![capture_jquery_rating](https://cloud.githubusercontent.com/assets/593714/23017188/9c94be04-f439-11e6-9be8-dea48aff6700.PNG)

JSON :
[code]

[2017-02-16 10:45] LeBaThuan opened #239 "Can not show data on IE 11"
When I try with Angular 2 in the IE 11 (win 8.1)
[http://plnkr.co/edit/OJkKlUn1oxzWYtnruXir?p=preview](http://plnkr.co/edit/OJkKlUn1oxzWYtnruXir?p=preview)
can not show the quesion

[2017-02-16 13:15] nelero opened #240 "AllowRequired on matrix question not translated"
In french, when we use AllowRequired, the error message is still in english
" Please answer questions in all rows."

Translation : "Toutes les lignes sont obligatoires"

[2017-02-16 14:07] andrewtelnov commented on #238
@nelero Yes, indeed there is a bug. I will work on the fix. As a workaround, please set the following properties:
[code]
JSON:

[code]

Thank you,
Andrew

[2017-02-16 16:57] fabien commented on #201
I was having problems using this, until I used the word Survey (with uppercase S) everywhere, exactly as @ryancwalsh mentioned.

I wasn't aware of any case-sensitivity issues like this existed in RequireJS; the following did not work for me:

[code]

Perhaps this is caused by a particular method of building the AMD wrapper?

[2017-02-16 17:34] fabien opened #241 "How to perform clean remove/destroy"
I'm using the jQuery version, and I was hoping to find a method to cleanly destroy a Survey instance - unbinding any event handlers and so on:

[code]

Care should be taken, so all DOM event handlers etc. are disposed to prevent any memory leaks in a SPA setup.

[2017-02-16 17:36] fabien commented on #135
I cannot see the demo code when I follow that link - it appears not to load correctly. The other customization demos won't load for me either.

[2017-02-16 18:07] jasonracey commented on #234
Thanks Andrew. Using `Survey.JsonObject.metaData.addProperty("questionbase", "category");` I found my custom field here `survey.pages[0].questions[0].category` so it appears to be working as described.

[2017-02-16 18:07] #234 closed

[2017-02-16 20:16] andrewtelnov commented on #240
@nelero The french translation was created some times ago and new strings have been added. Here is the  localization file: https://github.com/surveyjs/surveyjs/blob/master/src/surveyStrings.ts and here is the french translation: https://github.com/surveyjs/surveyjs/blob/master/src/localization/french.ts
For example, addRow and removeRow strings are not translated either.

PS: I have added the tran

[2017-02-16 20:19] andrewtelnov commented on #241
@fabien Unless I am not mistaken, we do not have this functionality yet, for jQuery version. @dmitrykurmanov and @tsv2013 lets discuss this tomorrow.

Thank you,
Andrew

[2017-02-16 20:24] andrewtelnov commented on #135
@fabien Does this link work for you? http://editor.surveyjs.io/examples/addproperties.html#code
It works fine for me and there is the similar issue, https://github.com/surveyjs/surveyjs/issues/234, which is closed already.

Thank you,
Andrew

[2017-02-17 07:34] tsv2013 commented on #38
@LeXuZZ, @franjogordillo Since v0.12.0 we can use 3rd party controls as editors for questions. We've implamented a couple - [jqueryui](https://jqueryui.com/datepicker/) [datepicker](http://surveyjs.org/examples/jquery/custom-widget-datepicker.html) and [devextreme](https://js.devexpress.com/Documentation/16_2/ApiReference/UI_Widgets/dxTagBox/) [dxTagBox](http://surveyjs.org/examples/jquery/custom-

[2017-02-17 09:38] Ryidale opened #242 "isVisible not working in IE and subsequent ordering issues"
Hey,
I have an issue with jquery version of surveyJs 0.12.0 'isVisable' in IE 11 (win 8.1).  All conditional fields are permanently hidden even when the correct options are selected. (This seems to work in firefox and chrome)

An example of the issues
[http://plnkr.co/edit/4ckw4U35EMtSjeMlmbCv?p=preview](http://plnkr.co/edit/4ckw4U35EMtSjeMlmbCv?p=preview)

Another issue related to this is that th

[2017-02-17 11:06] #231 closed

[2017-02-17 11:51] JonBetts commented on #237
Hi Andrew,

I've created a pull request for this issue - I thought it might make it more clear to you what I mean :relaxed: It is #243. Basically I don't think the 'complete' button should ever show when you're viewing a survey in 'display' mode.
Let me know what you think.

Thanks,
Jon

[2017-02-17 12:59] andrewtelnov commented on #171
@cloudstoneme We are using azure cdn from today. You may use it as: https://surveyjs.azureedge.net/0.12.0/[filename]

Thank you,
Andrew

[2017-02-17 13:43] andrewtelnov commented on #237
@JonBetts :-) ok, for my flow hiding the button works as well. I have added the code for knockout and vue versions as well.

Thank you,
Andrew

[2017-02-17 13:48] JonBetts commented on #237
Excellent. Thanks so much Andrew.

[2017-02-17 13:48] #237 closed

[2017-02-17 13:54] andrewtelnov commented on #242
@Ryidale indeed, it works in all browsers I have tried, except IE. We will see what is wrong here.

Thank you,
Andrew

[2017-02-17 14:39] xibman opened #244 "Vue.js - checkbox with same value on different pages be checked"
Hi

I found a small bug on checkbox:
if you have multiple page with different question with checkbox with the same value, answer checked on page 1 are checked on page 2.
See the exemple: https://jsfiddle.net/z11fe07p/778/

[2017-02-17 15:23] dmitrykurmanov commented on #244
@xibman , hello! Thanks for your report. May be it is because of this problem:
https://forum.vuejs.org/t/v-model-multiple-checkbox-and-computed-property/6544
http://stackoverflow.com/questions/42248888/vuejs-v-model-multiple-checkbox-and-computed-property

We couldn't understand how to use multiple checkboxes with computed property. So we are using `watch` for our checkboxes implementation, it mig

[2017-02-17 15:38] xibman commented on #244
I think it could be interesting to ask the question on vue gitter channel: https://gitter.im/vuejs/vue

[2017-02-17 15:47] dmitrykurmanov commented on #244
@xibman, done, thank you!

[2017-02-18 10:23] xibman commented on #244
@dmitrykurmanov you can use this: https://vuejs.org/v2/guide/computed.html#Computed-Setter

et get the element id to store te correct value

[2017-02-18 10:27] xibman opened #245 "coefficient"
Hi all,

i think it could be an insteresting feature to add a coefficient on question attributes

[2017-02-18 17:56] andrewtelnov commented on #245
@xibman SurveyJS allows to add/remove properties on the fly. The following code will add the coefficient property, just call it before creating the Survey.

[code]
[Here is the description](http://editor.surveyjs.io/examples/addproperties.html#code) with what you can do with properites.
However, you may need it the most of this, since it is related to the SurveyJS editor mostly.

Thank you,
Andrew

[2017-02-18 17:58] andrewtelnov opened #246 "Dropdown question doesn't set value in agular and jQuery versions in IE11 and Edge"
The bug is found in v0.12.0. It is  very likely that the problem is in v0.11.x as well.

[2017-02-18 19:46] andrewtelnov commented on #238
Fixed in v0.12.0

[2017-02-18 19:46] #238 closed

[2017-02-18 19:50] dmitrykurmanov commented on #244
@xibman yes, we did it. But we have a problem (as I've written above). You can see it in the [fiddle](https://jsfiddle.net/badgoto/p8zhrg6g/1/). Could you check it please?

[2017-02-19 11:32] EminYasarturk opened #247 "Preview Mode"
Hi everybody,

I have a question about preview mode not test mode. Can i add a button to TollBar , after the last 'li' element which has svd_actions classes. If i add this button, i wanna open a modal with ajax which contains questions. Maybe if i can add this option test mode can be useless.

[2017-02-19 17:09] andrewtelnov opened #249 "hasComment doesn't work for jQuery, angular and react versions"
v0.12.0 if hasComment set to true, the survey is not rendered in react, jQuery and angular

[2017-02-19 17:49] andrewtelnov commented on #247
@EminYasarturk Do you want to have a custom elements in Toolbar for editor? Am I right?

Thank you,
Andrew

[2017-02-19 18:46] EminYasarturk commented on #247
@andrewtelnov

![1](https://cloud.githubusercontent.com/assets/25570274/23105228/3b436a80-f6e4-11e6-9928-fa68db129e9f.png)

When i click Preview button, i will open this modal.

![2](https://cloud.githubusercontent.com/assets/25570274/23105204/c69265d8-f6e3-11e6-9995-f8fa1d654854.png)

I embed Preview Button with jquery. Is there a function which is standartly.

[2017-02-19 18:48] EminYasarturk commented on #247
This form language is Turkish. I forget change this and examples :)

'Geri Al' means Undo, Formu Kaydet means 'Save Form'

[2017-02-19 19:02] dmitrykurmanov commented on #235
@andrewtelnov it is ok except vue js, we'll check it

[2017-02-20 08:44] xibman commented on #244
@dmitrykurmanov Hi, i think you could use a custom method for the checkbox: https://vuejs.org/v2/guide/components.html#Form-Input-Components-using-Custom-Events

[2017-02-20 10:06] #246 closed

[2017-02-20 10:08] dmitrykurmanov opened #250 "Vue.js Doesn't work example trigger-setvalue at surveyjs.org (except knockout)"

[2017-02-20 10:09] dmitrykurmanov commented on #235
I've opened specific Vue.js issue #250

[2017-02-20 10:09] #235 closed

[2017-02-20 10:18] #249 closed

[2017-02-20 12:01] #242 closed

[2017-02-20 13:03] #239 closed

[2017-02-20 13:04] tsv2013 commented on #239
According to https://github.com/angular/zone.js/issues/316 we can not load polyfills before zone.

[2017-02-20 13:44] tsv2013 opened #251 "Radiobuttons are duplicated under some circumctances (IE11)"
See http://surveyjs.org/examples/angular/condition-kids.html

[2017-02-20 15:08] andrewtelnov commented on #247
@EminYasarturk I believe you are looking the following functionality: https://github.com/surveyjs/editor/issues/49
Am I right?

Thank you,
Andrew

[2017-02-21 04:48] ericdmessick opened #252 "goNextPageAutomatic not working"
Using React version code produced from the dxsurvey service. No bootstrap.  This is what I am getting when I run page locally.

I'm doing a range of 1-10.  If the user choses any rating less than 5, a new question appears.  5 and over should just complete the page.  However, if I click anything over 5+, I get this error:

Uncaught RangeError: Maximum call stack size exceeded

WIth one exception.

[2017-02-21 07:31] ericdmessick commented on #252
So, I removed the ranking '10'.  It only goes up to nine.  I don't know why '10' would be cause the conditional to trigger if it was set <5.

However, the error:

Uncaught RangeError: Maximum call stack size exceeded

...still throws if you choose 5-9 and the survey will not complete.

[2017-02-21 08:49] Ryidale opened #253 "Reordering of hidden fields after being displayed once"
Hey,
There still appears to be an issue with the reordering of hidden fields after being displayed once ( Reported and closed   #242 ). This bug seems to affect  IE, Firefox and Chrome.

http://plnkr.co/edit/4ckw4U35EMtSjeMlmbCv?p=preview

Please see the issue please follow the instructions below with the above link:
- Select 'Application / Web' (Please note down the order of subsequent questions)

[2017-02-21 09:15] #251 closed

[2017-02-21 09:21] andrewtelnov commented on #252
@ericdmessick You are using the 0.11.1 version. The bug has been fixed in v0.12.0: https://github.com/surveyjs/surveyjs/issues/238. Please get the latest version: v0.12.1

Thank you,
Andrew

[2017-02-21 09:24] andrewtelnov commented on #253
@Ryidale Indeed, it is another issue. Before, it doesn't work in IE at all. Now there is an issue with reordering, I can see it.

[2017-02-21 11:26] andrewtelnov commented on #253
@Ryidale I have found that the bug is related to [preact](https://github.com/developit/preact). We use it to get from react version jQuery and angular2 versions. The original react version works fine. pReact renders the list of elements in incorrect order. We will try to find a workaround or contact pReact team to solve the issue.

Thank you,
Andrew

[2017-02-21 11:47] andrewtelnov commented on #253
I have fixed it. Before we do not render the element at all, if it is invisible. Now the div for question row is rendered always. If it is invisible, the content is empty and display is 'none'.

Thank you,
Andrew

[2017-02-21 13:36] xibman commented on #245
thanks a lot for your answer !

[2017-02-21 13:36] #245 closed

[2017-02-21 14:00] xibman opened #254 "checkbox and radio with colors"
Hi all,

it could be interesting to use this lib : http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/

to color checkbox or radio in survey

[2017-02-21 14:09] andrewtelnov commented on #254
@xibman You may do it right now, using custom widget feature: http://surveyjs.org/examples/jquery/custom-widget-tagbox.html

You may add a new property "isAwesome:boolean", and use it in the isFit function.

Thank you,
Andrew

[2017-02-21 20:02] c0bra commented on #8
@andrewtelnov this should really go in the docs or a FAQ or something. Got lucky searching through the issues but I would have been really frustrated and worried as I was initially going to `eval()` the text output into an object which is very insecure.

[2017-02-22 03:23] ericdmessick commented on #252
I updated to the new version 0.12.1, but it still does the same thing.

[2017-02-22 06:33] athad opened #255 "Dynamic Matrix Dropdown JQuery Strange Behaviour"
I'm currently using the jQuery version and ran into a problem with the dropdowns randomly firing off, displaying old values, triggering changes on other dropdown rows and/or columns.

See an example here: http://plnkr.co/edit/qg7dhMt76BIYWqaAJEc6?p=preview. Try changing the selected values in columns one or two. When I reduce to one dropdown and one row, the dropdown always selects the previously

[2017-02-22 06:54] tsv2013 commented on #226
@kialam We've discussed this issue with @andrewtelnov and prepared a boilerplate to start Angular 1.6.2 support (survey-ng) in the "feature/ng" brunch: build infrastructure, survey component, page component, navigation bar and implemented a couple of questions.
Build command is "npm run build_ng_dev".
The sample code to run is in the "/examples/ng/" folder.

Please feel free to commit, we'll provi

[2017-02-22 07:05] andrewtelnov commented on #252
@ericdmessick Sorry, it is definitely another issue. I have created a [plunker example](http://plnkr.co/edit/CRvWxAF75iRV184qCAg5?p=preview). Could you please fork, change it, so it doesn't work and post a link here.
Because, I do not understand how to reproduce the problem.

Thank you,
Andrew

[2017-02-22 07:09] tsv2013 commented on #255
Thank you, @athad, the problem is is rather clear for me. It's defenitely a bug, we'll fix it.

[2017-02-22 07:44] andrewtelnov commented on #8
@c0bra You are right. We need documentation.
Unfortunately, we are not able to produce a quality docs right now. We will work on them later.
What we can do and actually had to some times ago, create an example and describe all available options. I have added this task to our TODO list.

Thank you,
Andrew

[2017-02-22 10:00] #250 closed

[2017-02-22 10:49] dmitrykurmanov commented on #255
This bug is also in angular2, so it is preact.

[2017-02-22 13:56] dmitrykurmanov commented on #255
So... we need just update preact and preact-compat versions :)

[2017-02-22 14:02] #255 closed

[2017-02-22 14:06] AndehWong opened #256 "maximumRateDescription not Displaying"
maximumRateDescription for the survey is not displaying correctly. The issue is evident on the example page as well.

http://surveyjs.org/examples/react/real-productfeedback.html

Note that for the "satisfied" question, the minimumRateDescription shows, but the maximumRateDescription does not show.

[2017-02-22 14:13] dmitrykurmanov commented on #256
@AndehWong this is bug. Thank you for reporting it!

[2017-02-22 14:39] #256 closed

[2017-02-22 14:40] dmitrykurmanov commented on #256
@AndehWong it is fixed in master branch

[2017-02-22 14:40] AndehWong commented on #256
Awesome, thanks a lot!

[2017-02-23 04:22] ericdmessick commented on #252
Okay, I forked it on plunk. It seems to be tied to using the rating to make
the next question on that page visible.  The second question on that page
is set up identically, but completes the page.  However, that question does
not have a question who's visibility is dependent on it.

I just wanted to say, also, that I appreciate this.  Whenever I get my
hands on a new library, framework, or languag

[2017-02-23 08:55] dmitrykurmanov commented on #252
@ericdmessick, Hello! Thank you for the report. I've tried find problem at your site, but you are using min(uglify) version. Could you get version of your site with "dev" bundle that I could debug it, please. Or create fiddle with this error as Andrew said.

PS we are working on functional testing, so we hope that same problems will go away

[2017-02-23 17:59] git2g commented on #60
@andrewtelnov So I'm guessing this is incomplete?:

[2017-02-23 18:33] andrewtelnov commented on #60
@git2g Sorry, I did not get the question :-(
{age} >= 21 and ({smoke} == ‘no’ or {beerlover} == ‘no’)
The tree is:
<and>
1) {age} >= 21
2) <or>
  2.1) {smoke} == ‘no’
  2.2) {beerlover} == ‘no’

It looks fine to me.

[2017-02-23 20:10] AndehWong opened #257 "Issues with "isRequired" field for multipletext input"
Hello, I'm having an issue, and I'm not sure if this is a bug or not. I'm trying to create a survey with a multipletext type question, and I have selected that isRequired: true. However, the fields can be left blank, and the user can submit the survey. Is this something that has not been implemented yet or is it a bug or do I need to change the JSON to suit the question?

[2017-02-23 20:51] andrewtelnov opened #258 "Add isRequired attribute into MultipleTextItemModel class"
It is not possible to have non-empty value for the specific text item in the multiple text question.

[2017-02-23 20:53] andrewtelnov commented on #257
@AndehWong I think we have to add isRequired property to the text item. I have added a new issue: https://github.com/surveyjs/surveyjs/issues/258
At the current moment, you may use the onValidateQuestion event: http://surveyjs.org/examples/jquery/validators-event.html

Thank you,
Andrew

[2017-02-23 22:33] AndehWong opened #259 "Where do I exactly change the styling of the survey itself?"
I'm wondering if it is possible to change the styling of the survey itself. In particular, I want to make it possible to add more spacing between questions, and maybe change the size of the text input boxes for a few of my questions. I'm currently using React and React-Bootstrap, and I'm fairly new to React.

[2017-02-23 23:04] ockam opened #260 "Feature request: contextual help text"
I would like to add help text to my survey.

Would be great if we could attach help info to any part of a question (global, row, column, answer) and specify if it should render as a dom element or as an attribute (title or other data attribute that would render as a tooltip or popover).

I understand this is complex and has many side effect.

Meanwhile, is it possible to implement a custom solutio

[2017-02-24 01:32] SlowburnAZ commented on #254
@andrewtelnov , Interesting.  How, though, would one go about integrating something like iCheck (http://icheck.fronteed.com/) to style the checkboxes and radios?

[2017-02-24 07:15] SlowburnAZ commented on #254
Also, I've noticed that the labels for checkboxes and radios don't have the 'for' attribute set.  So, if we wanted to style the checkboxes and radios purely with CSS, the technique of hiding the checkbox or radio itself wouldn't work, right, as making the label control the checkbox or radio element requires that the 'for' attribute be set?

[2017-02-24 07:29] andrewtelnov commented on #259
@AndehWong Please take a look at this demo: http://surveyjs.org/examples/react/survey-customcss.html
You will have to change the myCss to
[code]

Thank you,
Andrew

[2017-02-24 08:55] ericdmessick commented on #252
@dmitrykurmanov  I did the plunker fork as requested by @andrewtelnov.  Here is a link to the github as well.  https://github.com/ericdmessick/SurveyForDummies.git for now.

[2017-02-24 09:39] andrewtelnov commented on #260
@ockam
I agree that tooltip/help feature, would be nice to have. I have add this to our TODO list, but I can't promise anything at the current moment.

At the current moment, there are two options and both are not easy once:
1) [Override the question rendering](http://surveyjs.org/examples/react/survey-customtemplate.html)
2) [Use onAfterRenderQuestion event to correct the DOM](https://github.com/

[2017-02-24 09:42] andrewtelnov commented on #252
@ericdmessick Unfortunately, you did not share a plunker fork link with us. We do not have an access to it :-(
We can take a look on your repo of course.

Thank you,
Andrew

[2017-02-24 10:03] andrewtelnov commented on #254
@SlowburnAZ I have added in our TODO list the task to discuss using the "for" attribute.
And yes, we are going to make more examples with custom-widget feature. I personally want to make an example with select2. I have added the iCheck widget in our list of examples we have to create.

Thank you,
Andrew

[2017-02-24 14:38] ockam commented on #260
Thanks @andrewtelnov

Regarding the last link (properties), is it normal I can’t see this section when navigating the regular website (surveyjs.org vs editor.surveyjs.io)?

[2017-02-24 14:52] andrewtelnov commented on #260
@ockam What do you mean?
Are you talking about his page  http://editor.surveyjs.io/examples/addproperties.html#code?
The Json properties code is in the surveyjs library. Surveyjs library use it to create objects from json. You may need it to make sure the help context related properties are read from Json. Nothing more.

Editor uses Json properties code a lot. The most declaration described in the

[2017-02-24 15:00] ockam commented on #260
Yes, I meant this page.

At first, I didn’t see the difference (between editor and library).

[2017-02-24 15:56] SlowburnAZ commented on #254
@andrewtelnov Awesome.  Thanks!  Would love to be able to use that library.

[2017-02-24 18:38] AndehWong commented on #259
Awesome, I didn't see that row what editable in the css. Thank you!

Last question, is it possible to stylize specific choices (like a specific radio choice)?

[2017-02-24 19:58] andrewtelnov commented on #259
@AndehWong Unfortunately there is no easy way to do it. Thre is onAfterRenderQuestion event that passed question and htmlElement as properties in options parameter:

[code]

The following thread maybe interesting for you as well: https://github.com/surveyjs/surveyjs/issues/254

Thank you,
Andrew

[2017-02-25 06:58] sufuf3 opened #262 "Some files seem to miss in survey-knockout@0. 11.0"
Hi @surveyjs ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). We are going to host this library.
But there is only css file in the v0.11.0 of survey-knockout form npm.

So, is there any files that the 0.11.0 version of the survey-knockout should include?
eg. `survey.ko.js`,   `survey.ko.min.js`

If you have any suggestions, please let me know.

Thank you.

[cdnjs/cdnjs#10153](https://git

[2017-02-25 19:29] bennettrogers opened #263 "is question.hasTitle functional?"
I can see that rendering of the question title is conditional on the `question.hasTitle` property, but setting that to `false` in the survey JSON doesn't seem to change anything. I'm trying to follow the flow of the parameters, and it looks like hasTitle is just hardcoded to `false` in the questionBase, and hardcoded to `true` in the question class itself.

Is the intention that this property can

[2017-02-26 03:06] ojpeters opened #264 "Add image type to choices"
I really like the surveyjs but it appears like If I create a question that needs user to choice between some options, instead of having text  choices, Can I have them choice image(s)

. I would like to have the user choice answer by clicking on an image. Any examples will help

![image_options](https://cloud.githubusercontent.com/assets/7523661/23336739/8ea8f17e-fba6-11e6-9ab6-61c8c04a9d8f.PNG)

[2017-02-26 07:25] andrewtelnov commented on #264
@ojpeters At the current moment, you may do it by using custom-widget feature only: http://surveyjs.org/examples/jquery/custom-widget-tagbox.html

We will discuss image question. Probably we will implement it in the future.

Thank you,
Andrew

[2017-02-26 08:00] andrewtelnov commented on #263
@bennettrogers Yes, it is a virtual property. It returns false in the base question and html question. It returns true in all other questions.
As you may see there is no title property in the html question, and base question.

Thank you,
Andrew

[2017-02-26 10:21] ojpeters commented on #264
Hi Andrew,
Is there any further documentation on the choiceByURLproperty? I cant seem to connect to a local url like ./img/berries.png
Or are you saying that its not possible yet to list images as a choice. I will appreciate any little code snippet no matter how rough. Ability to choose by image(radio or checkbox) is holding me from using the awesome tool in my project.I couldn't get my head aroun

[2017-02-26 10:33] andrewtelnov commented on #264
@ojpeters It was created for another purpose. Here is [the demo] (http://surveyjs.org/examples/jquery/questiontype-dropdownrestfull.html).
To fill checkboxes, radiogroup and dropdown with choices/options from restful API.

Thank you,
Andrew

[2017-02-26 11:01] andrewtelnov commented on #262
@sufuf3 Yes, indeed the npm survey-knockout v0.11.0 is corrupted. There is no way to update the packages in npm since February 2014.

I may share these files to you, if you need them for some reason.

Thank you,
Andrew

[2017-02-26 13:15] sufuf3 commented on #262
I need them to make should that the files of v0.11.0 in cdnjs is work.
So please share these files.
Thank you.

[2017-02-26 17:14] bennettrogers commented on #263
Gotcha. I was hoping to use it to disable rendering of the title for individual questions, but I've figured out a CSS solution that works for now. It's not pretty, but it works!

[2017-02-26 18:29] andrewtelnov commented on #263
@bennettrogers If you give us a good scenario, where this functionality is required, then we will implement it. It is not that hard to make hasTitle property writable with default value and make it a JsonProperty. Probably there is not need to change the rendering since hasTitle is already there.
The only question. Should we count this questions or not? html question doesn't change  numbers (no) o

[2017-02-26 18:50] bennettrogers opened #265 "[Vue] text inputs do not remember their value across page changes"
It looks like f6bbca410b73ed17d28d8e1364678cc0b5e7a219 breaks the ability of text inputs to store their value when changing pages. I'm looking into how to fix it without re-breaking the trigger functionality, but submitting this anyway in case you fix it faster. :)

[2017-02-26 19:10] bennettrogers commented on #263
To be honest, the reason I'm even trying to hide the title in the first place is to approximate a multi-text type of control. The built-in multitext question type seems harder to work with (tables), so I was instead putting two text inputs side-by-side on the same line, and trying to merge them into a pretty "combined" input. Something like the height and blood pressure controls in the attached sc

[2017-02-26 20:04] andrewtelnov commented on #263
@bennettrogers I think it is possible.
I guess you have seen [the startWithNewLine property](http://surveyjs.org/examples/vue/survey-startwithnewline.html).
and nothing stops you to use a custom widgets for Date of Birth, Height and Blood pressure: http://surveyjs.org/examples/vue/custom-widget-datepicker.html

Thank you,
Andrew

[2017-02-26 20:05] andrewtelnov commented on #265
@dmitrykurmanov and @tsv2013 Guys, could you please take a look?

Thank you,
Andrew

[2017-02-26 22:04] bennettrogers commented on #265
Sorry, got distracted by a yarn caching issue (and lunch). I think #266 should fix it? Yay for one-line fixes.

[2017-02-26 22:51] bennettrogers opened #267 "[Vue] Text inputs with inputType = "number" store 0 as undefined"
Text inputs with the inputType set to "number" store `undefined` if you put a 0 as the value.

Note that it works fine if you leave the inputType as the defaut "text".

[2017-02-27 00:57] bennettrogers commented on #263
Yep, I'm using startWithNewLine to get the 2 textboxes to display together, then using CSS to remove the space between them.

Thanks for the recommendation - I'll take a look at using custom widgets instead. Is there more documentation for them somewhere?

[2017-02-27 08:13] andrewtelnov commented on #263
@bennettrogers Unfortunately we do not have any documentation at the current moment. We will work on it later.
If you have any question about custom widgets, just ask them here and we will answer them.

Thank you,
Andrew

[2017-02-27 08:16] #265 closed

[2017-02-27 08:28] tsv2013 commented on #267
@bennettrogers Thank you for the feedback! This definitely is a bug.

[2017-02-27 08:34] tsv2013 commented on #265
@bennettrogers We are working on the vue components enhancements right now. Looks like Vue can reuse existing components w/o remount them, just updating properties. We're going to watch `question` property of the compoent to update initial value and keep track on model changes. You are welcome to share your experience with Vue!

[2017-02-27 12:13] emilianionascu opened #268 "Make SurveyJS Knockout compatible with it being used as a component."
When using SurveyJS as a knockout component, it fails because it tries to access the $root view model to get values. Can it be refactored to support a parent context and not call applyBindings by itself?

[2017-02-27 12:49] dmitrykurmanov commented on #252
![2b71c8680f](https://cloud.githubusercontent.com/assets/22315929/23361904/129595a6-fd04-11e6-949c-ffd7d0038480.jpg)

I've just copy @ericdmessick 's JSON into our editor and here is the bug. So it is not only react version bug.

[2017-02-27 13:22] dmitrykurmanov commented on #252
@ericdmessick, we'll fix it. Thanks for your help!

[2017-02-27 13:38] #252 closed

[2017-02-27 13:45] andrewtelnov commented on #252
@ericdmessick There was an call stack overflow if properties goNextPageAutomatic and clearInvisibleValues are set to true.
I have fixed it.

Thank you,
Andrew

[2017-02-27 14:37] xibman commented on #244
Hi all,

I think with the last version of vue you can solve the problem easily:

Component v-model Customization

Previously, v-model on a custom component defaults to use value as the prop and input as the event. This places some restrictions when authoring custom input components that resembles checkboxes or radio inputs. In 2.2 you can customize the props/event pair using the new model componen

[2017-02-27 17:19] AndehWong opened #269 "Question about having two seperate onComplete screens"
Hello, I was wondering if it was possible to have two possible survey completed screens. As of right now, I know it is possible by:
survey.completedHtml = "<html goes here">;

for one survey completion screen. Is it possible to have a trigger that shows a separate completed screen depending on how the user answers their questions?

[2017-02-27 17:22] ryancwalsh commented on #219
I'm very excited about this!

Here is an example of how I'm using it:

    surveyModel.onAfterRenderQuestion.add(function (sender, options) {
            console.log('onAfterRenderQuestion options', options);
            if (options.question.name === 'initiate') {
                colorizeItems($('label.radio'));
            } else {
                $('label.radio').removeAttr('style');

[2017-02-27 17:30] andrewtelnov commented on #269
@AndehWong Unfortunately, there is no such a trigger at the current moment.
You have to create it or use survey.onValueChanged event, [here is a demo](http://surveyjs.org/examples/jquery/survey-data.html) and change completedHtml property on this event.

Thank you,
Andrew

[2017-02-27 17:32] andrewtelnov commented on #219
@ryancwalsh You may want to use options.htmlElement. It is the htmlElement for this question. In this case you may modify the DOM of this element and its children.

Thank you,
Andrew

[2017-02-27 18:30] ryancwalsh commented on #219
@andrewtelnov Cool, thanks!

Here is what I'm using now:

        surveyModel.onAfterRenderQuestion.add(function (sender, options) {
            console.log('onAfterRenderQuestion options', options);
            if (options.question.name === 'initiate') {
                colorizeItems($(options.htmlElement).find('label.radio'));
            } else {
                $(options.htmlElement).find('lab

[2017-02-27 19:24] mellogarrett commented on #264
I would also love to be able to use images, but to implement a custom Rating implementation with clickable stars like so:

<img width="281" alt="screen shot 2017-02-27 at 2 22 54 pm" src="https://cloud.githubusercontent.com/assets/9908831/23375969/5834b2d8-fcf8-11e6-8f85-e384ac9f750b.png">

[2017-02-27 19:24] andrewtelnov commented on #219
@ryancwalsh Cool!

Thank you,
Andrew

[2017-02-27 19:28] andrewtelnov commented on #264
@mellogarrett  I have added this rating implementation into out TODO list. We will implement it by using the custom-widgets.

Thank you,
Andrew

[2017-02-27 19:35] bennettrogers commented on #265
Great! I'm glad to hear that Vue is getting some love. I was excited when I saw that you guys released a Vue version of SurveyJS.

I'm happy to share what I can (and will continue to submit pull requests when I find things I can help with), but I'm pretty new with Vue myself!

[2017-02-27 19:35] mellogarrett commented on #264
Awesome, thanks @andrewtelnov. Being able to do half-stars would be great as well.

[2017-02-27 19:41] tsv2013 commented on #265
Thank you, @bennettrogers!

[2017-02-27 19:54] tsv2013 commented on #262
@sufuf3 I've added corresponding packages.zip file to the 0.11.0 release, you can get them from https://github.com/surveyjs/surveyjs/releases/tag/0.11

[2017-02-27 20:06] tsv2013 commented on #268
Sure, it can. We need to discuss time estimation with @andrewtelnov and @dmitrykurmanov.

[2017-02-27 20:14] bennettrogers opened #270 "[Vue] Do custom properties work on questions in Vue?"
I'm trying to follow the [guide](http://editor.surveyjs.io/examples/addproperties.html#code) to add custom properties to my question in Vue, but I'm not seeing  them appear. The guide only has a tab for Knockout for this feature, but #234 indicates that it's also available for React. Are these new properties accessible in Vue as well?

[2017-02-27 20:23] andrewtelnov commented on #270
@bennettrogers It should work for all versions.
jsonProperties/objects are implemented in the core/platform independent part.
You have added a new property, add it to the json and it doesn't there, am I right?

Thank you,
Andrew

[2017-02-27 20:39] bennettrogers commented on #270
That's right. I have this in my app where I import the Survey module:
[code]
I'm using the Vue debug tools and inspecting the question instance, and I don't see a "tag" property. I'm also trying to console.debug the object, but it's not showing up there either.

I have done some console.log debugging from inside the SurveyJS files themselves, and the property is definitely getting added to the mod

[2017-02-27 20:59] andrewtelnov commented on #270
The property itself doesn't show in the questionbase.
This code tells surveyjs Json serialization/deserialization code to save/restore this property in/from json, if it is not null/undefined and doesn't equal to 0.

Further, SurveyJS Editor will show this property in the Property Editor, and survey creator will be able to see and modify it.

Do you expect that SurveyJS serialization code would set

[2017-02-27 21:08] bennettrogers commented on #270
Ah, that makes sense! I didn't even consider that the property wouldn't appear unless I added it to the JSON data for the survey. As soon as I do that for a specific question, my custom property shows up as expected! Thank you!

For custom properties that have a default value, yes, I think it would make sense for them to be set on all questions. If no default value is specified (or implied), then

[2017-02-28 06:41] andrewtelnov commented on #270
If somebody has a similar problem, I will think about implementing setting default value for the custom properties. It will require to write some amount of code, since making a loop for all properties and check if this property set or not for every object, may kill the performance.

Thank you,
Andrew

[2017-02-28 10:33] sufuf3 commented on #262
@tsv2013 Thank you!
I will host this library ASAP.

[2017-02-28 10:33] #262 closed

[2017-02-28 15:11] tsv2013 commented on #268
It's a good proposal. We've added corresponding card to our todo list.

[2017-02-28 20:37] emilianionascu commented on #268
Thank you for the fast response.

[2017-02-28 21:53] svemula09 opened #271 "Could I able to assign IDS for each field - I am using ReactJS"

[2017-02-28 22:05] zzal commented on #260
It would be nice to be able to globally override the `renderTitle` method in the `SurveyQuestion` class  (I’m looking at the React version … But I don't know if this easy). That way, we could keep all questions rendering intact, and control globally how all questions are rendered.
Or maybe this should go into `questionTitleTemplate` survey property? But if so, the `textPreProcessor` handling the t

[2017-02-28 22:40] svemula09 opened #272 "Is there a property to not show Thank you for completing the Survey! Page"

[2017-03-01 07:09] andrewtelnov commented on #271
@svemula09 Sure, you may add a new property to any question or to all questions:
Here is the example for adding IDS field to all questions:
Survey.JsonObject.metaData.addProperty("questionbase", {name: "ids"});
Here is the complete document [about adding custom properties](http://editor.surveyjs.io/examples/addproperties.html#code).

Thank you,
Andrew

[2017-03-01 07:13] andrewtelnov commented on #260
@zzal Yes, you should use the questionTitleTemplate property:
`survey.questionTitleTemplate = "{no}) {title} {require}:";`
Here is [the demo](http://surveyjs.org/examples/jquery/survey-processtext.html).

PS: Please create a new issue next time, since it is a different topic.

Thank you,
Andrew

[2017-03-01 07:17] andrewtelnov commented on #272
@svemula09 There is no such a property right now. You may make the survey invisible using onComplete event. Just make your div where survey is rendered invisible.
However, you are right, it makes sense to add a property (show Thank you page (default) or make the survey invisible). I've added this request into our TODO list.

Thank you,
Andrew

[2017-03-01 14:39] svemula09 opened #273 "Just wondering if there is a provision for material ui css (Feature)"
http://www.material-ui.com/#/

[2017-03-01 14:40] svemula09 opened #274 "OnComplete event called more than once for React JS"

[2017-03-01 15:35] misamura opened #275 "(Weighted) Random Question Sets"
Hello all,

surveyjs is a great tool!

I'd like to propose a feature request: "Random Question Sets".

Instead of always showing the same questions in the same order, questions are chosen randomly from a set (or container) of predefined questions.

A subset off all questions within that set is being asked, and each question is weighted, so that a question with a higher weight (probability) is draw

[2017-03-01 18:44] andrewtelnov commented on #273
@svemula09 There are some bootstrap implementation of material design. For example: https://mdbootstrap.com/material-design-for-bootstrap/
Here is the demo of changing the css classes for elements: http://surveyjs.org/examples/jquery/survey-customcss.html

I have seen a running surveyjs on one web site with really cool material ui look.
I think we should make a demo for material design. I have add

[2017-03-01 19:00] andrewtelnov commented on #274
@svemula09 What version do you use? I just checked it out and it calls for me one time.
Probably some options may lead to the issue. If you are using the latest version, could you share your survey JSON and JavaScript code with us?

Thank you,
Andrew

[2017-03-01 19:06] mellogarrett opened #276 "Rating - minimum/maximumRateDescription"
I am using Bootstrap for styling.

Can we move these descriptions out of the button and instead put it under (or above) the button on each end of the spectrum?

Ex:
<img width="461" alt="screen shot 2017-03-01 at 2 06 03 pm" src="https://cloud.githubusercontent.com/assets/9908831/23476278/4537f172-fe88-11e6-9655-c324c7f7e171.png">

[2017-03-02 11:31] alexmc6 opened #277 "Adding options to the custom widgets?"
(Probably just a support request)
I like the fact that I can use the jQuery Datepicker widget to help answer date questions, but the returned value is in the US format and my app is exclusively for UK users.

I beleive that the date picker plugin has an "altFormat" where I can specify, for example, "dd-mm-yyyy" but I don't see where to specify that sort of option in Survey.JS (Reference http://api

[2017-03-02 11:52] andrewtelnov commented on #277
@alexmc6 sure, you may add a new property:
`Survey.JsonObject.metaData.addProperty("text", {name: "altFormat"});`
then use it on afterRender:
afterRender: function(question, el) {
...
//if question altFormat is set use it or use the default value.
var q_altFormat = question.altFormat ? question.altFormat : "dd-mm-yyyy";
//set q_altFormat to the widget.
...
}

Thank you,
Andrew

[2017-03-02 11:59] andrewtelnov commented on #277
@dmitrykurmanov Let's modify our datepicker demo and add this option.

[2017-03-02 12:22] alexmc6 commented on #277
Thanks for the swift response. I will try this out and report back on how it goes for the next person with the same problem.

[2017-03-02 14:40] garrett-thompson opened #10114 "Form submit on "enter""
In all text-based questions, if you hit "enter" while the field is in focus it will cause a form submit causing the page to reload.

survey.js needs to catch this event, `preventDefault()`, and instead fire a "page next".

[2017-03-02 20:32] andrewtelnov opened #278 "Loading json into existing MatrixDropdown question set columns incorrectly"
On loading json into an existing question, old columns are not replaced by new columns.
New columns are added into existing columns.

[2017-03-02 22:39] bennettrogers opened #279 "[Vue] Data flow for question values in custom widgets"
I've almost got a custom widget working using the Vue version, but I've got some concerns around setting the question value. Based on the examples in the documentation, it looks like I'm expected to call something like `this.question.value = newValue` on the question prop that is passed into my custom widget. However, based on the Vue documentation, it sounds like that is frowned upon. The [docume

[2017-03-03 00:39] svemula09 commented on #274
My Code:

 `import React, {PropTypes} from 'react';
import * as Survey from 'survey-react';
import {browserHistory} from 'react-router';
import {Modal} from 'react-bootstrap';
import {Segment} from 'semantic-ui-react';
import {connect} from "react-redux";
import {bindActionCreators} from "redux";
import * as PersonalSuggestionsActions from './PersonalSuggestions.actions';

class PersonalSuggestion

[2017-03-03 00:41] svemula09 commented on #274
File attached. Please verify - Thank you for responsive so quickly

[PersonalSuggestionsPageCopy.txt](https://github.com/surveyjs/surveyjs/files/815466/PersonalSuggestionsPageCopy.txt)

[2017-03-03 08:03] tsv2013 commented on #274
@svemula09 Thank you for provided code.
I've tried your surveyJSON, but in our example `onComplete` is called only once.

I've created react+redux+survey sample application to test your code. But have no success:
- some inports are absent (import * as PersonalSuggestionsActions from './PersonalSuggestions.actions';)
- after component created I got an empty page w/o any errors

I attached sample pr

[2017-03-03 08:40] tsv2013 commented on #279
I fully support one-way data flow concept. But it's not clear for me how to implement it in our library correctly.

We have a page wich holds an array of questions and renders them:

`<component :is="getWidgetComponentName(question)" :question="question" :isEditMode="survey.isEditMode" :css="css"/>`

On this level `page` is a prop, and we should not change it. But `page` owns a questions array, an

[2017-03-03 10:53] dmitrykurmanov commented on #276
@mellogarrett, Hello! Thanks for your interest! It is not easy to customize existing rating as you want. But you may use "custom-widget" conception. And do whatever you want. We've created an jquery example for you:
https://plnkr.co/edit/PQd56O4jsFpLomOb5I1Q?p=preview could you check it please?
_we can implement this example for any supported framework_

As alternative you may try to use matrix wi

[2017-03-03 11:51] andrewtelnov opened #280 "Load old/renamed properties from JSON"
The rating question has a misspelled property. Before renaming it, we have to add a functionality, to load JSON with misspelled property correctly into corrected property.
Otherwise, some surveys after upgrading will stop working.

[2017-03-03 13:07] dmitrykurmanov commented on #276
Here is all examples of this widget:

jquery: https://plnkr.co/edit/PQd56O4jsFpLomOb5I1Q?p=preview
angular:  https://plnkr.co/edit/1rLpmX2FU32rbiW3vt0q?p=preview

[2017-03-03 13:52] tsv2013 commented on #268
I've got rid of $root in the 813b3af61db08806af76f67c695420f1ef4dfa8c commit. @emilianionascu , you can try it in master brunch or wait for the nearest update (in a week I think).

[2017-03-03 14:21] andrewtelnov commented on #280
alternativeName property is added in JSON declaration.
`{name: "minRateDescription", alternativeName: "mininumRateDescription"}`

[2017-03-03 14:46] dmitrykurmanov opened #281 "Custom widgets for http://antenna.io/demo/jquery-bar-rating/examples/"
vue: https://plnkr.co/edit/tMojBg8fWAmnALaziiBi?p=preview

[2017-03-03 14:46] dmitrykurmanov commented on #276
please also see https://github.com/surveyjs/surveyjs/issues/281

[2017-03-03 14:54] dmitrykurmanov commented on #281
[icheck](http://icheck.fronteed.com/)

[2017-03-03 14:55] dmitrykurmanov commented on #281
[select2](https://select2.github.io/)

[2017-03-03 19:13] bennettrogers commented on #279
I'm still pretty new to Vue, so I'm not sure what the right answer is here. It seems like maybe the "technically correct" answer would be to pass the question properties (e.g. `value`, `type`, etc) rather than the more complex `question` object itself. Then the `question` object would only exist on the parent (the `page`), which would keep track of the value and update it when receiving an `input`

[2017-03-03 19:31] mellogarrett commented on #281
Getting `Cannot read property 'Instance' of undefined` with:

[code]

[2017-03-03 19:35] mellogarrett commented on #281
^ Using jQuery

[2017-03-03 20:00] bennettrogers commented on #279
Related to this, on first render the `question` object doesn't contain a `value` property. This means that if there are any rendering functions that depend on `question.value` they will throw an error. Right now I'm handling it by putting the following in the `beforeMount` hook:

[code]

It seems like it would be good for the `value` property to already exist on a question, although I'm not sure w

[2017-03-03 20:00] mellogarrett commented on #281
<img width="249" alt="screen shot 2017-03-03 at 3 00 11 pm" src="https://cloud.githubusercontent.com/assets/9908831/23566963/275915aa-0022-11e7-8b96-4699265b3003.png">

Hmmm... no `CustomWidgetCollection`?

[2017-03-03 20:08] mellogarrett commented on #281
Weird, seems like it's only the minified jQuery version that I have this issue with.

[2017-03-04 09:05] dmitrykurmanov commented on #281
@mellogarrett which version of survey-jquery do you use?

[2017-03-04 20:15] svemula09 opened #282 "Any Thoughts of Provisioning skip functionality just like on Complete which can be invoked from any page"
I am Using ReactJS

[2017-03-05 09:22] andrewtelnov commented on #282
@svemula09 I am sorry, I do not quite understand your suggestion :-(
Could you please describe it in more detail?

Do you want to have a trigger that may skip visible pages and go to particular page directly?

Right now, question and page objects have two properties: visible and visibleIf (expression).
If visible is false or visibleIf returns false, then question/page is invisbile.
If page invisib

[2017-03-05 09:24] andrewtelnov opened #283 "Do not show Completed Page"
Add showCompletedPage boolean property
if showCompletedPage is true (the default value) the completed page is shown on survey completing.
if showCompletedPage is false - the survey renders nothing on survey completing.

[2017-03-05 09:37] andrewtelnov commented on #272
@svemula09 I have added this functionality: https://github.com/surveyjs/surveyjs/issues/283
It will be in the next update.

Thank you,
Andrew

[2017-03-05 09:37] #272 closed

[2017-03-05 09:50] andrewtelnov commented on #254
@SlowburnAZ About "for" attribute. I have looked at the code. I definitely had to do it early, so sorry for the delay.
We are using the following rendering:
<label>
 <input [radio or check] /> <span>Text for check or radio item</span>
</label>

"for" attribute is needed when label is separated from the input. For example:
<label for="MyInputId">Text for check or radio item</label>
 <input [radio o

[2017-03-06 12:08] cnx90 opened #284 "progressText "Page {0} of {1}" - attribute to change the text in progress bar"
Hello,

I am refering to the progressText  - text that is appearing on the progress bar. All the values for different languages / locales are stored in the source survey.js file. Sometimes - especially in the beginning of the survey, the progress bar is to narrow to show the full text properly. I can always change the text values in the source file - but...

Could it be possible to modify the text

[2017-03-06 14:01] dmitrykurmanov commented on #281
@mellogarrett Hello! _barrating_ wants dom select with options and doesn't generate it by itself. We thought it would be good to have `isDefaultRender` flag for custom widget. It allows us to use surveyjs default DOM(select) for controls like  _barrating_ . So we implemented it. Please check an example here:

https://plnkr.co/edit/Vps5IAZ41Tc5fuDH8YPk?p=preview

We'll include this feature in next

[2017-03-06 14:38] andrewtelnov commented on #284
@cnx90 Unfortunately there is no such a property yet. However, this string is localized and you may change the localization string: Survey.surveyStrings.progressText = "Page {0} of {1}";
Here is more information about localization: http://surveyjs.org/examples/jquery/survey-localization.html

Thank you,
Andrew

[2017-03-06 15:09] emilianionascu commented on #268
Thank you for taking the time to implement this. I've tried it and now it's complaining about css.root. After adding a fake css.root to the scope it complains about a lot of other things so I guess that the model doesn't get set properly. Do you think you have time to look into this? Perhaps we can talk on gitter and I can explain what I am trying to use the library for.

[2017-03-06 15:17] mellogarrett commented on #281
Unable to build the library from source. Not sure the issue, but I don't end up with a `dist` directory

[2017-03-06 15:28] tsv2013 commented on #268
Could you provide me your JSON to reproduce your issue locally? Probably I missed somthing.

[2017-03-06 15:31] tsv2013 commented on #281
@mellogarrett What errors did you receive?

[2017-03-06 15:33] mellogarrett commented on #281
That's the thing.. I don't see any obvious errors

[2017-03-06 15:37] tsv2013 commented on #281
@mellogarrett Build results should be in the packages folder.

[2017-03-06 15:40] mellogarrett commented on #281
Ahh! There it is. I was looking for `dist` as the README still specifies.

[2017-03-06 15:44] tsv2013 commented on #281
I've updated readme. Thank you, @mellogarrett !

[2017-03-06 15:47] mellogarrett commented on #281
FYI still getting the weird issue in the minified version where `Survey.CustomWidgetCollection` is undefined. Dev version doesn't have that issue

[2017-03-06 16:05] tsv2013 commented on #281
Thank you, we'll check it.

[2017-03-06 16:52] mellogarrett commented on #281
I'm in dire need of some better Custom Widget docs. I can't get it to work with the code:

[code]

But it works if I manually run:

[code]

[2017-03-06 16:53] emilianionascu commented on #268
Perhaps a flag that says that if the survey is inside a knockout context already, then don't call applybindings as it will be called by the parent context anyway. Something like "survey.isComponent = true" maybe?

[2017-03-06 19:15] mellogarrett commented on #281
Specifically, how does `htmlTemplate` and `isDefaultRender` work?

Currently with `isDefaultRender: true`, it replaces my:

[code]

with just `<div></div>`

[2017-03-07 08:19] tsv2013 commented on #268
@emilianionascu Thank you for provided sources!
I've implemented KnockoutJS <survey> component and tested it in your scenario.
To use it you need:
- comment render function call:
`   //model.render('surveyElement');`
- use <survey> component in the markup, e.g.:
[code]
- your binding context, of course, should contain `model` to pass to the component
[code]

I'll add corresponding example to our s

[2017-03-07 08:19] #268 closed

[2017-03-07 08:28] emilianionascu commented on #268
Thank you! I will give it a spin! You rock!

[2017-03-07 08:57] dmitrykurmanov commented on #281
@mellogarrett, Could you create (or fork our) plunk and give us the link on it?

PS: You can use your own html with `htmlTemplate` or use `isDefaultRender: true` for our default markup. And we think about docs, but we have only examples at the moment.

[2017-03-07 11:08] ltex opened #285 "Angular and JQuery versions - Random settting of dropdown values (with plunkr)"
I've forked the Angular plunkr to demonstrate. See http://plnkr.co/edit/heUR0cEUNGEbfMECuXWK?p=preview

To demonstrate I've just changed the radiogroup input types to dropdown.

Navigating between pages ie navigate back and forwards a few times between pages produces the effect of randomly selecting a dropdown choice.

I've checked this out with the jquery version and the same behaviour applies.

[2017-03-07 13:01] dmitrykurmanov commented on #285
@ltex this is a bug. Thanks!

[2017-03-07 14:41] mellogarrett commented on #281
@dmitrykurmanov Okay I have the star-rating working. Couple of odd things happening though.

1) When I go back to a star-rating question using `previous`, it does not re-render the widget.
2) The `onSelect` within the `afterRender` fires 3 times??
Here's the code for that:

[code]

[2017-03-07 14:44] andrewtelnov opened #286 "Add properties into MatrixDropdownColumn"
The following properties have been added:
choicesByUrl - get items for cell types: dropdown, radiogroup and checkbox from restful Json service.
choicesOrder, ["none", "asc", "desc", "random"] - items order for cell types dropdown, radiogroup and checkbox. The default value is "none".
inputType - the input type for the cell type "text"
placeHolder - the place holder for cell type: text and comment.

[2017-03-08 05:58] emilianionascu commented on #268
Works like a charm! Thank you again!

[2017-03-09 07:59] jjjeremy opened #287 "Containers or Panels for Complex Forms"
Is it possible to group a set of questions into a container or panel that has its own VisibleIf setting (like pages)?  I need to be able to show or hide large groups of questions based on the result of a previous question.

I know this functionality is available for pages at the top level, but I need to do this within a page and ideally be able to nest container/panels inside others.

Thank you!

[2017-03-09 08:15] andrewtelnov commented on #287
@jjjeremy Will visible trigger work for you? http://surveyjs.org/examples/jquery/trigger-visible.html
You may have a list of questions/pages that will change the visibility on a value change.

Thank you,
Andrew

[2017-03-09 08:44] jjjeremy commented on #287
Hi Andrew, thanks for the quick reply!

That would work for a static form built by me, but I'm hoping to integrate the Editor/Designer into our site so that users can build and edit their own forms.  And they'll need an intuitive way to group questions.  That's why I thought dropping questions into a panel/container would be ideal - they'd only have to set the VisibleIf on the container.

[2017-03-09 09:41] andrewtelnov commented on #287
@jjjeremy
Aha, the problem with this approach, we will have a new entity/definition: a group of questions. Users will have to select questions somehow to build a group. In fact there should be a list of groups of questions. It is a concepts that you have to explain to your end-users as well. I am not sure how to make it obvious for an end-user in the editor.

Visible trigger does exactly what you

[2017-03-09 10:50] jjjeremy commented on #287
Thanks Andrew

I was thinking something more like the Panel component at http://codepen.io/travist/full/xVyMjo/  (it's under Layout Components).  You can nest panels and each panel has it's own visibility setting, just like a question, which affects everything within that panel.  Just trying to think of it from a basic user's point of view.

[2017-03-09 11:01] andrewtelnov commented on #287
@jjjeremy Yes, I have got your idea. It makes perfect sense to me.
We've just discussed this container concepts. It looks interesting.
I think, it will be possible to implement it, without changing the json structure and all previous code should work.
There will be an another level of abstraction.
Survey->Pages->Elements and Container->Elements.
Where Elements are Containers or Questions.
So Page

[2017-03-09 11:32] jjjeremy commented on #287
@andrewtelnov
That would be unreal!!

Additional properties:  title and titleLocation are probably all you need.  But I'll let you know if I think of something else.

Cheers,
Jeremy

[2017-03-09 17:53] emilianionascu commented on #268
Can you think of any reason why the component would not render itself properly at times? It randomly does that and instead of replacing ```<survey params="survey: model"></survey>``` with the survey DOM it just stays like that.

[2017-03-10 06:11] tsv2013 commented on #281
@mellogarrett Please check updated [plunker](https://plnkr.co/edit/rvY7Wa2peHlDFq9lDCFt?p=preview)
It looks like barrating cann't update previous instance. And we need to destroy it on re-render:

[code]

[2017-03-10 08:31] dmitrykurmanov commented on #285
@ltex it is fixed now in 0.12.3 version. Could you check it please?

[2017-03-10 08:37] dmitrykurmanov commented on #244
@xibman we fixed it in 0.12.3 version, thanks for your help!

[2017-03-10 08:37] #244 closed

[2017-03-10 08:38] #267 closed

[2017-03-10 08:38] #278 closed

[2017-03-10 08:38] #285 closed

[2017-03-10 08:39] #253 closed

[2017-03-10 08:39] #240 closed

[2017-03-10 13:22] andradobritoiu opened #288 "Cannot set a comment input value before rendering"
I'm creating a survey model, using knockoutjs, and my code looks something like this:
 `var myObject =  {
            title: '',
            questions: myArray.map((item) => {
                return {
                    type: 'radiogroup',
                    name: item.Id,
                    title: item.Name,
                    colCount: Math.min(colCount, 5),
                    choices: item

[2017-03-10 17:29] andrewtelnov commented on #280
Implemeted-

[2017-03-10 17:29] #280 closed

[2017-03-10 17:29] #277 closed

[2017-03-10 18:27] standakupa opened #289 "support for czech"
[czech.txt](https://github.com/surveyjs/surveyjs/files/834784/czech.txt)

[2017-03-10 19:09] andrewtelnov commented on #289
@standakupa I have committed your translation: https://github.com/surveyjs/surveyjs/commit/daf221b36c2ce9fe62f84ce92734b49e30f49a6b

Thank you,
Andrew

[2017-03-10 19:09] #289 closed

[2017-03-13 08:29] andrewtelnov commented on #283
The example is updated: http://surveyjs.org/examples/jquery/survey-options.html

[2017-03-13 08:29] #283 closed

[2017-03-13 08:30] #276 closed

[2017-03-13 08:30] #271 closed

[2017-03-13 08:31] #274 closed

[2017-03-13 08:31] #269 closed

[2017-03-13 08:35] #263 closed

[2017-03-13 08:37] andrewtelnov commented on #264
@mellogarrett The demo with bar ratting widget was added: http://surveyjs.org/examples/jquery/custom-widget-barrating.html

[2017-03-13 08:38] #259 closed

[2017-03-13 08:41] andrewtelnov commented on #254
@SlowburnAZ Here is the example with icheck widget: http://surveyjs.org/examples/jquery/custom-widget-icheck.html

[2017-03-13 08:44] ZenHiro opened #290 "Add question properties with name and title"
Hi, I'm on researching this useful survey framework. I have a problem when adding property for question, as example:

`Survey.JsonObject.metaData.addProperty("page", {name: "tag:number", default: 1});`
I want to add a property "Tag", but I want that show up in view with a title in my current language (Japanese), how can I do that? Thanks.
`Survey.JsonObject.metaData.addProperty("page", {name: "tag

[2017-03-13 08:56] andrewtelnov commented on #290
@ZenHiro Are you talking about editor?
There is no title attribute in JsonProperty object at the current moment. Probably it is a good idea to have it.
I guess, you have done the japanese localization for defaultStrings object:
https://github.com/surveyjs/editor/blob/master/src/editorLocalization.ts

`editorLocalization.locales["jp"] = japaneseStrings; //your translation of defaultStrings object.`

[2017-03-13 08:58] andrewtelnov commented on #232
Implemented-

[2017-03-13 08:58] #232 closed

[2017-03-13 09:00] andrewtelnov commented on #233
Examples were added: http://surveyjs.org/examples/jquery/custom-widget-select2-tagbox.html

[2017-03-13 09:00] #233 closed

[2017-03-13 09:00] #224 closed

[2017-03-13 09:00] #221 closed

[2017-03-13 09:01] #220 closed

[2017-03-13 09:02] #218 closed

[2017-03-13 09:03] andrewtelnov commented on #210
Examples for text and comment questions were updated.

[2017-03-13 09:03] #210 closed

[2017-03-13 09:03] #204 closed

[2017-03-13 09:03] #199 closed

[2017-03-13 09:04] #214 closed

[2017-03-13 09:05] #191 closed

[2017-03-13 09:05] #185 closed

[2017-03-13 09:05] #183 closed

[2017-03-13 09:07] andrewtelnov commented on #180
@vraghu1983 We support third party widgets now. Here is the demo with jQuery date picker widget: http://surveyjs.org/examples/jquery/custom-widget-datepicker.html

[2017-03-13 09:07] #180 closed

[2017-03-13 09:07] #171 closed

[2017-03-13 09:09] #38 closed

[2017-03-13 13:32] mellogarrett commented on #264
1) Destroy the widget first thing in the `afterRender` function with:  `$(el).find('select').barrating('destroy');` to allow re-rendering of the widget on `previous` as noted by @tsv2013 in #281

2) remove the space after `isFit` in the line `isFit : function(...`

Thanks @andrewtelnov !

[2017-03-13 13:43] andrewtelnov commented on #152
Update the demo: http://surveyjs.org/examples/jquery/condition-kids.html

[2017-03-13 13:43] #152 closed

[2017-03-13 17:18] SlowburnAZ commented on #254
@andrewtelnov In looking at the "renderAs", I could simply leave that as "standard", correct?  Meaning, I could not add the "icheck" renderAs property to metaData, not add the renderAs prop to the questions, and then in the "isFit" function, return true if renderAs = "standard", correct?

[2017-03-13 18:13] SlowburnAZ commented on #254
@andrewtelnov I've run into a quirk with the Matrix questions and using iCheck:  If you select an answer for one of the matrix questions, all answers of that type are then selected for all questions in the matrix.

Is there any way to pass the actual Matrix question whose radio button was clicked into the "afterRender" function?  Seems that currently only the entire question's <div> element is bei

[2017-03-13 18:17] andrewtelnov commented on #254
@SlowburnAZ Yes, you may do not use "renderAs" property, but use isFit as:
`isFit : function(question) { return question.getType() === 'radiogroup'; }`
So, it will use iCheck for all radiogroup questions.

Let us check, how does it work for matrix. We have not tried it yet.
@dmitrykurmanov Could you try it out?

Thank you,
Andrew

[2017-03-14 07:21] dmitrykurmanov opened #292 "matrixdymanic knockout doesn't show comment field"
http://surveyjs.org/examples/knockout/questiontype-matrixdynamic.html here is two comment fields instead of three

![d25b23ee3c](https://cloud.githubusercontent.com/assets/22315929/23889798/e1fab118-089f-11e7-981a-e2f2a85b623d.jpg)

[2017-03-14 07:47] dmitrykurmanov opened #293 "matrixdymanic knockout "Cannot read property 'question' of undefined" in the console"
![matrix_dynamic_bug](https://cloud.githubusercontent.com/assets/22315929/23890622/a77c6bc2-08a3-11e7-8e47-619272bfe247.gif)

[2017-03-14 09:26] andrewtelnov commented on #290
@ZenHiro I have added a editor localization demo: http://editor.surveyjs.io/examples/localization.html#code
Here is the survey js localization demo: http://surveyjs.org/examples/jquery/survey-localization.html

[2017-03-14 09:38] andrewtelnov commented on #158
The demo is here: http://surveyjs.org/examples/jquery/validators-event.html

[2017-03-14 09:38] #158 closed

[2017-03-14 09:40] andrewtelnov commented on #219
The better way is to use the custom widget feature with isDefaultRender set to true.
Here is the demo: http://surveyjs.org/examples/jquery/custom-widget-barrating.html

[2017-03-14 09:40] #219 closed

[2017-03-14 10:49] andrewtelnov commented on #150
Show of using this property in the [navigation demo](http://surveyjs.org/examples/jquery/survey-customnavigation.html)

[2017-03-14 10:49] #150 closed

[2017-03-14 14:29] dmitrykurmanov commented on #254
@andrewtelnov ok

[2017-03-14 21:25] dsteinbach opened #294 "Pre-populate with values?"
I went through the docs and issues and could not find my answer but does SurveyJS allow a way to pre-populate the form values? For instance, if I save the user's response to a db and later the user wants to make changes to their survey answers...

Thanks and sorry if this was clearly stated somewhere.

[2017-03-15 05:48] andrewtelnov commented on #294
@dsteinbach You have to set the survey.data property:
`mysurvey.data = {myQuestionName1: value1, myQuestionName2: value2, ...};`
or
`mysurvey.setValue("myQuestionName1", value1);`
Here are two demos:
[Get/Set Survey Data](http://surveyjs.org/examples/jquery/survey-data.html)
[Survey in Display Mode](http://surveyjs.org/examples/jquery/survey-displaymode.html)
For the last demo, just comment this l

[2017-03-15 09:09] dmitrykurmanov commented on #254
vue version: https://plnkr.co/edit/hTu6MYsWgObUUPmxfG1G?p=preview

[2017-03-15 13:44] #293 closed

[2017-03-15 17:07] dsteinbach commented on #294
Thank you very much

[2017-03-15 17:07] #294 closed

[2017-03-15 20:18] aguevara23 opened #295 "Redirect to different page upon completion of survey"
Once all the required information for the survey is filled out, how do I redirect to a separate web page when I click the "submit" button?

[2017-03-15 23:58] jnicholea opened #296 ""cannot read property 'fn' of undefined""
We've followed every step you outlined for setting this up, but we keep getting this error. I'm not very experienced, but it seems like the issue is with a line of code in your survey.jquery.min.js and that is preventing everything else from functioning. (We can't get anything to display on the page).

![Uploading Screen Shot 2017-03-15 at 4.53.51 PM.png…]()

[2017-03-16 00:01] SlowburnAZ commented on #254
@dmitrykurmanov Much appreciated, sir.

[2017-03-16 04:50] Nicosoft commented on #229
Hi everyone,

I have exactly the same issue:
![image](https://cloud.githubusercontent.com/assets/4625910/23982210/1133a2e8-0a60-11e7-9d31-8f91d97e393c.png)

I'm using angular CLI.
I don't have 'systemjs.config.js' file in my project.
Does anyone know how to fix it?

[2017-03-16 05:00] Nicosoft commented on #229
After I did >
![image](https://cloud.githubusercontent.com/assets/4625910/23982458/aa9646e2-0a61-11e7-8481-b75a8dd58bf9.png)

I import surveyjs in my component:
![image](https://cloud.githubusercontent.com/assets/4625910/23982437/859d2d74-0a61-11e7-9dbf-6da7874bbaa7.png)

then, I get this error message:
![image](https://cloud.githubusercontent.com/assets/4625910/23982443/93d43694-0a61-11e7-98a3-dc

[2017-03-16 05:35] Nicosoft commented on #229
:) I fixed the issue.
I went into tsconfig.app.json.
And, in "types" I added "survey-angular".
![image](https://cloud.githubusercontent.com/assets/4625910/23983177/9b691820-0a66-11e7-9586-8cee5c5f0ab6.png)

[2017-03-16 06:54] andrewtelnov commented on #295
@aguevara23 You have to write a code onComplete event:

[code]
Here is [the complete explanation](http://stackoverflow.com/questions/503093/how-to-redirect-to-another-webpage-in-javascript-jquery)

Thank you,
Andrew

[2017-03-16 07:03] andrewtelnov commented on #296
@jnicholea Unfortunately the image is not uploaded correctly. Could you please check that jQuery library is loaded. It should be used before survey.jquery.min.js?
You should have something like this:
[code]
Thank you,
Andrew

[2017-03-16 11:17] tsv2013 commented on #292
Fixed with #293

[2017-03-16 11:17] #292 closed

[2017-03-16 14:16] tsv2013 opened #297 "survey.<platform>.d.ts file is absent in the platform package"

[2017-03-16 14:19] #297 closed

[2017-03-16 14:20] tsv2013 opened #298 "Some .d.ts files are corrupted"
- multiple import directive
[code]
- const initialization
`
export declare const SurveyPageId = "sq_page";
`

[2017-03-16 14:55] #298 closed

[2017-03-17 06:01] bjdani opened #299 "Clearing invisible values not working if user backtracks"
If the user backtracks and changes the answer to a question which then hides a subsequent question, the value of the answer for that subsequent question is not being cleared even though I have the survey prop clearInvisibleValues ticked. This behaviour occurs both in the Survey Editor - Test Survey section on the survey.js website and my local web app.

[2017-03-17 06:23] andrewtelnov commented on #299
@bjdani Could you please help to reproduce it? I beleive I am missing something.

I used this link: http://surveyjs.org/builder/index.html?surveyid=d5220f76-4802-40cf-ad67-61d7e55608e5

I set clearInvisibleValues to true and go to Test Survey tab, choose "Yes" for the first question and select a framework, then go to the next page, choose "Yes" again and select "MVVM" framework, then go to the nex

[2017-03-17 07:00] bjdani commented on #299
Ah I see. It does indeed clear the values from invisible questions in the JSON result. I was assuming that it would clear the values in the questions on the page as well. Can it do both?

[2017-03-17 07:13] andrewtelnov commented on #299
@bjdani It clears values, but on completing the survey. It doesn't nothing during survey running.
You may use onVisibleChanged event:
[code]
However, as an end-user, I would expect to see my previous answer if I make a question invisible and then visible. In fact, I would consider this is as a bug.

Thank you,
Andrew

[2017-03-17 07:17] bjdani commented on #299
You make a good point. It is better to leave the values in the invisible questions.
Thanks for your prompt reply to my issue.

[2017-03-17 07:17] #299 closed

[2017-03-17 09:52] dmitrykurmanov commented on #254
@SlowburnAZ you are welcome!

[2017-03-20 21:28] tavakyan commented on #296
Not sure if its related, but I have an issue with the vue client:

[code]

[2017-03-21 10:21] grunt121 opened #300 "Add input-group-addon for Text Input Types"
For single input types add the option of setting input-group-addon for them

[2017-03-21 10:51] andrewtelnov commented on #300
@grunt121 Are you talking about bootstrap group addons?

[2017-03-21 11:17] grunt121 commented on #300
Yes thats right

[2017-03-21 11:37] andrewtelnov commented on #300
What kind of addons do you need?
The problem, that many of surveyjs users do not use bootstrap.
We may create an example of implementing bootstrap addons by using the custom widgets: http://surveyjs.org/examples/jquery/custom-widget-select2-tagbox.html

Thank you,
Andrew

[2017-03-23 00:58] robertoyus opened #301 "Feature request: highlight words in questions"
It would be great if I could highlight some words in the questions. This could be achieved, for example, by using some html marking in the json. Something like:

var survey = new Survey.Model( { questions: [
     {name:"name", type:"text", title: "Please enter your < strong>name< /strong>:", placeHolder:"Jon Snow", isRequired: true}
]});

To get the following:

Please enter your **name**:

Or in t

[2017-03-23 01:03] robertoyus commented on #301
I created a custom widget to have this functionality. It highlights the text but the validation of the question gets messed up and the selected answers are not detected.

var widget2 = {
		name: "highlight",
		isDefaultRender: true,
		isFit : function(question) { return question.getType() === 'matrix'; },
		afterRender: function(question, el) {
			$(el).find("td").html(function(index, text) {

[2017-03-23 01:05] FBlade opened #302 "Wrong result on Conditions and Triggers"
Click "yes", select nº of kids and then click "No".
![image](https://cloud.githubusercontent.com/assets/6547619/24227369/841fe858-0f64-11e7-88a8-f721fa520331.png)

[2017-03-23 03:08] bjdani commented on #302
I think you have to check the clearInvisibleValues checkbox on that page over on the right which then causes the kids value to no longer appear in the results.

[2017-03-23 05:34] bjdani opened #303 "Visible Triggers not checking the visibility of the question being evaluated"
If I have a hierarchy of questions (e.g. three levels) and set up Visible Triggers so that the correct child questions appear based on the value of the parent questions, if the user backtracks and changes their answer to an earlier question higher up in the hierarchy, some of the child questions are still shown even though their direct parent is invisible.

Steps to recreate the issue:
1. Run the

[2017-03-23 06:44] andrewtelnov commented on #301
@robertoyus The custom widget is about input part only. Titles, errors and all other question rendering parts are not touched.
Somebody has already asked about this functionality. It absolutely makes sense. I'm adding this into our TODO list.

Markup support for question/page/panel/survey titles.

Thank you,
Andrew

[2017-03-23 06:46] JayLu921212 opened #304 "How can I save the answer as json and render it to survey ? with knockout"

[2017-03-23 06:59] andrewtelnov commented on #303
@bjdani Yes, right. It is a limitation of the triggers. It executes on changing value only.
 Please use visibleIf property. Here is [the example](http://surveyjs.org/examples/jquery/condition-kids.html) that does exactly what you need.

Thank you,
Andrew

[2017-03-23 07:02] robertoyus opened #305 "Error in Matrix with iCheck for JQuery"
I've noticed a bug when using the Matrix with iCheck and JQuery which messes up the options available for each row. This error also happens in the example in the website (http://surveyjs.org/examples/jquery/custom-widget-matrix-icheck.html). Just select some options for each row:

![image](https://cloud.githubusercontent.com/assets/5199634/24235757/ea6d2e4e-0f5b-11e7-9fd7-c197d9db9ceb.png)

Then c

[2017-03-23 07:02] andrewtelnov commented on #304
@JayLu921212 There is a survey.data property (get/set) you may set your previous saved json into this property.
Here are two examples:
http://surveyjs.org/examples/knockout/survey-data.html
http://surveyjs.org/examples/knockout/survey-displaymode.html

In the last demo, please comment the line, that makes the survey read-only:
`survey.mode = "display";`

Thank you,
Andrew

[2017-03-23 07:20] bjdani commented on #303
Hi Andrew,

Thanks for the feedback.
I tried using VisibleIf's but I couldn't get it to work for complex rules such as something like the following (not related to the json survey I attached above):
`{question1} = "somevalue" and {question2} = "someothervalue" and ({question3} = 4 or {question3} = 7 or {question3} = 13)`
Is this syntax correct for a VisibleIf rule?
Do you have any examples of comp

[2017-03-23 07:33] andrewtelnov commented on #303
@bjdani Yes, the VisibleIf Editor is far from being perfect. We will work on it later.
The condition looks good to me, could you check question names ?  If everything is fine, Could you pass the example that doesn't work. I will check it out.
Here are some Unit Tests we have (at the end of the file): https://github.com/surveyjs/surveyjs/blob/master/tests/conditionstests.ts

[2017-03-23 07:56] JayLu921212 commented on #304
Thank you very much !
Sorry for taking your time , I should read the example  code carefully .
You have done a great job !

[2017-03-23 08:08] tsv2013 commented on #305
I've reproduced the issue with Angular2 and jQuery iCheck custom widget implementation.

[2017-03-23 08:48] tsv2013 commented on #305
Under some circumstances we need to remove iCheck data for input elements:
`        $el.find('input').data({"iCheck": undefined});
`
I've updated demo on our site. @robertoyus could you please check it?

[2017-03-23 08:48] #305 closed

[2017-03-23 10:21] dmitrykurmanov commented on #302
@bjdani thanks that's right! @FBlade, could you check it please?

![344ac88a93](https://cloud.githubusercontent.com/assets/22315929/24243251/8a3e0fb4-0fcb-11e7-814c-74659542b684.jpg)

[2017-03-23 10:22] #304 closed

[2017-03-23 10:28] dmitrykurmanov commented on #296
@jnicholea @tavakyan hello! Could you share your example? Or may be create new example on plunker?

You can fork it from here:
Angular2 http://plnkr.co/edit/OJkKlUn1oxzWYtnruXir?p=preview
jQuery http://plnkr.co/edit/DH4vJWSBtza7bSCDm2r9?p=preview
Knockout http://plnkr.co/edit/JKy5wwiAhaBTMze3fOO0?p=preview
React http://plnkr.co/edit/qXdeQa6x2FHRg0YrOlPL?p=preview
Vue http://plnkr.co/edit/aTYVAiDvM

[2017-03-23 11:08] tsv2013 commented on #288
@andradobritoiu  I'm sorry for delayed answer!

[code]

You can set initial comment value via `data` property of the model, as shown above.
The key name -  `price to competitors-Comment` consists of two parts - question name ("price to competitors") and question comment suffix - "-Comment".

[2017-03-23 13:06] dmitrykurmanov commented on #193
@anotheri we will discuss it. May be we'll implemented it by custom widgets.

[2017-03-23 15:38] FBlade commented on #302
@dmitrykurmanov and @bjdani Thx.

Thats right! My fault!
Thx again!

[2017-03-23 15:38] #302 closed

[2017-03-24 01:56] bjdani commented on #303
Hi Andrew,
Sorry my example earlier was inaccurate. In using the VisibleIf's I've found the same behaviour as the Visible Triggers where the VisibleIf rules will evaluate a question's value even if that question is invisible (see attached [fruit-example-simple.json.txt](https://github.com/surveyjs/surveyjs/files/866648/fruit-example-simple.json.txt) - if the user first chooses Apple and Red Delici

[2017-03-24 07:51] LeBaThuan opened #306 "Error "Out of stack space" when run with Angular 2 production mode"
I built the angular 2 seed app using **npm** installed surveyjs when
I build the production mode. It's working fine with chomre but got the error "Out of stack space" in IE 11
[image](https://drive.google.com/file/d/0B08L0biCW2ARTklyYk9pdzNTeUk/view?usp=sharing)

[2017-03-24 07:55] tsv2013 commented on #306
This can be related to the order of loading zone/shim scripts. The order should exact as on our [Angular2 demo on Plunker](http://plnkr.co/edit/OJkKlUn1oxzWYtnruXir?p=preview). Could you check it?

[2017-03-24 08:02] LeBaThuan commented on #306
Thank you for quick response.
Yes, Tried it with exact the order. but I this error `Unhandled promise rejection Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfilling Promise api is not necessary when zone.js is loaded. If you must load one, do so before loading zone.j

[2017-03-24 08:11] LeBaThuan commented on #306
I tried to change using the shim.js to es6-shim.js. It's working fine with Angular 2 development mode in IE and Chrome, but es6-shim.js cannot build production mode to work on IE, so I must be changed to shim.js
I got that error when i load the component using surveyjs, for the other component, It's work fine. Plz, help

[2017-03-24 08:12] tsv2013 commented on #306
I've just checked our plunker example in IE11 and it works for me.

Can you try to put script tags from our [Angular2 demo on Plunker](http://plnkr.co/edit/OJkKlUn1oxzWYtnruXir?p=preview) on your web page? Or can you prepare sample on plunker (or github repo) to reproduce the issue on our side?

[2017-03-24 08:16] tsv2013 commented on #306
You can also try the [SurveyJS Angular2 Quickstart](https://github.com/surveyjs/surveyjs_angular_quickstart) boilerplate, created by [Angular2 app setup guidelines](https://angular.io/docs/ts/latest/guide/setup.html).

[2017-03-24 08:32] LeBaThuan commented on #306
My project using [Angular seed](https://github.com/mgechev/angular-seed). Could you me check it with the production mode. Thank you.

[2017-03-24 09:03] andrewtelnov commented on #303
@bjdani You visibleIf property should be the following:
`({question-fruit} = 'fruit-apple' and {question-apple-variety} = 'apple-variety-red-delicious') or ({question-fruit} = 'fruit-orange' and {question-orange-variety} = 'orange-variety-blood')`

Unfortunately, it doesn't work either. I have fixed it and committed the fix. We will release a new updated today or early next week.

Thank you,
Andre

[2017-03-24 11:05] tsv2013 commented on #306
Sure, we'll take a look with @dmitrykurmanov .

[2017-03-24 11:10] andrewtelnov commented on #303
@bjdani The following visibleIf value will work in the current version. I just check it out.

`{question-fruit} = 'fruit-apple' and {question-apple-variety} = 'apple-variety-red-delicious' or {question-fruit} = 'fruit-orange' and {question-orange-variety} = 'orange-variety-blood'
`

Thank you,
Andrew

[2017-03-24 12:30] dmitrykurmanov commented on #306
@LeBaThuan, hello! I've created a repo: https://github.com/dmitrykurmanov/surveyjs-angular-seed. It is angular-seed with our survey and it is ok in production mode. Could you check it plese?

[2017-03-24 12:41] dmitrykurmanov commented on #306
@LeBaThuan
![c1874a922c](https://cloud.githubusercontent.com/assets/22315929/24294603/4bcf183a-10a8-11e7-9fa4-e38e6df4bcb1.jpg)

[2017-03-24 13:26] dmitrykurmanov opened #307 "matrix dynamic strange behaviour"
![matrix_dynamic_bug 2](https://cloud.githubusercontent.com/assets/22315929/24296075/97a4f030-10ae-11e7-9557-c37e4023616c.gif)

because of preact behaviour
same behaviour for matrix dropdown

[2017-03-24 13:46] AndehWong opened #308 "Auto-refresh after survey is finished?"
Hello, I was wondering if there is an option to automatically refresh the page (so that the survey restarts) every time the survey completes. I tried looking for something in the triggers, but the triggers are more for a quick complete of the survey, or triggering specific questions.

[2017-03-24 19:27] LeBaThuan commented on #306
That great! Thank @tsv2013 and @dmitrykurmanov . I checked the repo and found the cause of the issue. My issue came from the version of survey-angular, just need an update to ver "0.12.4" in package.json.

[2017-03-24 19:28] #306 closed

[2017-03-24 20:17] tavakyan commented on #296
Hey @dmitrykurmanov strangely enough I get the same problem when running: https://github.com/surveyjs/surveyjs_vue_quickstart .  I just git clone the repo, npm install and npm run dev (I had some missing font dependencies which I had to put into the npm_modules folder for the survey editor to work).  I still get the uncaught type error.  I'm on a OS X using npm 3.10.10 node version 7.3.0.  I'm not

[2017-03-25 06:32] andrewtelnov commented on #308
@AndehWong You may do it onComplete event:
[code]

Thank you,
Andrew

[2017-03-27 03:46] bjdani commented on #303
Thanks Andrew for your quick reply and fix.
So, until the next update is released, the following structure (without round brackets) will work because the 'and' operators take precedence over the 'or' operators in the evaluation of the rule?
`{question-fruit} = 'fruit-apple' and {question-apple-variety} = 'apple-variety-red-delicious' or {question-fruit} = 'fruit-orange' and {question-orange-variet

[2017-03-27 04:56] bjdani opened #309 "Survey result contains values for invisible "Other" comments"
If the survey contains questions where "Has other item" is checked and the user fills out one of these values and then backtracks and goes down another path through the questions and fills in another question with "Has other item" checked, all the comment fields appear in the survey result even though some are not visible.
See attached [fruit-example-other.json.txt](https://github.com/surveyjs/sur

[2017-03-27 05:27] bjdani opened #310 "Survey Editor returns 404 on a couple of assets"
Hi,
Just noticed when using the Survey Editor on the site that it returns 404 status for the following items:
- http://surveyjs.org/builder/theme-monokai.js
- http://surveyjs.org/builder/worker-json.js

[2017-03-27 06:55] andrewtelnov commented on #303
Yes, exactly.

Thank you,
Andrew

[2017-03-27 07:33] andrewtelnov commented on #309
@bjdani Yes, it is a bug. I have added a unit test and fixed it.

Thank you,
Andrew

[2017-03-27 09:34] dmitrykurmanov commented on #296
@tavakyan ok we'll check https://github.com/surveyjs/surveyjs_vue_quickstart, thanks.

[2017-03-27 12:34] andrewtelnov commented on #310
@bjdani I have fixed a problem: https://github.com/surveyjs/editor/commit/e82f07e6bfe61fd8c2b23940e295fe84e5af7451
The issue will be resolved with the coming update.

Thank you,
Andrew

[2017-03-27 14:28] dmitrykurmanov commented on #296
@tavakyan , we fixed https://github.com/surveyjs/surveyjs_vue_quickstart, could you check it please?

[2017-03-27 14:29] tsv2013 commented on #303
Please check 0.12.5 release

[2017-03-27 14:29] #303 closed

[2017-03-27 14:29] tsv2013 commented on #307
Please check 0.12.5 release

[2017-03-27 14:29] tsv2013 commented on #309
Please check 0.12.5 release

[2017-03-27 14:29] tsv2013 commented on #310
Please check 0.12.5 release

[2017-03-27 14:29] #310 closed

[2017-03-27 15:42] rivettp commented on #284
How about another mechanism to address the lack of visibility of the complete text when the progress bar has not advanced sufficiently? It can be a real problem especially on narrow devices such as phones. In fact it made us abandon the progress bar completely. Shrink the font size? Or maybe not display the text **within** the bar at all?

[2017-03-27 23:51] bjdani commented on #309
Hi,

Thanks for adding the fix!

Following the steps in my initial comment above does yield correct results now, but I've noticed there are still comments showing in the results if I use the following steps:

1. Choose 'Apple' for 'Which fruit?' question
2. Choose 'Other (describe)' for 'What variety?' question and enter a comment value.
3. Backtrack and change the answer to 'Red Delicious' for 'W

[2017-03-27 23:53] bjdani commented on #310
Looks good now! Thanks!

[2017-03-28 00:12] bjdani commented on #303
This looks good now! Thanks!

[2017-03-28 06:43] andrewtelnov opened #311 "Clear others value, if a user finally doesn't select the others"
The issue based on the following discussion: https://github.com/surveyjs/surveyjs/issues/309#issuecomment-289620067

[2017-03-28 06:44] andrewtelnov commented on #309
@bjdani Yes, it is a bug. However, it is a completely different issue. I have created a new topic: https://github.com/surveyjs/surveyjs/issues/311

Thank you,
Andrew

[2017-03-28 06:44] #309 closed

[2017-03-29 03:55] bjdani commented on #309
Thanks Andrew!

[2017-03-29 09:03] xibman commented on #27
A simple editor: https://www.froala.com/
https://github.com/helpbase/vue-froala
https://github.com/froala/vue-froala-wysiwyg

[2017-03-29 14:30] #307 closed

[2017-03-30 11:32] davlind87 opened #312 "Dxsurvey down?"
Is Dxsurvey service down for any particular reason?

/David

[2017-03-30 11:34] tsv2013 commented on #312
https://dxsurvey.com/ opens ok for me right now. What exact page doesn't open?

[2017-03-30 12:36] davlind87 commented on #312
It were blocked in our new Firewall :) Problem solved.

[2017-03-30 12:36] #312 closed

[2017-03-30 23:55] mehrdadarvin opened #313 "Programmatic Validation"
Let's say I complete a survey (which passes the client side validation) and POST the results to my server. I would like to validate the said results on the server as well before inserting it into my db.

Is there a way to programmatically validate the results, given the survey object and the results?

[2017-03-31 02:25] tavakyan commented on #296
@dmitrykurmanov it looks like everything works now.  Thank you!

[2017-03-31 06:06] andrewtelnov commented on #313
@mehrdadarvin The survey results is a typical JSON object.  There are plenty examples for all popular platforms on [stackoverflow](http://stackoverflow.com).
Or just google it: https://www.google.com/webhp?#q=how+to+validate+json+object+on+the+server-side&*

Thank you,
Andrew

[2017-03-31 06:07] #296 closed

[2017-04-02 06:42] zurekdar opened #314 "Programmatic Validation Triggers"
Hi

How to  programmatically validate triggers on the survey page?
If two survey pages are triggers for one it does not work.

[2017-04-02 06:51] andrewtelnov commented on #314
@zurekdar Could you please share your survey with us and steps to reproduce the problem. To be honest, I do not understand the issue :(

Thank you,
Andrew

[2017-04-02 09:56] aroundthecode commented on #186
I there a way to manage this without preparing a fixed amount of hidden form?
Any function to add row to a MutlipleText question would be great.
I tried to manage this via DOM cloning an initial question into additional one, but then their IDs get duplicated and i cannot get data once the form is submitted.
`function addFields(name, n) {

			item = survey.getQuestionByName(name.toLowerCase()).item

[2017-04-02 10:31] zurekdar commented on #314
![diagram1](https://cloud.githubusercontent.com/assets/26803543/24586397/28d73656-17a0-11e7-93b2-0b7570637015.gif)
OK this my .json file and .gif diagram my scenario.
Problem:
Scenario1
page1 (Yes) --> page2 (No) --> page5 (not schow next button)

Scenario2
page1 (Yes) --> page2 (Yes) --> page3 (Yes) --> page4 return to page1 and select (No) error not schow page6 only page3???

[survey_test1_json.

[2017-04-02 17:41] andrewtelnov commented on #186
@aroundthecode Sure, here is the example:
[code]

Thank you,
Andrew

[2017-04-02 19:28] aroundthecode commented on #186
Hi Andrew, thanks for the fast reply, suggested code works perfectly in generating the interface.
Sadly each field seems to get reset every time it lost focus, clearing the input area.
Am I doing something wrong?

Here is my code, I've a fist page where I declare the number of field (the 'nfronend' question), and I'm using the page change (second page named 'details') event to populate the form of

[2017-04-02 19:39] andrewtelnov commented on #186
@aroundthecode I have to modify the library, so the addItem will add the required item without full survey re-rendering.
Could you describe your scenario, probably there is a better solution?
For example, maybe you can use MatrixDanymic quesiton with one column: http://surveyjs.org/examples/jquery/questiontype-matrixdynamic.html

Thank you,
Andrew

[2017-04-02 20:06] aroundthecode commented on #186
What I'm trying to achieve is:
1) the users choose from the fist page an architecture template (single-choice-radio)
2) depending on the choice 3 hidden text questions are automatically filled with needed server number
3) moving to details page 3 multitext question should be rendered with a textarea for each corresponding number of server so that the user can fill in with

the code I posted above

[2017-04-03 05:46] andrewtelnov commented on #186
@aroundthecode In this case, you may remove the survey.render() code and you will be done.

As soon as you will get the result from the server, add the needed multiple text items and when an end-user goes to the third page, the model will be changed at this moment and survey will render the question correctly, according to the latest changes.

Please let us know if it works. We will look for anoth

[2017-04-03 06:46] andrewtelnov commented on #314
@zurekdar I have played with your json for a while.
Page5, question5 doesn't show the next button on changing, because it changes the visibility of question3:
`{"type":"visible","operator":"notempty","name":"question5","questions":["question3"]}`
question3 is on the third page, before question5 (page5). If you set the value into question5 and press the "previous" button, you will see that page3/qu

[2017-04-03 07:13] aroundthecode commented on #186
Hi Andrew,
I'm afraid I didn't explained the scenario properly since there is no server interaction at all.
I've recreated the relevant part of my survey into a JSFiddle so that you can check both code and json data: https://jsfiddle.net/55py0gvq/
No need for any backend API at the moment, I'm just console-logging the final result to check form data.

Depending on the first page choice, the number

[2017-04-03 07:52] zurekdar commented on #314
OK
How to clear previous decisions so that they do not affect the election when I go back to the previous questions?

 Regards
Dariusz Zurek

[2017-04-03 08:05] zurekdar commented on #314
If I set empty then it also does not work trigger,  for example: {"type": "visible","operator": "empty","name": "question5","questions": ["question3"]}

[2017-04-03 08:14] andrewtelnov commented on #186
@aroundthecode I am using onValueChanged event:
https://jsfiddle.net/zadu36j7/
Is it correct now?

[2017-04-03 08:22] aroundthecode commented on #186
@andrewtelnov can't find any difference in your jsfiddle from the original one, which is che change to be applied? the onValueChanged was already present and the form cleanup issue is still present

[2017-04-03 08:26] andrewtelnov commented on #186
@aroundthecode Sorry, my bad, I forgot to click update: https://jsfiddle.net/zadu36j7/1/

[2017-04-03 08:32] zurekdar commented on #314
I still do not know how I have set my trriger in my example to start the transition between question5 and question3, please help.

Regards
Dariusz Zurek

[2017-04-03 08:35] andrewtelnov commented on #314
@zurekdar I have just posted your json into http://surveyjs.org/builder/ (JSON Editor tab) and go to the Test Survey Tab.
It shows me one page, I said 'yes' and the "Complete" button disappeared and Next button is shown (2 Pages)
Press "Next" and say "no" on the second page. The third page (page5) is show.
I have entered 1 and click on Previous button, now there are 4 pages.
Go back to the page5,

[2017-04-03 08:35] andrewtelnov commented on #314
@zurekdar Aha, so you want to go back to the page3 if question5 is not empty.
Ok, let me think...

[2017-04-03 08:38] andrewtelnov commented on #314
Could you show question5 on the page2?
If you could and if you use the visibleIf property for question3 - you will be fine.
question3.visibleIf = "{question2}='yes' or {question5} notempty";

[2017-04-03 08:40] andrewtelnov commented on #314
@zurekdar  I would suggest you to use visibleIf property. It should be easy to understand the logic.

[2017-04-03 08:41] aroundthecode commented on #186
ok, I can see changes now.
If i understand correctly you moved the update direcly upon template selection instead of doing it upon page change.
Sadly, I still see text areas being cleaned up on lost of focus. Is it working to you ?

[2017-04-03 08:45] andrewtelnov commented on #186
To be honest I do not understand the issue you are talking about. Are you talking about clearing the data?
Anyway, I do not think it is have to do with the model changing. The data, question values are stored in the survey and you may remove all old questions and add new once, the data will not change.
There are many "setdata" triggers. Could they be a reason?

[2017-04-03 08:59] aroundthecode commented on #186
The issue is that when i write anything in the first text area, then move on the second one, the first one is cleared up.

steps to reproduce (both mine or your fiddle):
1) select "Two chain, two server each" (or whatever else)
2) hit "next" and go page 2
3) write anything into "portal IP 1" textarea
4) click anywhere outside the textarea or hit tab key
5) "portal IP 1" textarea get cleared up and

[2017-04-03 09:27] zurekdar commented on #314
This does not solve the problem, trrigers can control the next step visibleIf  not. If you can then build the correct .json file from my diagram.

Regards
Dariusz Zurek

[2017-04-03 12:15] zurekdar commented on #314
How to hide uncovered questions during "Previous"?

Regards
Dariusz Zurek

[2017-04-03 13:57] andrewtelnov commented on #186
@aroundthecode I found the issue. Here is the working code: https://jsfiddle.net/zadu36j7/2/
[code]
The items push method is overridden.  When we set it to [], the items use a standard push method.
I am consider this as a bug, since, on setting the items, push/splice methods should be set correctly again.
Anyway, the current workaround works.

Thank you,
Andrew

[2017-04-03 14:07] aroundthecode commented on #186
@andrewtelnov , it works perfectly!
Now forms is correctly persited in both web interface and in final serialization.
thanks a lot for your support, I'm really impressed by how you guys managed this so fast!
:+1: :+1: :+1:

[2017-04-03 14:12] andrewtelnov commented on #314
@zurekdar http://plnkr.co/edit/M8C81bK9ehn4bDWL9YFD?p=preview
I just moved page5 before page3, set question3.visibleIf and remove 2 visible triggers, that show/hide question3.

Please take a look.

Thank you,
Andrew

[2017-04-03 14:15] andrewtelnov commented on #186
@aroundthecode Great!
spread good news about the project :-)

Thank you,
Andrew

[2017-04-03 17:50] zurekdar commented on #314
I do not understand what you did, your changes made it work only question1 (Yes) --> question2 (Yes) -->Complete. My diagram does not work.

Regards
Dariusz Zurek

[2017-04-03 19:23] andrewtelnov commented on #314
@zurekdar Sorry, the value was not 'Yes' the value is 1, the correct visibleIf is:
`visibleIf : "{question2}= 1 or {question5} notempty"`
I have corrected the Plunker: http://plnkr.co/edit/M8C81bK9ehn4bDWL9YFD?p=preview

[2017-04-04 08:56] andrewtelnov opened #315 "After setting empty array into MultipleText items property, question starts working incorrectly"
The overridden array methods are not called after the following code:
`multipleTextQuestion.items = []`

The original bug described in the following issue:https://github.com/surveyjs/surveyjs/issues/186

[2017-04-04 09:47] andrewtelnov commented on #186
The bug is fixed: https://github.com/surveyjs/surveyjs/issues/315

[2017-04-04 09:47] #186 closed

[2017-04-04 12:56] andrewtelnov commented on #258
Run-time is implemented. Add this property into the designer.

[2017-04-04 18:06] SlowburnAZ opened #316 "Is there an event that is fired after a question's value changes and the question is re-rendered?"
So, in my survey, I'm using a jQuery translation plugin that let's me define a dictionary of phrases, and the translations for each in each language.  The plugin basically looks for a class ("trn"), and then matches the text against the dictionary for things to translate.  This all works great for me in my surveys.

The problem I'm running into, though, is that after a question is answered, the qu

[2017-04-04 18:21] andrewtelnov commented on #316
@SlowburnAZ Could you please describe your task in more detail?
What exactly do you need to translate to English? question and page titles?
Probably we will find/create a better solution. I guess the task, to have multiple language support for a survey, is a popular scenario.

Thank you,
Andrew

[2017-04-04 18:53] andrewtelnov commented on #258
Implemented the editing at design-time in the editor-panel branch

[2017-04-04 21:32] SlowburnAZ commented on #316
Sure..

So, the jQuery translator library I'm using looks for any element with a class of "trn", and compares the contents of that element against a JS object that contains different translations and replaces the content with translated text.  In my case, after the survey is rendered, I manually apply the 'trn' class to things such as the survey title, the text for each question and the question's

[2017-04-05 07:51] andrewtelnov commented on #316
@SlowburnAZ What is your deadline? I may try to find the the reason why it doesn't work. Are you talking about this library? https://github.com/wsidl/jquery-translate

However, the best solution, it is to have the translated JSON.
Here is what we can do:
1) add a new property to JsonProperty object, isLocalizable, default is false.
2) Mark all required properties as IsLocalizable, for example ques

[2017-04-05 08:01] #286 closed

[2017-04-05 13:03] andrewtelnov commented on #287
@jjjeremy Please take a look: http://surveyjs.org/builder/

Thank you,
Andrew

[2017-04-05 13:22] cjnorth513 opened #318 "Values from drop down list not being saved"
When I submit the survey in Firefox and Internet Explorer, the values from the drop down list are not being saved to the results.  However, the results are being saved in Chrome.

[2017-04-05 13:39] andrewtelnov commented on #318
@cjnorth513 What version firefox and IE do you use?
Firefox 52.0.2 and IE 11.0.10240.x work fine.

Thank you,
Andrew

[2017-04-05 14:44] cjnorth513 commented on #318
IE 9.0.8112.16421 and Firefox version 31.5.0

[2017-04-05 16:05] efotopoulou opened #319 "POM for org.webjars.npm:types__react:jar:0.0.0 is missing, no dependency information available"
Thanks for adding surveyjs at webjars!!!

After compiling my code i get that message:
The POM for org.webjars.npm:types__react:jar:0.0.0 is missing, no dependency information available
could you check the validity of the pom file.

I have the same error with both available versions 0.12.0 & 0.12.1

[2017-04-05 17:06] #315 closed

[2017-04-05 17:06] #311 closed

[2017-04-05 17:10] SlowburnAZ commented on #316
@andrewtelnov
The library I'm using is here:  http://www.openxrest.com/translatejs/

My deadline is about 2 weeks from now.  I think that in the short term, if some event could be made to fire after the re-render, that would be perfect for my uses (example of the behavior for reference):
![survey_spanish_example](https://cloud.githubusercontent.com/assets/5659169/24717560/bdd28e74-19e7-11e7-8d6e-4

[2017-04-05 19:00] SlowburnAZ commented on #316
Sounds good, Andrew.

On Wed, Apr 5, 2017 at 10:30 AM, Andrew <notifications@github.com> wrote:

[2017-04-05 21:46] dmitrykurmanov commented on #319
@efotopoulou Hello! As I know, we did't add our library into webjars. Someone else have done it. Actually version of surveyjs is 0.12.6. And I don't see _survey-react_ on webjars.org. There are only _survey-jquery_ and _survey-vue_ there. So we will discuss it tomorrow. And we are welcome any help with it.

[2017-04-06 08:22] andrewtelnov opened #320 "Build-in localization for multiple languages surveys."
Add an easy to use built-in localization support into the library.
Question/Page titles, checkbox, radiogroup, dropdown items text, matrix captions. They are all should be localized.
The title json can be looked like:

`title: "The first question"` or `title: {"default": "The first question", "de": "Die erste Frage"}` or `title: {"en": "The first question", "de": "Die erste Frage"}`.
On changing s

[2017-04-06 08:23] andrewtelnov commented on #316
I have created a new issue: https://github.com/surveyjs/surveyjs/issues/320

[2017-04-06 08:41] tsv2013 commented on #318
@cjnorth513 Could you specify your operating system version? I've not managed to reproduce the issue with IE9 over Windows 7. (You can check screencast: https://www.screencast.com/t/qhJkqDmhpu - probaply I've missed something.)

[2017-04-06 09:42] dmitrykurmanov commented on #319
@efotopoulou we have `dependencies: { '@types/react': '0.0.0' }` in jquery version may be the problem in `0.0.0` version. We'll updated version to  `dependencies: { '@types/react': '15.0.21' }` it may help.

[2017-04-06 09:57] dmitrykurmanov commented on #319
@efotopoulou but in fact `dependencies: { '@types/react': '0.0.0' }` is ok too. I don't know how to webjar works with dependensy of npm package.

[2017-04-06 10:31] jjjeremy commented on #287
@andrewtelnov  Very cool!!!!  That works really well!

I did find an issue though.  Deleting a question from inside a panel doesn't work.  The first attempt appears to do nothing, and if you attempt to delete it again it deletes the entire panel.  Moving the question out of the panel and then deleting it does work.

Also, I suggest giving a new panel a default title (or show the name if there is n

[2017-04-06 12:49] andrewtelnov opened #321 "page/panel removeElement should remove element from nested panels"
In the current version if a question is located in the nested panel, calling removeElement will do nothing, since page doesn't have this question in the elements directly. It has a panel as element, where panel has a question element.
removeElement should remove element from nested panels as well.

[2017-04-06 12:49] andrewtelnov commented on #321
This implementation will solve the following issue: https://github.com/surveyjs/editor/issues/74

[2017-04-06 12:59] andrewtelnov commented on #287
@jjjeremy Yes. the bug with deleting is fixed: https://github.com/surveyjs/editor/issues/74
I am not entire happy with the drag&drop. Showing a title maybe an option. I will play with it.

Thank you,
Andrew

[2017-04-06 13:19] pierrecharlesp opened #322 "Firefox compatibility"
Thanks for great job.
Which version of firefox is compatible with survey.js ?
I meet issues with VisibleIf property and firefox ESR 45.3.
VisibleIF isn't working. Page doesn't appear.

Many thanks.

[2017-04-06 14:28] tsv2013 opened #323 ""visibleIf" engine doesn't perform "empty" value check"
Panel should be visible if "{satisfaction} < 3 or {satisfaction} empty":

{
 "pages": [
  {
   "name": "page1",
   "elements": [
    { "type": "rating", "name": "satisfaction", "title": "How satisfied are you with the Product?", "mininumRateDescription": "Not Satisfied", "maximumRateDescription": "Completely satisfied" },
    {
     "type": "panel", "innerIndent": 1, "name": "panel1", "text": "Pan

[2017-04-06 18:00] cjnorth513 commented on #318
I decided to use radio buttons and they work fine.

Thanks for your help.

[2017-04-07 05:26] tsv2013 commented on #318
@cjnorth513 I beleive we should fix this issue. And I'm working on it.
I'd like to ask - why are you staying on Firefox version 31.5.0? The current version is 52.0.

[2017-04-07 13:22] tsv2013 commented on #318
@cjnorth513 I've fixed dropdown for FF v < 51. Fix will be available in 0.12.7. What about IE? We already have the same code to make dropdown work in IE, and I've checked it. If you are experiencing troubles with dropdown in IE, can you share some additional info to reproduce the issue on our side? I'm going to fix it.

[2017-04-07 13:26] andrewtelnov commented on #287
@jjjeremy in the next update, in the editor, if panel title is empty, it's name will be rendered as: [name].

Thank you,
Andrew

[2017-04-07 14:55] cjnorth513 commented on #318
@tsv2013...thanks!!!  I will download that version when it is ready.

[2017-04-08 12:16] jjjeremy commented on #287
@andrewtelnov
Thanks mate!

[2017-04-09 06:52] andrewtelnov commented on #316
@SlowburnAZ The feature is implemented: https://github.com/surveyjs/surveyjs/issues/320
You may build the library by yourself (see the Readme) and give a try.

All properties, that should be localizable, support the following syntax:
`title: "The first question" or title: {"default": "The first question", "de": "Die erste Frage"} or title: {"en": "The first question", "de": "Die erste Frage"}.`

W

[2017-04-10 07:12] tsv2013 commented on #322
I've checked "VisibleIf" for pages on the http://surveyjs.org/builder/ page in Firefox 40.0 with the following json:

[code]

It works ok for me: "page2" is visible only if "{question1} = 2". Could you test this json?

We have the issue related to the dropdown question in the early versions of Firefox (https://github.com/surveyjs/surveyjs/issues/318) - it has been fixed and fix will be available i

[2017-04-10 07:21] tsv2013 commented on #322
I've tested this json in the Firefox ESR 45.3.0 and it wotks for me also.

[2017-04-10 07:24] tsv2013 commented on #322
@pierrecharlesp And answering your question - we are trying to support Firefox >= 40.0

[2017-04-10 13:02] #323 closed

[2017-04-10 13:05] dmitrykurmanov commented on #264
@ojpeters we've implemented select-image custom widget: http://surveyjs.org/examples/knockout/custom-widget-image-picker.html

[2017-04-10 13:05] #264 closed

[2017-04-10 14:06] alexmc6 opened #324 "Hidden Values"
I am not sure if there is a way of doing this already - if so I cannot see it.

I want to pass into the survey a value which then gets returned to me when the survey is submitted. eg a "surveyversion" with a value of "1.0".

I tried creating a text value which is visible:false but
a) I can't seem to define a default value - only a placeHolder
b) The visible false questions do not seem to be posted

[2017-04-10 14:19] andrewtelnov commented on #316
@SlowburnAZ surveyjs 0.12.7 is released. Here is the demo: http://surveyjs.org/examples/jquery/survey-multilanguages.html

Thank you,
Andrew

[2017-04-10 14:28] andrewtelnov commented on #324
@alexmc6 sure, you may do it onComplete event:
[code]

Thank you,
Andrew

[2017-04-10 16:38] xibman opened #325 "Bug: required fields in hidden panel are tested"
Required field in hidden panel were tested (json to test)

[code]

[2017-04-10 18:51] andrewtelnov commented on #325
@xibman Yes, it is a bug.
The unit test is added, the bug is fixed.

Thank you,
Andrew

[2017-04-10 19:28] cjnorth513 opened #326 "Disabling Questions"
Is there a way to disable certain questions?

[2017-04-10 19:58] andrewtelnov commented on #326
@cjnorth513 There is no this functionality yet. Could you describe your scenario, so we can discuss it internally?

Thank you,
Andrew

[2017-04-10 20:07] andrewtelnov commented on #326
@cjnorth513  I forgot to mention.
There is a html question. It doesn't have any input elements and title.
It supports text pre-processing: http://surveyjs.org/examples/jquery/survey-processtext.html
Will it work for you?

Thank you,
Andrew

[2017-04-10 20:15] #320 closed

[2017-04-10 20:16] #321 closed

[2017-04-10 22:24] SlowburnAZ commented on #316
@andrewtelnov Awesome!  Thanks.  I'll give it a try.

[2017-04-11 12:50] alexmc6 commented on #324
That is really helpful. Thanks!

[2017-04-11 12:55] cjnorth513 commented on #326
I know that you can set the survey mode to "display" and then set the data of the survey to particular values.  This makes the questions of the survey read-only.  But I get the impression that the entire survey would be in display mode.  I would only like certain questions in the survey to be read-only, but the other questions to able to be entered.  Can this be done?

[2017-04-11 13:01] andrewtelnov commented on #326
@cjnorth513 Unfortunately you may make read-only the whole survey only. I do not mind to add this functionality, however, I would love to know why exactly you do not want to use question html or make a question invisible? What is your scenario?
The reason I'm asking, we would love to introduce functionality that really necessary. Otherwise the product becomes over-complicated and it will be hard t

[2017-04-11 13:10] cjnorth513 commented on #326
I have a survey that a user enter values.  But there a few questions that I am hard coding answers.  I would like for the user to see the answers to the questions, but not be able to change the answers.  I thought if there was a way that I could disable the questions in the survey default answers that could take care of it.  But there is no way to disable a question or make just a question read-on

[2017-04-11 13:21] andrewtelnov commented on #326
@cjnorth513 Ok, I got it, thank you.
Are these read-only questions are always the same? Do you need to make on one run, one questions read-only and on another run other questions read-only?
I mean, what is the particular reason do not use the QuestionHtml?
You may set html property to:
`myHtmlQuestion.html ="Your answer on question 'My question' should be: <b>{myQuestionName}</b>.";
`
PS: However,

[2017-04-11 13:27] cjnorth513 commented on #326
Yes, these read-only questions are always the same.

Thanks for adding this to the TODO list.  Hopefully I am not the only one that will think this functionality will be useful.

[2017-04-11 14:17] andrewtelnov opened #327 "Add question.readOnly property"
readOnly: boolean, false by default.
If readOnly is true, then render the question in display mode.

[2017-04-11 14:17] andrewtelnov commented on #326
@cjnorth513 It should be really easy to implement and support, so we decided to go with it: https://github.com/surveyjs/surveyjs/issues/327

[2017-04-11 21:22] duscarroll opened #328 "[Vue] startWithNewLine bugged"
It looks like questions are duplicated when using the startWithNewLine property. This can be seen on the example page: http://surveyjs.org/examples/vue/survey-startwithnewline.html

[2017-04-12 09:01] dmitrykurmanov commented on #328
@duscarroll it is a bug, thank you, we'll fix it.

[2017-04-12 09:11] WimWidgets opened #329 "Radiogroup widget afterRender code undone on value change"
In order to restyle a radio button I added an extra span after it, in the otherwise default Bootstrap structure. This lets me style the radio button with `input + span` and `input:checked + span` without using any extra JavaScript to rebuild the default behavior.

To add this extra span in Survey JS I used the widget approach, targeting all radiogroups:
[code]
This works like a charm, until you cl

[2017-04-12 09:17] boitaumail opened #330 "Trigger (visibleIf) doesn't work when multiple checkboxes are checked ?"
### Are you requesting a feature, reporting a bug or ask a queation?
Hi,

I'm not sur this is a bug, perhaps I'm doing it the wrong way. But it's pretty simple and It's all about a boolean expression to keep a page visible. I want to set up a condition of visibility based on a question with checkboxes (multiple answer available).

### What is the current behavior?
I set up the "visibleIf" property

[2017-04-12 10:57] tsv2013 commented on #318
@cjnorth513 Is it ok now? Do you think we can close the issue?

[2017-04-12 11:18] andrewtelnov commented on #330
Hello @boitaumail, contains operator will make a trick:
`"{question1} contains 2"`

PS: There is not good docs about this functionality, sorry about this.

Thank you,
Andrew

[2017-04-12 12:48] cjnorth513 commented on #318
Yes, it is ok now.  You can close the issue.

Thank you for your help,

[2017-04-12 12:49] #318 closed

[2017-04-12 12:52] dmitrykurmanov commented on #329
@WimWidgets hello! This is a bug. We fixed it in 5ef277507266673c6fdbdf71bd085db6841cf251 . Thanks, as a workaround you can use isDefaultRender: false and render your markup.

[2017-04-12 13:14] WimWidgets commented on #329
When do you expect the fix to be available in a new version through NPM? Because I'd rather wait a little instead of manually rewriting the form structure that was already completely fine.

[2017-04-12 13:56] dmitrykurmanov commented on #329
@WimWidgets , we'll release new version 0.12.8 until the end of the week.

[2017-04-12 16:00] dmitrykurmanov commented on #329
@WimWidgets it is ok for you? You may build current master branch and use it untill the release.

[2017-04-12 16:03] andrewtelnov opened #331 "Add markdown support by using external markdown libraries"
Every string, survey/page/question titles, matrix column text, dropdown.choices text should support a markdown.
The markdown support should be done via onTextMarkdown event.

[2017-04-12 16:14] WimWidgets commented on #329
My team is going to make a decision next Monday. If the fix is available as an update through NPM by then and it works as expected, we'll be using the Survey JS front-end in our project.

[2017-04-13 08:48] boitaumail commented on #330
Thank you @andrewtelnov , it works like a charm ! :)

[2017-04-13 08:48] #330 closed

[2017-04-13 10:28] Kichi93 opened #332 "Inverting Matrix Questions"
Is it possible to invert a matrix (specifically a multiple choice matrix) so that the questions can be in rows and the subjects are in the columns? e.g.

. | Person 1 | Person 2 | Person 2
---------- | ------------------ | ----------------- | -----------------
Name | [Text Field] | [Text Field]  |  [Text Field]
Age | [Numeric Field] | [Numeric Field  |  [Numeric Field]
Gender  |   [Radio Group]

[2017-04-13 10:57] dmitrykurmanov commented on #329
@WimWidgets we've released v.0.12.8. It is works now. Example pen:  http://codepen.io/anon/pen/xdxBdo

[2017-04-13 11:04] WimWidgets commented on #329
@dmitrykurmanov Thank you!

[2017-04-13 12:04] tsv2013 commented on #328
0.12.8 is released

[2017-04-13 12:04] #328 closed

[2017-04-13 12:05] #329 closed

[2017-04-13 12:13] Starojitski opened #333 "Is there a list of all event names?"
What is the name of event that is fired when survey is completed. I spent last 10 minutes looking through all examples and could not find it. Quite possibly it's there but i missed it.

[2017-04-13 12:22] dmitrykurmanov commented on #333
@Starojitski, hello, thanks for your question. We should create an example about it. In fact it is onComplete option and can be find in this example: http://surveyjs.org/examples/jquery/service-oneperuser.html

[2017-04-13 12:54] #325 closed

[2017-04-13 12:55] andrewtelnov commented on #326
@cjnorth513 the latest release, v0.12.8 includes this functionality, question.readOnly: boolean property, it is false by default.

Thank you,
Andrew

[2017-04-13 13:24] cjnorth513 commented on #326
Thanks @andrewtelnov

[2017-04-13 15:53] #326 closed

[2017-04-14 08:47] Starojitski commented on #333
Thanks! That's what i was looking for.
I realize just how difficult it is to create good documentation. On one hand you want to provide people with usage scenarios and on the other half of the time people need a reference. And when your project is rapidly growing you need to make sure that both "views" are still correct.
Anyway good luck with your endeavour

[2017-04-14 09:10] dmitrykurmanov commented on #333
@Starojitski, You are absolutly right, thanks. I am going to add "onComplete" example. And we think about "documentation" page.

[2017-04-14 09:57] dmitrykurmanov commented on #333
@Starojitski, This example will appear in the new version of the library. Thanks again.

[2017-04-14 09:57] #333 closed

[2017-04-14 11:37] dmitrykurmanov commented on #333
http://surveyjs.org/examples/jquery/survey-oncomplete.html

[2017-04-14 13:18] Starojitski opened #334 "automatically cast checkbox widget value to array"
we store selected checkbox values as separate database table records

[code]

In order to display the survey with entered values we loop through array and if we find multiple same `questionName`s we combine the values into an array: `{"question1" : [1, 2]}`. This works fine and one can modify question without any problem.
However this does not work when there is only one selected value. Since we d

[2017-04-15 10:17] ceenz opened #335 "JSON created by Surveyjs Editor is not valid"
### reporting a bug?

### What is the current behavior?
JSON produced by survey.js editor does not validate
[collection keys are not enclosed in quotes]

### What is the expected behavior?
JSON should validate

### How would you reproduce the current behavior (if this is a bug)?
1. Copy JSON from the Output of the default Survey Editor example.

2. Paste it at http://jsonlint.com/
3. Click Validat

[2017-04-15 13:39] andrewtelnov commented on #335
Hello @ceenz, we are using [JSON5](http://json5.org/) by default. You may use the standard JSON, by set the clicking on the Option button (the right button in the toolbar) in the editor http://surveyjs.org/builder/ and turn on "Generate Valid JSON".
If you are integrating the Editor into your web site, the following page would be helpful: http://editor.surveyjs.io/examples/options.html#code

Thank

[2017-04-15 16:14] andrewtelnov commented on #334
@Starojitski I have implemented this functionality on the Model level.
If checkbox get non array value, it will convert it into Array.
Please check the commit and the Unit Test: "QuestionCheckbox if single value set then convert it to array, #334" for more information.

Thank you,
Andrew

[2017-04-15 16:18] Starojitski commented on #334
Seems fine to me. When will the updated version will be available?

[2017-04-15 16:21] andrewtelnov commented on #332
@Kichi93 I have looked at the code, unfortunately, I do not see an easy solution right now.

As I see, this feature makes sense, when you have a long list of parameters and from two up to five objects (Persons in your case). I have added it into our TODO list and we will keep this feature in mind. However, to be honest, I'm doubt we will implement it any time soon, unless we have many requests abo

[2017-04-15 16:24] andrewtelnov commented on #334
@Starojitski I hope, we will do it on Tuesday/Wednesday.
Do you have a deadline?

[2017-04-15 16:25] Starojitski commented on #334
In a couple of weeks

[2017-04-15 16:26] #334 closed

[2017-04-15 23:13] ceenz opened #336 "Radiogroup root element type is form"
### reporting a bug

### What is the current behavior?
questions with radio input groups outputs with <form> as root element type

### What is the expected behavior?
expected root element to be <div>

### Specify your

* browser: Chrome 57
* surveyjs platform: vue
* surveyjs version: 0.12.8

[2017-04-15 23:14] ceenz commented on #335
Thank you :-)

[2017-04-15 23:14] #335 closed

[2017-04-15 23:18] ceenz opened #337 "Move localisation options & strings from main js to seperate file"
### Are you requesting a feature
To help reduce size of main js file is it possible to remove all localisation options and strings to separate localisation js.

[2017-04-16 09:58] andrewtelnov commented on #337
@ceenz I have built the current developed version with localization and without localization.
To build without localization you have to comment all (or unneeded) links in this file: https://github.com/surveyjs/surveyjs/blob/master/src/entries/chunks/localization.ts

I've got the following results:
Without localization files, minimized  react version: 198321 bytes (194k)
With localization files,  m

[2017-04-16 09:59] andrewtelnov commented on #336
@tsv2013 and @dmitrykurmanov, Guys, could you please take a look at this?

Thank you,
Andrew

[2017-04-16 10:23] tsv2013 commented on #336
@ceenz could you please specify - what the root element should be? Looks like github markdown removed the tag you have written...

[2017-04-17 19:22] SlowburnAZ commented on #316
@andrewtelnov Do I need to update to the latest Survey Builder as well?  It seems the structure of the surveys may have changed a bit.  When I updated to v0.12.9 of surveyjs, using survey model data created in v0.10.3 of the editor, and I select an answer to a question, the title is then displayed twice:

![survey_title_doubling](https://cloud.githubusercontent.com/assets/5659169/25100971/2eb3c6b6

[2017-04-17 19:52] andrewtelnov commented on #316
@SlowburnAZ  The surveyjs should run all versions of models.
The first issue seems like a bug to me, could you share your model with me, so I can investigate the issue?

We have changed "questions" to "elements" after introducing the Panel in v0.12.7. Panel may contains questions and other panels. The old versions (v0.12.6-) of surveyjs could not understand the "elements" tag, but new versions of

[2017-04-17 19:53] andrewtelnov commented on #316
And what version and platform do you use?

[2017-04-17 20:11] SlowburnAZ commented on #316
@andrewtelnov I'd rather not post the whole model publicly, so I'll send you the model to your email address directly.

I've updated the editor to 0.12.9, so that model will reflect that,  Running this all from Node on Ubuntu 16.04, latest Chrome browser.

[2017-04-17 20:36] SlowburnAZ opened #338 "When using iCheck custom widget, row.value is undefined for Matrix questions"
So, using a slightly modified version of the iCheck Custom Widget example (which really just combines the Matrix example with the Checkbox and Radio example),
[code]
is undefined for each row.

Example of my custom widget code is here:
[code]

The definition of this matrix question is as follows:
[code]

### Specify your

* browser:  Chrome Browser
* browser version:  57.0.2987.133
* surveyjs plat

[2017-04-17 20:36] andrewtelnov commented on #316
Yes, I've got it. I will look at it tomorrow.
And what platform version of surveyjs do you use? JQuery, knockout, angular, react or vue?
Do you have handle any survey events?

[2017-04-17 20:38] SlowburnAZ commented on #316
For the Editor, I'm using Knockout.  For the Viewer side of things, I'm using jQuery.

[2017-04-18 06:58] andrewtelnov commented on #316
@SlowburnAZ I have sent a link to plunker by e-mail.

Except this title duplication issue, do have other issues? I am very interesting in making sure that our multi language support works and I want to make sure you can use it successful.

Thank you,
Andrew

[2017-04-18 06:58] andrewtelnov commented on #338
@tsv2013 and @dmitrykurmanov Please take a look.

Thank you,
Andrew

[2017-04-18 07:47] tsv2013 commented on #338
I've created a plunk with your code - http://plnkr.co/edit/LKOGI0kxKmIZKTOUymtm?p=preview . It works like a charm for me: checkboxes are shown and values as saved in data object. Do I miss something?

[2017-04-18 08:03] andrewtelnov commented on #338
@tsv2013 Chris is talking about SuveyJS editor. Here is the demo: http://editor.surveyjs.io/examples/customwidgets.html

[2017-04-18 08:06] tsv2013 commented on #338
@andrewtelnov Yes, I've missed it. I'll check it now.

[2017-04-18 08:33] tsv2013 commented on #338
@SlowburnAZ I've created a plunk with Editor - http://plnkr.co/edit/8pK9eil1gxFycS3AlyFT?p=preview and haven't found any issues. Can you check whether it works for you?
@andrewtelnov told me you were working under Ubuntu. I'll check my plunk under this OS.

[2017-04-18 08:50] andrewtelnov commented on #236
@harpsicord86 We add markdown support into surveyjs. Here is the example of using markdown for your question: http://surveyjs.org/examples/jquery/survey-markdown-matrix.html

[2017-04-18 11:10] andrewtelnov commented on #301
@robertoyus We have added the mardown support. Here is the examples of using:
http://surveyjs.org/examples/knockout/survey-markdown-radiogroup.html
http://surveyjs.org/examples/knockout/survey-markdown-matrix.html

We are using [showdown markdown ](https://github.com/showdownjs/showdown) in these examples. It uses double asterisks for bold "**Bold text**".

Thank you,
Andrew

[2017-04-18 11:54] WimWidgets commented on #329
@dmitrykurmanov same thing goes for checkboxes:
[http://codepen.io/Wimski/pen/wdKPmG](http://codepen.io/Wimski/pen/wdKPmG)

It would be great if widgets for ALL kinds of types would not re-render after value change.

[2017-04-18 13:46] WimWidgets opened #339 "Checkbox widget afterRender code undone on value change"
@dmitrykurmanov same issue as #329 goes for checkboxes:
[http://codepen.io/Wimski/pen/wdKPmG](http://codepen.io/Wimski/pen/wdKPmG)

It would be great if widgets for ALL kinds of types would not re-render after value change.

[2017-04-18 14:00] care46 opened #340 "MAX row in Matrix Dynamic (question)"
It's possible to add a new properties in Matrix Dynamic, in particular "max row", to control the maximun number off row added by the user?
Today there is only the properties MIN ROW :)

[2017-04-18 16:05] SlowburnAZ commented on #316
So sorry to waste your time, guys ...  it looks like both this and the [issue](https://github.com/surveyjs/surveyjs/issues/338) with the matrix row.value not being set were caused by the translator plugin I had been using before you added multiple language support.

[2017-04-18 16:05] SlowburnAZ commented on #338
So sorry to waste your time, @andrewtelnov ...  it looks like both this and the [issue](https://github.com/surveyjs/surveyjs/issues/316) with the matrix row.value not being set were caused by the translator plugin I had been using before you added multiple language support.

[2017-04-18 16:06] #338 closed

[2017-04-18 16:39] lheston opened #341 "maxLength validator not working while minLength works correctly"
### Are you requesting a feature, reporting a bug or ask a question?

reporting a bug

### What is the current behavior?

Currently I have the following json representing a question

{
     type: "comment",
     name: "Question1",
     title: "question title text",
     validators: [
      {
       type: "text",
       maxLength: "20",
       minLength: "5"
      }
     ]
    },
the validator work

[2017-04-18 16:58] dmitrykurmanov commented on #339
@WimWidgets hello! We've fixed it.  We are going to release new patch version this week. And you can get prerelease build https://surveyjs.azureedge.net/dev/survey.jquery.min.js And pen example : http://codepen.io/anon/pen/vmNadw

[2017-04-18 16:58] #339 closed

[2017-04-18 18:27] andrewtelnov commented on #316
@SlowburnAZ No problem. I am glad that everything works fine!

Thank you,
Andrew

[2017-04-18 18:28] andrewtelnov commented on #340
@care46 Yes, make sense. We will do it.

Thank you,
Andrew

[2017-04-18 21:03] SosaWiseHome opened #342 "Anyone written a d.ts file for SurveyJS?"
### Are you requesting a feature, reporting a bug or ask a queation?
Question

### What is the current behavior?
I'm using Type Script.  And my transpiler is having issues with finding the Model class.  Having said that the library is working fine and the surveys come up beautifully.  But the transpiler complains.  I want to be able to help the transpiler by creating a d.ts file for SurveyJs.  Won

[2017-04-18 21:05] tsv2013 commented on #342
SurgeyJS is written in TypeScript and .d.ts files are shipped within npm packages,

[2017-04-18 21:44] duscarroll opened #343 "[Vue] placeholder not appearing in dropdown question"
The placeholder for dropdown questions is not appearing in the Vue implementation. This can be seen when comparing the following examples:

http://surveyjs.org/examples/jquery/questiontype-dropdown.html

vs

http://surveyjs.org/examples/vue/questiontype-dropdown.html

[2017-04-18 21:49] tsv2013 commented on #343
Thank you @duscarroll , we'll fix it.

[2017-04-18 22:17] SlowburnAZ opened #344 "Multiple Language support not working for question choices, only question title?"
So, I'm trying to use the newly supported multiple languages, and something seems amiss...

First, here's a small sample of my current survey model:
[code]

An example of the problem is here:
** Notice that the choice text is not being changed to Spanish like the question title is
![survey_lang_problem](https://cloud.githubusercontent.com/assets/5659169/25155427/ce13dd94-2449-11e7-8980-4345a072308

[2017-04-18 22:19] SlowburnAZ commented on #344
UPDATE:  I've confirmed that this is a result of using iCheck as a custom widget.  It seems that the iCheck widget is not being updated with the new text and re-rendered.

Any chance the custom widget code examples can be updated for use with multiple languages?

[2017-04-19 00:06] emerbrito opened #345 "When field is required and inputType is number, zero (0) is not accepted as an answer"
When using a number input (type: `text`, inputType: `number`), if field is required it will accept any negative number, any number greater than zero but, not zero.

Since zero (0) is a number, there are instances where it might be the appropriated answer.

Is this behavior by design or am Im missing something?

[2017-04-19 07:07] andrewtelnov commented on #344
@SlowburnAZ Yes, you are right. We will update our examples.

[2017-04-19 07:10] andrewtelnov commented on #345
@emerbrito It is not an expected behavior. There is a simple check if(!value) and it returns true for null and undefined + for 0 and false values as well.
I will work on the fix.

Thank you,
Andrew

[2017-04-19 07:45] dmitrykurmanov commented on #342
@SosaWiseHome, hello! For example you can find it here https://unpkg.com/survey-jquery@0.12.9/ . Could you check it please? Is it what you need?

[2017-04-19 07:52] #316 closed

[2017-04-19 08:25] andrewtelnov commented on #345
@emerbrito The bug is fixed, the unit test ("Do not show required error for value 0 and false") is added .

Thank you,
Andrew

[2017-04-19 09:17] andrewtelnov commented on #341
@lheston I could not reproduce the bug. Could you please check this plunker link: http://plnkr.co/edit/Tgn1zz0PbEMqz9VWmcdY?p=preview?
Does it work for you?

Thank you,
Andrew

[2017-04-19 14:39] andrewtelnov commented on #340
@care46 It is done. It will be available in the next minor update.

Thank you,
Andrew

[2017-04-19 14:45] care46 commented on #340
Awesome! Thanks!!! ;)

[2017-04-19 16:01] Kichi93 commented on #332
@andrewtelnov, thanks for your response. I did have a look to see if I could do anything myself but came to the same conclusion as you, i.e. there is no easy way to do it, so don't worry if it doesn't get looked at for a while.

If I come across a way of achieving it, however hacky it might be, I'll post it in here so others can share it until it can be implemented properly :)

[2017-04-19 16:35] lheston commented on #341
Yes that works for me. I have the exact same thing in my example though and it still does not work... I will keep trying to debug. It is weird because minLength works fine.

[2017-04-20 03:39] emerbrito commented on #345
Sounds aggregate.
Thanks a lot.

[2017-04-20 07:52] andrewtelnov opened #346 "Add validators to MultipleText Item and Matrix(Dropdown/Dynamic) Column"
It requires to write code to validate inputs for matrixdynamic, matrixdropdown and multiple text items.

[2017-04-20 10:02] alexmc6 opened #347 "Rails Gem for SurveyJS? Suggestion for community effort"
New Feature / Community Suggestion

Currently SurveyJS only worries about the front end which runs in the browser. It is up to the developer to use either the dxServer, or add their own back end.

This suggestion is that the SurveyJS community (not necessarily the SurveyJS developers) build a Ruby Gem so that SurveyJS could easily be incorporated into Rails (and Sinatra?) websites.

The gem would

[2017-04-20 13:44] #345 closed

[2017-04-20 13:44] traquall opened #348 "Add parameters to choices ? get result from HTML element ?"
Hi,
Would it be possible to add parameters to response choices ?
For example with a radio button, I'd like to have value, text and another text parameter that I can get in the json result.

And I have another question : Is it possible to get result value with an HTML element ? It would be great if that's the case !

Thanks !

[2017-04-20 13:45] #340 closed

[2017-04-20 14:04] andrewtelnov commented on #348
@traquall Yes, you can. You will not be able to edit it in the Survey Editor. However, you should be able to get access to it in the custom widget.

Thank you,
Andrew

[2017-04-20 15:23] #322 closed

[2017-04-20 15:51] duscarroll commented on #343
Hi, thanks for the prompt response!

I see the fixed label has been added, but I still see the issue on http://surveyjs.org/examples/vue/questiontype-dropdown.html.

[2017-04-20 16:13] SlowburnAZ opened #349 "Multiple Language support in the Editor UI?"
* Requesting a feature *

Now that multiple languages are supported, are there any plans to have the ability to enter the language translations for each supported string (question title, choice text, matrix column headers, etc.) into the survey editor UI, rather than just in the raw JSON?

[2017-04-20 16:19] andrewtelnov commented on #349
@SlowburnAZ It is already done.
Change survey.locale to the language you need and start to edit the titles, choices text and so on.
After you are done, change to another survey.locale and repeat.
You may see the result in the JSON.

Thank you,
Andrew

[2017-04-20 16:43] SlowburnAZ commented on #349
Ah, okay.  I guess I didn't put 2 and 2 together because it still showed my English wording when I changed the locale:

![survey_lang_problem](https://cloud.githubusercontent.com/assets/5659169/25242092/4a4ea6a0-25ad-11e7-98bb-5de531013534.gif)

The UI doesn't seem update the choices when you change the locale.  For me, to get the editor to update the text for the choices, I've had to select the q

[2017-04-20 17:29] duscarroll opened #350 "[Vue] Markdown titles don't work on first page"
When creating a survey with multiple pages in Vue, Markdown titles are not rendered on the first page of the survey and only work on subsequent pages.

[2017-04-20 20:21] andrewtelnov commented on #349
@SlowburnAZ Choices have to be updated. It works before and even unit tests are still there, but after markdown support, we start to use another rendering mechanism for strings. I forgot to check the localization. I will work on the fix.

About Spanish localization. As soon as somebody add the Spanish localization here: https://github.com/surveyjs/surveyjs/tree/master/src/localization, we will hav

[2017-04-20 20:51] SlowburnAZ commented on #349
@andrewtelnov
I'd be happy to provide the Spanish translations.  Do you have the list of the original English strings for each?

[2017-04-20 21:01] andrewtelnov commented on #349
It would be great!
Localized strings in English:
https://github.com/surveyjs/surveyjs/blob/master/src/surveyStrings.ts

[2017-04-21 07:19] andrewtelnov commented on #349
@SlowburnAZ The bug was fixed.
FYI: @tsv2013 is working on examples with custom widgets + multiple language support. At the current moment custom widget doesn't re-render itself on locale change. We will change it.

Thank you,
Andrew

[2017-04-21 07:36] andrewtelnov commented on #347
@alexmc6 We do not have a lot of expertise on this platform. However, if you have something useful, we definitely add links on the project/repo.

Thank you,
Andrew

[2017-04-21 08:06] alexmc6 commented on #347
Yeah - I don't think this is your responsibility at all @andrewtelnov . I am just putting a sign post here to see if there is any desire from other SurveyJS users. If nothing else it would encourage me to package up what I am probably writing and release it to others as open source.

[2017-04-21 11:25] alexmc6 opened #351 "Saving intermediate results when "Next" is pressed?"
Asking a question:

### What is the current behavior?

Currently the survey is only saved to the server when the "Complete" button is pressed. But this might result in nothing being saved if the user quits part way through the survey.

### What is the expected behavior?

What I would like is for the survey to be [optionally] saved to the server whenever next is submitted - perhaps with an extra fl

[2017-04-21 12:04] tsv2013 commented on #344
I've added custom widget force update on locale changed event. @andrewtelnov Could you review my commit, please?

[2017-04-21 12:09] tsv2013 commented on #344
@SlowburnAZ Can I ask you provide us with an example of "real-world-survey" (json) with multiple languages? I could add this example in the "Real Examples" section on our site.

[2017-04-21 13:41] alexmc6 commented on #295
Sorry to ask for more information on a closed issue.

@andrewtelnov : You write "//save my data on the server" above. Does that mean there is a race condition? You might redirect away from the survey before the survey has been successfully submitted to the survey?

I ask because I know that we have a $.ajax success method we can redefine - (but it is not working for me)

[2017-04-21 14:01] dmitrykurmanov commented on #351
@alexmc6, hello! You can try `onCurrentPageChanged `event:

`survey.onCurrentPageChanged.add( mycodegoeshere() );`

[2017-04-21 14:08] tsv2013 commented on #247
We've implemented toolbar customization functionality recently ([Version 0.12.10](https://github.com/surveyjs/editor/releases/tag/v0.12.10)). @EminYasarturk You can check [example "how to add custom button in the editor's toolbar to show test survey in the separate popup window"](http://editor.surveyjs.io/examples/toolbarcustomization.html).

[2017-04-21 14:08] #247 closed

[2017-04-21 15:52] andrewtelnov commented on #344
@tsv2013 The commit looks fine to me.
@SlowburnAZ We may release the new version and update demos on Monday. If you finish with Spanish translation, we will include it into the release as well.

Thank you,
Andrew

[2017-04-21 15:55] andrewtelnov commented on #351
@alexmc6 You have to set survey.sendResultOnPageNext to true and use survey.onPartialSend event.

Thank you,
Andrew

[2017-04-21 16:01] andrewtelnov commented on #295
@alexmc6 You could show different text/buttons on saving success or fail. You may show the last page again or hide the survey completely. Unfortunately, we can't control this part - it should base on your flow.

There is a [demo on saving into dxsurvey.com](http://surveyjs.org/examples/jquery/service-result.html).
We have onSendResult event, that tells if the saving was successful or not. You may

[2017-04-21 16:35] alexmc6 commented on #351
THANKS!
(Sorry I missed that)

[2017-04-21 20:13] SlowburnAZ commented on #349
@andrewtelnov Here's the Spanish localization code:

[code]

[2017-04-21 22:43] SlowburnAZ commented on #344
@tsv2013 Here's an example of a "real-world" survey that supports English and German:

[code]

I don't know German, so these are just Google translations.  Not sure how accurate they really are, but this should work as an example.

[2017-04-22 05:16] andrewtelnov commented on #349
@SlowburnAZ Great, thank you!
We will release new version on Monday. Spanish translation will be included.

[2017-04-23 00:54] emerbrito opened #352 "Change to "comment" displayed by "Other" option doesn't trigger "onValueChanged""
Let's say I have a dropdown or checkboxes where the `hasOther` option is enabled.
`onValueChanged` is triggered when I select "Other", after that the comments text box is displayed but changes to it will no longer trigger `onValueChanged`.

I'm using `onValueChanged` to auto save each question on the server side as the user goes.
But as you can see it won't work well for questions with `hasOther`.

[2017-04-23 00:59] emerbrito opened #353 "When posting to server on complete event, go back to edit mode if an error is returned"
I'm posting `survey.data` to my server api on complete, at which point the complete message get's displayed by surveyjs and the survey disappears.

If the server return an error or if there is a network issue or something similar, is there a way to go back to the survey instead so the user can try the "Complete" button again?

[2017-04-23 05:35] andrewtelnov commented on #353
@emerbrito Sure, you may use the following code:
[code]
However, I would suggest you to write an error message, above/under a survey that something goes wrong and ask to resubmit the data by pressing a button. In this case your users know what is going on.

Thank you,
Andrew

[2017-04-23 05:42] andrewtelnov commented on #353
@emerbrito I think we will add one more state (submitError). It will show another customizable page, similar to complete and there will be a button that will call the data submission one more time.
On error, you will have to set the survey.state to:
sumitStarted, submitError and submitSuccess. Something like that.
I've just added this into our TODO list.

Thank you,
Andrew

[2017-04-23 16:45] emerbrito commented on #353
Thanks for the prompt response.
The code snippet is exactly what I was looking for.
Glad yo hear you will make it even easier in the future.
You guys have a great project going on in here. Congrats.

[2017-04-23 16:45] #353 closed

[2017-04-23 17:02] emerbrito commented on #352
thank you.

[2017-04-24 07:56] dawie opened #354 "Adding custom style to form"
### Are you requesting a feature, reporting a bug or ask a queation?
Feature Request

### What is the current behavior?
We love the form builder, but we need to style our form better for consumption by users. See screenshot at the bottom.

Is there an API reference to all the API methods that are available?

### What is the expected behavior?

1.	Ability to add class names (especially bootstrap co

[2017-04-24 08:35] andrewtelnov commented on #354
@dawie Thank you for your feature request.
At the current moment you can do the following.
1) Add the className property into the question. Here is example and docs: http://editor.surveyjs.io/examples/addproperties.html#code
2) Use survey onAfterRenderQuestion event,
[code]
Thank you,
Andrew

[2017-04-24 08:56] tsv2013 commented on #344
@SlowburnAZ Thank you for n example of a "real-world" survey! I'm highly appreciate your help, but using Google translations confused me a bit :-)

[2017-04-24 09:49] dmitrykurmanov commented on #350
@duscarroll hello, I can't reproduce it. What version of survey-vue do you use? Could you check this fiddle: https://jsfiddle.net/734e71at/ please?

[2017-04-24 10:03] alexmc6 opened #355 "Timing how long a user takes to complete the survey? (Question)"
I have a question which I think is of interest to many surveyJS users.

I have a number of surveys on my site, some of which are quite long. I would like to know how long people take to answer questions (and if possible) notice when they started a survey but didn't finish it. I could then honestly say something like "This survey takes an average of 6 minutes to complete"

One solution might be to

[2017-04-24 13:13] tsv2013 commented on #343
0.12.11 has been released

[2017-04-24 13:13] #343 closed

[2017-04-24 13:14] tsv2013 commented on #344
0.12.11 has been released

[2017-04-24 16:16] #352 closed

[2017-04-24 16:23] dmitrykurmanov commented on #349
v0.12.11 is released

[2017-04-24 16:23] #349 closed

[2017-04-25 06:39] #351 closed

[2017-04-25 14:12] varunkumar commented on #60
It would be great to have this expression parser for setValue trigger as well.

[2017-04-25 15:52] dmitrykurmanov opened #356 "infinite update loop in matrixdropdown"
### Are you requesting a feature, reporting a bug or ask a queation?
bug

### What is the current behavior?
We may have an infinite update loop in a component render function.
(found in <SurveyMatrixdropdown> at D:\projects\surveyjs\src\vue\matrixdropdown.vue

#### Provide the test code and the tested page URL (if applicable)
Tested page URL: http://surveyjs.org/examples/vue/questiontype-matrixdro

[2017-04-25 16:43] #356 closed

[2017-04-26 09:33] dmitrykurmanov opened #357 "React Warning matrixdropdown"
### Are you requesting a feature, reporting a bug or ask a queation?
bug

### What is the current behavior?
react.js:18798 Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `SurveyQuestionMatrixDropdown`. See https://fb.me/react-warning-keys for more information.

#### Provide the test code and the tested page URL (if applicable)
http://surveyj

[2017-04-26 11:14] #357 closed

[2017-04-26 21:28] tavakyan opened #358 "How do you show previous answers to a survey?"
### Are you requesting a feature, reporting a bug or ask a queation?
This is likely a feature request as I haven't seen an example of this.  Say I create a survey and the survey viewer is used in order for the user to answer the survey.  At a later time can I reload previous answers to a survey if I have made changes to the survey builder template?  Does the user-interface have a way of populating

[2017-04-27 04:53] bjdani opened #359 "ChoicesByURL not working in drop-downs within MatrixDynamic questions from release 0.12.6 onwards"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug.

### What is the current behaviour?
When the drop-down is hooked up to a working URL (via Choices from Web) that returns the following JSON results, the drop down list is initially filled with the correct items, I choose one of the items and the drop-down field is blanked out (my choice is gone), if I then add an

[2017-04-27 05:14] bjdani commented on #359
I have also now tested this using the URL "http://services.groupkt.com/country/get/all" from the "Dropdown + restfull" example and it doesn't work either when the dropdown is inside a MatrixDynamic question.
However, a question that is just a Dropdown question type, works fine.
The problem seems to be related to the dropdown when it is part of a MatrixDynamic question type since release 0.12.6.

[2017-04-27 07:27] andrewtelnov commented on #358
@tavakyan There is no UI for setting the previous data.
`yousurvey.data = yourpreviousSavedJSONObject;`
Here two examples how to make it in JavaScript:
http://surveyjs.org/examples/jquery/survey-displaymode.html
http://surveyjs.org/examples/jquery/survey-data.html

Thank you,
Andrew

[2017-04-27 08:42] andrewtelnov commented on #359
@bjdani There is another issue. When we are using restful API for matrix dropdown, we send a lot of requests to the server. The requests are the same. We should cache the result during a survey running.

Thank you,
Andrew

[2017-04-27 12:04] care46 opened #360 "Implements an option like "visibleIf" for the option "isRequired""
It's possible to have an option like "visibleIf" for the option "isRequired"?

For example an option called "requiredIf", that allow users to specify a condition for the "required option"

thanks

[2017-04-27 14:00] andrewtelnov commented on #360
@care46 I would recommend you to have to two questions with the same name.
The first one will be required and the second is not. They will have different visibleIf properties.
When one is visible, another is invisible and vise versa.
That will make a trick.

Thank you,
Andrew

[2017-04-27 14:42] andrewtelnov commented on #359
@bjdani I have fixed the issue. Adding the cache on restful requests fix the issue.

Thank you,
Andrew

[2017-04-27 18:47] adamfoley opened #361 "Custom CSS class for "dropdown" does not apply"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

Custom css class for dropdown question not applied

### What is the expected behavior?

Class(es) specified in dropdown property applied to select elements

### How would you reproduce the current behavior (if this is a bug)?

Create survey with dropdown question, use css: {"dropdown":"for

[2017-04-27 19:16] gnimmelf commented on #359
Nice timing, I just bumped into the same issue. What is the quickest way to get the fix?; I am now running `https://surveyjs.azureedge.net/0.12.9/survey.jquery.min.js`.

[2017-04-27 20:37] andrewtelnov commented on #359
@gnimmelf I have updated the dev build.
You may use `https://surveyjs.azureedge.net/dev/survey.jquery.min.js` for a while.

Thank you,
Andrew

[2017-04-28 02:09] bjdani commented on #359
Thank you Andrew for quickly addressing this issue. I can confirm that it is working for me when I use the dev build. Any estimate on when 0.12.12 will be released?
Thanks again,
Bruce

[2017-04-28 06:51] andrewtelnov commented on #359
@bjdani We've scheduled the next minor on May 2 or May 3.

Thank you,
Andrew

[2017-04-28 07:23] bjdani commented on #359
Thanks again Andrew!

[2017-04-28 07:23] #359 closed

[2017-04-28 09:35] dmitrykurmanov opened #362 "IsRequired doesn't work for sortablejs(custom widget) in react"
### Are you requesting a feature, reporting a bug or ask a queation?
Bug

### What is the current behavior?
IsRequired doesn't work for customWidgets in react

### What is the expected behavior?
it should work

#### Provide the test code and the tested page URL (if applicable)
http://surveyjs.org/examples/react/custom-widget-sortablejs.html

### Specify your

* browser: any
* surveyjs platform (an

[2017-04-28 11:35] #362 closed

[2017-04-28 11:58] dmitrykurmanov commented on #361
@adamfoley, hello! May be you should use `root` property:

`    var myCss = {
        dropdown: {root: "form-control"}
    };`

Could you try it please?

[2017-04-28 13:05] hyndsite opened #363 "Architectural Question: Class inheritance"
After spending quite a bit of time in your code, I am curious how much you would have avoided the very deep class taxonomies created through class inheritance, especially relating to questions types - as opposed to another less coupling/binding code reuse pattern (e.g. object composition..etc.)?

[2017-04-28 13:07] adamfoley commented on #361
The `root` property does work, but this adds a class to the parent **div** of **select**.  I also tried `item`, `select` and `dropdown` properties, but none of them seem to work.  I also tried to duplicate this in plunker using jquery, but the custom CSS applies to the `select` as expected in that case.  Could my problem by specific to my survey model?

[2017-04-28 13:21] dmitrykurmanov commented on #361
@adamfoley as I understand you have the plunk with survey-jquery and it works. And jquery-angular doesn't. Am I right? Could you share your non working example?

[2017-04-28 13:37] andrewtelnov commented on #363
@hyndsite We use different patterns for different frameworks.
Are you talking about composition vs inheritance in general?

About 8-10 months ago we had knockoutjs version only. After that we have divided the code on core (platform independent) and knockout code.
I personally feel that moving to composition would bring us some benefits. However, I do not want to change a working code without a rea

[2017-04-28 13:47] hyndsite commented on #363
Thanks for the answer.  This is definitely not a feature-request, but simply a question on reflection after you have worked on the project for a number of years.

[2017-04-28 13:47] #363 closed

[2017-04-28 13:53] adamfoley commented on #361
Here is a plunk demonstrating: https://plnkr.co/edit/Tmra6aRmb4JKWBfRetiZ

[2017-04-28 14:26] dmitrykurmanov commented on #361
@adamfoley thanks, now I see the problem. I think you should use `control ` property:
https://plnkr.co/edit/YSNJTfvqs52L4aGAcpv5?p=preview is it ok for you ?

[2017-04-28 14:38] adamfoley commented on #361
Yes, that will work, thanks!  Consider adding the `control` property to the overridable classes in the example here: http://surveyjs.org/examples/angular/survey-customcss.html

The availability of `control` property was unknown to me, but maybe I just didn't know where to look for reference to it.

Thanks again.

[2017-04-28 14:43] dmitrykurmanov commented on #361
@adamfoley yes we don't have this property in our example, thanks, we'll add it.

you can find all properties here: https://github.com/surveyjs/surveyjs/blob/master/src/defaultCss/cssbootstrap.ts

and we are working on documentation :)

[2017-04-28 15:01] #361 closed

[2017-04-28 15:17] care46 commented on #360
ook!

[2017-04-30 19:12] garunski opened #365 "Going back to a page and Looping over pages"
### Are you requesting a feature, reporting a bug or ask a question?
Question/Feature
Is it possible to create loops in the survey? One case would be going back a page for a particular answer. Another case would be going back over a number of pages based on the user input for the loop count.
I know I can programatically add the questions to the survey based on answers as in #186 but was hoping for

[2017-05-01 05:33] andrewtelnov commented on #365
@garunski You may change the currentPage onValueChanged event. However, I do not see how it helps you. The person will fill the same fields, just override them. I mean you still should have something like:
firstName1, lastName1, firstName2, lastName2 and so on.
You may do not created them and make firstName(N) and lastName(N) invisible by default and make it visible if a person answer 'No' on isYo

[2017-05-01 05:39] andrewtelnov commented on #365
Got one more idea. You may on onValueChanged, check if it is "isYourLastName" question and the answer is no, then set "isYourLastName" to 'nul' (survey.clearValue("isYourLastName").
Then change the name of you firstName1 and lastName1 to firstName2 and lastNam2 and go back on two pages: survey.currentPageNo = survey.currentPageNo  - 2;

Thank you,
Andrew

[2017-05-01 20:31] garunski commented on #365
Is it possible to create a feature that would take a "where" parameter and a "condition". which could navigate to a particular question based on the condition.
for example. goto {question2} if {question1}==2 or something like that.

[2017-05-01 22:00] SlowburnAZ commented on #344
@andrewtelnov and @tsv2013

It seems there's still a problem when using iCheck and changing the locale...  below is the problem with Radio questions:
![survey_lang_problem_radio](https://cloud.githubusercontent.com/assets/5659169/25596371/a89b3fb0-2e7d-11e7-8fd6-e5752c1fb91a.gif)

Then there's also a double-rendering thing going on with the Matrix questions:
![survey_lang_problem_matrix](https://c

[2017-05-01 22:07] SlowburnAZ opened #366 ""Default" locales are disappearing after editing a question."
There seems to be a problem with the editor when a locale other than a default is defined.

For example, if you have a "default" locale defined, and a Spanish ("es") locale defined, and then you edit a question, the "default" locale entries disappear.  Here's an example of that happening:

![survey_lang_problem_editor](https://cloud.githubusercontent.com/assets/5659169/25596755/b31c0940-2e7f-11e7-

[2017-05-02 07:19] andrewtelnov commented on #366
@SlowburnAZ I have seen what happens. The default locale string equals to value. The editor doesn't store the text when it equals to the value.
It makes sense when there is only one language, but it leads to a bug one there are several languages. I will fix it.

Thank you,
Andrew

[2017-05-02 08:08] jmowatt opened #367 "Custom elements disappearing after multiple"
### Are you requesting a feature, reporting a bug or ask a queation?

Reporting a Bug

### What is the current behavior?

After 2 pages the custom widget input disappears for Barrating, I am using css-stars, if I click to the next pack then back the stars disappear. Likewise clicking forward twice, they disappear also.

### What is the expected behavior?

The stars should continue to show.

### Ho

[2017-05-02 08:10] tsv2013 commented on #367
Thank you for the report, @jmowatt ! We'll fix it.

[2017-05-02 08:44] andrewtelnov commented on #366
@SlowburnAZ I have fixed the bug. Here is a workaround, that will make the current version working:
`editor.alwaySaveTextInPropertyEditors = true;`

We will release the update likely tomorrow.

Thank you,
Andrew

[2017-05-02 09:12] tsv2013 commented on #344
@SlowburnAZ I've reproduced the issue and working on it.

[2017-05-02 13:08] tsv2013 commented on #367
@jmowatt Thank you for providing sample code. I've checked it with the current master branch. I've reproduced the described behaviour. And I've fixed it via uncommenting the following line in your code:
`//            $el.barrating('destroy');`
Here is the code working ok on my side:

[code]

You can check this code. Hope this helps.

[2017-05-02 13:16] jmowatt commented on #367
Brilliant, thank you very much, I had tried that but also found the CDN link I was using was for a previous version where uncommenting the destroy statement doesn't work. 0.12.3 was what I was using.

Thanks

James

[2017-05-02 13:16] #367 closed

[2017-05-02 13:55] tsv2013 commented on #344
I've pushed patch for this issue and updated dev builds (https://surveyjs.azureedge.net/dev/survey.jquery.js).
Could you try it with slightly modified "icheck-matrix" widget code:
[code]

[2017-05-02 17:05] SlowburnAZ commented on #366
@andrewtelnov Adding the
`
editor.alwaySaveTextInPropertyEditors = true;
`
didn't help.  I'll wait for the fix.

[2017-05-02 17:39] andrewtelnov commented on #366
@SlowburnAZ I have just checked the work-around and it works fine.
Could you make sure that you set this property right after calling the constructor?
The fix works similar:
[code]
I have added the check: `!this.isMultipleLocaleInText(editorItem.item)`

Thank you,
Andrew

[2017-05-02 17:41] SlowburnAZ commented on #344
@tsv2013 Using the code you posted here, the display problem with iCheck seems fixed, but now some questions don't get updated with the locale changes:

![survey_lang_problem](https://cloud.githubusercontent.com/assets/5659169/25630977/c85437f2-2f23-11e7-9be5-baf11121c504.gif)

The code I'm using for the custom widget is a combination of the examples you have on the website, and the one you've sup

[2017-05-02 18:25] SlowburnAZ commented on #366
@andrewtelnov Yes, I'm calling it just after the constructor:
[code]

![survey_lang_problem_editor](https://cloud.githubusercontent.com/assets/5659169/25632824/f95e9e36-2f29-11e7-9705-f6cc6a86938a.gif)

[2017-05-02 20:03] andrewtelnov commented on #366
@SlowburnAZ Right, alwaySaveTextInPropertyEditors  doesn't work for Rows/Columns in matrix (nested property editor). I will fix it as well.
Sorry about that.

[2017-05-02 20:36] andrewtelnov commented on #366
@SlowburnAZ I have just realized, that my fix doesn't work correctly either.
The better solution will be to change the way localization string is working.
Right now if there is no default value in the localization string, then we are using the first locale. For example: {"de": "Deutsch"} will return "Deutsch" for all locales. That means that the following itemValue
{value: "My Value", text: {"de":

[2017-05-03 07:23] tsv2013 commented on #344
Yes, I did not take in account that one custom widget can serve multiple question types. I've made corresponding changes and updated dev builds (https://surveyjs.azureedge.net/dev/survey.jquery.js).
You can now try your widget with dev build.

[2017-05-03 08:36] tsv2013 commented on #344
@SlowburnAZ - I've slightly modofied your widget because it works with checkbox question wrong (IMO). Here is my version:

[code]

I'd suggest you to split this too complex widget into 3 small ones.

[2017-05-03 09:25] andrewtelnov commented on #366
@SlowburnAZ It should be fixed now. I will do more tests. Added several unit tests and a property and a new callback to LocalizationString object.

Thank you,
Andrew

[2017-05-03 10:29] andrewtelnov commented on #365
@garunski Yes, we can. It will be something similar to complete trigger: http://surveyjs.org/examples/jquery/trigger-complete.html

[2017-05-03 14:21] andrewtelnov commented on #366
@SlowburnAZ I have tested and it seems everything is fine. The new release is launched. Could you please try it?

Thank you,
Andrew

[2017-05-03 14:46] mellogarrett opened #368 "Triggers on range of values"
On a Rating question type how can I have a trigger show visible if the value is in a range? For example, if the rating value is 3/5 or lower, I want to show a followup question.

[2017-05-03 16:14] dmitrykurmanov commented on #368
@mellogarrett  hello, please check this example: https://jsfiddle.net/surveyjs/o5vhduwz/ Is it what you need?

[2017-05-03 16:49] mellogarrett commented on #368
@dmitrykurmanov that example is not working

[2017-05-03 18:06] andrewtelnov commented on #368
It works correctly. Anyway the idea is to use visibleIf property.
Here is another example: http://surveyjs.org/examples/jquery/questiontype-panel.html

[2017-05-03 18:22] #368 closed

[2017-05-03 18:22] mellogarrett commented on #368
Should I be using `visibleIf` everywhere in place of triggers?

[2017-05-04 02:15] nategasm opened #369 "visibleIf with matrixdynamic columns"
Currently I'm trying to get visibleIf to work with the matrixdynamic columns but it doesn't seem to work as I need it. I want certain columns to display depending on the choices from other columns. Although in the below example I'm also using the same column title for 2 possible sets of choices. Perhaps a way to dynamically change the choices content would be better?

Example:
[code]

[2017-05-04 06:24] andrewtelnov commented on #368
@mellogarrett yes. visibleIf is the better way in the most scenarios.

[2017-05-04 06:44] andrewtelnov commented on #369
@nategasm Yes, it would not work. We do not have visibleIf property in the column.
In fact, I do not understand how it may work at all.
What if a person chose month period in the first row and quarter in the second? You will have to show two columns, two periods: month and quarter. It will confuse end-user for sure.
You may have one colum: Period and it will combine choices for months and quarters

[2017-05-04 10:11] care46 opened #370 "It's possible to have "startWithNewLine" option on PANEL element?"
I think it might be interesting... I would need to pair two panels, as it does today for questions...

Thanks

[2017-05-04 12:58] andrewtelnov commented on #370
@care46 Yes, it makes sense. I have added it to our TODO list.

Thank you,
Andrew

[2017-05-04 23:02] nelero opened #374 "Unable to process binding "template: function (){return { name:'survey-content',afterRender:koEventAfterRender} }""
With the latest version, i got :
[code]

[2017-05-05 05:48] tsv2013 commented on #374
@nelero  There is no `koNo` property in our code since 0.12.9. Can you check your 'survey.ko.min.js' version? The actual version should be 'v0.12.12' in the header inside the file.

[2017-05-05 06:49] nelero commented on #374
i use the CDN with 0.12.12 in the url, so  yes it's the last version :(

[2017-05-05 07:12] tsv2013 commented on #374
@nelero  Can you share this url?

[2017-05-05 07:58] nelero commented on #374
in private ?

[2017-05-05 08:00] tsv2013 commented on #374
@nelero  If it's not a private url and doesn't contain any private data, as far as I understand it's a link to some public cdn, you can post it here.

[2017-05-05 08:07] nelero commented on #374
yes but this is a page which is available only by an email link, so i don't want to display it on a github thread which is public :(

[2017-05-05 08:12] tsv2013 commented on #374
@nelero you can mail on surveyjs.org@gmail.com

[2017-05-05 08:19] nelero commented on #374
@tsv2013 : Thanks ! email sent

[2017-05-05 08:21] tsv2013 commented on #374
@nelero I've got it. I've seen the error.

[2017-05-05 09:00] tsv2013 commented on #374
@nelero I've sent you answer via email. Please check it.

[2017-05-05 11:27] wcancino opened #375 "Multi page survey with multitext component in first page"
### Are you requesting a feature, reporting a bug or ask a queation?
reporting a possible bug

### What is the current behavior?
I have a multipage survey, on the first page I have several questions,
one of them of type "multitext'". I load survey data directly from a json.

survey.data = myjson.

All values display correctly, except the one of multitext type, no values
are shown. However, when I

[2017-05-05 11:43] andrewtelnov commented on #375
@wcancino It works in knockout platform, but doesn't work for jQuery for example. We will take a look.
For now, as a workaround set data in survey definition as for jQuery platform:
[code]

Thank you,
Andrew

[2017-05-05 12:15] wcancino commented on #375
Thank you for your quick answer. It kind of works for me, but if I try to do it a second time (my app is a very long survey that can be loaded if not finished to be completed later), previous values remains on  multitext components (first page, others are ok).

Regards

[2017-05-05 14:09] wcancino commented on #375
OK, if I clear the div surveyContainer before recreate a survey, it works. Hope this helps.

[2017-05-05 20:21] nelero commented on #374
@tsv2013 : perfect ! it works !
thanks for your reactivity !

[2017-05-08 15:20] andrewtelnov commented on #375
@wcancino @tsv2013 I've just fixed the bug.

Thank you,
Andrew

[2017-05-09 08:45] care46 opened #377 "Condition for VisibleIf"
Hi, i have a question... my survey's page is something like this:

- question1 (one checkbox with value "S" if it's checked)
- question2 (with visibleIf condition like "{question1} <> 'S'")

When the survey start, the second question will be visible, but is hidden, when i put the flag on question1 and then i remove this flag, the second question be shown

Why when the survey start, the condition n

[2017-05-09 09:04] wcancino commented on #375
U welcome

[2017-05-09 12:33] andrewtelnov commented on #377
@care46 Yes, we do not support <> yet. It makes sense to add it as well.
Please use !=, "{question1} != 'S'"

Thank you,
Andrew

[2017-05-09 12:35] care46 commented on #377
I have already try with !=, but it's the same.... i try with the online editor...
Maybe i miss something?

[2017-05-09 12:56] andrewtelnov commented on #377
@care46 I just found a bug. It doesn't work when the {question1} is not setup. It will return false. I am working on the fix.

[2017-05-09 13:13] care46 commented on #377
Thanks! ;)

[2017-05-09 13:35] andrewtelnov commented on #377
@care46 and in fact support for '<>' is already there. Sorry about misleading.
The fix will be in the next minor update, likely on this week.

Thank you,
Andrew

[2017-05-09 13:36] care46 commented on #377
Fantastic! ;)
Thanks!

[2017-05-10 06:02] tsv2013 commented on #374
You are welcome :-)

[2017-05-10 11:45] Kuhax commented on #369
Hello @andrewtelnov. Currently I'm going through same issue. I would like to make visible or to hide one of the columns in one given row of matrixdynamic depending on the value of another column from the same row. Example: (first row of matrixdynamic) - COL1 {Dropdown}  COL2 {Boolean}  COL3 {show TextEdit if COL2 = true} - same for all added rows.

I know there is no such feature in matrixdynamic

[2017-05-10 12:53] andrewtelnov commented on #369
@Kuhax I do not know how to implement it. How do you want to make it work? Unless I something misunderstand.

| Column1       | Column2    | Column3  |
| ------------- |:-------------:| -----:|
| make columns 2 invisible      | I have to be invisible | I have to be visible |
| make columns 3 invisible      | I have to be visible     |   I have to be invisible |

[2017-05-10 13:44] nategasm commented on #369
@andrewtelnov How I imagined it would work is where if all rows in a column are invisible, then the whole column would be invisible. Otherwise the cell will just simply be blank. In your case above:

Column1 | Column2 | Column3
------------ | ------------- | -------------
make column 2 invisible 	 | <Blank> | I have to be visible
make column 3 invisible | I have to be visible | <Blank>

Another ca

[2017-05-10 14:39] Kuhax commented on #369
@andrewtelnov your example is valid for my purpose as it allows to hide separate columns for the same row. Also, in my opinion, the ability to hide columns in matrixdynamic makes it much more powerful since it's one of the most used widgets.

The following example explains what I am trying to achieve in a particular case.

<table>
<tr>
<td>Product description</td>
<td>Do you like it?</td>
<td>Plea

[2017-05-10 17:55] fred433 opened #378 "Is it possible to get the text of the response instead of its value?"
I would like to use the text of a response instead of the value assigned to use it in the title of a next question.

Example:
Why did you respond {textquestion1} in the previous question?

Thanks :)

[2017-05-11 12:30] Kuhax opened #380 "Nested matrixdynamic functionality"
Hello. I would like to ask how to implement (or mimic) a nested matrixdynamic behaviour. Basically, for each row I would like to select an option from a dropdown and to add few other options by inserting more rows into the parent row.

<table>
<tr>
<td><b>Select a location</b></td>
<td><b>Select a supermarket</b></td>
<td><b>How often do you visit it ?</b></td>
</tr>
<tr>
<td>One neghbourhood</td>

[2017-05-11 14:51] andrewtelnov opened #381 "display mode doesn't work in Knockout version"

[2017-05-11 14:54] andrewtelnov commented on #370
@care46 added the support in run-time.
Drag&drop for panel + startWithNewLine doesn't work as expected. I have to modify code in the Survey Editor as well.

[2017-05-11 17:29] andrewtelnov commented on #378
@fred433 Here is the example for jQuery version:
http://plnkr.co/edit/Xb2X8EOkz8lMrbuvOBE0?p=preview

Thank you,
Andrew

[2017-05-11 17:38] andrewtelnov commented on #380
@Kuhax Unfortunately, there is no way to have the first variant. An end-user have to set the "Select a location".
I may add an event onMatrixDymanicRowAdded - it will allow you to set the "Select a location" column value into new added row, based on the previous entered row value, for example.

Thank you,
Andrew

[2017-05-11 17:39] andrewtelnov commented on #377
@care46 Could you please check, if everything is fine with the new version?

Thank you,
Andrew

[2017-05-11 20:46] mymagicalpants opened #382 "Can you add specific CSS classes to specific elements created in the survey to be able to target and customize them?"
### Are you requesting a feature, reporting a bug or ask a question?
I'm requesting a feature enhancement. I'd like to be able to give unique styling to elements like required questions, and the different types of buttons (previous, next and complete). But without specific CSS classes associated with them, I have to work very hard to target those elements.

### What is the current behavior?
Curren

[2017-05-12 06:11] andrewtelnov commented on #382
@mymagicalpants I am thinking about introducing an event, where you may specify the needed CSS classes and likely remove the default. Will event work for you?

Thank you,
Andrew

[2017-05-12 07:01] Kuhax commented on #380
@andrewtelnov, your proposal of _onMatrixDynamicRowAdded_ event sounds good to me.

[2017-05-12 07:05] care46 commented on #377
@andrewtelnov it's OK!!!!

[2017-05-12 07:05] #377 closed

[2017-05-12 08:36] care46 opened #383 "Bug with "startWithNewLine" option"
HI,

i think there is a bug with the option "startWithNewLine"... i have a Json like this:

{
 pages: [
  {
   elements: [
    {
     type: "checkbox",
     choices: [
      {
       value: "S",
       text: "N.V."
      }
     ],
     indent: 1,
     name: "question1"
    },
    {
     type: "comment",
     name: "question2",
     startWithNewLine: false
    }
   ],
   name: "page1",
   navigatio

[2017-05-12 09:24] andrewtelnov commented on #383
@care46 Yes, the problem with indent.
We will take a look at it.

Thank you,
Andrew

[2017-05-12 10:25] Kuhax opened #384 "Custom widgets in matrixdynamic"
Hello, my intention is to embed select2tagbox in matrixdynamic. Is there any generic way to do so?

Using JQuery I'm trying to override the 'cellType' property of matrixdropdownbase class

`JsonObject.metaData.addClass("matrixdropdownbase", [
         .....
        { name: "cellType", default: "dropdown", choices: ["dropdown", "checkbox", "radiogroup", "text", "comment"] }
         .....
],`

with

[2017-05-12 10:37] andrewtelnov commented on #384
@Kuhax Do you want to replace a checkbox by select2tag widget?

Thank you,
Andrew

[2017-05-12 10:58] mymagicalpants commented on #382
Hi Andrew,

Thanks for responding so quickly. I guess I should have included an example
of the dynamically created code. Currently these elements don't have a
default CSS class to remove:

REQUIRED QUESTION:
<div class="sv_row"><div id="sq_108" class="sv_q" style="display:
inline-block; vertical-align: top; width: 100%;"><h5
class="sv_q_title"><span>1. Who is your favorite coach of all time?
*</sp

[2017-05-12 11:23] Kuhax commented on #384
@andrewtelnov I was thinking about overriding any of the default choices available for matrixdynamic: ["dropdown", "checkbox", "radiogroup", "text", "comment"]. I thought that implementation-wise dropdown was the simpliest to be overriden by select2tag (since the latter extends dropdown). However, in the end my goal is to be able to add a select2tag column to matrixdynamic.

If you can provide an

[2017-05-12 11:45] andrewtelnov commented on #384
@Kuhax I think we have to make a demo. Probably, I am not sure, we will have to modify the library to be able to do it.
I am adding the demo into our TODO list. If I don't comeback on the next week, please ping me.
Do you have any urgent deadline?

Thank you,
Andrew

[2017-05-12 12:09] Kuhax commented on #384
@andrewtelnov a demo sounds good. As of today I don't have an urgent deadline, I'm on "when it's done" mode. Certainly it would be nice to have this feature implemented.

[2017-05-12 12:49] andrewtelnov commented on #380
@Kuhax I've just added the event. Here is the example of using it:

[code]

Thank you,
Andrew

[2017-05-12 15:18] rsauvage opened #385 "Bug : Title doesn't appear in survey (window mode) when using dxService"
Hi Andrew,

The header of the window remains blank whereas the JSON returned by dxService contains a string in its "title" property.
The title appears correctly when initializing the model directly with the said JSON in Survey.Model constructor. I'm not sure where it comes from yet but I'll keep looking and let you know otherwise.

Thanks

* browser: Chrome 58.0.3029.110 (64-bit) (Last version as

[2017-05-12 15:44] gnchiesa opened #386 "Documentation"
### Are you requesting a feature, reporting a bug or ask a question?
ask a question

### What is the current behavior?
I can't find any official doc on the library, event hooks, parameters, configuration options etc.

### What is the expected behavior?
Provide some kind of API description for library users/developers. Would you be so kind to put it up somewhere? maybe as part of the Readme.MD ? Th

[2017-05-12 16:01] duscarroll commented on #350
Hello,

Sorry, this was erroneous.

Thanks!

[2017-05-12 16:01] #350 closed

[2017-05-12 16:15] dmitrykurmanov commented on #382
@mymagicalpants thanks for your proposal. We will add needed classes.

As a workaround for naviagtion buttons you may set your own classes :
[code]

or for standard :

[code]

For example: https://jsfiddle.net/3yj61tv4/

And we will implemented special class for required questions.

[2017-05-12 20:17] andrewtelnov commented on #386
@gnchiesa We are working on it. I hope we will have the first draft on the next week.

Thank you,
Andrew

[2017-05-13 14:44] andrewtelnov commented on #385
@rsauvage Yes, indeed it was a bug. I have fixed it.

Thank you,
Andrew

[2017-05-13 18:43] andrewtelnov commented on #383
@care46 I have fixed the bug. I am now using padding-left, instead of margin-left for indent. It solves the issue.

Thank you,
Andrew

[2017-05-14 15:48] chrisformula opened #387 "How do you start the project?"
I have followed everything on the git page to install the project but it refuses to run can you please assist?

I have tried npm start, npm run and nothing works. Well karma start works but it does not give me the project view.

Please assist?

[2017-05-15 00:06] nategasm commented on #384
@andrewtelnov Is it also possible to add a demo on using the jqueryUI datepicker in matrixdynamic? I can't seem to get this to work as well.

[2017-05-15 05:23] dmitrykurmanov commented on #387
@chrisformula hello, what exactly went wrong?
Do you have any error or stacktrace?
`npm run build_prod`  was successful?

[2017-05-15 05:50] andrewtelnov commented on #384
@nategasm Yes, we will make it work as well.

Thank you,
Andrew

[2017-05-15 05:51] chrisformula commented on #387
Sweet thanks @dmitrykurmanov that worked but how can I get the Editor to work and actually start building surveys?

[2017-05-15 06:19] dmitrykurmanov commented on #387
@chrisformula if I understand you correctly, [editor](https://github.com/surveyjs/editor) is another project. You can build it and use as well as surveyjs. It contains _example_ folder too.

[2017-05-15 07:02] chrisformula commented on #387
do I use the same npm i live-server to build it?

[2017-05-15 08:00] dmitrykurmanov commented on #387
@chrisformula you could install _live-server_ globally:  `npm i live-server -g` and use it in any folder.

[2017-05-15 08:10] chrisformula commented on #387
awesome thanks ill try that

[2017-05-15 08:11] bhaidar opened #388 "Integration with Angular js 1.x"
Question:
Can I integrate this project with Angular js 1.x?

Thanks

[2017-05-15 08:36] tsv2013 commented on #388
We discussed Angular 1.x integration in this thread -  [Support for Angular v1.6.1](https://github.com/surveyjs/surveyjs/issues/226)

[2017-05-15 08:47] rsauvage commented on #385
Great, many thanks Andrew !

Romain

[2017-05-15 09:15] dmitrykurmanov commented on #387
@chrisformula ok feel free to reopen this issue or post something else

[2017-05-15 09:15] #387 closed

[2017-05-15 10:50] tsv2013 commented on #387
I've implemented `npm start` command. @chrisformula - you can use after `npm i` (dev dependencies now contain `live-server` reference).

[2017-05-15 10:55] fz6 opened #389 "iCheck widget breaks survey navigation and data integrity"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behaviour?

Using the icheck widget (described [here](http://surveyjs.org/examples/jquery/custom-widget-icheck.html)), the survey breaks in numerous ways:

- In my attached example, the third page of the survey becomes unreachable from the beginning. In another survey (with more questions on each pag

[2017-05-15 16:43] fz6 opened #390 "Radiogroup comments disappear when submitting survey"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

`hasComment` property on `radiogroup` questions does not work correctly. The comment is lost (has disappeared when `onComplete` fires). Also, the pagination breaks when this property is set (second page / second question disappears in provided example)

### What is the expected behavior?

[2017-05-15 16:49] fz6 commented on #390
This can also be reproduced using your Survey Editor - http://surveyjs.org/builder/#d91bfe4d-6a94-42be-b51a-943c6f969644

[2017-05-16 07:21] tsv2013 commented on #389
It looks like the thing was in the proper icheck removing. I've made changes in the widget code:

[code]

I've tested it in your plunkr (thanks for providing it) and it works ok for me. I'll made corresponding changes in our examples.

[2017-05-16 08:46] tsv2013 commented on #390
I've fixed this. The fix will be available in the nearest update. If you have any deadline, we can release maintenance update ASAP.

[2017-05-16 08:54] tsv2013 commented on #382
We already have marker classes for navigation buttons:
{ complete: "sv_complete_btn", prev:"sv_prev_btn", next: "sv_next_btn" }

[2017-05-16 09:03] tsv2013 commented on #382
@mymagicalpants Can you specify - what exact html element of the question markup should be marked with "sv_q_required" class? I guess it should be the root `div` element of the question. Am I right?

[2017-05-16 09:23] Gary-Mansell opened #391 "Any better way to use matrixdynamic rows as input to another question's dropdown?"
### Are you requesting a feature, reporting a bug or ask a question?
Question/feature request.

### What is the current behaviour?
Can't find anything in the docs which mention doing this but using the onValueChanged and setting the choices property can get rather tedious with multiple questions.

### What is the expected behaviour?
By dynamically adding rows to question 1 (a matrixdynamic) have a

[2017-05-16 09:44] tsv2013 commented on #388
We've decided to create an example how to integrate survey-knockout and survey editor into Angular 1.x application. It will be done in a nearest couple of days. @bhaidar Does it fit your needs?

[2017-05-16 10:30] andrewtelnov commented on #391
@Gary-Mansell Could you please describe in more details your scenario. At the very moment, I am re-writing the matrix row generation and I want to implement some other features  in matrix dynamic/dropdown: cell visibility(cellVisibleIf), ability to show different questions types in the same column and some others. I would love to understand your scenario as well.

Thank you,
Andrew

[2017-05-16 12:35] fz6 commented on #390
Thanks, confirmed that has resolved the comment issue.

However, pagination is still broken for this example (page 2 is missing). Tested locally with same plunk downloaded and pointed to a build of 699996c done locally (plunkr didn't like such a large JS file so I haven't updated example, sorry).

No rush on an update, still developing and happy to build from source for the moment. Thanks for reso

[2017-05-16 12:45] tsv2013 commented on #390
@fz6 Yes, I've missed pagination issue. Sorry.

[2017-05-16 13:09] tsv2013 commented on #390
The
`     type: "radiogroup",
`
is missed for the question on the second page. This is why the second page is invisible.

[2017-05-16 13:10] tsv2013 commented on #390
@fz6  I think we can close this issue now :-)

[2017-05-16 13:55] fz6 commented on #390
Oh man @tsv2013 , that's embarrassing, my bad!

Yes, I think we can.

I do have one more question, hopefully a quick one (though I can open a separate issue if preferred).

I can't quite figure out where the jQuery 'templates' live (or where the rendering occurs). For all the others it's easy. As an example, for Angular/KO/React/Vue I can see exactly where `colCount` is used to determine the radio

[2017-05-16 15:07] tsv2013 commented on #390
@fz6  jQuery and Angular solutions are working over `survey-react` implementation. You can find markup in the corresponding render functions of the react components in the `/src/react` folder.

[2017-05-17 08:03] tsv2013 commented on #388
@bhaidar  I've created a [repo](https://github.com/surveyjs/angular-seed), forked from angular-seed, and integrated survey-knockout library and [surveyjs-editor](https://github.com/surveyjs/editor).

[2017-05-17 11:32] gperreymond opened #392 "reactquestiondropdown - oninput issue on mobile (firefox)"
Hi the team,

I understand why you put oninput in a select but in fact on mobile there is a problem.
On chrome it's ok because on mobile, chrome associate oninput and onchange, but for firefox it's a problem because he dissociates the two.

On firefox it's like this :

[code]

So the event oninput will be never fired, and onchange the same :)

Your code
[code]

### Specify your

* browser: firefox

[2017-05-17 14:20] Kuhax opened #393 "Dynamic choicesByUrl in matrixdynamic dropdowns"
Hello

I'm trying to implement a dynamic way to obtain data from restful service for different dropdowns scattered around my survey. I can't embed the URL in <b>choicesByUrl</b> field in the survey itself because it will be the same for all dropdowns.

However, there is a (theoretical) way to do this via:

`var q = survey.getQuestionByName('country');
q.choicesByUrl.url = 'http://yourrestfullservi

[2017-05-17 14:35] andrewtelnov commented on #393
@Kuhax It can be done on the column level:
http://surveyjs.org/builder/#48323384-676a-46b6-b4be-8c10c8b5c0fb

[2017-05-17 15:15] Kuhax commented on #393
@andrewtelnov yes, that's how I'm using it right now, but this way is static, since there is no way to change the URL afterwards, without editing the survey.

I'm asking for a way to change choicesByUrl of "Country" dropdown which is embedded in "question1".

In this example I can't set the value of state depending on the country -> http://surveyjs.org/builder/#10b18a9e-a03c-4576-bcc3-29b92f56467c

[2017-05-17 15:24] andrewtelnov commented on #393
Aha, Do you want to have an ability to set the parameters in the URL?
like country -> state -> city?
I was thinking to add this functionality from the beginning, but then decided to wait until somebody actually ask for it :)
If the parameter is empty undefined, I was thinking do not run the service and if the parameters changed re-run it automatically.
Do you need parameters in URL only?

[2017-05-17 15:29] Kuhax commented on #393
@andrewtelnov yes, the ability to set parameters in the URL works for me. I can get the parameter from my session scope.

[2017-05-17 18:20] andrewtelnov commented on #393
@Kuhax hm, I was thinking about using a question value, like
http://myserviceurl.com/getCities?country={countryquestion}&state={statequestion}
it will run, when country question and state question are set.
I have another question, where do you want to use choicesByUrl, in standalone questions or in matrix column?
I'm thinking about adding value/parameter as {row.columnName}. It will return the val

[2017-05-17 19:33] fz6 commented on #390
Thanks a lot @tsv2013 , I get it now :-) Closing issue now, thanks again for resolving this so quickly.

[2017-05-17 19:33] #390 closed

[2017-05-18 07:53] Kuhax commented on #393
@andrewtelnov using variables in the URLs is certainly useful, but I'm not sure it may be used by everyone, since it's kind of specific case. Imagine if URLs for getting countries and states would be totally different. There would be no way to use {countryquestion} or {statequestion} value to set a different URL to city selection dropdown.

So, the way I see it, overriding choicesByUrl with a spec

[2017-05-18 12:44] tsv2013 commented on #389
I've updated example (http://surveyjs.org/examples/jquery/custom-widget-icheck.html).

[2017-05-18 12:44] #389 closed

[2017-05-19 08:21] andrewtelnov commented on #393
@Kuhax In fact, as I understand, you need different editors in one column. There are already several requests that actually can be solved by having another editor in a particular cell based on value of other questions or column value in the same row.
It means there is a need in an event, that will allow to do it. Will it work for you?

Thank you,
Andrew

[2017-05-19 08:40] care46 commented on #383
In the online editor will be ok in this version 0.12.14? Or the fix will be included in 0.12.15?

[2017-05-19 08:48] andrewtelnov commented on #383
@care46 Yes, it should be fixed with the next update. We will likely release it today.

There are still some issues with drag&drop panel when panel.startWithNewLine = false. I will fix it later.

Thank you,
Andrew

[2017-05-19 10:16] Kuhax commented on #393
@andrewtelnov I'm not sure what do you mean by different editors per column. In this issue I'm referring to dropdowns embedded in matrixdynamic rows only.  I would like to set manually the property <b>choicesByUrl</b> for a dropdown column of a certain matrixdynamic.

Thanks

[2017-05-19 10:43] andrewtelnov commented on #393
@Kuhax Do you need to change choicesByUrl for all editors in the column, for all rows, or you may have different choicesByUrl for different rows. I got the impression that you need to have different choicesByUrl for different rows in the same column.
Because if changing the choicesByUrl for all rows in one column doesn't work, it certainly a bug to me...

Thank you,
Andrew

[2017-05-19 12:26] smps2005 opened #394 "Ability to add background color/image on pages."
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature.

### What is the current behavior?
Not possible to add background color/image on pages.

### What is the expected behavior?
Ability to add background color/image on pages.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

[2017-05-19 12:40] tsv2013 commented on #394
I like it.

[2017-05-19 12:41] smps2005 commented on #394
Thank you!

[2017-05-19 13:27] Kuhax commented on #393
@andrewtelnov I think I have resolved my issue partially because it's possible to change choicesByUrl for all editors in the column using

`var q = survey.getQuestionByName('my_dropdown');`
`q.columns[0].choicesByUrl.url = "http://services.groupkt.com/state/get/IND/all";`
`q.columns[0].choicesByUrl.path = "RestResponse;result";`
`q.columns[0].choicesByUrl.valueName = "name";`
`q.columns[0].choices

[2017-05-22 10:59] muhfred opened #395 "Custom Widgets not rendered when viewing the survey."
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

I created a survey with editor and saved the json to a database, when viewing the survey, custom widgets are not rendered. Does it have anything to do with being the json editor changed from "questions" to "elements" ? example used is barrating widget.

### What is the expected behavior?

[2017-05-22 11:45] tsv2013 commented on #395
I've managed to reproduce the following behaviour:

With the
`{ elements: [ { type: "dropdown", name: "barrating1", renderAs: "barrating", "ratingTheme": "fontawesome-stars", title: "Please rate the moive you've just watched", choices: ["1", "2", "3", "4", "5"] } ]}`
json I've got the "`There is no visible page or question in the survey.`" message instead of question.

With the
`{ questions: [ { t

[2017-05-22 12:05] care46 commented on #370
@andrewtelnov HI, i'm testing this feature on the editor online and it seems to be ok, but if i try with the same json with 0.12.15 jquery version of the library in my local machine, the result is not the same and the second panel go in new line... probably this feature is not included in the latest jquery version?

[2017-05-22 13:26] andrewtelnov commented on #370
@care46 It should be the same, current editor is using v0.12.15( src="https://surveyjs.azureedge.net/0.12.15/surveyeditor.js").
The editor use the knockout version of the surveyjs library.

I am working on panel + startWithNewLine + Editor right now, at the very moment.

Thank you,
Andrew

[2017-05-22 13:28] muhfred commented on #395
all questions are shown except for the custom widget.

[2017-05-22 13:32] care46 commented on #370
@andrewtelnov ok, but probably I explained to you badly... with the editor online, my json work perfectly, in my local machine instead i don't use the editor, i'm testing the survey using 0.12.15 of survey.jquery.min.js...

[2017-05-22 14:49] andrewtelnov commented on #370
@care46 You are right. Editor is using knockout version, that works fine.
I have fixed the issue in react/jQuery. We will check vue as well.

Thank you,
Andrew

[2017-05-22 15:16] tsv2013 commented on #370
@andrewtelnov I've added code for VueJS.

[2017-05-23 08:25] tsv2013 commented on #395
@muhfred I've fixed issue related to the "elements" root property (fix will be available in the nearest update) and created a plunk with current dev version of survey-jquery package: https://plnkr.co/edit/tj0BfVzVkC8MidOfgjtm?p=preview
All questions are displayed correct for me.
Please feel free to modify the plunk to reproduce issue if it still not fixed.

[2017-05-23 08:32] andrewtelnov commented on #370
@care46 I have fixed the bugs with editor and dragging Panel with startWithNewLine = false finally.

Thank you,
Andrew

[2017-05-23 09:57] care46 opened #396 "Is there a possibility to set CSS classes to a single question?"
now i see that in model.defaultBootstrapCss there is an object that contains the main css classes, and work for all questions...

In my survey, i need to specify a particular css class only for one o two specific question, are there any possibility to do it adding an attribute in json string when a compose the survey's json?

Thanks very much ;)

[2017-05-23 10:28] andrewtelnov commented on #396
@care46 We do not have this functionality yet, but it has been discussed and it is in our TODO list.
Right now on rendering questions are using the surveyCss object directly. The idea is to have a function that will create an object with all required css classes from surveyCss object, call an event and rendering code will use this css object, instead of global surveyCss.
It will give you an abilit