[2017-05-23 10:31] care46 commented on #396
ook!

[2017-05-23 12:16] enrico-dont opened #397 "It's possibile to add different css classes to question and answer?"
Hi! I'm trying to setup a survey like a text session (whatsapp or similar) and i have to separate questions and answers in two different classes, something like:

.questions {float: left;}

.answers {float: right;}

If I made any error please forgive me, i'm new here

Thanks a lot

E.

[2017-05-23 12:40] care46 opened #398 "It's possible to add "IT" language support?"
... with error and message translated like this:

pagePrevText: "Precedente",
pageNextText: "Successivo",
completeText: "Salva",
otherItemText: "Altro (descrivi)",
progressText: "Pagina {0} di {1}",
emptySurvey: "Non ci sono pagine o domande visibili nel questionario.",
completingSurvey: "Grazie per aver completato il questionario!",
loadingSurvey: "Caricamento del questionario in corso...",
optio

[2017-05-23 13:35] care46 opened #399 "JSON data with "COMMENT" question"
Hi,

i have a survey (jquery version) with a "COMMENT" question... when i save the survey, JSON data response with:

{"question1":"2013-01-01","question2":"hello","question3":"text text\nnew line new line\nhello hello"}

If i open the survey passing this JSONData, the survey don't load the answers, if i modify the response and i open the survey with a JSON like this

{"question1":"2013-01-01","que

[2017-05-23 13:49] andrewtelnov commented on #398
@care46 Sure, it has been added.

Thank you!
Andrew

[2017-05-23 13:52] andrewtelnov commented on #397
@enrico-dont Unfortunately, I can't see a way to do it. We may to implement it in multiple text question. Do you have a text inputs only?

Thank you,
Andrew

[2017-05-23 13:56] care46 commented on #398
@andrewtelnov Thanks!!

[2017-05-23 14:00] care46 commented on #398
@andrewtelnov it is correct that in file italian.ts the last row is

surveyLocalization.locales["de"] = italianSurveyStrings;

and not

surveyLocalization.locales["it"] = italianSurveyStrings;

[2017-05-23 14:08] andrewtelnov commented on #399
@care46 Hm, I have just tried. It works fine to me:
http://plnkr.co/edit/naIDI7mXTmkkYnI2j0sN?p=preview

Thank you,
Andrew

[2017-05-23 14:12] andrewtelnov commented on #398
@care46 Great catch! Sorry about that.
Fixed.

[2017-05-23 14:14] tsv2013 commented on #394
@smps2005 We discussed this issue and created a sample - how to change background color of whole survey or set background image via css: http://plnkr.co/edit/1iqtiLbJkIUdMtrufy06?p=preview . You can check `index.css` file. Does it fit your needs?

[2017-05-23 14:32] care46 commented on #399
@andrewtelnov sorry, i see your test and i made a mistake! Now it work correctly!!

Thanks

[2017-05-23 15:00] care46 commented on #399
@andrewtelnov now the answers was initialized correctly, but in "display" mode, "COMMENT" question was displayed like in one row... i try with your example...

[2017-05-23 15:12] andrewtelnov commented on #399
@care46 Yes, this one is a bug. We are using span to render "comment" question in display mode. It is better to add read only attribute.
I will correct this.

Thank you,
Andrew

[2017-05-23 16:15] care46 commented on #399
@andrewtelnov ok no problem, now i use a workaround, i open survey in edit mode an then at event "afterPageRendered" i set only input/select/textarea in readonly..

Thanks

[2017-05-23 16:18] andrewtelnov commented on #399
@care46 It is fixed.

Thank you,
Andrew

[2017-05-24 02:36] nategasm commented on #384
I've noticed this enhancement was added in the new version but the datepicker still isn't working as intended. What happens is when you add additional rows and change the date, it will only change the date of the **first row**. A similar (but maybe separate) issue also happens when you have more than one datepicker field in the survey, in this case it will only update the first datepicker field.

[2017-05-24 08:10] tsv2013 commented on #384
@nategasm I've just tested jQueryUI DatePicker in the `matrixdymanic` question. The problem was in the `widget-datepicker` id attrubute that has being used in the template and used as selector for jQuery widget creation.
After changed to the css class, multiple DatePickers work ok for me in `matrixdymanic`. Can you check this plunk: http://plnkr.co/edit/KDQZBx3zvJTtprzpQvd4?p=preview ?
If it's ok

[2017-05-24 10:42] Kuhax commented on #384
@tsv2013 DatePickers as shown in the plunk look good to me.

However, I was unable to make select2tagbox work in matrixdynamic.

[2017-05-24 11:38] tsv2013 commented on #384
@Kuhax ok, I'll add select2tagbox in the sample plunk.

[2017-05-24 11:42] andrewtelnov opened #400 "Modify cell questions/editors in matrix dynamically/on the fly"
Add two events that make possible to have different questions/editors in one column for different rows. The cellType/questionType will be the same, but visible, choices and other properties maybe different and based on values of others columns in the row.
Two events:
[code]

[2017-05-24 11:51] tsv2013 commented on #384
@Kuhax I've updated the http://plnkr.co/edit/KDQZBx3zvJTtprzpQvd4?p=preview plunk with select2. Can you check it?

[2017-05-24 12:21] #331 closed

[2017-05-24 12:57] krishnathamisetty opened #401 "Converting Results and Questions into Word or PDF or Excel"
### Are you requesting a feature, reporting a bug or ask a question?
Question Feature

### What is the current behavior?
We would like to download the user response into Word or PDF or Excel questions and along with user response.
Like we need same as is along with Download (options: PDF, Word, Excel) http://surveyjs.org/examples/jquery/survey-displaymode.html
by clicking on download user should g

[2017-05-24 13:12] andrewtelnov commented on #400
Here is a demo on plunker: http://plnkr.co/edit/eCNxoNUjNylXebBlEuDX?p=preview

[2017-05-24 13:13] andrewtelnov commented on #391
@Gary-Mansell Could you please take a look at new events I have introduced?

[2017-05-24 13:14] andrewtelnov commented on #391
A plunker demo: http://plnkr.co/edit/eCNxoNUjNylXebBlEuDX?p=preview

[2017-05-24 13:15] andrewtelnov commented on #380
@Kuhax You may be interesting in this new functionality:

[2017-05-24 13:17] andrewtelnov commented on #332
@Kichi93 Please take a look at new functionality I have just added:
The event description: https://github.com/surveyjs/surveyjs/issues/400
A plunker demo: http://plnkr.co/edit/eCNxoNUjNylXebBlEuDX?p=preview

[2017-05-24 13:19] #287 closed

[2017-05-24 13:20] andrewtelnov commented on #369
@Kuhax @nategasm guys, please take a look at new events I have added:
The event description: https://github.com/surveyjs/surveyjs/issues/400
A plunker demo: http://plnkr.co/edit/eCNxoNUjNylXebBlEuDX?p=preview

[2017-05-24 18:11] andrewtelnov commented on #401
@krishnathamisetty I am not sure what do you mean to save results in pdf/excel/word. Do you mean all survey results or just for one user?
We have http://www.dxsurvey.com service. You may use it. It is free for now, . You may export all data to Excel. Here is the public result page of one our surveys: https://dxsurvey.com/Results/Survey/d5220f76-4802-40cf-ad67-61d7e55608e5. There is the Export butt

[2017-05-25 02:16] nategasm commented on #384
@tsv2013 I've had a look at your plunk and it works great thank you.
I'm now trying to use the dateFormat (dd/mm/yyyy) property with matrixdynamic but it does not seem to be working fully.
Check my fiddle: https://jsfiddle.net/mo2pg19h/1/
It works fine for the first textbox but it seems to get the day/month/year mixed up in the matrix when you try to change it.

[2017-05-25 02:45] batmanbury commented on #347
@alexmc6  I'd be very much interested. I'm working on a RoR/jQuery/SurveyJS project now.

[2017-05-25 04:14] nategasm commented on #401
Not sure if this is what you're after, but if you want an offline solution, I'm using docxtemplater for one of my projects with surveyjs. https://docxtemplater.readthedocs.io/en/latest/index.html
You just feed it the Json and a pre-defined word template with the questions and response tags. Then when you "Download" after the survey is completed it will give you the generated word document with res

[2017-05-25 04:18] nategasm commented on #369
Thanks @andrewtelnov that works fine for my purposes

[2017-05-25 06:18] tsv2013 commented on #384
@nategasm This code:
[code]
adds properties for ordinary questions only and doesn't affect inner matrix questions. We need to discuss it with @andrewtelnov.

[2017-05-25 07:59] Kuhax commented on #384
@tsv2013 I have checked the plunk and it works flawlessly. Thanks

[2017-05-25 07:59] tsv2013 commented on #384
@nategasm I've updated your fiddle to make it work - https://jsfiddle.net/mo2pg19h/3/

I've added declaration for a new property for matrix column:

[code]

And added `onMatrixCellCreated` event handler to pass property value from column options to the created cell:

[code]

Does it fit your needs?

[2017-05-25 08:04] andrewtelnov commented on #384
@Kuhax If you are using your own editor. You may add the dateFormat property into Editor as:
`SurveyQuestionEditorDefinition.definition["matrixdropdowncolumn@text"].properties.push("dateFormat");`

PS: We are using dev version. I have added onMatrixCellCreated event just yesterday. We will release a new version in few days.

Thank you,
Andrew

[2017-05-25 08:46] care46 opened #402 "It's possible to setValue in matrix?"
This function

survey.setValue('questionName', newValue);

is applicable to matrixdropdown or matrixdynamic?
How can I do this to specify  the row to set the value?

Thanks

[2017-05-25 08:51] andrewtelnov commented on #402
@care46 sure. it is pretty much the same.
matrixdynamic - it is an array of objects. To set the first and third row you have to:
`[{"myFirstColumn": value1_1, "mySecondRow": value1_2}, {}, {"myFirstColumn": value3_1, "mySecondRow": value2_2}]`
For matrix dropdow there is a value for a row, so you have:
`{"myFirstRowValue": {"myFirstColumn": value1_1, "mySecondRow": value1_2}, "myThirdRowValue": {"

[2017-05-25 08:53] andrewtelnov commented on #386
@gnchiesa The first row documentation is ready. We are going to improve it greatly in the next months. We will add a large description for some topics, add links on demos and so on.
http://surveyjs.org/docs/

[2017-05-25 09:02] care46 commented on #402
ook! i understand ;)

[2017-05-25 09:20] Kuhax commented on #369
@andrewtelnov that works for me as well. Thanks !

[2017-05-25 10:27] Gary-Mansell commented on #391
Hi Andrew, sorry for my slow reply and thanks for your quick one.

The scenario I have is changing the dropdown for question 2 based on the values provided by question 1. The first question is a _matrixdynamic_ question so each row added by the user corresponds with a new value in a drop-down for question 2. It was quite tedious to do this using the _onValueChanged_ event for a question (especiall

[2017-05-25 10:27] #391 closed

[2017-05-25 11:31] batmanbury opened #403 "Example jQuery code on surveyjs.org/examples doesn't work"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?

Example on http://surveyjs.org/examples/jquery/custom-widget-image-picker.html doesn't render images as choices. I get the following error:
[code]

### What is the expected behavior?

The provided example code should render images as choices.

### How would you reproduce the cu

[2017-05-25 11:38] tsv2013 commented on #403
Probably you need to include image-picker library code on your page:
[code]

[2017-05-25 12:32] ImanuelRichter opened #404 "Matrix (dynamic rows) and Custom Widgets"
### Are you requesting a feature, reporting a bug or ask a question?
question, requesting a feature

### What is the current behavior?
Custom Widgets like select2 and select2tagbox work fine on other pages but not in dynamic Matrix

### What is the expected behavior?
Custom Widgets like select2 and select2tagbox are rendered within dynamic Matrix like usual

### How would you reproduce the current

[2017-05-25 12:37] tsv2013 commented on #404
@ImanuelRichter Can you check the https://github.com/surveyjs/surveyjs/issues/384 thread? It looks like we've solved almost all the problems.

[2017-05-25 12:38] tsv2013 commented on #404
The http://plnkr.co/edit/KDQZBx3zvJTtprzpQvd4?p=preview plunk illustrates salest2tagbox custom question in the matrix dynamic.

[2017-05-25 12:44] ImanuelRichter commented on #404
wow thx for your very quick response! i'll check that out. Sorry if i wasted your time.
You are doing a great job here!

[2017-05-25 12:48] tsv2013 commented on #404
It's ok, @ImanuelRichter! You are always welcome!

[2017-05-25 13:11] batmanbury commented on #403
Of course! That was not immediately obvious to me. Thanks!

[2017-05-25 13:11] #403 closed

[2017-05-25 13:50] #404 closed

[2017-05-25 16:22] care46 opened #405 "Problem with selector at page change"
Hi, i have this problem... i have a survey on 2 page.. in first page i have a matrix (2 row 2 column)... i use question selector to view the item in chrome console like this

a = $('#sq_117i')     --> first row column 2

If i print this in console, the result is:
[input#sq_117i.form-control, context: document, selector: "#sq_117i"]

Now i go to second page of the survey, if i print var a in consol

[2017-05-25 17:15] batmanbury opened #406 "Question: Is surveyjs compatible with Bootstrap 4?"
### Are you requesting a feature, reporting a bug or ask a question?
Ask a question:

Is surveyjs compatible with Bootstrap 4? (currently v4.0.0-alpha.6)

* surveyjs platform (angular or react or jquery or knockout or vue): **jquery**
* surveyjs version: **0.12.15**

[2017-05-26 03:43] onlyjsmith opened #407 "Indecisive user, two dependent questions with same name, wrong output"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug (on an awesome set of tools!)

### What is the current behavior?
To navigate a wide tree of response options, we're using the response to an initial question to conditionally (`visibleIf`) show one of two dependent questions. We only ever want one answer from the dependent questions, so both have the same `name` (

[2017-05-26 04:25] nategasm commented on #384
@tsv2013 Thanks, that seems to work, but I have updated the fiddle again with another issue where the values aren't saved when you switch between pages: https://jsfiddle.net/mo2pg19h/4/

[2017-05-26 04:45] #369 closed

[2017-05-26 06:34] #402 closed

[2017-05-26 08:07] dmitrykurmanov commented on #406
@batmanbury hello! We need to try it. Thanks.

[2017-05-26 08:12] dmitrykurmanov commented on #407
@onlyjsmith hello! Questions should not have the same name. @andrewtelnov @tsv2013 may be we need to add this info into docs.

[2017-05-26 08:18] dmitrykurmanov commented on #405
@care46 hello! thanks for your interest. Could you please provide a plunker example with the same behaviour?

You can get plnkr examples at:
* Angular2 http://plnkr.co/edit/OJkKlUn1oxzWYtnruXir?p=preview
* jQuery http://plnkr.co/edit/DH4vJWSBtza7bSCDm2r9?p=preview
* Knockout http://plnkr.co/edit/JKy5wwiAhaBTMze3fOO0?p=preview
* React http://plnkr.co/edit/qXdeQa6x2FHRg0YrOlPL?p=preview
* Vue http:/

[2017-05-26 08:29] care46 opened #408 "Bug on event onVisibleChanged"
Hi, with the last version of the library (jquery version), the event onVisibleChanged do not start when question visibility change... with the previous version works fine..

I have also a question: with this event i can do an action when a question change visibility, there is also an event that i can use when i add a row in matrixdynamic?

Thanks

[2017-05-26 08:30] Nicolaidavies commented on #407
@dmitrykurmanov First of all, thank you for creating a great library.

I work with @onlyjsmith, we have and issue where a dependent question’s options needs to change in response to another question.

An example of this would be choosing a state in the first question and a city name in the second question.  The city names would change depending on which state you choose.

Our current approach has

[2017-05-26 08:42] care46 commented on #405
In this example there is not a problem... if i try to get in console a = $('#sq_103'), the return value is

[input#sq_103i.form-control]

There is no context and selector like in my survey...

Probably something different in library or in jquery version?

[2017-05-26 08:47] dmitrykurmanov commented on #405
@care46 What version of survey-jquery do you use ? You may try to use last version of survey-jquery in your example
`<script src="https://unpkg.com/survey-jquery"></script>` or from our cdn
`<script src="https://surveyjs.azureedge.net/0.12.15/survey.jquery.js"></script>`

or you can modify plunkr example with your json and reproduce it.

[2017-05-26 08:55] dmitrykurmanov commented on #407
@Nicolaidavies yes, I see the problem. @andrewtelnov could you help with it please?

[2017-05-26 09:07] care46 commented on #405
Now i try with your link of library... the problem is the same.... then, i try to put my json in your jquery example... i have a problem also in this... then probabily the bug is related to my json definition...
My json is this..

var json = {"locale":"it","pages":[{"name":"PAGINA         1","elements":[{"title":"aaaaaa","name":"HAU0000000000000001","innerIndent":1,"type":"panel","elements":[{"nam

[2017-05-26 09:15] dmitrykurmanov commented on #405
@care46 ok thanks for the explanations, we'll try to solve it with your json.

[2017-05-26 11:42] dmitrykurmanov commented on #407
@onlyjsmith  @Nicolaidavies  as @andrewtelnov says we could use same name for questions, so it is bug. We'll fix it. Thanks for your interest.

[2017-05-26 12:09] dmitrykurmanov commented on #405
@care46 I copy and paste your json and it is not valid:

http://plnkr.co/edit/tuCR8vI9BK6uWqf5ZGMI?p=preview

Could you please fix it and give a fixed link on plunker?

[2017-05-26 12:36] andrewtelnov commented on #407
@Nicolaidavies They bug is in the vue version and it should be fixed.
However, I have a question to you guys. Are you going to use some kind of restful API to get the list of countries -> states -> cities ?
I want to introduce a feature, for restful API: http://surveyjs.org/examples/jquery/questiontype-dropdownrestfull.html, where a question value can be used in a parameter in the url.
for example

[2017-05-26 12:38] tsv2013 commented on #384
@nategasm Thank you for the fiddle. I'll take a look.

[2017-05-26 12:40] care46 commented on #405
@dmitrykurmanov  sorry, copy and paste for my json not work correctly because there is some html in thst string..

This is the plunker link correct

http://plnkr.co/edit/uexUcVUDrEXoeMWuNBEe?p=preview

thanks

[2017-05-26 13:06] andrewtelnov commented on #408
@care46 http://plnkr.co/edit/ixreiariosLIPSoJVeMx?p=preview
Please change the second question, "2. How satisfied are you with the Product?".
You can't set onVisibleChanged in definition. I will fix it, however, it always worked this way.

Thank you,
Andrew

[2017-05-27 17:49] muhfred commented on #395
awesome, thank you, please tell which branch I should use for pull requests, I finished a localization file for arabic.
Thanks.

[2017-05-28 04:44] GreatEarl opened #409 "Hide answered rows in Matrix and store answers before completing."
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
I have Matrix question with about 30 rows and 10 radiobuttons in each row.
Everything works fine.

### What is the expected behavior?
Is there any way to hide row which was answered?
I mean - when user picks one of ten radiobuttons (answers) in row - that row should be hided.

And by th

[2017-05-28 17:42] andrewtelnov commented on #395
@muhfred It should be the master, https://github.com/surveyjs/surveyjs/tree/master/src/localization

Thank you,
Andrew

[2017-05-28 18:09] andrewtelnov commented on #409
@GreatEarl Are you talking about this? http://plnkr.co/edit/hDXPsZk3HhpyxnBqGoRO?p=preview

Thank you,
Andrew

[2017-05-29 03:26] GreatEarl commented on #409
@andrewtelnov  Thanks Andrew, that's it!  And is there any way to reset answers of question like this? I'll explain - I want to hide rows when user answers but I need to give him ability to reset answers only on current question if he think that some answers were wrong. May be there is a method to reinit question not all syrvey.

[2017-05-29 06:50] andrewtelnov commented on #409
@GreatEarl You may show the same question, with the same name and properties (just copy it) on the next page. The value for this questions will be stored in the same place data["questionName"], so they will share it.

Thank you,
Andrew

[2017-05-29 06:56] care46 commented on #408
@andrewtelnov

Thanks.. my js definition is something like this:

		model.Survey({
			onComplete:sendDataToServer,
			onCurrentPageChanged: doOnCurrentPageChanged,
			onAfterRenderQuestion: doOnAfterRenderQuestion,
			onVisibleChanged: doOnVisibleChanged,
			onAfterRenderPage: doOnAfterRenderPage,
		});

I wrote this issue because the function doOnVisibleChanged wasn't fire in 0.12.15, but in prev

[2017-05-29 07:09] tsv2013 commented on #384
@nategasm I guess the thing was in the following code:

[code]

It is executed for the question with 'textDate' name only and hence only for one quetion in the survey. And thst's why initial values were not being set on the second page.

I've commented the code above and added the following line:
`      question.valueChangedCallback();`
Please check the updated fiddle: https://jsfiddle.net/mo2pg19

[2017-05-29 07:10] GreatEarl commented on #409
@andrewtelnov  Ok, I've got the point but actually, I have 6 pages, and the page with matrix is 3-rd. Right now I don't imagine how it'll work, need to be tested ))
If interesting - I want to implement a kind of ratings. When User has to spread let say 15 points of rating between 4  positions (rows) assessing from 1 to 5 each. And when user can't set maximum rating of 5 for each position - in this

[2017-05-29 07:17] andrewtelnov commented on #409
@GreatEarl Then you may have a button outside the survey "Reset answers", it will be shown when the question/page is visible and actually it will reset the rows: survey.getQuestionByName("myMatrix").rows = savedRows;

[2017-05-29 07:27] andrewtelnov commented on #408
@care46 Sure: http://surveyjs.org/docs/api_surveymodel.html#onMatrixRowAdded

Thank you,
Andrew

[2017-05-29 07:44] GreatEarl commented on #409
@andrewtelnov Andrew thanks for the direction and explanation I'll play around it )  btw
survey.getQuestionByName("matrix").rows  - returnt list of objects when "question" itselft accepts array in rows. Or do I need to save my rows as object before?

[2017-05-29 07:46] care46 commented on #408
@andrewtelnov  Thanks, it will be available in 0.12.16 like the "startWithNewLine" option in "panel" right?

[2017-05-29 07:48] andrewtelnov commented on #409
Yes, it is better to save the rows before survey starts. However, on setting rows property, the library will convert the array of strings into ItemValue array anyway.

[2017-05-29 07:49] andrewtelnov commented on #408
@care46 yes, you are right. We will release today or tomorrow or definitely after tomorrow :)

[2017-05-29 08:05] GreatEarl commented on #409
Thank you Andrew, the rest I need - to find proper way to store rows and re-assign them on reset.

[2017-05-29 08:05] #409 closed

[2017-05-29 08:13] nategasm commented on #384
@tsv2013 That seems to almost work, but there are still some really weird issues in that fiddle.
Here is one example with exact steps:
On page 1 fill out the first matrix row completely
Add a second row, fill in 1st column, then 2nd column.
After filling 2nd column the date value of the first row is cleared.
If you continue changing the values on the 2nd row, it will then sometimes change the valu

[2017-05-29 08:48] tsv2013 commented on #384
@nategasm I see! Thank you! We'll fix it ASAP.

[2017-05-29 10:38] tsv2013 commented on #384
There was an "fiddle.jshell.net/:211 Uncaught TypeError: Cannot read property 'split' of undefined" in the `stringToDate` function:

[code]

I've fixed it via:
`var dateItems = (_date || "").split(_delimiter);`

You can check an updated fiddle: https://jsfiddle.net/mo2pg19h/6/

[2017-05-29 12:49] geoffreyspencer opened #410 "Need to add additional text below the title or the question"
### Are you requesting a feature, reporting a bug or ask a question?
ask a question or feature request

### What is the current behavior?

### What is the expected behavior?
After the question is display, I need to add "help" text below it. For example:
1. No limitations of physical activity
   (climbing one flight of stairs with no symptoms)
2. Slight limitation of physical activity
    (excessiv

[2017-05-29 13:17] andrewtelnov commented on #410
@geoffreyspencer You may use markdown. In the following example, we are using showdown:
http://surveyjs.org/examples/jquery/survey-markdown-radiogroup.html
You may use all it's features: http://showdownjs.github.io/demo/

Thank you,
Andrew

[2017-05-29 13:21] geoffreyspencer commented on #410
Hi Andrew,

Thanks for replying. The markdown is the answer but can I move it to the next line? Would <br /> work?

FYI, I am working on medical questionnaires for the patients in my clinic I work at.

Geoffrey Spencer
3014 Southmore DR E
Ottawa, ON
K1V 6Z4
H: 613-733-6880 (no phone calls and no voicemails please)
M: 613-263-6170 (text only please)
E: geoffreyspencer@me.com
FYI, I am (profoundly)

[2017-05-29 13:21] care46 opened #411 "Show survey answers progress"
Hi, i have to show at the top of the survey the "user progress"... In particular I should show the percentage of completion and the number of responses relative to the total..

Example:

answers: 10 of 100 (counting only compiled answers)
percentage: 10%

is there any way to do this? Even if there is no default method, are there any variables that I can retrieve through the js?

Thanks for all ;)

[2017-05-29 13:44] andrewtelnov commented on #410
@geoffreyspencer Yes, <br /> will work. What version of SurveyJS are using, jQuery, knockout, react...?
We will make an example on plunker.

Thank you,
Andrew

[2017-05-29 14:01] dmitrykurmanov commented on #410
@geoffreyspencer, hello! Thanks for your interest. Here is an example:

http://jsfiddle.net/a2cw321x/

[2017-05-30 01:40] nategasm commented on #384
@tsv2013 Almost there! I have found another broken scenario in that fiddle.
Fill out 2 rows on page 1, fill out 2 rows on page 2, go back to page 1. The 2nd row values are reset. Filling in row 2 values again will then change row 1 values.
It doesn't seem to be the stringToDate function as I tried removing it.

[2017-05-30 06:58] tsv2013 commented on #384
@nategasm I'll check it. Thank you for the report.

[2017-05-30 08:31] Nicolaidavies commented on #407
@andrewtelnov Thank you very much.

Right now I don't think we are in need of such functionality, as we are building an offline application. I definitely can see how that functionality would be useful in other contexts.

[2017-05-30 08:40] sujandev opened #412 "an option to go to a specific page for survey"
Hi,
    i have a couple of pages in my survey. i want an option to select a page so that user can start survey directly from that page. is there any option ?  plz help me . i need this feature badly.

[2017-05-30 08:44] andrewtelnov commented on #412
@sujandev There is a property that you may set: `survey.currentPageNo = 3;`. The first page has index 0.
http://surveyjs.org/docs/api_surveymodel.html#currentPageNo

Thank you,
Andrew

[2017-05-30 08:50] andrewtelnov commented on #411
@care46 Theoretically you may override progressText function.
[code]
A better way - we have to calculate the progress by questions, not by pages.
Are you going to modify the progress bar on the current page? Right now it is changed on page changing.

Thank you,
Andrew

[2017-05-30 08:56] care46 commented on #411
@andrewtelnov the progress bar is ok, because the progress show the number o total pages and the user page (and it's ok), I need to show a further element that informs user about how many questions the survey has (only visible questions) and how many questions users answered

[2017-05-30 09:00] andrewtelnov commented on #411
@care46 Where do you want to show it? You may have it outside the survey area and in this case you may show what ever you want. `Object.keys(survey.data.).length` - it will return the number of answering questions, `survey.getAllQuestions().length` - the number of questions, `survey.getAllQuestions(true).length` - the number of visible questions.

Thank you,
Andrew

[2017-05-30 09:03] care46 commented on #411
@andrewtelnov yesss... i want to show it outside the survey.. These variables you've suggested to me are just what I was looking for! Thank you!

[2017-05-30 12:00] tsv2013 commented on #384
@nategasm I've not managed to reproduce described behaviour with the current dev version. I've updated dev version on our cdn. You can check the fiddle - https://jsfiddle.net/mo2pg19h/8/

[2017-05-30 13:00] care46 commented on #411
@andrewtelnov another question, the function survey.getAllQuestions() return all questions, also the HTML question that not have an answer... there is a parameter to specify to have only questions with answer?

Thank you

[2017-05-30 13:10] andrewtelnov commented on #411
@care46  Unfortunately not. You will have to go through the array and count questions which return true for hasInput.
[code]

[2017-05-30 13:11] care46 commented on #411
@andrewtelnov ok thanks!

[2017-05-30 13:11] #411 closed

[2017-05-30 17:20] sujandev commented on #412
@andrewtelnov thanks a lot. it works 👍 .but the documentation page not working properly http://surveyjs.org/docs/api_pagemodel.html . nothing shows when click on API property

[2017-05-30 17:22] andrewtelnov commented on #407
@Nicolaidavies I am afraid we will not be able to fix this issue in vuejs.
Here is what happens: The value is changed in the 'dependent_question' dropdown and survey is sending the notification about value changing to all questions with this name 'dependent_question'. When another 'dependent_question' dropdown gets the notification it looks in it's choices, finds no item for it and as result set t

[2017-05-30 17:30] andrewtelnov commented on #412
@sujandev Do you mean they did not expand?

[2017-05-30 17:34] sujandev commented on #412
![page api](https://cloud.githubusercontent.com/assets/9714570/26596353/4768d0ca-4590-11e7-81d7-7e6de38d245f.png)

@andrewtelnov  when i click on page api link it comes as attached image . even on any api link click it comes the same things.

[2017-05-30 20:17] gperreymond opened #416 "src/react/reactquestioncheckbox.tsx"
In the react version, you will have issues with this semantic :

<span className="checkbox-material" style={{"**margin-right**": "5px"}}>

The correct syntax has to be :

<span className="checkbox-material" style={{"**marginRight**": "5px"}}>

Result :
Warning: Unsupported style property margin-right. Did you mean marginRight? Check the render method of `t`.

[2017-05-30 20:27] abibao commented on #416
A lot of CI consider warnings like those, as error.

[2017-05-31 03:34] nategasm commented on #384
@tsv2013 Looks like I had to clear my cache, seems fine now, thanks!
Sorry to be a pain though, I have found another weird interaction. Check my fork fiddle: https://jsfiddle.net/mpy52s1u/
I've just added a few more questions. To reproduce the bug, fill out all questions (tick all checkboxes) and put at least 3 rows in each matrix. After completing the survey and looking at the result you'll see s

[2017-05-31 06:22] tsv2013 commented on #416
@gperreymond Thank you! We'll fix it.

[2017-05-31 06:41] tsv2013 commented on #384
@nategasm Ok, I'll check it. Thank you for the feedback!

[2017-05-31 07:04] dmitrykurmanov commented on #412
@sujandev hello, what browser do you use?

[2017-05-31 07:10] #381 closed

[2017-05-31 08:07] sujandev commented on #412
@dmitrykurmanov Google chrome Version 58.0.3029.110 (64-bit)   and mozila firefox 53.0.3 (32-bit)  . i tried  both browser. same thing.

[2017-05-31 08:10] tsv2013 commented on #384
I've changed value change subscription to the native jQuery DatePicker event:

[code]

After these changes the updated fiddle https://jsfiddle.net/mpy52s1u/3/ works ok for me :)
Can you check it?

[2017-05-31 08:10] dmitrykurmanov commented on #405
@care46 we are using preact for jquery and angular. So this behaviour is caused by preact chaching algorithm. It doesn't recreate dom and uses existing dom elements if it possible.

You are holding the reference to the dom element `a = $('#sq_115i')` . After page changed pareact stores this element to the internal cache. After another re-rendering preact takes this input element from cache, assign

[2017-05-31 08:24] care46 commented on #405
@dmitrykurmanov My problem is this ...

At the "onAfterRenderQuestion" event, I call a function to set a specific css class to a specific element, in particular I set a class to "date" elements with document.getElementById (idtmp) .className = "form-control inputDate";

Then, when I change the page and go back to the first, for this problem of the selector, the survey renders another element with

[2017-05-31 08:38] tsv2013 commented on #412
@sujandev I've checked Chrome and FF 45 right now. Everething works like a charm for me.
Do you have any errors in your browser's console? Can you check it?

[2017-05-31 08:39] care46 commented on #405
@dmitrykurmanov i have make an example

http://plnkr.co/edit/c86LjAIMlFr6mP3L255h?p=preview

when the survey was rendered at first time, you can see that the first and the second question have my class (InputDate), but the matrix at the and of the page have not this class (in particular the second column in second row)... then if you go to second page and come back to the first, you can see that t

[2017-05-31 08:54] tsv2013 commented on #405
In this case I'd recommend you the following widget customizer:

[code]

And I've commented `onAfterRenderQuestion` event handler. Does it fit your needs?

[2017-05-31 08:58] care46 commented on #405
@tsv2013 Thanks! I'll try this way!

[2017-05-31 08:59] tsv2013 commented on #405
@care46 Here is updated plunk - http://plnkr.co/edit/TZjijQupMPrSvke9Dr3g?p=preview

[2017-05-31 09:13] sujandev commented on #412
@tsv2013    I've checked other computer it works but with same chrome version not work in my pc. i got  error in console :

Uncaught SyntaxError: Unexpected token )
select2.min.js:1 Uncaught ReferenceError: jQuery is not defined
    at select2.min.js:1
    at select2.min.js:1
(anonymous) @ select2.min.js:1
(anonymous) @ select2.min.js:1

api_questiondropdownmodel.html:291 Uncaught ReferenceError:

[2017-05-31 10:01] Kuhax opened #417 "Bug inserting rows in matrixdynamic"
Hello

I have encountered a weird behaviour of matrixdynamic. When "Add row" button is clicked, 10 rows get added instead of just one. Not sure why this happens. I'm using the latest version 0.12.16.

Here is the issue: [http://surveyjs.org/builder/#32464444-dc2b-457d-a268-64501ddb88f9](http://surveyjs.org/builder/#32464444-dc2b-457d-a268-64501ddb88f9)

It happens in Survey Designer as well as in

[2017-05-31 10:55] tsv2013 commented on #412
@sujandev  It looks like on your pc for some reason select2 script is loaded before jQuery script, throws an error and crashes whole content. We'll try to find out the reason and fix it, but it will be hard unless we reproduce the issue on our side.
Can you check that jQuery script is loaded and not blocked be firewall?

[2017-05-31 11:23] dmitrykurmanov commented on #417
@Kuhax thank you for found this. As a workaround you can change your code from `rowCount: "1"` to `rowCount: 1` (number instead of string).  And we'll think how to fix it.

[2017-05-31 11:51] Kuhax commented on #417
@dmitrykurmanov Thanks for the tip

[2017-05-31 13:52] andrewtelnov opened #418 "Make choicesByUrl dynamic, support text pre-processing"
choicesByUrl.url and choicesByUrl.path should be able to support "{QuestionName}" text processing.
The typical example. The user choose a country from the first dropdown, the second drop down, should send a request on the restful service to get regions/states for this country and on choosing the region/state  the third dropdown "city" should send a request to get all cities in this region/state.
I

[2017-05-31 13:53] batmanbury opened #419 "goNextPageAutomatic skips server validation on final question"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?

If the survey uses `goNextPageAutomatic` and has a validation on the final question, that validation is skipped. In my plnkr, I'm validating an email on the server (mocked). Only one string should be accepted, but any valid email string will skip the server validation, and not

[2017-05-31 15:05] chris-ti8m opened #420 "Customising result view"
### Ask a question
Is it possible and how to customise the result view, which can be enabled to show at the end of the survey? There are certain questions with free text fields which I do not want to show up in the result view.

[2017-05-31 15:13] tsv2013 commented on #420
SurveyJS object has [onComplete](http://surveyjs.org/examples/jquery/survey-oncomplete.html) event. You cna handle it, get survey results, remove some items from survey data object and then show results in any custom form.

[2017-05-31 15:16] DavidSoederberg opened #421 "Material skin: Checkboxes and radios does not show"
I have used this page, [Bootstrap Material](http://surveyjs.org/examples/jquery/skin-bootstrap-material.html), and copied and pasted the code and added the resources. But when I load my page my radio and checkboxes don't show, like this:

![surveyjsproblem](https://cloud.githubusercontent.com/assets/19929888/26638765/43874ff2-4623-11e7-98fb-e17b6032bc5f.png).

There is no error and I have just cop

[2017-05-31 15:18] chris-ti8m commented on #420
Is there any other solution, so that sensitive data can already be excluded on serverside?

[2017-05-31 15:36] #421 closed

[2017-05-31 18:00] adamfoley opened #422 "select2 widget sample does not work in angular"
EDIT: Just realized that this requires the "select2" jquery plugin -- no mention of this anywhere .. duh.

[2017-05-31 18:08] hyndsite opened #423 "Question on SurveyVerbs usage"
Scouring the code base, I am having a hard time understand the use of the SurveyVerbs and related classes.  Can you shine some light on exactly the purpose of this functionality?

Thanks

[2017-05-31 18:08] #422 closed

[2017-05-31 20:56] andrewtelnov commented on #419
@batmanbury I have fixed the issue.
Here is your example with the dev version: http://plnkr.co/edit/iK4YypXTf2cATEZwDg7h?p=preview

Thank you,
Andrew

[2017-06-01 00:39] batmanbury commented on #419
The commit you referenced does in fact fix my issue, so I made that same change locally. But that full dev version has other changes which don't seem to play well with my current set up. I have identical answer choices across every page of the survey, with unique names for each question. Somehow when goNextPageAutomatic triggers, the new question copies the previous question's selection and it is

[2017-06-01 01:27] nategasm commented on #384
@tsv2013 Everything finally works fine now. Thanks so much! Would be good if you updated the surveyjs.org datepicker example to use the same properties.

[2017-06-01 01:53] nategasm opened #424 "Defining Other value"
~~Wondering if this behavior is intentional. If a question is not visible then shouldn't it always be undefined in the result? However if it is visible at one point and populated and then made not visible after then the value will stay.~~

~~See this example http://surveyjs.org/builder/#ce656743-17de-4fd1-bc1c-6e0f5dde191b
If I pick item 1 and complete question 2, but change my mind and pick item

[2017-06-01 06:36] andrewtelnov commented on #419
@batmanbury Could you please explain the issue in more details? Do you mean the input focus? You may turn off the first input focusing: http://surveyjs.org/docs/api_surveymodel.html#focusFirstQuestionAutomatic

Thank you,
Andrew

[2017-06-01 06:36] tsv2013 commented on #420
Do you mean survey results view on dxsurvey.com ?

[2017-06-01 06:41] andrewtelnov commented on #423
@hyndsite I guess you are talking about Survey Editor.
You may see them under the object property editor. It allows to change the question page and for dropdown, checkbox and radiogroup questions change their types.

Do you want to create your own SurveyVerbItem? I do not make them as a plug-in yet. However, it should not be hard to implement.

Thank you,
Andrew

[2017-06-01 06:43] andrewtelnov commented on #424
@nategasm Are you looking for this property: http://surveyjs.org/docs/api_surveymodel.html#storeOthersAsComment?

Thank you,
Andrew

[2017-06-01 07:26] chris-ti8m commented on #420
Yes, it is about filtering the results view on dxsurvey.com. Any chance to customise the view?

[2017-06-01 07:32] andrewtelnov commented on #420
@chris-ti8m It would make sense to filter by submit date/time. What else do you want to filter?

Thank you,
Andrew

[2017-06-01 07:54] chris-ti8m commented on #420
Hi Andrew, I would also like to filter out questions/answers of the survey which are not relevant or sensitive. For example free text fields where every answer is different.

[2017-06-01 08:06] tsv2013 commented on #384
I've update examples on the surveyjs.org.

[2017-06-01 08:25] tsv2013 commented on #420
You can use "Customize Columns" in the survey results list view:
![image](https://cloud.githubusercontent.com/assets/3013415/26669351/33ca0878-46b6-11e7-90c5-192c13e0b3b5.png)

You can set `Visibility` option to `Private` (never show cloumn in result view) or `Hidden` (hide column for public result link only) to hide sensitive data on survey results page.

[2017-06-01 08:46] chris-ti8m commented on #420
That might do the trick. I will give it a try. Thank you very much for support!

[2017-06-01 08:46] #420 closed

[2017-06-01 13:09] batmanbury commented on #419
@andrewtelnov  `focusFirstQuestionAutomatic` had no effect for me. I made a gif of what's I'm seeing. Each subsequent question has an answer preselected. The preselected answer is always the same "value" as the value selected on the previous question:

![survey](https://cloud.githubusercontent.com/assets/5461429/26681016/90d58478-46a9-11e7-8d91-fe0101c0ac44.gif)

[2017-06-01 13:20] andrewtelnov commented on #419
@batmanbury Are you using image picker as a custom widget?
http://surveyjs.org/examples/jquery/custom-widget-image-picker.html

[2017-06-01 13:24] batmanbury commented on #419
Yes, image picker. @andrewtelnov

[2017-06-01 13:26] hyndsite commented on #423
Thanks.  I don't need that feature.  I wanted to just have a better understanding.

[2017-06-01 13:26] #423 closed

[2017-06-01 14:34] andrewtelnov commented on #419
@batmanbury Does it work fine in v0.12.16 and has an issue in dev?  Could you share your custom widget code? I have tried this one: http://surveyjs.org/examples/jquery/custom-widget-image-picker.html. I can't see an issue in dev version.

Thank you,
Andrew

[2017-06-01 14:48] batmanbury commented on #419
@andrewtelnov Yes, the issue is only in **dev**. I tried each of these:
* `https://surveyjs.azureedge.net/0.12.15/survey.jquery.js`
* `https://surveyjs.azureedge.net/0.12.16/survey.jquery.js`
* `https://surveyjs.azureedge.net/dev/survey.jquery.js`

`0.12.15` and `0.12.16` _do not_ produce the above effect.

[2017-06-01 15:59] andrewtelnov commented on #419
@batmanbury Here is the example: http://plnkr.co/edit/wuTTznoIBTSJLuny3wor?p=preview

[2017-06-01 16:05] batmanbury commented on #419
@andrewtelnov I reproduced the effect with a fork of that plnkr. All I did was add more questions so it would occur:

[http://plnkr.co/edit/Owf84AAUWCvjztJLxhju?p=preview](http://plnkr.co/edit/Owf84AAUWCvjztJLxhju?p=preview)

[2017-06-01 16:09] andrewtelnov commented on #419
@batmanbury Yes, I can see a problem now. Thank you!

[2017-06-02 11:03] xiuzhen1103 opened #425 "addCustomWidget brokens function for visibileif"
visibileif attribute it is not working since I combined customised css

[code]

[2017-06-02 11:23] andrewtelnov commented on #419
@batmanbury
FYI: I have tracked down that the issue in the [preact](https://github.com/developit/preact) that we are using to get jQuery version without react dependencies.
I have not find the workaround yet, but we are working on it.

Thank you,
Andrew

[2017-06-02 12:06] andrewtelnov commented on #419
@batmanbury I have fixed a small issue in react dropdown, updated the dev version and changed the plunker: http://plnkr.co/edit/zZy1JLcAMaO2NekO4r3x?p=preview
I have added one line in the custom widget:
[code]

Thank you,
Andrew

[2017-06-02 12:31] andrewtelnov commented on #425
@xiuzhen1103 I am getting an error: oneviewArrangeForm is not a function.
Could you please create jsFiddle or plunker version?

Thank you,
Andrew

[2017-06-02 13:52] xiuzhen1103 commented on #425
@andrewtelnov you can remove this function, its only used for internal function. It still dosen't work with visibleIf attribute.

  /*  $('#sq_page').arrangeForm({
            maxLabelLetters : 10,
            maxLineChars : 30,
            maxHorizontalAnswers : 6,
            outerClass : '.row-question',
            minWidth : '70px',
            leftMargin : '160px', //160px //beans.. use 222p

[2017-06-02 14:29] nooralahzadeh opened #426 "problem in onPartialSend !"
Hi, Thanks for your effort!
I have implemented a survey app for my project using react+redux+ surveyjs.
In module regarding to survey, I would like to save data partially in each step. I have just matrix type question. I have set following properties and methods:

model.sendResultOnPageNext=true
<Survey.Survey model={mdl} onPartialSend ={this.savePartailToServer.bind(this)} onComplete={this.sendDa

[2017-06-02 19:09] batmanbury opened #427 ""prev" and "next" navigation buttons have click conflict to/from first survey page"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?

When navigating back to the first page of a survey with the "prev" button, a click seems to register with both "prev" and "next" buttons. That, or a similar conflict is occurring (the plnkr and GIF below illustrates it best)

### What is the expected behavior?

Clicking the "pr

[2017-06-02 19:21] andrewtelnov commented on #425
@xiuzhen1103 The following code doesn't work as expected:
[code]
It shows alert with undefined and only on label click. That is incorrect.

Thank you,
Andrew

[2017-06-02 19:31] andrewtelnov commented on #426
@nooralahzadeh Unfortunately, I have not played with redux yet. I want to. Is dispatch performed in the same thread?
I mean your method savePartailToServer should performed immediately, without waiting callback from the server. The code for doNextPage method is straight forward:
[code]
I am sure there is no errors in your console. Correct?

Thank you,
Andrew

[2017-06-02 19:34] andrewtelnov commented on #427
@batmanbury It would be nice to get your survey with your custom widget(s), so we can play with it. Could you send it to me by e-mail?

Thank you,
Andrew

[2017-06-02 19:34] nooralahzadeh commented on #426
Yes, There is no error in console! I have my saved data in the db ( which is in firebase ), But I can't navigate!

[2017-06-02 19:38] andrewtelnov commented on #426
@nooralahzadeh Could you use the non minimized version and debug it? Set the breakpoints into doNextPage method on this.SendResult(... and on vPages =..
survey.postId is empty, correct?
For some reason doNextPage doesn't go to vPages = ...

I do not know why :(

[2017-06-02 19:47] batmanbury commented on #427
@andrewtelnov As of now I'm generating the pages and questions dynamically, so give me some time to create a workable standalone jquery survey and I will send it along.

[2017-06-02 19:48] nooralahzadeh commented on #426
@andrewtelnov is there any way to initiate the doNextPage on minimized version ?
Yes, survay.postId is empty.
I will try the minimized version.

[2017-06-02 22:39] batmanbury commented on #427
@andrewtelnov The problems may be around/within `SurveyNavigation.prototype.render` and `SurveyNavigation.prototype.renderButton`. I've edited it to render a disabled button on the first page, rather than no button at all, and the slide direction is now correct for me.

[code]

[2017-06-03 05:23] andrewtelnov commented on #426
@nooralahzadeh Could you add alert just after your dispatch and see if it calls immediately?

[code]

[2017-06-03 05:25] andrewtelnov commented on #425
I mean the issue that question.value doesn't change properly, it is undefined and not 1, 2 or 3 as expected.

[2017-06-03 05:29] andrewtelnov commented on #427
@batmanbury Probably it is a pReact issue.  Thank you for a tip, we will look at it.

[2017-06-03 08:26] nooralahzadeh commented on #426
Yes I have the alert immediately when I click "Next" as well as the data in my db!
<img width="938" alt="screen shot 2017-06-03 at 10 22 41" src="https://cloud.githubusercontent.com/assets/1093791/26752032/008487c6-4847-11e7-9082-f22dbbf61614.png">

[2017-06-03 17:37] andrewtelnov commented on #426
@nooralahzadeh So, if comment this line `dispatch(actions.startUpdate(id,survey.data));` the doNextPage method is working fine and if remove a comment it stops working, right?
Probably, it does something with survey state?

[2017-06-03 17:41] nooralahzadeh commented on #426
Yes, if I comment the dispatch line , the doNextPage works! However my action doesn't do anything with survey state, It saved only the survey.data into db.

[2017-06-03 17:48] andrewtelnov commented on #426
@nooralahzadeh Maybe redux does something? Could you ask a question on stackoverflow.com? Probably somebody will give you an idea? I would love to know what is the reason of this behavior as well.
I just did a test, without redux, only onPartialSend in react version. Everything works fine.
Maybe the issue in our code and not in redux and we should do something different in our react components. In

[2017-06-03 18:03] nooralahzadeh commented on #426
[https://stackoverflow.com/questions/44346995/react-redux-and-surveyjs](url)

[2017-06-03 18:05] nooralahzadeh commented on #426
@andrewtelnov  [Post in stackoverflow! ](https://stackoverflow.com/questions/44346995/react-redux-and-surveyjs)

[2017-06-05 01:24] bjdani opened #429 "Dates in "Text" question type allowing years with more than 4 digits"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
When the user enters a date into a Text question type that is set to an input type of "date", they can enter more than 4 digits for the year. Depending on the number of extra digits entered the results may or may not even match what was entered.

### What is the expected behavior?
They can o

[2017-06-05 08:50] andrewtelnov commented on #429
@bjdani the year 999999 is still a valid year :-)
Here is the plunker example to deal with it: http://plnkr.co/edit/k9OTTyqN3deCEqDmVWRH?p=preview

Thank you,
Andrew

[2017-06-05 13:26] dmitrykurmanov opened #430 "Custom Navigation Knockout example error in console"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
error in console http://surveyjs.org/examples/knockout/survey-customnavigation.html

### What is the expected behavior?
no errors

### Specify your

* browser: chrome
* surveyjs platform (angular or react or jquery or knockout or vue): knockout
* surveyjs version: 0.12.6

[2017-06-05 14:10] xiuzhen1103 commented on #425
May I ask if you have working version survey js for react?  I can provide it with my code.

[2017-06-05 20:45] xiuzhen1103 commented on #425
Hi, I tried to reproduce it, unfortunately, in JsFiddle console error message appear to be "Uncaught SyntaxError: Unexpected token <"

ReactDOM.render(<Survey.Survey model={survey}  css={myCss}/>, document.getElementById("surveyElement"));

Is there any syntax error associate with this, please? I can run it in visual studio code. Do I need to include babel or any file?

http://jsfiddle.net/v3nLfLp

[2017-06-05 21:40] xiuzhen1103 commented on #425
Hi, please find jsFiddle here:
http://plnkr.co/edit/V3c5ljeQQ9PJA32wPHxH?p=preview
If you comment out line 76 which is for add customised style, you can see hide/show function it's working when you click yes in first question. I believe this might be a bug, would you please have look, please?
![image](https://cloud.githubusercontent.com/assets/6764095/26804435/df009bd0-4a3f-11e7-8602-1abc137c837b.

[2017-06-06 07:23] Kuhax opened #431 ""hasOther" property on select2tagbox dropdowns"
Hello. I'm looking for a way to implement a multiple selection of choices from a list with an option to add custom text.

Taking [Select2 Tag Box](http://surveyjs.org/examples/jquery/custom-widget-select2-tagbox.html) example allows you to choose several countries from a given list but does not allow you to add your own option like "hasOther" option in normal dropdown.

Adding `"hasOther": true` t

[2017-06-06 08:28] tsv2013 commented on #431
[Select2 Tag Box](http://surveyjs.org/examples/jquery/custom-widget-select2-tagbox.html) example replaces original dropdown question markup via the following line:
`htmlTemplate: "<select multiple='multiple' style='width: 100%;'></select>"`
And this markup does not contain `input` for "other" value.

You can change the markup and sample code according your needs. If you need some assistance from o

[2017-06-06 11:02] dmitrykurmanov opened #432 "VueJS "other input" bug"
### Are you requesting a feature, reporting a bug or ask a question?
bug

### What is the current behavior?
we see many "other" fields

### What is the expected behavior?
only one "other" field

### How would you reproduce the current behavior (if this is a bug)?
choose other checkbox

#### Provide the test code and the tested page URL (if applicable)
http://surveyjs.org/examples/vue/service-onepe

[2017-06-06 13:36] andrewtelnov opened #433 "Default locale in survey string can be different from English"
By default if locale property in the survey  metadata is not set, the English locale is used. If you are using only one locale and it is different from English, then it will be better do not set locale in the survey JSON, but tells the survey library to use different locale in the code:
`Survey.surveyLocalization.defaultLocale = "de"; //use German locale by default, instead of English.`
By default

[2017-06-07 08:45] dmitrykurmanov opened #434 ""custom-widget-select2-tagbox" excample error in console VUEJS"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: http://surveyjs.org/examples/vue/custom-widget-select2-tagbox.html

### Specify your

* browser: chrome
* browser version: last
* surveyjs platform (angular or react or jquery or knockout or vue): vue
* surveyjs version: 0.12.6

[2017-06-07 08:52] faso opened #435 "Left-aligning the labels"
### Are you requesting a feature, reporting a bug or ask a question?
Question
### What is the current behavior?
Right now I don't see a way to do something like this in a centralized global fashion:

![form_left_aligned](https://user-images.githubusercontent.com/19239918/26870052-f93e8838-4b6e-11e7-974a-51c58b22ed58.PNG)

Since SurveyJS claims good support of Bootstrap it would be amazing if we co

[2017-06-07 09:01] dmitrykurmanov opened #436 ""custom-widget-datepicker" example error in console VUEJS"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### How would you reproduce the current behavior (if this is a bug)?
changed Date Format property

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: http://surveyjs.org/examples/vue/custom-widget-datepicker.html

### Specify your

* browser: chrome
* browser version: last
* surveyjs platfor

[2017-06-07 09:26] faso commented on #435
Updated the picture a little to remove unnecessary confusing fields

![img_07062017_112446_0](https://user-images.githubusercontent.com/19239918/26871610-19bf7d88-4b74-11e7-8a38-5d240c77f8e9.png)

[2017-06-07 10:38] andrewtelnov commented on #435
@faso The suggestion makes sense. I have added it to our TODO list. Unfortunately, I can't promise we will do it soon. However, we will definitely discuss it every time we are getting new tasks from the Baglog.

Thank you,
Andrew

[2017-06-07 10:48] andrewtelnov commented on #425
@xiuzhen1103
I have modified your plunker by binding label/span element (radio+label) together with value:
http://plnkr.co/edit/YA7JfnlDccYPnbkYxTyO?p=preview

Thank you,
Andrew

[2017-06-07 11:04] faso commented on #435
Is there some sort of a hack right now that I could apply? Or does it take too much bending of SurveyJS?

[2017-06-07 12:13] andrewtelnov commented on #435
@faso you may fork the project and based on your platform, make the necessary changes. It should not take too much time if you need it to do for one platform only.

Thank you,
Andrew

[2017-06-07 12:19] #435 closed

[2017-06-07 12:24] dmitrykurmanov commented on #435
@faso hello I think it is possible to implement it with css. We'll think about adding css classes for all components (like titles) and states (like isRequired).

[2017-06-07 15:24] xiuzhen1103 opened #437 "Using imagepicker as custom widgets in Internet explorer 10"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug

### What is the current behavior?
Custom widget for image picker is not working in Internet explorer 10+
error message on console appears "Unable to set property 'imgSrc' of undefined or null reference"
Image pickers support IE9 and IE10 version, when it integrated with surveyJs, it has this problem.

### What is

[2017-06-07 17:21] LEGrecc opened #438 "Send Ajax request to your web server"
### Are you requesting a feature, reporting a bug or ask a question?
Ask Question

Hello,

I am on the Step 6 of the integration process. ( http://surveyjs.org/docs/integration.html)
I am trying to send my result to my localhost server. Could you please let me know the code to do that ?
Is it the following code ? I am a beginner.

function sendDataToServer(survey) {
  var resultAsString = JSON.str

[2017-06-08 04:35] bjdani opened #439 "Matrix Dynamic question adding 10 rows when question row count set to 1"
### Are you requesting a feature, reporting a bug or ask a question?
Bug
First appears in v0.12.15.
Works fine in v0.12.14.

### What is the current behavior?
When using a Matrix Dynamic question type, if the Row Count setting for the question is set to 1, when running the survey, as soon as the user presses the Add button for the question, 10 new rows are added instead of just one row.

### What

[2017-06-08 04:37] bjdani commented on #429
Sorry, I didn't realise.
Thanks for the info and link. I'll implement the plunker example.

[2017-06-08 04:37] #429 closed

[2017-06-08 07:38] Kuhax commented on #439
This issue was mentioned in #417

Temporary solution is to change your code from rowCount: "1" to rowCount: 1 (number instead of string)

[2017-06-08 07:50] andrewtelnov commented on #439
@bjdani @Kuhax yea, it is time to fix the issue. I will work on it.

[2017-06-08 07:59] Kuhax commented on #431
@tsv2013 I'm looking forward to implement the tagging functionality of select2 widget. Notice that the widget itself allows you to select from pre-existing options or create a new entry as shown in their [example page](https://select2.github.io/examples.html#tags)

Looks like this feature can be turned on by adding `tags: true` to the widget, but I wasn't able to make it work so far in my matrixdy

[2017-06-08 08:15] andrewtelnov commented on #439
Fixed.

Thank you,
Andrew

[2017-06-08 08:23] andrewtelnov commented on #438
@LEGrecc [survey.sendResult](http://surveyjs.org/docs/api_surveymodel.html#sendResult) is the method to store the data in the dxsurvey.com service.
You should write some code to store it in your database. That really depends on platform you are using on the server side. We probably should make some examples for most popular platforms/databases, here is some links:
https://stackoverflow.com/search?

[2017-06-08 08:34] tsv2013 commented on #431
@Kuhax Thank you for the clarification! I'll take a look.

[2017-06-08 10:03] Kuhax commented on #431
@tsv2013 I think I have a temporary fix (at least). Please check out this [plunk](http://plnkr.co/edit/stwtMd) (made by you originally)

I have modified `question.choicesChangedCallback` by adding `tags: true` (line 62). Please notice that now you can either select several options from the list as well as add your own text just typing it and pressing enter.

Not sure if it's the solution, but at l

[2017-06-08 10:44] Kuhax commented on #384
@tsv2013  I have a small issue with a rendering condition of select2tagbox. In your [plunk](http://plnkr.co/edit/KDQZBx3zvJTtprzpQvd4?p=preview) the condition is `isFit : function(question) { return question.name === 'subject'; },`

I would prefer it to be like `isFit : function(question) { return question["renderAs"] === 'select2tagbox'; },` which does not work right now as it is with matrixdynam

[2017-06-08 11:07] tsv2013 commented on #431
@Kuhax It looks like select2 resets the "tags" option after "data" option has been changed. I've not found any objections to set `tags: true` on each "data" option update. If it works for you now - why wouldn't use this workaround?

[2017-06-08 13:23] tsv2013 commented on #384
@Kuhax This had been discussed in this comment above https://github.com/surveyjs/surveyjs/issues/384#issuecomment-303948715

"renderAs" custom property is not set for cell questions. You can do it on the onMatrixCellCreated event handler to pass property value from column options to the created cell:

[code]

The column property should be declared as

[code]

And for the certain cloumn you can set

[2017-06-08 13:33] dmitrykurmanov commented on #437
@xiuzhen1103 we'll fix it, thanks.

[2017-06-08 14:59] xiuzhen1103 commented on #437
@dmitrykurmanov Thanks for replying me and providing solution on it, may I find out when is next release, please?

[2017-06-08 15:04] dmitrykurmanov commented on #437
@xiuzhen1103 it should be tomorrow

[2017-06-08 15:46] xiuzhen1103 commented on #437
@dmitrykurmanov thanks so much for your help.

[2017-06-08 16:01] Kuhax commented on #384
@tsv2013 I understand that "renderAs" cannot be used in matrixdynamic but I would like to mark a dropdown with a flag in order to set it to select2tagbox or dropdown.

This condition -> `isFit : function(question) { question.name === 'some_name_1';},` is way more restricitive then `isFit : function(question) { return question["renderAs"] === 'select2tagbox'; },`  Since I may need to copy paste the

[2017-06-08 16:36] xiuzhen1103 opened #440 "Custom CSS class issue"
### Are you requesting a feature, reporting a bug or ask a question?

Requesting a feature

### What is the current behavior?
When I use survey custom CSS function in radiogroup, "other" attribute is not class added in to HTML
There is an parent div element, can it add a class to it, I marked in the screenshot that I attached.
Is there any chance that I can add extra div with class wrap item eleme

[2017-06-08 17:04] xiuzhen1103 opened #441 "Customised read-only/display mode"
### Are you requesting a feature, reporting a bug or ask a question?
Are you requesting a feature/ ask a question

### What is the current behavior?
read-only/display mode provides same layout as a survey question form

### What is the expected behavior?
I am wondering if I could customise this read-only/display mode, so only display question with answer both inside a div/html, rather than answer

[2017-06-08 17:24] john1625b opened #442 "Feature request: currently when the user is done a section, only a json of the answers are outputted, can the questions also be paired with the answers?"
Right now when the user is done a setion, only a json of the answer is outputted with no question title paired with them. When making a front-end for the summary, it would be easier to have the questions title in the same object as the answer title.

for example
instead of the current
[code]
do something like:
[code]

[2017-06-09 07:58] dmitrykurmanov commented on #440
@xiuzhen1103 hello! We are going to provide special classes for all needs. We will try to implement it next week.

[2017-06-09 08:33] #430 closed

[2017-06-09 08:56] #432 closed

[2017-06-09 08:57] dmitrykurmanov commented on #432
not reproduced in new build

[2017-06-09 09:15] #434 closed

[2017-06-09 09:16] xiuzhen1103 commented on #440
@dmitrykurmanov thanks for let me know, may I find out if would be available next week?

[2017-06-09 09:21] #436 closed

[2017-06-09 09:23] #425 closed

[2017-06-09 09:23] dmitrykurmanov commented on #440
@xiuzhen1103 yes of course, we'll notify you in this issue.

[2017-06-09 09:24] dmitrykurmanov commented on #440
@xiuzhen1103 and feel free to describe what else classes you need

[2017-06-09 09:40] dmitrykurmanov commented on #427
@batmanbury hello, what about example for reproduce it? Could you please provide plnkr example for us?

[2017-06-09 09:56] dmitrykurmanov commented on #442
@john1625b hello maybe it should be something like :
[code]
or I don't understand it

[2017-06-09 10:07] andrewtelnov commented on #441
@xiuzhen1103 I was thinking about this feature. However, what happens, if a user doesn't response on a question? Let's say you have 10 questions on the page, only 2 has been answered. Should you show only these two questions? What question index should be 1 and 2 or preserved their indexes, for example: 3 and 9. In both cases it would look strange, IMHO.

Thank you,
Andrew

[2017-06-09 10:10] andrewtelnov commented on #442
@john1625b You may a write a simple code onComplete event to change the question value into question title.
However, the easiest solution - remove question title and name question as you need.
For example: here is your question json:
`{ type: "text", name: "question2", title: "Please enter your name" }`
change it to:
`{ type: "text", name: "Please enter your name" }`
question title will be rendere

[2017-06-09 10:51] xiuzhen1103 commented on #441
Hi Andrew,
The purpose of disabled/read-only is for rendering saved information from database and display it to the page.  From UI perspective, survey form should different from history(or for printing purpose) in order to reviewing and maintaining.

If 10 questions, it do not matter if only two has answered, user's has knowledge to mark question as required force to answer it. If you worry about

[2017-06-09 11:23] xiuzhen1103 commented on #440
That would be great, thanks a lot. I have added my desired result with text in red.
![image](https://user-images.githubusercontent.com/6764095/26973424-7318f29c-4d0e-11e7-8912-cb1e67dbcff1.png)

[2017-06-09 13:13] batmanbury commented on #427
@dmitrykurmanov @andrewtelnov Sorry! I thought I had included it in the original description.

[http://plnkr.co/edit/70RZCgNGsQQEiBjgEHPZ?p=preview](http://plnkr.co/edit/70RZCgNGsQQEiBjgEHPZ?p=preview)

If you go to the last question (question 4), don't complete the survey. Instead click Previous while looking at the developer console. You will see some console.log() statements.

If you click Prev

[2017-06-09 13:29] dmitrykurmanov commented on #427
@batmanbury thank for the example, we'll check it.

[2017-06-09 20:32] grinfax opened #443 "Hide certain pages from progress bar"
Currently the progress bar shows every page in the survey. I am structuring my survey as follows:

Question -> feedback -> Question -> feedback -> Question -> feedback

I hide/show Question HTML for the feedback and the flow works. However, the progressbar counts every page and I was wondering if there was a way to get it to only count the Question pages?

[2017-06-11 06:21] andrewtelnov commented on #441
@xiuzhen1103 You may simple go throw the JSON data and display it as one page.
Probably we will make as a feature. However, it is pretty easy to do on your side. One loop throw all data, label and data, without indexes. It does not make a lot of sense to divide it by pages, because you may have empty pages - all questions are unanswered.

Thank you,
Andrew

[2017-06-11 06:25] andrewtelnov commented on #443
@grinfax I guess we may add this feature as an option, but it may mislead an end-user. Let's say, I have two pages without questions in the middle. End-user press 'Next' and the number of pages doesn't change. I personally, would consider this as a bug. The knowledge that pages without questions do not count, it is something I may not understand. I still read the text, I have to spend my time, why

[2017-06-11 20:04] Kuhax commented on #384
@tsv2013 I have tried your suggestions on this [plunk](http://plnkr.co/edit/l0G6g5?p=preview) but it just won't work. Do you mind check this out, please ?

Thanks in advance.

[2017-06-11 20:31] tsv2013 commented on #384
@Kuhax Sure. It's very strange - in this case  onMatrixCellCreated event fires too late - after cell controls has been created. I need to check our sources.

[2017-06-12 09:54] xiuzhen1103 commented on #437
Hi Dimitry, how to update the version?

[2017-06-12 13:59] GuiAfonso commented on #177
@andrewtelnov I have an array of number result of a checkbox, can I check if one number is in array using a visibleif condition?
`{"variable":["1","2","3"]}`
`{variable}.contains('1')`
Something like that

[2017-06-12 14:19] GuiAfonso opened #444 "Set the range of value in Single Input of type range"
### Are you requesting a feature, reporting a bug or ask a question?
I am asking a question

### What is the current behavior?
Editing the question I can't find a place to set the range of values to a range type input. And I can't find an example too.

### What is the expected behavior?
I want to know where I put the range of number in my input with type range.

### How would you reproduce the cur

[2017-06-12 17:51] andrewtelnov commented on #177
@GuiAfonso sure you may use contains:
`{variable} contains '1'`

Thank you,
Andrew

[2017-06-12 18:04] GuiAfonso commented on #177
@andrewtelnov thanks bro, works perfectly.

Have a documentation with all conditions? To don't ask this silly question again.

[2017-06-12 18:04] andrewtelnov commented on #177
Will do :-)

[2017-06-12 18:10] GuiAfonso commented on #444
@andrewtelnov can you help me in this silly question too? Thanks

[2017-06-12 19:04] andrewtelnov commented on #444
@GuiAfonso Sure, use the rateValues property:
http://surveyjs.org/builder/#48323384-676a-46b6-b4be-8c10c8b5c0fb

[2017-06-12 19:40] andrewtelnov commented on #177
@GuiAfonso Here it is: http://surveyjs.org/docs/QuestionBase/visibleIf.html

[2017-06-12 19:43] GuiAfonso commented on #444
Thanks again @andrewtelnov, I'am already using rateValues in other question. Single input of type range don't have a rateValues tab.

[http://surveyjs.org/builder/#48323384-676a-46b6-b4be-8c10c8b5c0fb](url)
I add a question in the above link. Can you see please?

[2017-06-12 19:46] GuiAfonso commented on #177
Awesome

[2017-06-12 20:55] rogereriksen opened #445 "Widget flexibility"
### Are you requesting a feature, reporting a bug or ask a question?

Question:

I´m considering surveyjs & editor for a project.
I would need to create some custom widgets for my project.  First I would need to be able to have a widget that will populate user information without user intervention - like department name.  This is to be used with IF condition.  In our solution we of course have the

[2017-06-13 06:25] andrewtelnov commented on #444
@GuiAfonso Sorry, I do not get you. Are you talking about dropdown question?
http://surveyjs.org/examples/jquery/questiontype-dropdown/

[2017-06-13 06:29] andrewtelnov commented on #445
@rogereriksen About your first question. You may set the question value, like in this [demo](http://surveyjs.org/examples/jquery/survey-data/).
About the second question. You may find a widget that you need and we may help you to integrate it into the survey. The custom widget may based on [File Question](http://surveyjs.org/examples/jquery/questiontype-file/)

Thank you,
Andrew

[2017-06-13 08:18] rogereriksen commented on #445
Thanks Andrew for fast response.  Demo explains how to set value, but can you make a single question read only?

Roger

[2017-06-13 08:26] Kuhax opened #446 "Custom locale corrupts matrixdynamic contents."
I have noticed that setting custom locale deletes all the contents from certain matrixdynamic. Please take a look at this [plunk](http://plnkr.co/edit/Qky2UU?p=preview).

Notice that it restores previous answers from `var data`.

On lines 216 and 217 there is a locale customization:
`//model.locale = "es";`
`//model.render();`

If you uncomment those and re-run the survey, you'll see the contents

[2017-06-13 08:35] Kuhax commented on #400
@andrewtelnov there is a strange behaviour of _onMatrixCellCreated_  event as described at the end of #384 thread.

Also there is a detailed description of the issue as well as the plunk which demonstrates the isuue.

[2017-06-13 08:45] dmitrykurmanov commented on #437
@xiuzhen1103 Hello! You can get last version from npm or from our cdn `https://surveyjs.azureedge.net/0.12.17/survey.jquery.js`

[2017-06-13 09:13] andrewtelnov commented on #445
@rogereriksen a question has readOnly serializable property. You have to set it to true.

Thank you,
Andrew

[2017-06-13 09:17] andrewtelnov commented on #400
@Kuhax yes, we will take a look at it.

Thank you,
Andrew

[2017-06-13 09:22] andrewtelnov opened #447 "Add ability to define css classes for particular questions"
At the current moment, there is no an easy way to set css classes to a particular question or group of questions, for example use an additional class in the tittle for required questions.

[2017-06-13 09:24] dmitrykurmanov commented on #427
@batmanbury Hello it is because of preact. Same problem as here: https://github.com/surveyjs/surveyjs/issues/405. What is your use case? You can use `onCurrentPageChanged` event. Here an updated plunk:
http://plnkr.co/edit/Qs0KAJkW9gfBhDAaXtrb?p=preview

Could you check it please?

[2017-06-13 13:42] andrewtelnov commented on #446
@Kuhax As a workaround, please set rowCount from 0 to 2 and it will start to work:
http://plnkr.co/edit/PXgfBDT4mzHvhapDxlbs?p=preview

I found a unit test ("Matrixdynamic adjust rowCount on setting the value") that adjust increase the rowCount on setting value when necessary, for some reason it doesn't work with different locale. I will try to find the reason.

Thank you,
Andrew

[2017-06-13 14:02] batmanbury commented on #427
That plunk looks great, much better than my workaround solution. I will implement that and see how it works in my project. @dmitrykurmanov

[2017-06-13 14:21] tsv2013 commented on #384
@Kuhax we've discussed this with @andrewtelnov and decided to pass properties from column description to the cell quesion. I'll implement it ASAP.

[2017-06-13 14:25] Kuhax commented on #384
@tsv2013 thank you very much. I'm really looking forward to this.

[2017-06-13 14:46] andrewtelnov commented on #446
@Kuhax  I have found the reason why it doesn't work and fix it.

Thank you,
Andrew

[2017-06-13 15:15] tsv2013 commented on #384
@Kuhax I've added necessary code in our core library and updated dev version on our cdn - you can check the plunk: http://plnkr.co/edit/HZgXdp?p=preview
Fix will be available in the nearest update.

[2017-06-13 19:11] batmanbury commented on #427
For anyone interested as it turns out, `survey.onAfterRenderQuestion` was what I ended up using for getting the animation to work properly.

When changing styles based on page changes, this is much more reliable than `survey.onCurrentPageChanged`.

[2017-06-13 19:11] #427 closed

[2017-06-14 08:15] andrewtelnov commented on #447
survey.onUpdateQuestionCssClasses event is added.
options.question and options.cssClasses.
It will give the ability to set the css classes for a question based on it's value or attributes in the code.

[2017-06-15 00:47] bjdani opened #449 "In-field templating & pickers missing for question input types in IE/Chrome"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Questions of type "single input" and input type of any of the following don't display the in field templating or pickers when run in IE11:
- color
- date
- datetime
- datetime-local
- month
- time
- week

Also, the "datetime" input type doesn't show the in-field templating in Chrome either.

[2017-06-15 00:48] bjdani commented on #439
Thanks Andrew!

[2017-06-15 00:48] #439 closed

[2017-06-15 07:02] andrewtelnov commented on #449
@bjdani we are setting input type html attribute. Unfortunately, it doesn't support completely by all browsers: https://www.wufoo.com/html5/
If you need a specific type, so it would work for all browsers, you may use a custom widget feature.

It will require a lot of work to support all input types in all browsers you have mentioned. We would have to create our own widgets for every of them.
By th

[2017-06-15 08:59] care46 opened #450 "Problem with "visibleIf" on panel element (JQUERY version)"
Hi, i have a problem with "visibleIf" properties on panel elements..

In Knockout version works well, but in jquery version maybe there is a bug...

Knockout exemple (work)

http://plnkr.co/edit/XYQ4FUa1oCbJ0YkJcTZz

JQuery example (bug)

http://plnkr.co/edit/zmJOcaqLMWeoKXLIAOvh

I have 2 panel, on the second panel i set property VisibleIf = {question1} = 'c'...
In jquery version, the second pane

[2017-06-15 18:53] muhfred commented on #395
Is the issue has been fixed in version 0.12.17? I'm just checking to make sure.

[2017-06-15 19:14] zerovirus23 opened #451 "Is there a way to create calculated Questions?"
I'm trying to create a survey where there are some questions that are just the result of previous questions e.g.:
Question 1: How tall are you (cm)?
Question 2: What is your weight (kg)?
#### then I want to have a
Question 3 (calculated value from expression) = {Question 1} * {Question 2} - {Question1}
Question 3 could or couldn't be displayed (using the visible property) but I need the value of Q

[2017-06-15 19:22] nathanvoller commented on #284
I've been facing these issues recently too, and agree the text can't be seen in full if the survey has not progressed far enough.

Had a quick play with the css to get around this, as shown, but its not perfect.

JavaScript
`Survey.defaultBootstrapCss.progressBar = "bar-custom";`

CSS
`.bar-custom span {
  white-space: nowrap;
}`

[2017-06-15 20:15] andrewtelnov commented on #395
@muhfred Sure, the fixes are in the latest released version.

Thank you,
Andrew

[2017-06-15 21:00] andrewtelnov commented on #451
@zerovirus23 Here is the demo: http://plnkr.co/edit/ElQzlHdpa2LVE833DD54?p=preview

Thank you,
Andrew

[2017-06-16 09:50] andrewtelnov commented on #284
@cnx90 @rivettp @nathanvoller Hi all, I have fixed the issue in the following way:
Bootstrap .progress-bar style sets width to 0. Before bind the progress div to width in %.
Now, I am setting width to auto and set the min-width in %. As result the progress background display in % from done or by text content.
I guess it solves the issue.

Thank you,
Andrew

[2017-06-16 11:37] andrewtelnov commented on #273
@svemula09 We are supporting material design now: http://surveyjs.org/examples/jquery/skin-bootstrap-material/

Thank you,
Andrew

[2017-06-16 11:37] #273 closed

[2017-06-16 11:38] #118 closed

[2017-06-16 11:39] #236 closed

[2017-06-16 11:40] #254 closed

[2017-06-16 11:41] #257 closed

[2017-06-16 11:42] #258 closed

[2017-06-16 11:46] andrewtelnov commented on #288
There is no followup for over 3 months. I am closing the issue.

[2017-06-16 11:46] #288 closed

[2017-06-16 11:47] andrewtelnov commented on #313
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:47] #313 closed

[2017-06-16 11:48] andrewtelnov commented on #314
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:48] #314 closed

[2017-06-16 11:48] andrewtelnov commented on #319
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:48] #319 closed

[2017-06-16 11:48] #324 closed

[2017-06-16 11:49] #327 closed

[2017-06-16 11:49] andrewtelnov commented on #336
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:49] #336 closed

[2017-06-16 11:50] andrewtelnov commented on #341
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:50] #341 closed

[2017-06-16 11:51] andrewtelnov commented on #358
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:51] #358 closed

[2017-06-16 11:53] andrewtelnov commented on #300
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:53] #300 closed

[2017-06-16 11:54] andrewtelnov commented on #308
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:54] #308 closed

[2017-06-16 11:59] #360 closed

[2017-06-16 11:59] andrewtelnov commented on #366
There is no followup for a long time. I am closing the issue.

[2017-06-16 11:59] #366 closed

[2017-06-16 12:00] #370 closed

[2017-06-16 12:00] #375 closed

[2017-06-16 12:11] andrewtelnov commented on #378
There is no followup for a long time. I am closing the issue.

[2017-06-16 12:11] #378 closed

[2017-06-16 12:11] andrewtelnov commented on #380
There is no followup for a long time. I am closing the issue.

[2017-06-16 12:11] #380 closed

[2017-06-16 12:12] #383 closed

[2017-06-16 12:12] #385 closed

[2017-06-16 12:13] #398 closed

[2017-06-16 12:14] #399 closed

[2017-06-16 12:16] #433 closed

[2017-06-16 12:17] #419 closed

[2017-06-16 12:18] #417 closed

[2017-06-16 12:18] #416 closed

[2017-06-16 14:01] GuiAfonso commented on #444
@andrewtelnov If I add a simple input, and change that input to range type (it will change the input to a slider) how i add the range of that slider(the interval of values). In this case, I don't have a rateValues tab.

[2017-06-16 18:26] andrewtelnov commented on #444
@GuiAfonso Yes, I got you finally. Sorry about that.
We will add into text 3 properties: rangeMin, rangeMax and rangeStep.
Here is their description: https://www.w3schools.com/jsref/dom_obj_range.asp

Thank you,
Andrew

[2017-06-16 18:37] #408 closed

[2017-06-16 19:04] GuiAfonso opened #452 "Go to next question when press Enter Key"
### Are you requesting a feature, reporting a bug or ask a question?
Asking a question or requesting a feature if is not available.

### What is the current behavior?
In the survey I press a Enter Key and don't change to next question

### What is the expected behavior?
When press the Enter Key go to the next question. If is the last question go to next page. If is the last page submit the survey.

[2017-06-17 10:18] felixcuneo opened #453 "Custom question and matrix"
Hi there,
I am using surveyJS (jquery) for psychological testing, in particular matrix question (with strongly disagree- strongly agree).

And I find myself with some troubles :

1) As a psychometrician I can tell that having different "column width" in a matrix question is an important bias for participant. They would probably be biased with the distance and put a psychological interpretation on

[2017-06-17 14:33] Kuhax commented on #384
@tsv2013 thanks. I have checked it out and it works as expected now. However I've found another issue with rendering previously saved results. Please take a look at this [plunk](http://plnkr.co/edit/ZjiHcj?p=preview) Notice that on line 100 I am trying to load a previously saved survey. In the first question there are 3 answers ("English: British and World Literature","Math: Practical Math","someO

[2017-06-17 17:23] Kuhax commented on #384
@tsv2013 after some tinkering I think the issue lays in line 69

`$el.select2({tags: "true", data: question.visibleChoices.map(function(choice) { return { id: choice.value, text: choice.text }; })});`

Looks like `question.visibleChoices.map` leaves out custom values and takes only ones that exist in the list.

Is there any other other way to assign all the values to `data` ?

Thanks

[2017-06-17 20:49] andrewtelnov commented on #453
@felixcuneo You may use the [custom css](http://surveyjs.org/examples/jquery/survey-customcss/) feature. Take a look at the plunker example, I have created: https://plnkr.co/edit/bHuE7VJALQpbygPQyA1Z?p=preview

I have added a matrixtable class:
[code]
and apply it:
[code]

Let me know if it works for you or not?

Thank you,
Andrew

[2017-06-18 13:12] Kuhax opened #454 "Limiting nº of selections in select2 widget"
Hello.

I would like to change dynamically the maximum number of selections of select2tagbox widget. This behaviour is explained in select2 [documentation](https://select2.github.io/examples.html#multiple-max)

In order to be able to change this value dynamically in a survey I am using `onMatrixCellValueChanged` event.

Please take a look at this [plunk](https://plnkr.co/edit/L2q4a52Lzk6Illw3vAu6?

[2017-06-19 06:59] tsv2013 commented on #384
Hi @Kuhax I've slightly modified the [plunk](http://plnkr.co/edit/HZgXdp?p=preview), now it takes other values in account in the choicesChangedCallback. Can you check it?

[2017-06-19 07:49] Kuhax commented on #384
@tsv2013 I have just modified select2 widget in my survey following your suggestions and it worked straight away. Custom values (or tags) are now saved and rendered correctly.

Thanks for your help.

[2017-06-19 07:49] tsv2013 commented on #454
@Kuhax I've modified your [plunk](https://plnkr.co/edit/3GqBKQioLchtmVjxHMFq?p=preview). Can you check whether it fit your needs?

[2017-06-19 07:51] tsv2013 commented on #384
@Kuhax Glad to hear!

[2017-06-19 09:10] felixcuneo commented on #453
Hi @Andrew, it works fine thank you very much.
For web noobs like me, you can add style="font-size:180%" in your div section to increase question text size.
Thanks !

[2017-06-19 09:10] #453 closed

[2017-06-19 16:33] dmitrykurmanov commented on #450
@care46 thanks for your interest, the bug is fixed and will be in next release.

[2017-06-20 00:51] bjdani commented on #418
Hi Andrew,
I'm also in need of implementing this. Any chance you could provide a comment with a sample showing how to implement?
Thanks,
Bruce

[2017-06-20 07:50] andrewtelnov commented on #418
@bjdani Sure, here is the demo: https://plnkr.co/edit/0sZFOKzlAlWUujDpgQuN?p=preview

[2017-06-20 10:46] Kuhax commented on #454
@tsv2013 I have tried your plunk but I can't make it work. To explain you the context I have modified the [plunk](https://plnkr.co/edit/1bcO3k?p=preview) by adding `onMatrixCellCreated` and `onMatrixCellValueChanged` events.

Please notice that `onMatrixCellCreated` won't work in the plunk for some reason. Actually it works well in my survey.

What really concernes me is that `question.maximumSele

[2017-06-20 11:47] Kuhax commented on #384
@tsv2013 I have found one issue with rendering of saved results. Take a look an this [plunk](http://plnkr.co/edit/IjDZAz?p=preview)  I have added "value" and "text" to the options. When a survey is rendered with saved values, both values and text appear in the select2 widget.

[2017-06-20 12:42] romanticrobot opened #455 "Support for more than 4 column radiogroups"
Surveyjs only supports up to 4 columns for radiogroups, adding a width="25%" to the columns, any more than 4 columns and the output just becomes one long column

Is it possible to force more columns and a specific width in some way? I have 7 columns I'd like to span my answers across. is there anyway to override this behaviour elegantly?

### What is the expected behavior?

An unlimited number of

[2017-06-20 13:04] #455 closed

[2017-06-20 15:01] tsv2013 commented on #384
@Kuhax I've fixed it in this [plunk](http://plnkr.co/edit/Bk1Lc3?p=preview). You can check it.
Ive patched `choicesChangedCallback ` function:

[code]

Now choices is filtered not be text only, but by id also.

[2017-06-20 15:39] tsv2013 commented on #454
@Kuhax Your original [plunk](https://plnkr.co/edit/L2q4a52Lzk6Illw3vAu6?p=preview) did not contain matrixdynamic widget, and the `onMatrixCellValueChanged` event wasn't called at all.
I've modified your new [plunk](https://plnkr.co/edit/62cKrN?p=preview), adding `question.choicesChangedCallback()` in order to force update select2 options. Does it fit your needs?

[2017-06-20 16:02] avium commented on #353
Ideally there would also be a way to inform the user that data is being submitted so they don't close the page too soon.

[2017-06-20 16:21] lalitkhanna opened #457 "How can set some formula/calculation ?"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2017-06-20 18:08] andrewtelnov commented on #353
@avium Yes, we have it in our TODO list. I will likely work on it on this or next week.

Thank you,
Andrew

[2017-06-20 18:09] andrewtelnov commented on #457
@lalitkhanna Could you please describe your task? It is unclear now, what you are trying to achieve.

Thank you,
Andrew

[2017-06-20 23:07] knightsouldier opened #458 "Add "startWithNewLine" option to each element in Matrix (dynamic rows)"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
Continuous horizontal display of elements in Matrix (dynamic rows)

### What is the expected behavior?
Each element should have the "startWithNewLine" option to prevent excessively wide sections.

[2017-06-21 01:03] AxelRamiro opened #459 "Do choicesByUrl title name supports multiple language?"
### Are you requesting a feature, reporting a bug or ask a question?

Question: Do choicesByUrl title name supports multiple language?

### What is the current behavior?

I set choicesByUrl like this:
`
choicesByUrl: {
      url: "MY_URL",
      valueName: "id",
      titleName: "name"
     }
`

With results of my API like:

`
[
 {
  name: {
    en: "English",
    es: "Spanish"
  },
  id: 1
}
 ]
`

[2017-06-21 02:16] nadialo opened #460 "Subsection of the radiogroup/checkbox options"
### Are you requesting a feature, reporting a bug or ask a question?
ask a question or feature request

### What is the current behavior?
All options cannot be divided into groups, they can only be listed in a list. No sub-title (text) can be inserted between answers.

### What is the expected behavior?
https://jsfiddle.net/0jvndxmc/
I would like to have the above"sub-title" in between the options

[2017-06-21 05:20] lalitkhanna commented on #457
@andrewtelnov , Lets say you've ans based on that you want to do some calculation .i.e.
Question1 : Did you go London ?
Ans : Yes or No ( If yes then your score 5 if No then 0)
Next Question2 : Did you English ?
Ans : Yes or No (If Yes then score 5 if No then 0)

Based on inputs, we will calculate the score after finish the survey.i.e. Your total score is ...
Hope this will help you.

Thanks
Lalit

[2017-06-21 06:35] tsv2013 commented on #457
You can process survey results on `onComplete` event:

[code]

[2017-06-21 06:42] Kuhax commented on #458
I would like to see this feature implemented as well.

[2017-06-21 06:47] lalitkhanna commented on #457
Thanks, What about if I want to calculate on run time means whenever user is choosing option, he/she is getting his/her result.

Thanks
Lalit

[2017-06-21 06:52] tsv2013 commented on #457
You can use `onValueChanged` event. The event is fired when the question value is changed. It can be done via UI by a user or programmatically on calling setValue method.

[2017-06-21 06:53] Kuhax commented on #457
@lalitkhanna if I'm not wrong you may use `onValueChanged` event just like so:

[code]

[2017-06-21 06:55] tsv2013 commented on #457
Good shot, @Kuhax !

[2017-06-21 06:57] lalitkhanna commented on #457
Great!! Coming on Survey Editor.. Can we create a control in Editor which can be simply use for this purpose ?

Thanks
Lalit

[2017-06-21 07:01] AxelRamiro opened #461 "Question title doesn't show variables"
### Are you requesting a feature, reporting a bug or ask a question?

I think it is a bug

### What is the current behavior?

When a variable is set from code, ie.

`
survey.setVariable('foo', 'bar')
`

and is referenced in a question title

`
{
  title: "Lorem ipsum {foo}", ...
}
`

the title doesn't show the "bar" value.

If a value is set instead:

`
survey.setValue('foo', 'bar')
`

The title w

[2017-06-21 07:03] lalitkhanna commented on #457
Or Create a property in existing control, which can calculate this ?

Thanks
Lalit

[2017-06-21 07:05] andrewtelnov commented on #457
@lalitkhanna What do you mean by creating a control? You may add a new property and it will be in the editor and you will be able to use it in run-time:
[code]
Here is the full docs about adding a property: http://editor.surveyjs.io/examples/addproperties.html#code

Thank you,
Andrew

[2017-06-21 07:06] tsv2013 commented on #457
I beleive we can show score in any place of the survey. But this will require some coding. We'll help you to implement it.

[2017-06-21 07:08] andrewtelnov commented on #459
@AxelRamiro Unfortunately not. It makes perfect sense to add this functionality.
At the current moment you will have to modify the name property in run-time:
`myquestion.choicesByUrl.titleName = "name.en";`

However, I am not sure "name.en" will work. I have to check.

Thank you,
Andrew

[2017-06-21 07:12] andrewtelnov commented on #460
@nadialo Do you mean something similar to description in google Form? They have question title and question description. Description is under question title in smaller font.
If yes, this is exactly I think about several days ago.

Thank you,
Andrew

[2017-06-21 07:15] andrewtelnov commented on #458
@knightsouldier @Kuhax Guys, I am sorry, but I did not get you :( Could describe what you are trying to achieve?
Do you want to divide the matrix? What is the problem you are trying to solve, so we can work on the solution.

Thank you,
Andrew

[2017-06-21 07:23] AxelRamiro commented on #459
@andrewtelnov Thank you for answering. I'll try with your suggestion.

[2017-06-21 07:28] lalitkhanna commented on #457
Thanks @andrewtelnov , @tsv2013,@Kuhax
This is great help for me.

I got an idea to implement my solution & will come back if I'll have any challenges.

Thanks
Lalit

[2017-06-21 07:37] tsv2013 commented on #457
Good luck, Lalit! Please feel free to contact us in case of any further questions!

[2017-06-21 07:48] nadialo commented on #460
@andrewtelnov Similar but more than that. I want to implement titles for different group of options under one question. Just like my example in https://jsfiddle.net/0jvndxmc/.
Do you know how to implement? If yes, could you please share with me?

Thanks a lot!

Nadia

[2017-06-21 07:51] dmitrykurmanov commented on #460
@nadialo hello, as a workaround you may try something like that: https://plnkr.co/edit/yXMgVIN0iEyoURghhJOG?p=preview

3 radiogroups with the same name

[2017-06-21 08:02] Kuhax commented on #458
@andrewtelnov I'm using matrixdynamic a lot, that's why I have raised many questions about it. @knightsouldier is right; in matrixdynamic rows tend to be very wide if you introduce too many columns. The feature we are interested in is to be able to mark certain columns with `startWithNewLine` (or similar). This way when you add new row it will allow to show you the contents both height-wise and wi

[2017-06-21 08:06] andrewtelnov commented on #458
@Kuhax Yes, I got it. So basically, you want to have several html tables row by one matrix row.
In this case you would have to repeat the header every time or the end-user will not understand what is going on or it should be something more complex, IMHO.

Thank you,
Andrew

[2017-06-21 09:07] lalitkhanna commented on #457
Thank!!

[2017-06-21 09:18] Kuhax commented on #458
@andrewtelnov  currently I have several multimatrix with 10-15 columns. So I'm looking for a way to make it look good. One way is to implement a huge horizontal scroll (which is not ideal). Another way may be `startWithNewLine` for columns.

It's true that `startWithNewLine` for columns is less intuitive for end user and one way to solve it is to repeat a column name for each row. In my opinion a

[2017-06-21 10:08] andrewtelnov commented on #461
@AxelRamiro Yes, I have found other issues as well.
I have added a unit test and fix the issue. It should be fine from the next minor.

Thank you,
Andrew

[2017-06-21 10:20] andrewtelnov commented on #459
@AxelRamiro the current version doesn't support the complex property for valueName and titleName. I have added this functionality. It will be available in the next minor release.

Thank you,
Andrew

[2017-06-21 12:24] lalitkhanna commented on #457
I didn't find Survey.JsonObject (object) in JS file,Can you please let me how we need to create this object  &
 which section I need to initialize ?

Thanks
Lalit

[2017-06-21 12:45] tsv2013 commented on #457
You should add to your html page link to the Survey.JS library. This is described in the library [documentation](http://surveyjs.org/docs/integration.html).

For instance if you are using jQuery platform, you should add the following line:
`<script src="https://surveyjs.azureedge.net/0.12.17/survey.jquery.min.js"></script>`

[2017-06-21 12:47] tsv2013 commented on #457
You can open any example on the surveyjs.org site, lets say [Product Feedback survey](http://surveyjs.org/examples/jquery/real-productfeedback/) and click "Edit in Plunker" button. You will be redirected to the Plunker playground where you can play with our code.

[2017-06-21 13:25] andrewtelnov commented on #458
@Kuhax To be honest, I do not like the idea with startWithNewLine. It looks like a quick dirty solution for the issue you have guys. I personally would not use it in my survey, since it generates other usability issues.
The good solution to have something like: https://documentation.devexpress.com/#WindowsForms/CustomDocument3468

[2017-06-21 17:16] lalitkhanna commented on #457
Trying hard to reach Plunker, not sure right now some issue is running on site.
![image](https://user-images.githubusercontent.com/12485601/27397241-4a656d02-56d3-11e7-83f3-894736d0b153.png)

Thanks
Lalit

[2017-06-21 18:42] Kuhax commented on #454
@tsv2013 thanks !  It worked for me. Although I got an exception on `question.choicesChangedCallback();` but finally found the issue. A tip for guys out there: in case you have some more logic involved, `question.choicesChangedCallback();` should always follow either `question.maximumSelectionLength = 1;` or `question.maximumSelectionLength = undefined;` otherwise you'll get an exception.

@tsv201

[2017-06-21 18:47] Kuhax commented on #384
@tsv2013 I have tried it and it works perfectly. Maybe it's a good idea to document this feature because it's pretty cool.

Thanks !

[2017-06-21 20:03] dmitrykobets opened #462 "Numeric validator does not validate negative numbers if minValue: 0"
### Are you requesting a feature, reporting a bug or ask a question?

reporting a bug

### What is the current behavior?

Setting a numeric validator with a minValue: 0 does not give validation error for negative numbers.

### What is the expected behavior?

A numeric validator with a minValue: 0 should give validation error for any number < 0

### Specify your

* browser: Chrome
* browser version

[2017-06-21 20:08] dmitrykobets commented on #462
I have a fix for this so if you add me as a collaborator I could throw it in.

[2017-06-21 22:47] Kuhax commented on #458
@andrewtelnov I agree that startWithNewLine on columns is a dirty hack. It may be confusing for the end user and even be pretty ugly.  Certainly banded GridView looks way better and it will get the job done, but it looks that a lot of custom code (for both logic and presentation) should be added as well.

In my particular case I have a few matrixdynamic with way too many columns (I can't do anythi

[2017-06-21 23:02] Kuhax opened #463 "Single selection for matrixdynamic dropdowns"
Hello! I would like to implement a feature which allows the user introduce only one value of certain dropdown in matrixdynamic

 For example, if you're asked to add rows with car manufacturers, you should be able to add row with single
 selection of them. (the user shouldn't be able to add 2 rows with same dropdown value)

I think it should be something like this:

[code]

So I got lost looking fo

[2017-06-22 06:00] bjdani opened #465 "Trying to implement adding an input mask via widget - strange behaviour"
### Are you requesting a feature, reporting a bug or ask a question?
Probably asking a question but could be a bug...
Is this a bug or am I not implementing my input mask correctly using the widget?
Trying to implement an input mask so date fields work better in non-HTML5 browsers.

### What is the current behavior?
When I add an inputmask to a 'text' question via a widget the behaviour of other q

[2017-06-22 06:39] tsv2013 commented on #454
@Kuhax I've found [this section in the select2 codumentation](https://select2.github.io/options-old.html#language) concerning localization. According to it,

I've also updated your [plunk](https://plnkr.co/edit/62cKrN?p=preview) with cusom message.

[2017-06-22 07:35] andrewtelnov commented on #458
@Kuhax It will be possible to set max-width for the most elements, except dropdown. Select element doesn't look at max-width style. Here is the explanation: https://stackoverflow.com/questions/10672586/how-to-make-select-elements-shrink-to-max-width-percent-style-within-fieldset
I may add maxWidth property to the column of course. We have minWidth property already. However, I am not sure it will h

[2017-06-22 07:38] andrewtelnov commented on #463
@Kuhax You may use onValidate event of course: http://surveyjs.org/examples/jquery/validators-event/
However, I am sure you have already seen it.

Thank you,
Andrew

[2017-06-22 09:10] nadialo commented on #460
@dmitrykurmanov Thanks for your suggestion :)

[2017-06-22 09:26] dmitrykurmanov commented on #457
@lalitkhanna plnkr.co is ok now, could ypu check it please?

[2017-06-22 10:36] Kuhax commented on #463
@andrewtelnov I've used `onValidateQuestion` before. The issue with this approach is that this event fires after you switch between pages. If the user have already introduced several repeated rows with repeated dropdown values he should go over them and delete the duplicates.

That's why I'm trying to do this validation at `onMatrixCellValueChanged` event. Because if I'm able to detect that the va

[2017-06-22 11:38] Kuhax commented on #458
@andrewtelnov I have added `"horizontalScroll": true,` which helps somehow but `"columnMinWidth": "whatever"` doesn't seem to have any effect. Adding `style='width: 90%;'` to Select2tagbox `htmlTemplate` has no effect either.

Actually looks like the width of the column is being dictated by the width of the column name.

Is there any other way to make columns wider ?

[2017-06-22 13:52] andrewtelnov commented on #463
@Kuhax I was trying to use onMatrixCellValueChanged event and I was not able to implement this task. I need additional parameters: rowIndex and matrix.value. I could not call survey.getValue(), since in this case I will get stack overflow.
I will work on the demo for dev version and add all needed parameters into the options.

Thank you,
Andrew

[2017-06-22 16:06] Kuhax commented on #463
@andrewtelnov since the validation is column-wise I'm not sure why do you need rowIndex. Also I'm pretty sure that currently selected values for a certain column are visible somewhere, The idea is to use `onMatrixCellValueChanged` event to check if current column value is new or it's already there (in this case an error message will be shown)

[2017-06-22 17:38] andrewtelnov commented on #463
@Kuhax I have just added a new event onMatrixCellValidate event.
Typically it will be called on validating the matrix question, on changing the page. However, you may call it manually for the modified cell question:
[code]
I have added a unit test in my commit:
QUnit.test("Matrixdynamic validate cell values - do not allow to have the same value",
Please take a look at it.
We are going to release n

[2017-06-22 17:41] andrewtelnov commented on #458
@Kuhax https://plnkr.co/edit/K5eLaxL4XWu1MrqqGU2c?p=preview
In this example, I have set the minWidth to 300px for the second column and it works fine.

Thank you,
Andrew

[2017-06-23 02:51] andimiya opened #466 "Possible to insert a Google Map into a survey question?"
This is an amazing product, great job!
QUESTION:
Wondering if it's possible to embed a script in a survey question? In particular, I'm trying to add a Google Map to one of the survey questions.

I tried adding it to the HTML question type but it seems to not accept the script portion. Is there any other way using your tool?

Sample Google Maps HTML (please insert your own API key)

[code]

[2017-06-23 03:14] andimiya commented on #466
It appears to have worked suddenly!
Closing this issue.

[2017-06-23 03:14] #466 closed

[2017-06-23 04:53] lalitkhanna opened #467 "How to add signature control in Editor?"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2017-06-23 07:49] dmitrykurmanov commented on #466
@andimiya, hello! Thanks for your interest! Could you create an example on plunker or fiddle to share your experience with community. If you don't mind, we'd like to add correcponding example on our site, of course with mention of your efforts.

[2017-06-23 07:54] dmitrykurmanov commented on #467
@lalitkhanna hello! We have separate repo for editor https://github.com/surveyjs/editor, so put your editor issues there. And could you describe your issue in detail, please.

[2017-06-23 08:00] dmitrykurmanov commented on #467
@lalitkhanna hello! Thanks for your idea! What about https://github.com/szimek/signature_pad is it ok? We could create custom widget with it.

[2017-06-23 10:53] andrewtelnov commented on #463
@Kuhax The new minor is released. Here is a demo that does what you need: https://plnkr.co/edit/56TGFlTB6COoo3ta1GWR?p=preview

[2017-06-24 17:38] gperreymond commented on #447
It's a litlle late perhaps, but here my solution, working for me :

[code]

[2017-06-26 06:08] bjdani opened #468 "isRequired text questions allow user to enter just whitespace"
### Are you requesting a feature, reporting a bug or ask a question?
Bug (or is there an alternative way of validating this without having to write extra javascript?)
I tried using regex validator on the question but could not get it to fire correctly for answers that only contain spaces.

### What is the current behavior?
If the users enters 1 or more spaces as their answer to a question that has

[2017-06-26 06:15] bjdani commented on #449
Hi Andrew,
I've gone ahead and followed your advice and tried implementing a custom widget to handle inputmasks for my date fields but have run into problems with the widget being assigned to other fields when question visibility is toggled on/off. See #465.
Any tips on what I can do to get around this or is it a bug?

Thanks for your assistance. You guys are doing a great job!

Regards,
Bruce

[2017-06-26 08:45] andrewtelnov commented on #468
@bjdani Yes, it is a bug and I have fixed it.

Thank you,
Andrew

[2017-06-26 09:17] dmitrykurmanov commented on #465
@bjdani hello! I'll fix it. Thanks!

[2017-06-26 11:19] dmitrykurmanov commented on #465
@bjdani so, you just need to remove inputmask in willUnmount. Here an examle: http://plnkr.co/edit/8OZJ88DIurm5OgAEA9Eq?p=preview

[2017-06-26 18:53] SlowburnAZ opened #469 "Responsive matrix questions?"
::: Feature request :::

Are there any plans to make the matrix style questions display well (nicely responsive) on small devices like mobile phones?

[2017-06-26 20:02] gdaniels13 opened #470 "version 0.12.18 Angular4 webpack compilation error"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug with angular4 and survey.  version 0.12.17 works

### What is the current behavior?
Webpack fails to compile.
### What is the expected behavior?
Webpack should compile.

### How would you reproduce the current behavior (if this is a bug)?
- Use angular cli to create new project `ng new surveyjsBug`
- Use npm to ad

[2017-06-26 23:47] bjdani commented on #468
Hi Andrew,

Thank you! Any estimate on when that will make it into the next release?

Thanks,
Bruce

[2017-06-27 00:55] bjdani commented on #465
Thank you so much Dmitry!
Adding the willUnmount has resolved it for me.

[2017-06-27 00:55] #465 closed

[2017-06-27 00:57] bjdani commented on #449
With Dmitry's plunker example which included the willUnmount I was able to resolve my issue with implementing the inputmask widgets.
Thanks!

[2017-06-27 00:57] #449 closed

[2017-06-27 05:49] andrewtelnov commented on #468
Sure, We will release it on Friday or more likely early next week.

You may use dev version for a while if it is urgent: https://github.com/surveyjs/builds

Thank you,
Andrew

[2017-06-27 08:59] andrewtelnov commented on #469
@SlowburnAZ Do you have any proposal how to render matrix question on mobile devices?
Are you talking about matrix question/ the table of radio groups?

Thank you,
Andrew

[2017-06-27 09:38] dmitrykurmanov commented on #470
The problem appear in react, jquery and angular dts.

[2017-06-27 10:16] nadialo opened #471 "Reload answer into blank survey form"
Is there any function that we can reload the answer into the blank form? (i.e. draft-saved the form and reload the draft answer back to the survey)
Thanks!

[2017-06-27 10:24] dmitrykurmanov commented on #470
@gdaniels13 hello! Thanks for your interest. We've fixed the bug and this fix will include in next release. And if you need fast workaround you could copy and paste this [code ](https://gist.github.com/dmitrykurmanov/6f21f71582fc998f4db1d9d5289ba2bb) to _*/surveyjsBug/node_modules/survey-angular/survey.angular.d.ts_

[2017-06-27 10:26] pietervdheuvel opened #472 "VisibleIf for every answer choice"
Question/feature request:

Is there a way to toggle the visibility of answer options based on answers in previous questions? I.e. i only want to show a brand name for an _ownership_ multiple choice question, if a respondent has indicated they are _aware_ of the brand in a previous multiple choice question.

I could not find this in the editor or in any other feature requests.

[2017-06-27 10:34] andrewtelnov commented on #471
@nadialo Sure, take a look at these demos:
http://surveyjs.org/examples/jquery/survey-data/
http://surveyjs.org/examples/jquery/survey-displaymode/

Thank you,
Andrew

[2017-06-27 10:36] andrewtelnov commented on #472
@pietervdheuvel Do you want to have the different choices for different answers in another question, am I right?
It this case, I would suggest to have two different questions with different choices and visibleIf propeties, but with the same name/title.

Thank you,
Andrew

[2017-06-27 11:45] pietervdheuvel commented on #472
Hi Andrew,

Thanks for the fast response. I suppose that is a workaround on the technical side. The forced displaying of a question name/title does clog the UI however. The example below (2,3,4,5  being the workaround, and 6 being the ideal situation) is using four brands as an example, but the lists for brand research usually go up to max 20-30.

![image](https://user-images.githubusercontent.com

[2017-06-27 12:12] andrewtelnov commented on #472
@pietervdheuvel Here is the demo: https://plnkr.co/edit/FfYvPB?p=preview

[2017-06-27 12:23] xiuzhen1103 commented on #437
Hi Dmitry,
may I ask you how to update it in npm, please?

[2017-06-27 12:34] dmitrykurmanov commented on #437
@xiuzhen1103, hello. You can use `npm install survey-jquery` or `npm update survey-jquery ` if it already installed

[2017-06-27 14:29] xiuzhen1103 commented on #437
Unfortunately, this issue still insist. Any idea with it, please?  Unable to set property 'imgSrc' of undefined or null reference

[2017-06-27 14:36] dmitrykurmanov commented on #437
@xiuzhen1103 do you change your code to `$(options[i]).data("imgSrc", options[i].text);` ? Here an our fixed example  http://surveyjs.org/examples/jquery/custom-widget-image-picker/

[2017-06-27 20:18] andrewtelnov opened #473 "Show information/progress about saving survey results/json on a server"
Add ability to show information on the complete page:
1) about sending survey the results to the server/ saving
2) about successful saving the results
3) about an error and ability to try save results again

[2017-06-27 21:05] SlowburnAZ commented on #469
Yeah, I'm referring to the table of radio groups / matrix.

Not sure if I have any great solutions...  other than wrapping the tables with a <div class="table-responsive"></div> in the Bootstrap versions.  However, this just make it so that the table becomes scrollable horizontally.  The "problem" with the matrix questions is their inherent horizontal size, really.

Here's an example of the defaul

[2017-06-27 21:29] LEGrecc opened #474 "Widget and CSS class"
### Are you requesting a feature, reporting a bug or ask a question?

Features

### What is the current behavior?

Hi,

 I would like to know if it is possible to edit some widget questions directly in the survey editor and if so how to do it. It seems I have only access to the basic questions and I cannot add widget questions . Is it because I have to do it manually for each widget ?

Also I woul

[2017-06-28 01:30] nadialo commented on #471
Thank you so much!

[2017-06-28 01:30] #471 closed

[2017-06-28 07:12] andrewtelnov commented on #469
@SlowburnAZ I don't know. Will the dropdown matrix question work for you?
Because dropdown matrix question with one dropdown column is basically a matrix question. However it takes less spaces. All you will need, is to solve the problem, but showing a large description as select option. It can be done by custom widget. There are some JavaScript libraries that allow to have a dropdown with customiz

[2017-06-28 08:28] nithinM opened #475 "Matrix question type and visibleIf"
### Are you requesting a feature, reporting a bug or ask a question?
Question

I want to know is that possible to implement below scenario. If so please let me know how I do it

**Scenario**
When I select a value form row in the Matrix I need to show a specific question related to it.

Thank you!

[2017-06-28 08:54] andrewtelnov commented on #474
@LEGrecc What do you mean to change the css classes?
Do you want to have the different css classes for different questions?
Here is the example of using the custom css classes for all questions: http://surveyjs.org/examples/jquery/survey-customcss/

Take a look at names: progress and progressBar you may set/add your own class to change the color.

Thank you,
Andrew

[2017-06-28 09:08] andrewtelnov commented on #475
@nithinM Here is the demo: https://plnkr.co/edit/PojiUA?p=preview

Thank you,
Andrew

[2017-06-28 09:12] nithinM commented on #475
Thank you so much @andrewtelnov. It works.

[2017-06-28 12:22] rroeneman opened #476 "Angular 2 examples - result and settings"
### Are you requesting a feature, reporting a bug or ask a question?
Question: I worked with your Angular examples and get the survey running. However how to reach the result data? Sorry, my limited knowledge of Angular didn't help.

### What is the current behavior?
Can't get the result into a custom function (leading to an Angular service).

### What is the expected behavior?
To obtain the resul

[2017-06-28 15:53] LEGrecc commented on #474
Thank you for your answer. No I just want to change the colour of my progress bar. I have tried with "sv_progress" with :
[code]
As the color of **all** the progressbar has changed in lightgreen,  I am not able to show to a user how far along he/she is in a process. It is not a progress bar anymore.
 I would like to color only the part that is completed in the survey. (i.e. Page 1 of 5) .

In the

[2017-06-28 15:58] andrewtelnov commented on #474
@LEGrecc Do you use a standard css and not bootstrap? Is it correct?

[2017-06-28 16:41] LEGrecc commented on #474
yes I am using standard CSS and I am not using bootstrap. I have downloaded the file called survey.css

[2017-06-28 17:17] andrewtelnov commented on #474
@LEGrecc Here is the demo: https://plnkr.co/edit/O2jTBO?p=preview

Thank you,
Andrew

[2017-06-28 20:44] Kyle-McNulty opened #477 "Issue setting up surveyjs"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question/reporting a bug

### What is the current behavior?

Receive "Uncaught Error: Element type is invalid"

Full console log:
Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your compon

[2017-06-28 23:39] #477 closed

[2017-06-28 23:40] Kyle-McNulty commented on #477
Bug with azureedge script, used require in my jsx file and got it working

[2017-06-29 08:05] dmitrykurmanov commented on #476
@rroeneman hello! You can get your result this way:
[code]

[2017-06-29 09:40] rroeneman commented on #476
Thank you, and now the probably very much newby question: How to access 'oncomplete' outside of the Oninit function? I tried to make a variable with public etc., but lack knowledge to do this right.... sorry and thanks for this next step.

[2017-06-29 09:44] dmitrykurmanov commented on #476
@rroeneman maybe changing `const survey =` to `this.survey = ` will help. Anyway if I understand you right this is angular2 problem, not surveyjs.

[2017-06-29 09:47] towojtek opened #478 "Calling rest to make calculations on for example "multipletext" type"
### Are you requesting a feature, reporting a bug or ask a question?

Feature

### What is the current behavior?

For now just a dropdown questions can use rest calls.

Example json:
{ type: "dropdown", name: "country", title: "Select the country...", isRequired: true,
choicesByUrl: {url: "https://restcountries.eu/rest/v2/all", valueName: "name"} }

### What is the expected behavior?

Possibility

[2017-06-29 13:49] dmitrykurmanov commented on #476
@rroeneman you could create an example in plunker based on one of our examples (https://plnkr.co/edit/?p=preview) and we will try to help you.

[2017-06-29 14:34] #437 closed

[2017-06-29 14:36] xiuzhen1103 commented on #440
hi Dmitry,
May I find out if this request has been released, please?

[2017-06-29 15:28] LEGrecc commented on #474
Hi Andrew thank you for your answer. That is exactaly the problem I have. In your demo, the progress bar is all green and it does not change when you answer questions. Instead of that, I would like to have a progress bar like in this example : http://surveyjs.org/examples/jquery/survey-autonextpage/
Is it possible ? Thank you, Thomas

[2017-06-29 16:45] SlowburnAZ commented on #469
@andrewtelnov Not sure yet.  I'm going to play around with the Matrix Dropdown a bit, and try to get some feedback/ideas from our design team as well.  Thanks!

[2017-06-30 07:50] andrewtelnov commented on #474
@LEGrecc I see the problem now. I was not able to come up with a good solution. Right now we are using width: auto and min-width: {progress}%. If I change it to width: {progress}% it would solve this issue. However, another issue will comeback: the progress text becomes invisible for some surveys (a lot of pages + small survey width).
Let me think about it.

Thank you,
Andrew

[2017-06-30 09:05] rroeneman commented on #476
Thank you, got it sorted. This is my solution:

`
...
export class ...
  private mysurvey:any;
  private surveyJSON:any;
    ngOnInit() {
        this.surveyJSON = .... get the surveyJSON out of a service or just copy it here ....
        this.mysurvey = new Survey.ReactSurveyModel(this.surveyJSON);
        Survey.SurveyNG.render('surveyElements', { model: this.mysurvey });

HERE STARTS THE DIFFER

[2017-06-30 09:09] dmitrykurmanov commented on #440
@xiuzhen1103, hello! I apologize for the late reply. We've released _cssClasses_ feature for every question. I will create an example.

[2017-06-30 09:11] #476 closed

[2017-06-30 12:57] dmitrykurmanov commented on #440
@xiuzhen1103 could you check this example  https://plnkr.co/edit/aIz4bdA0pFVw7WttInVF?p=preview please? Is it ok for you?  And why do you need to add class for root parent? For icheck you could use custom widget, here an example: http://surveyjs.org/examples/jquery/custom-widget-icheck/

[2017-06-30 13:24] andrewtelnov commented on #478
@towojtek I have created a demo: https://plnkr.co/edit/x7T4XW?p=preview
Unfortunately, I had to make a small fix in the library. The demo is working with the "dev" version of the library. We will release next minor version early next week.

Thank you,
Andrew

[2017-06-30 14:56] andrewtelnov opened #479 "Quota example, by using SurveyJS service"
Here is an example that you may use to create a Quota feature: https://plnkr.co/edit/D6wqY7?p=info

Thank you,
Andrew

[2017-06-30 14:57] andrewtelnov commented on #479
PS: Add a cache for service getResult method...

[2017-06-30 23:57] SlowburnAZ commented on #469
@andrewtelnov So, here's what I came up with...  maybe if it looks good to you guys, you could do something similar in the code/CSS?

![image](https://user-images.githubusercontent.com/5659169/27757273-6c0ffd0e-5db4-11e7-9ac3-8d7ead166405.png)

So, obviously I had to tweak a few things to get this to work.

First off was the CSS.  I address some problems with both the Matrix questions and the Chec

[2017-07-01 08:52] rafaelrroa commented on #460
Sorry to reopen this issue, but if I apply iCheck to radiogroups, the proposed workaround does not work anymore...
https://plnkr.co/edit/vPxbcqzYVk5fxgpPCuxg

Any suggestion to make this work again?

[2017-07-01 13:32] dmitrykurmanov opened #480 "Link to the DOM"
It would be helpful (especially for custom widgets) to add a property with link to DOM element for questions and may be for survey, pages, etc. Because of some 3d party libs want to manipulate with DOM.

[2017-07-01 13:45] dmitrykurmanov commented on #460
@rafaelrroa, hello. In fact custom widgets is just possibility for adding any third party library but not the implementation. Implementations may be very different and every programmer can customize it by its own needs. Anyway, here an example for your usecase: https://plnkr.co/edit/iullEMm580t96KvlIJGp?p=preview.  Thanks for your interest.

[2017-07-01 15:10] andrewtelnov commented on #469
@SlowburnAZ It looks great to me. I think we should discuss questions for mobiles.
Thank you for sharing your code!

Thank you,
Andrew

[2017-07-01 20:58] xiuzhen1103 opened #481 "_surveyJquery.Survey.Model is not a constructor in reactJs"
### Are you requesting a feature, reporting a bug or ask a question?

bug or ask a question

### What is the current behavior?
I am using surveyJs into my project, “model” is not defined.

### What is the expected behavior?
SurveyJs should used properly with expected result, I am inserting my json into a component.  The error message of _surveyJquery.Survey.Model is not a constructor appear on the

[2017-07-02 14:54] andrewtelnov commented on #474
@LEGrecc I have updated the css in the demo on plunker. It looks fine now:
https://plnkr.co/edit/O2jTBO?p=preview

Thank you,
Andrew

[2017-07-03 05:20] nithinM opened #482 "iCheck and 'other' feature"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
I setup question type 'matrix' and 'radiogroup' with iCheck.
When select the Column 1 or Column 2 in each row it load a question type 'radiogroup' with other option. But in the initial load of the  'radiogroup' when click the other option it didn't show the input text field.

### What is the

[2017-07-03 08:39] dmitrykurmanov commented on #482
@nithinM hello! Thanks for your interest and for the plnkr demo :) I'll take a look at it.

[2017-07-03 08:48] dmitrykurmanov commented on #481
@xiuzhen1103 hello! Thanks for your avtivity! May be the problem in `import {Survey, Model} from 'survey-jquery'; ` you are using jquery build with react code, may be it should be `survey-react` ?

PS: Could you please provide an example for your issues? It is easy to do it with "Edit in Plunker" btn in our examples.

[2017-07-03 10:37] xiuzhen1103 commented on #481
but we need include survey.jquery.js for survey react, is it?

[2017-07-03 11:04] dmitrykurmanov commented on #481
@xiuzhen1103 no, for reactjs projects we should use https://www.npmjs.com/package/survey-react and for jQuery - https://www.npmjs.com/package/survey-jquery. You may be a little bit confused because of we use preact for jquery version. But it is our internal realization and it already include in library.

[2017-07-03 13:12] care46 commented on #450
Hi, I'm sorry for being late but I was on holiday...

Now question2 appears, but not on the same line .. the second question is shown on another line ...

If I have 2 pages in the survey, when the condition shows the question, a new line is created, if I change the page and return to the first, the question is correctly displayed in the same line

[2017-07-03 15:12] xiuzhen1103 commented on #481
Hi Dmitry,
All I have in my project is one js file with code as following. Not able to produce it in Plunker site. Do I miss any reference else?

[code]
and one html page

[code]

[2017-07-03 19:21] LEGrecc commented on #474
Thank you Andrew. It works perfectly now.

2017-07-02 10:54 GMT-04:00 Andrew <notifications@github.com>:

[2017-07-04 10:20] dmitrykurmanov commented on #482
@nithinM I've fixed the problem by adding this code: `question.customWidgetData.isNeedRender = true;` and I've updated your example:

https://plnkr.co/edit/bzVvBMcbBPfFdDhsq0Or?p=preview

Could you check it please?

[2017-07-04 11:12] nithinM commented on #482
@dmitrykurmanov It's working now. Thank you so much. Is there way to check those configurable option? I never see it in the documentation.

[2017-07-04 11:19] dmitrykurmanov commented on #482
@nithinM this is the workaround. I'll try to understand this iCheck behavior and fix it. And if I can't do it we think about include this trick in the docs.

[2017-07-04 11:25] nithinM commented on #482
@dmitrykurmanov I got your point, but it really cool to know those hacks in case. Really appreciate your help.

[2017-07-04 11:31] dmitrykurmanov commented on #482
@nithinM yes we think about "just render the whole question, bro" feature as a workaround for difficult cases :)

[2017-07-04 14:15] dmitrykurmanov commented on #482
ko: https://plnkr.co/edit/J2fKY5etTgJH22VJGRAC?p=preview

        ... var cb = question.valueChangedCallback;
        question.valueChangedCallback = function() {
            cb();
            select();
        } ...

vue: just add `other` markup into template

[2017-07-04 14:41] dmitrykurmanov commented on #481
@xiuzhen1103  here an example with your code in plnkr https://plnkr.co/edit/7ohCQDlXWY4KfULTcfXd?p=preview. Is it works incorrect?

PS: you have script `<script src="https://unpkg.com/react@15/dist/react.js"></script>` in your html and import `import React from 'react';` in your js. This is  mutually exclusive approaches. And you need to choose one of them. Anyway I think this is not SurveyJS prob

[2017-07-04 14:44] rafaelrroa commented on #460
That solved my issue...
Thank you so much

[2017-07-04 14:44] dmitrykurmanov commented on #480
after discussion we decided that this feature no need

[2017-07-04 14:44] #480 closed

[2017-07-04 14:47] dmitrykurmanov commented on #460
@rafaelrroa, you are welcome, we will think about better "customWidget" provision.

[2017-07-04 16:03] dmitrykurmanov commented on #467
We've created an example https://plnkr.co/edit/YpBX8NxJbz4tI4nKTzU5?p=preview and we will add it in our examples

[2017-07-04 16:11] lalitkhanna commented on #467
This is perfect!! Good work!! Thanks...

[2017-07-04 16:15] dmitrykurmanov commented on #467
@lalitkhanna, thank you for the idea!

[2017-07-05 15:12] grnsphere opened #483 "Dropdown question type displays "value" instead of "text" in Display mode"
If a drop down question is setup with choices like:
 [{ value: 1, text: "Value 1" }, { value: 2, text: "Value 2" }]

and user data is passed to the survey and the survey is in display mode, then the rendered div shows the dropdown "value" instead of the associated "text.

Perhaps, in display mode, the dropdown should be rendered as a disabled SELECT rather than a DIV (similar to how radiogroups ar

[2017-07-05 17:35] andrewtelnov commented on #483
@grnsphere select would not look great in display mode. I would better add a displayValue function and will use it.
I will work on the fix tomorrow.

Thank you,
Andrew

[2017-07-05 19:37] safaiyeh opened #484 "React-Native support & using surveyjs without front end libraries."
Are there plans to support React Native? I have a need for mobile surveys; however, surveyjs service seems to have a dependency on the front end.

Is there a way to request the survey json via https without the frontend library?

[2017-07-05 20:37] andrewtelnov commented on #483
@grnsphere I have fixed the issue. I may update the "dev" version if you need the urgent fix.

Thank you,
Andrew

[2017-07-05 20:47] grnsphere commented on #483
Thanks Andrew!

The fix is not super urgent. Our time frame to start fully testing our
SurveyJs integration is early August.

Chris

On Wed, Jul 5, 2017 at 4:37 PM, Andrew <notifications@github.com> wrote:

[2017-07-06 03:58] nadialo commented on #460
Sorry about reopening this issue.

I have applied this workaround, however if mark the question as mandatory (isRequired). I have to mark all of sub-questions and error messages(from each sub-questions) will be displayed if I missed the question.
Since I only need one error message for that question, Any suggestion on this issue?

Another problem is if  I apply the validation for this questionid(s

[2017-07-06 04:25] andrewtelnov commented on #483
ok then.

[2017-07-06 06:51] andrewtelnov commented on #484
@JSafaiyeh We have discussed react Native support and everybody agree that we have to implement it. Unfortunately, there are some other tasks that we believe are more urgent at the current moment. For example, move all information/libraries/services into one web site: surveyjs.io, so you would be able to find this link without any help: http://api.dxsurvey.com/Help/Api/GET-api-Survey-getSurvey_sur

[2017-07-06 08:42] rogereriksen opened #485 "Add display mode to page"
### Are you requesting a feature, reporting a bug or ask a question?

Requesting a feature.

### What is the current behavior?

Cannot set mode to "display" on page.

### What is the expected behavior?

Be able to control mode at page level.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

T

[2017-07-06 08:59] dmitrykurmanov commented on #460
@nadialo hello, thanks, we will think about this problems.

PS nothing wrong with reopen issue. Please feel free to create/close/reopen issues according to your needs.

[2017-07-06 20:28] WojciechDob commented on #478
I see, you didn't get my point. I wanted an example which makes for example mathematical operations on answers.

Answer of 1st question: 5
Answer of 2rd question: 4
Answer of 3th question: 10
ITEM WITH SUM OF THOSE QUESTIONS : 19  <------ this is what I wanted. Not to generate items :P
After inserting all of those calculations there would be an sum in for example comment

[2017-07-07 06:35] dmitrykurmanov commented on #478
@WojciechDob, hello! Thanks for your interest! I've created small example:
https://plnkr.co/edit/dHDyRAEIGbmdPJLbSkYe?p=preview
is it ok for you?

[2017-07-07 15:58] JSafaiyeh commented on #484
Thanks for the response. I will be investigating creating react-native support.

[2017-07-07 15:58] ZachStoltz opened #486 "Survey does not set isvisible property on text field"
### Are you requesting a feature, reporting a bug or ask a question?
Reporting a bug/ requesting an enhancement to  visibleIf logic.

### What is the current behavior?
My scenario is we have 3 questions:
Q1 -> Q2 ->Q3

Q2 visibleIf: {Q1}='Yes'
Q3 visibleIf: {Q2}='Yes'

When you select Yes for Q1 and Q2 to have Q3 appear.  If that user changes Q1's answer, Q2 and Q3 should become invisible again as

[2017-07-07 16:04] ZachStoltz commented on #486
**UPDATE**: I am able to work around this if I set Q3's visibleIf to {Q1}='Yes' and {Q2}='Yes'.   Is there an API property that I can set to Clear if the variable is set to invisible immediately and not to wait for the onComplete event?

[2017-07-07 16:04] JSafaiyeh opened #487 "dxSurvey API POST results: Silent errors & clarification on parameters"
Currently, testing posting results to `http://api.dxsurvey.com/api/Survey/post`.

The example on http://api.dxsurvey.com/Help/Api/POST-api-Survey-post shows `PostId` and `SurveyResult`.

My current understanding is that the `PostId` is the id of the survey. For `SurveyResult`, I do not understand the format. How should it be formatted relative to the Survey format JSON?

A failed POST will return

[2017-07-07 17:52] andrewtelnov commented on #486
@ZachStoltz Yes, {Q1}='Yes' and {Q2}='Yes' is correct.
Use [clearInvisibleValues property](http://surveyjs.org/docs/api_surveymodel.html#clearInvisibleValues).

`survey.clearInvisibleValues = true;`

Thank you,
Andrew

[2017-07-07 17:59] andrewtelnov commented on #487
@JSafaiyeh Could you please re-check your survey PostId? It is a typical error, wrong PostId. There are 3 Guid for each survey: Id, ResultId and PostId.
We do not any check, if the survey with this PostId exists or not, we just create a file with this postId (if it doesn't exists yet) and write a new JSON there. It allows us to keep the server load on saving results to minimum.

You may take a loo

[2017-07-07 18:02] andrewtelnov commented on #485
@rogereriksen Could you please describe your scenario, why do you need this functionality?
There is already question.readOnly : boolean (default false) property. You may set it to a question. Why do you need it on the page level?

Thank you,
Andrew

[2017-07-07 18:16] JSafaiyeh commented on #487
Where do I get the PostId of my survey?

[2017-07-07 18:19] andrewtelnov commented on #487
Please expand the survey on My Surveys page

[2017-07-07 18:34] JSafaiyeh commented on #487
Perfect. Got it working.

Can I suggest updating the docs to be more clear. The example parameters do not match the service code. For example, stringifying the JSON result.

[2017-07-07 18:40] andrewtelnov commented on #487
@JSafaiyeh Yes. At the current moment, we are working on it. We will have one site for developers: surveyjs.io with 3 main sections:
surveyjs.io/library, surveyjs.io/editor and surveyjs.io/service.
We will improve docs for library and add docs for editor and service.
At the current moment, it is a mess. Totally agree.
dxsurvey.com will become a site for end-users without any link on libraries, API

[2017-07-07 18:45] JSafaiyeh commented on #487
Good to hear it is being prioritized.

Thanks for the help!

[2017-07-07 18:45] #487 closed

[2017-07-08 21:00] davebradley14620 commented on #270
I have the same exact issue.   It would be great to have that in there.   Thank you.   Also, if I add a custom property, am I no longer able to edit my JSON using the survey builder at dxsurvey?

Thanks.
Dave

[2017-07-09 07:34] andrewtelnov commented on #270
@davebradley14620 Do you mean you need an ability to set the default value on creating the survey? There is now [survey.onQuestionAdded event](http://surveyjs.org/docs/api_surveymodel.html#onQuestionAdded). You may use it to set the default value. I may create an example on plunker if you need one.

About dxsurvey or surveyjs.org builder/editor. Unfortunately there is no such functionality. We wou

[2017-07-09 19:10] WojciechDob commented on #478
Hi again! Unfortunately this example fails after changing values for more then one time.
For example, 1st = 5, 2rd = 5, 3th = 5 then, you change 1st = 7. The sum should be 17 but it gives 22 :/

[2017-07-10 07:23] dmitrykurmanov commented on #478
@WojciechDob, hello! In fact _custom widgets_ it is just API for your creation. Your can do what you need with it. So this example was just fast showcase.

PS anyway I've updated the example: https://plnkr.co/edit/dHDyRAEIGbmdPJLbSkYe?p=preview
PPS we think about better positioning of _custom widgets_ . May be it will be just collections of surveyjs questions with something like that:  `import som

[2017-07-10 10:09] care46 commented on #450
@dmitrykurmanov  The problem was also in 0.12.9 version

[2017-07-10 11:05] lalitkhanna opened #490 "Can I do Enableif just like VisibleIf ?"
### Are you requesting a feature, reporting a bug or ask a question?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* browser version:
* surveyjs platform (angular or reac

[2017-07-10 16:13] c0bra opened #491 "Please make breaking changes more apparent -- "conventional-changelog""
This commit: https://github.com/surveyjs/surveyjs/commit/df88fba62e14feeea7a15368308573f65c163ecd which moved questions from `questions` to `elements` within the survey JSON was a breaking change for us, which was surprising since we were upgrading from 0.12.1 to 0.12.18 which is patch-level versioning according to semver.

I know that technically since this library is not on a 1.0 release yet not

[2017-07-10 17:59] nithinM commented on #482
Hi @dmitrykurmanov , I noticed another issue in iCheck as custom widget. Check this URL please [Preview](-https://plnkr.co/edit/bzVvBMcbBPfFdDhsq0Or?p=preview)

In the 3rd question set used checkbox but it not allow to select multiple options. What can be the reason for it?

[2017-07-10 18:58] dmitrykurmanov commented on #482
@nithinM, hello! I've created an example: https://plnkr.co/edit/BUTWvvDYmqME5UFlShbe?p=preview, could your check it please?

[2017-07-10 18:58] andrewtelnov commented on #491
@c0bra To be honest I hate breaking changes myself. I know how painful they are. That is why, I have written a code to make sure all old json are working and "questions" property is still there, as well as addQuestion/addNewQuestion methods.
I have rename the methods for "QuestionRowModel" class. However, it is for internal use. I still did not remove questions property from there:
[code]
Do you u

[2017-07-10 19:01] dmitrykurmanov commented on #491
@c0bra, thanks a lot for your interest and for the "conventional-changelog" link. We'll think about it.

[2017-07-10 19:04] andrewtelnov commented on #490
@lalitkhanna Somebody has already asked about this functionality. I have to agree it makes sense, if you do not want allowing editing, but do not want to hide a question. It may destroy the layout, for example.
I have added this to our TODO list: "Add question.ifReadOnly/question.ifEnabled property. Similar to ifVisible".

Thank you,
Andrew

[2017-07-10 19:19] nithinM commented on #482
@dmitrykurmanov, It works like a charm, Thank you!

[2017-07-10 20:17] c0bra commented on #491
@andrewtelnov so I'm taking the JSON from the editor and storing it in a database. I believe I'm manually pulling the JSON from the editor via the `.text` property, so some stuff pre-upgrade is under `questions` and post upgrade it's under `elements`. I think the survey.js front-end works fine.

However I have some aggregate reporting tooling that was processing survey result information and that

[2017-07-10 20:21] andrewtelnov commented on #491
@c0bra Yes, you are right. "questions" will be converted to "elements" on survey serializing.
Ok, we  had to create a breaking changes page or something like that.

Thank you,
Andrew

[2017-07-10 20:28] c0bra commented on #491
@andrewtelnov Thanks very much for your response. Cheers!

[2017-07-11 02:35] gstkenpo commented on #351
I understand that onPartialSend is a feature for large survey. However, it is possible only send the "current" page result?
I have gone though the methods in survey model. I can't find suitable methods. Am I missing sth?

[2017-07-11 02:36] gstkenpo opened #492 "get current page data"
I understand that onPartialSend is a feature for large survey. However, it is possible only send the "current" page result?
I have gone though the methods in survey model. I can't find suitable methods. Am I missing sth?

[2017-07-11 04:24] nithinM opened #493 "JSON result incorrect"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Final JSON results contains wrong answers.
[code]
In above results Q4 contains Q7 answer and Q7 contains Q9 answer.

### What is the expected behavior?
Final output should be
[code]

### How would you reproduce the current behavior (if this is a bug)?
Just navigate in the below demo and chec

[2017-07-11 06:53] andrewtelnov commented on #351
@gstkenpo Please call [survey.sendResult method](http://surveyjs.org/docs/api_surveymodel.html#sendResult)

Thank you,
Andrew

[2017-07-11 06:54] andrewtelnov commented on #492
@gstkenpo Please call [survey.sendResult method](http://surveyjs.org/docs/api_surveymodel.html#sendResult)

Thank you,
Andrew

[2017-07-11 08:09] rogereriksen commented on #485
Planning to set up a solution where I can have case manager/agent read all responses with view only on first pages and then do some kind of management/evaluation on pages only visible to that role.

[2017-07-11 08:24] #492 closed

[2017-07-11 08:30] gstkenpo commented on #492
just find my own way.

  //Only retrieve the results which are in current page
  var partialData = result.data;
  Object.keys(result.data).forEach(function(key) {
   var name = $.grep(survey.currentPage.questions, function(e){ return e.name == key || key.indexOf(e.name) >= 0; /*to cater key likes A1b-Comment*/})
   if (name.length === 0){
     delete partialData[key];
   }
  });
  console.log(JSON

[2017-07-11 08:45] andrewtelnov commented on #485
@rogereriksen Ok, I have just added it into our TODO list.
Unfortunately, it is not as easy as it seems. There is a Panel/Page concepts. So the readOnly should be on the Panel level as well. Additionally, at the current moment Question doesn't know about Panel or Page it belongs to. It has to be introduced as well.
I mean, it may take some time since we are busy with some other tasks at the curren

[2017-07-11 08:57] dmitrykurmanov commented on #482
@nithinM, it is a little bit tricky and we think about hidden all of this code and provide possibility to just include another question type for example "iCheckRadioGroup" and use it like simple question.

[2017-07-11 09:12] kangkurap opened #494 "Customize item before question title"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

Numerical item before title
1. Question 1
2. Question 2
3. Question 3
.
.
.

### What is the expected behavior?

Can I have options to displaying alphabetical or numerical  or completely remove the item before default question title

A. Question 1
B. Question 2
C. Question 3
.
.
.
OR

[2017-07-11 10:01] andrewtelnov commented on #494
@kangkurap Please take a look at the following properties: [survey.showQuestionNumbers](http://surveyjs.org/docs/api_surveymodel.html#showQuestionNumbers) and  [survey.questionStartIndex ](http://surveyjs.org/docs/api_surveymodel.html#questionStartIndex)

Thank you,
Andrew

[2017-07-11 10:10] kangkurap commented on #494
Perfect!
Thank you so much!

[2017-07-11 10:10] #494 closed

[2017-07-11 10:39] lalitkhanna commented on #490
Thanks, Andrew, waiting for this feature.

[2017-07-12 22:15] sylido opened #495 "NPM's package.json "main" field references the min.js file"
When building a meteor application it seems like the minifier uses the "main" field for the package to know which file needs mnification. We use a lot of npm packages and all of them seem to be referencing their non-minified .js file.
I am wondering if this is an accepted best practice and if so, could we make the change that for the survey-* packages as well ?

Current behavior uses the .min.js f

[2017-07-13 08:59] dmitrykurmanov commented on #495
@sylido, hello! Thanks for your interest. I didn't know about this best practice and this is true for that popular packages like **jquery** or **vuejs** or many others. So we will change our package.json

[2017-07-13 10:42] xiuzhen1103 commented on #481
I have found the solution to solve this.
import ReactDOM from 'react-dom';
import React, { Component } from 'react';
import { Survey, Model } from 'survey-react';
import {jQuery,parseJSON} from 'jquery';
using
[code]
not` (<Survey.Survey model={model} >
`

[2017-07-13 13:28] brydko opened #496 "Concurrent surveys"
Hello. I would like to express a feature I've been trying to pull out and hear your comments.

The idea is to make several users to fill one survey in a concurrent fashion. I know it will cause massive usability problems, collisions and generally corrupted output. I my context I'm trying to avoid this by letting know the users that they should not edit same questions. The idea is that different us

[2017-07-13 13:31] xiuzhen1103 opened #497 "survey js submit survey with api call"
### Are you requesting a feature, reporting a bug or ask a question?

requesting a feature

### What is the current behavior?
When survey is completed shows the html text indicating survey is completed

### What is the expected behavior?
when submit a survey, may I have a customized post api call inside it, please?
Is there any chance that I could add a cancel button beside it, or do you have this

[2017-07-13 14:10] andrewtelnov opened #498 "Add ability to parse JSON survey as a string"
The survey constructor has a JSON parameter, where the saved model can be passed.
Some custom web service may load the JSON model as a string, while the survey model constructor expect the JSON object.
From the next version, if the JSON parameter is a string, then survey constructor will parse it by calling JSON.parse method.
Important note: JSON.parse works with valid JSON only. For example, all

[2017-07-13 16:42] dmitrykurmanov commented on #497
@xiuzhen1103 hello! If I understood you correctly, you need to control "onclick" of "complete" button?

[2017-07-13 17:04] andrewtelnov commented on #497
@xiuzhen1103 Please take a look at [survey.completedHtml property](http://surveyjs.org/docs/api_surveymodel.html#completedHtml)
Here is the demo of using it: http://surveyjs.org/examples/jquery/survey-processtext/

[2017-07-13 17:10] andrewtelnov commented on #496
@Kuhax Yes, it is sounds interesting. However, to be honest, I would like do not to work on it, since there are many other tasks on the list.
If I do it myself, I would it in reactive way. Get the notification on the client about changing happened on the server and show the changes/data immediately.
I would love to work on it, but unfortunately have to work on other, not so cool, but more requeste

[2017-07-14 00:01] boitaumail opened #499 "Get text instead of value by using {question1} syntax into a title ?"
### Are you requesting a feature, reporting a bug or ask a question?
Hi everyone, I would like to ask a question.

### What is the current behavior?
I know how to show a value into a title by using the {question_name} syntax.

### What is the expected behavior?
I would like to get the text used to label the choices instead of the value itself. Is that possible ?

#### Provide the test code and the

[2017-07-14 04:34] andrewtelnov commented on #499
@boitaumail I would say, it is an expected behavior. Yes, it would require some refactoring, but I would consider this as a bug. I will work on the fix.

Thank you,
Andrew

[2017-07-14 09:25] xiuzhen1103 commented on #497
control "onclick" of "complete" button was one question,
second one is :
do you provide cancel button? to confirm if cancel , something like this
![image](https://user-images.githubusercontent.com/6764095/28206647-9dbfbb44-687e-11e7-96a2-416194ac281d.png)

[2017-07-14 09:32] dmitrykurmanov commented on #497
I think it makes sense. We could optionally provide "сonfirmation dialog" when "complete" button "onclick" from the box or just give event and possibility to handle it. @xiuzhen1103, @andrewtelnov what do you think about it?

[2017-07-14 09:43] rskopal opened #500 "Dynamic validator parameters"
It would be nice if surveyjs supported dynamic validators parameters like [formvalidation.io does](http://formvalidation.io/settings/#dynamic-option), e.g.:
[code]

[2017-07-14 09:44] xiuzhen1103 commented on #497
hi Dmitry,
Thanks for the suggestion , is there any chance that I could have a cancel button beside submit button for our project.
![image](https://user-images.githubusercontent.com/6764095/28207332-3f69f818-6881-11e7-849b-4c1ea794f11e.png)

[2017-07-14 09:47] dmitrykurmanov commented on #497
@xiuzhen1103 hello! And what will "cancel" button do? Will it go to the first page and clean all answers or something like that?

[2017-07-14 09:53] xiuzhen1103 commented on #497
cancel button pop up a dialog modal as the screenshot I posted, provides two option Yes and No, when click no return to survey form, click yes, direct to other page.

[2017-07-14 09:54] dmitrykurmanov commented on #500
@rskopal hello, thanks for your interest! I think that the idea is making sense.

[2017-07-14 10:10] dmitrykurmanov commented on #497
@xiuzhen1103 as a workaround you could try to do it by yourself. Here an example: https://plnkr.co/edit/DYmf4jOSSDWEu7uwHB7a?p=preview

[2017-07-14 10:19] dmitrykurmanov commented on #497
and we will think about this feature

[2017-07-14 10:25] xiuzhen1103 commented on #497
Thanks Dmitry,

unfortunately, this is not working
![image](https://user-images.githubusercontent.com/6764095/28208746-330264d8-6887-11e7-86bd-6419977a1934.png)

[2017-07-14 10:29] dmitrykurmanov commented on #497
@xiuzhen1103 that is strange, I can't reproduce this problem in chrome, which browser do you use?

[2017-07-14 10:38] xiuzhen1103 commented on #497
chrome

[2017-07-14 10:39] xiuzhen1103 commented on #497
Version 60.0.3112.66

[2017-07-14 10:48] xiuzhen1103 commented on #497
It worked now, very strange.

[2017-07-14 10:49] xiuzhen1103 commented on #497
Is there any chance that I could rename button "complete" to "submit"

[2017-07-14 10:55] dmitrykurmanov commented on #497
@xiuzhen1103 yes, you can use localization http://surveyjs.org/examples/jquery/survey-localization/

[2017-07-14 11:13] xiuzhen1103 commented on #497
localization is not working
https://plnkr.co/edit/DYmf4jOSSDWEu7uwHB7a?p=preview

[2017-07-14 11:20] dmitrykurmanov commented on #497
@xiuzhen1103 you forget about `survey.locale = "my"` and it should be defined before render: https://plnkr.co/edit/ZWAxird0m4PPZMucddEB?p=preview

[2017-07-14 12:01] andrewtelnov commented on #497
@xiuzhen1103 Another way to implement it is to use the custom navigation. You may turn off showing the standard navigation button and use your own. Here is the demo: http://surveyjs.org/examples/jquery/survey-customnavigation/
As for button text, there is an easy solution as well. Here is the list of properties to change the buttons text:
survey.pagePrevText, survey.pageNextText and survey.complet

[2017-07-14 12:05] xiuzhen1103 commented on #497
@andrewtelnov, thanks millions!!!  this would make more sense, and works perfectly. I have tried in my local project, localization not work for me, error message its locales is not defined.

[2017-07-14 12:10] dmitrykurmanov commented on #497
@xiuzhen1103 yes, I forgot about custom navigation! By the way, for using custom localization you need to redefine (or copy-past and modify) all strings, so it is more complex solution.

[2017-07-14 12:14] #497 closed

[2017-07-14 12:17] buddhika23 opened #501 "Load pre-saved result into the survey"
### Are you requesting a feature, reporting a bug or ask a question? Question

### What is the current behavior? no idea

### What is the expected behavior? I should be able to load partially save result into the survey (created using editor)

### Specify your

* browser: Chrome
* browser version: latest
* surveyjs platform (angular or react or jquery or knockout or vue): angular
* surveyjs versio

[2017-07-14 12:19] dmitrykurmanov commented on #497
working excample with custom locale for someone else from issues search: https://plnkr.co/edit/ZWAxird0m4PPZMucddEB?p=preview

[2017-07-14 12:23] xiuzhen1103 commented on #497
Thanks for all the help!!! @dmitrykurmanov  @andrewtelnov

[2017-07-14 12:36] Kuhax commented on #496
@andrewtelnov I agree that this feature will not be widespread since it's scope is limited to certain scenarios, but certailnly it will be nice to see it implemented someday. However I just wanted to share my thoughts about this matter (hopefully it may interest other guys out there).

Meanwhile I'm going to try to tinker and make some research on my own. I'll let you know if some meaningful resul

[2017-07-14 12:46] Kuhax commented on #501
@buddhika23 This feature is well documented in [http://surveyjs.org/examples/jquery/survey-data/](http://surveyjs.org/examples/jquery/survey-data/)

These two lines will get the job done.

[code]

setting partially filled JSON to `survey.data` will do the trick

[2017-07-15 05:45] DulceRusso opened #502 "Change options of 2nd dropdown depending on the choice of the 1st"
Hello there, I'm testing this tool in order to check if I use it on the project I'm currently working on. However, there's something that I think it's still uncovered or if it isn't, then it hasn't been specified in the documentation.

I have two dropdowns: the first one has a list of countries and the second a list of provinces. Depending on the country I choose, I make an ajax request to retriev

[2017-07-15 07:39] dmitrykurmanov commented on #502
@DulceRusso, Hello thanks for your interest. I think, that we already have this enhancement. Please check #393:

from Andrew Telnov:

 Is it the same feature?

[2017-07-15 11:50] andrewtelnov commented on #502
@DulceRusso Are you using a web rest service?

Thank you,
Andrew

[2017-07-15 13:42] andrewtelnov commented on #499
@boitaumail I have fixed the bug at last.

Thank you,
Andrew

[2017-07-15 13:46] andrewtelnov commented on #502
@DulceRusso I have found a plunker demo: https://plnkr.co/edit/0sZFOKzlAlWUujDpgQuN?p=preview

Thank you,
Andrew

[2017-07-15 15:07] DulceRusso commented on #502
Hello. Thank you for your answer. That's what I was looking for. And nope, I'm not using a web rest service. I have the information stored in a database and I retrieve it with Ajax. This returns an array of <option>choice</option> html elements to add them in a select.

But, I think by just returning a json the drop down can read it correctly, right? Advice on this part would be very welcome. Once

[2017-07-15 16:22] IDIBuild opened #503 "Support multiple entities form / questionnaire"
### Are you requesting a feature, reporting a bug or ask a question?

feature / question

### What is the current behavior?
We would like to support multiple entities questionnaire forms.

In our situation, it's a medical form that the questionnaire form should display for each of the entities.

we discussing if the solution should be UI based only or be part of surveryjs solution API

for example

[2017-07-15 16:55] andrewtelnov commented on #502
@DulceRusso you have to use survey.onValueChanged event. Here is the example on plunker: http://plnkr.co/edit/FfYvPB?p=preview
You have to call your ajax request onValueChanged and then on ajax call back set the updated choices to the dropdown question.

Thank you,
Andrew

[2017-07-15 17:05] andrewtelnov commented on #503
@IDIBuild Do you mean you have the same survey, but you have only one additional invisible value, the entity? Then you may simply set survey.setValue("entityName", entitity1"); and you will get it in the final json data. Additionally you may use entityName in visibleIf property. You may set visibleIf on question/panel/page level, in case you want to hide/show several questions at one time.

Sorry,

[2017-07-15 17:40] #501 closed

[2017-07-15 20:39] IDIBuild commented on #503
Hi @andrewtelnov

What I mean is that in our business scenario we got two major requests:
let's take a health insurance for example:

relevant questionnaire form may ask about more than one entity - for example - a family of
father + mother + child.

each entity in the family need to answer the questionnaire and we want to be able to fill the answers on the same survey and not fill separately.

ho

[2017-07-15 21:00] andrewtelnov commented on #503
@IDIBuild Yes, I have got it now.
Again, there are other questions. How are you going to store the data? If it is a JSON and the format something like this:
[code]
In this case you may run N surveys. Create the JSON object and on completing every survey, push the survey.data (survey JSON result) into entitiesData.EntitiesInfo.
You have to use survey.onComplete event.
On completing the N-th survey,

[2017-07-16 04:56] andrewtelnov commented on #503
@IDIBuild I have created a plunker example: https://plnkr.co/edit/n9FRZC?p=preview
It should do exactly what you are trying to do.

Thank you,
Andrew

[2017-07-16 12:35] andrewtelnov commented on #490
@lalitkhanna question.enableIf property is added.

[2017-07-17 05:43] nithinM commented on #493
Hi @dmitrykurmanov, is there way to fix this issue?

[2017-07-18 07:51] xraywu commented on #502
Hi @andrewtelnov, looking at your example on plunker - is it possible to use `{variable}` when using matrix dropdown questions? E.g Column2 depend on Column1.

[2017-07-18 07:52] buddhika23 opened #504 "Customize editor and add new custom questions in angular"
### Are you requesting a feature, reporting a bug or ask a question? Question

I am trying to create custom control (drop down with hard-coded service end points) and remove some default controls from the editor tool bar.

I tried to follow examples in the site, but they didn't work for me.

Could you be able to give me a sample code which I can use in angular (4)?

In the sample, i saw following

[2017-07-18 13:44] tsv2013 commented on #504
@buddhika23  I'll create a sample with Angular 4 + SurveyJS Editor (from https://github.com/mgechev/angular-seed).

[2017-07-18 13:44] tsv2013 commented on #504
@buddhika23  Could you specify, what sample from SurveyJS documentation you used?

[2017-07-18 19:53] andrewtelnov commented on #502
@xraywu Sure, you should have to use [survey.onMatrixCellValueChanged](http://surveyjs.org/docs/api_surveymodel.html#onMatrixCellValueChanged) event.
Here is the example: http://plnkr.co/edit/r80ZfA?p=preview

[2017-07-19 01:59] xraywu commented on #502
@andrewtelnov many thanks! Actually I mean importing the choices via a restful api with variable embedded in the url (example in https://plnkr.co/edit/0sZFOKzlAlWUujDpgQuN?p=preview). But I guess `onMatrixCellValueChanged` can do the trick 👍

[2017-07-19 04:27] andrewtelnov commented on #502
@xraywu Yes, it is better to use the event at the current moment. You may use the variable, like {mytrixquestion[rowIndex].columnName}, but unfortunately there is no currentRow value, so you may write {currentRow.columnName}. You may only to use the absolute row index and it is tricky.

Thank you,
Andrew

[2017-07-19 04:36] buddhika23 commented on #504
@tsv2013 I followed https://github.com/surveyjs/surveyjs_angular_quickstart sample application. I just want to add custom controls into the editor and hide some default controls from the editor.

[2017-07-19 05:46] Hafees89 opened #505 "Refresh to 1st page after click submit button"
Hi, I try to refresh my survey page after I click submit button. I did search some code just now but seem like not like what I need. Submit > Show result > Refresh back to 1st page. It is possible?
your_code_here

[code]

[2017-07-19 06:00] andrewtelnov commented on #505
@Haffes89 survey.clear() will do the trick.
survey.clear(false) will keep the data.

Thank you,
Andrew

[2017-07-19 06:05] Hafees89 commented on #505
@andrewtelnov  still didn't preview the survey page, it directly jump to 1st page instead going to completeHtml. Mind to advice on this matter? Thank you.

[2017-07-19 07:56] Hafees89 commented on #505
I figure out how to make it refresh by putting on meta http-equiv='refresh' content='2'. Everytime I click Submit and page will refresh in 2 second. Thank you @andrewtelnov for ur suggestion.

Regards,
Hafees

[2017-07-19 10:00] lalitkhanna commented on #490
I just test this in Editor(site) but still I didn't find EnableIf Property? I'm missing anything ?

[2017-07-19 10:31] andrewtelnov commented on #490
@lalitkhanna it will come with the next update. We have not released it yet.

Thank you,
Andrew

[2017-07-19 15:35] tsv2013 commented on #504
@buddhika23 Thank you for clarification. The https://github.com/surveyjs/surveyjs_angular_quickstart sample application was built with Angular2. But you want to use Angular 4. Am I right?

Right now I'm working on a solution for you (SurveyJS + Angular4 sample).

[2017-07-19 16:00] lalitkhanna commented on #490
Thanks @andrewtelnov. Any idea when will have next released ?

[2017-07-19 16:21] buddhika23 commented on #504
hi @tsv2013 , I can replicate the above sample in Angular 4, BUT-my requirement is to customize the editor toolbar by adding new controls and removing some existing control.

Because I want to add a heat-map control in the editor toolbar which is not available, also i want to remove some of the existing controls from the toolbar.

[2017-07-19 20:02] tsv2013 commented on #504
@buddhika23 Will it be ok for you if I just will create a brunch in the https://github.com/surveyjs/surveyjs_angular_quickstart repo with a corresponding sample?

[2017-07-19 20:33] andrewtelnov commented on #490
@lalitkhanna  We may do it on Friday or early next week. Do you need it urgent?
@tsv2013 @dmitrykurmanov Let's release it after adding the Chinese localization: https://github.com/surveyjs/surveyjs/pull/506/commits

Thank you,
Andrew

[2017-07-20 03:20] xraywu opened #507 "Survey initializing error when using Matrix (Dropdown) or Matrix (Dynamic) with JQuery"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

When a survey has Matrix (Dropdown) or Matrix (Dynamic), an error is fired

[code]

### What is the expected behavior?

Should have Matrix worked properly

### How would you reproduce the current behavior (if this is a bug)?

1. Add a matrix dropdown
2. Initialize the survey

#### Provide

[2017-07-20 04:54] andrewtelnov commented on #507
@xraywu  I was not able to reproduce the issue.
I have changed  `window.survey = new Survey.Model(surver_data);`
to
[code]
Everything works as expected.
It means that the issue somewhere here:
`var surver_data = eval('(' + $('#survey-json').val() + ')');`
and
`surver_data = $.extend(surver_data, options);`
It doesn't create the JSON correctly.

Thank you,
Andrew

[2017-07-20 05:38] xraywu commented on #507
@andrewtelnov I think I've narrowed down the issue - it seems `locale` element must be above the `pages` element or an issue will be fired. Example -

[code]

Is this the expected behaviour?

[2017-07-20 05:52] bjdani opened #508 "showNavigationButtons not working based on radio group question choice"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
I'm wanting to turn off the Complete button on a survey if the user chooses a "No" answer to a radio group question which means they do not need to continue filling it out.
I'm checking the radio group question's answer via onValueChanged
The current behaviour is that if the user chooses No,

[2017-07-20 06:36] buddhika23 commented on #504
yes @tsv2013, thank you very much.

[2017-07-20 09:04] lalitkhanna commented on #490
I'm OK for Friday.

Thankyou
Lalit

[2017-07-20 11:43] dmitrykurmanov commented on #450
@care46, hello, sorry for late response, could you provide an example with two pages and lines bug, please?

[2017-07-20 11:47] care46 commented on #450
@dmitrykurmanov the problem is not only with two page, also in your plunker example there is a bug.. the second question (hidden) has attribute startwithnewline=false but when i put in the first question the value='c', the second question appear in a new line, not in the same line of first question

[2017-07-20 11:49] dmitrykurmanov commented on #508
@bjdani, Hello! Thanks for your interest, could you please try to add `survey.render();` into your  `surveyQuestionValueChanged` handler?

here an example: http://plnkr.co/edit/w2WAJXq3M3HOlZWLYZiq?p=preview

[2017-07-20 11:53] andrewtelnov commented on #507
@xraywu Of course it is not expected behavior. I have fixed the bug. The unit test is added.
Thank you for reporting this issue! The fix will be available in the next minor update.
Andrew -

[2017-07-20 11:53] ermurugesanbe opened #509 "Server side Validator in between pages"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
Currently below server side validator works on survey completion.
http://surveyjs.org/examples/jquery/validators-server/

### What is the expected behavior?
i wanted a feature, based on server side result i will validate current page data and proceed for next page.

[2017-07-20 12:06] xraywu commented on #507
@andrewtelnov thanks a lot for the fix!

[2017-07-20 12:07] andrewtelnov commented on #508
@bjdani I would recommend to call survey.doComplete() method to complete the survey: http://surveyjs.org/docs/api_surveymodel.html#doComplete

Thank you,
Andrew

[2017-07-20 12:11] andrewtelnov commented on #509
@ermurugesanbe It works on page next or on survey complete. Here is the example with two pages: https://plnkr.co/edit/L9wETtWlt6WUqOBGGRVy?p=preview

Thank you,
Andrew

[2017-07-20 12:55] tsv2013 commented on #504
@buddhika23 I've prepared editor customizations sample for you at the https://github.com/surveyjs/surveyjs_angular_quickstart/tree/editor-customizations repo.

I've changed questions set in the editor's toolbox via the following code:
`let editorOptions = { showEmbededSurveyTab: true, questionTypes : ['text', 'checkbox', 'radiogroup', 'dropdown'] };`

I've created heatmap custom widget (the first

[2017-07-20 13:29] dmitrykurmanov commented on #495
this will be in next release

[2017-07-20 13:29] #495 closed

[2017-07-20 13:30] dmitrykurmanov commented on #495
@sylido, please feel free to reopen issue or make some comments

[2017-07-20 15:15] dmitrykurmanov commented on #493
@nithinM, hello i am sorry for the late response, I'll figure it out

[2017-07-20 23:57] bjdani commented on #508
Thanks to you both. I'll roll with the `survey.render();` which solves it.

[2017-07-20 23:57] #508 closed

[2017-07-21 01:43] #507 closed

[2017-07-21 03:19] sylido commented on #495
@dmitrykurmanov thanks for the fast response, will do if there are any problems. Currently we deploy things by just modifying the field and it seems to work as intended.

[2017-07-21 05:54] buddhika23 commented on #504
Thank you very much @tsv2013. This is exactly what I was looking for.

[2017-07-21 06:47] ermurugesanbe commented on #509
oh, Many Thanks.

[2017-07-21 09:56] care46 opened #510 "Using "Survey.JsonObject.metaData.addProperty" in matrix"
Hi,

there is a possibility to use a code similar to this

Survey.JsonObject.metaData.addProperty("text", {name: "renderAs", default: "standard", choices: ["standard", "modify"]});

for add a property in a matrixdynamic or matrixdropdown cell?

Thanks

[2017-07-21 12:18] tsv2013 commented on #510
I think yes. It should work. Similar task was discussed in the https://github.com/surveyjs/surveyjs/issues/384#issuecomment-303948715 thread. As far as I remeber I added code to eliminate `onMatrixCellCreated` event subscription.

[2017-07-21 12:29] care46 commented on #510
@tsv2013 wooow works!!! thanks!!

[2017-07-21 12:29] #510 closed

[2017-07-21 13:00] tsv2013 opened #511 "Dropdown question does not respect isRequired option (VueJS >= v2.4.2)"
### Are you requesting a feature, reporting a bug or ask a question?
Bug

### What is the current behavior?
Survey completes successfully

### What is the expected behavior?
Survey should not complete while dropdown question is empty

### How would you reproduce the current behavior (if this is a bug)?
    json = {
            questions: [{
                type: "dropdown",
                name: "

[2017-07-21 14:22] #511 closed

[2017-07-21 17:18] andrewtelnov commented on #490
@lalitkhanna We did not release on Friday. We have spent a lot of time by fixing a new bug: https://github.com/surveyjs/surveyjs/issues/511. Our testcafe tests reported an error with a new version of vue.
We will will release on Monday.

Thank you,
Andrew

[2017-07-21 17:22] andrewtelnov commented on #503
@IDIBuild just want to followup. Does the example help or I did not get you correctly?

Thank you,
Andrew

[2017-07-22 11:16] IDIBuild commented on #503
Hi @andrewtelnov.
sorry for not responding.  Saw the plnkr solution and very cool.
My case's somehow different - let me try to explain.

I will define my entities as a predefined condition - for example, father + mother.
the question is: "Do you use any medical drugs?"
the layout should display this question for each entity separately.
and now for the more complex stuff - if the answer to the foll

[2017-07-22 12:35] andrewtelnov commented on #503
@IDIBuild I have added a new column into the matrix and new question into the entity survey with visibleIf criteria: https://plnkr.co/edit/n9FRZC?p=preview

We are currently working on our website redesign and we are looking for real and complex surveys. We feel that our platform is already good enough, but since it is open source, new and texts are written by non-native speakers, there is not eno

[2017-07-22 16:00] eladh commented on #503
Hi, Andrew.

we will be more than welcome to discuss it and display a demo.

took a [simple document](https://prd-medweb-cdn.s3.amazonaws.com/documents/digestivedisease/files/New_Patient_Questionnaire(1).pdf) that describes a common form used by the insurance industry.

I will try to breakdown the main challenges:

the main challenge here is how to display a usable UI Survey that asks about more t

[2017-07-22 16:18] eladh commented on #503
Hi @andrewtelnov

first of all and as I didn't manage to say it before - your project is amazing and didn't saw such advanced and friendly solution.

If I may I wanted to ask more technical questions:

1. I saw the **feature/ng branch** and it's will be **really helpful** to us if it will be integrated as part of the master as there are still allot of AngularJS developers.

2. in our case with hav

[2017-07-22 21:00] abolger commented on #484
@JSafaiyeh, I am also dying for React Native support, however in the mean time I have implemented react support in a React Native Webview component and got it working. It took a bit of finagling, but it is possible. Is there enough interest that I should create a skeleton react native project showing how I did this?

[2017-07-22 23:54] mrmayfield opened #512 "Make matrix questions mandatory (ie via isRequired)"
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
When I mark a matrix as isRequired, I can go through without filling out all the options

### What is the expected behavior?
Hopefully, I can't go to the next page until all questions are answered correctly

### How would you reproduce the current behavior (if this is a bug)?
Make a mat

[2017-07-23 04:48] andrewtelnov commented on #503
@eladh Thank you for pdf document. I have now a better understanding what you are trying to do.
Let's make this survey. I would suggest to create several small parts in plunker first. So all issues with workflow and UI (I am talking about widgets and layout, not design) will be solved and cleared up. After that we may create the full survey and at the last stage apply the design/css.
We may do som

[2017-07-23 10:48] eladh commented on #503
hi @andrewtelnov

About point 2 – adding new attribute seems to be the best flexible solution.
About point 3 – What I was trying to say, in a more specific way: let’s say that the father answered question “Do you have a heart condition” – Yes, and the mother answered – No
our logic decided that in this case a Panel (inner survey) need to be displayed.
This brings complex UI Decisions to make:
•	Do

[2017-07-23 12:26] andrewtelnov commented on #512
@mrmayfield Are you talking about [this question type ](http://surveyjs.org/examples/jquery/questiontype-matrix/)?

Thank you,
Andrew

[2017-07-23 13:58] andrewtelnov commented on #503
@eladh I have created a new example: https://plnkr.co/edit/j5DKTy?p=preview. It is about (1)
(2) - ok, we will do it. I think we will implement it in 5-10 days.
(3) It is not a problem. You may always ask do you want to answer these questions or continue (by pass them). If he says continue, just make those questions/panels/pages invisible by using visibleIf property. At the end of the survey, you

[2017-07-23 15:59] mrmayfield commented on #512
Yes that's correct, thanks @andrewtelnov

[2017-07-23 17:44] eladh commented on #503
Hi @andrewtelnov

see the example: Family History (page 3), is there a possibility to display question matrix with Family Members columns?

as I stated in my last comment, in a case of an inner survey (as a follow-up procedure):
a) is there API to display some kind of a flow header that will display the current stage in the survey?

we are planning to allow our Super-Users to edit/modify the surve

[2017-07-24 02:37] Hafees89 opened #513 "Logic"
your_code_here

	{ title: "How did we do today?",
		questions: [
		{
			type: "dropdown", isRequired: true, name: "choosepicture", renderAs: "imagepicker", title: "People satisfaction degree!",
			choices: [
						  {value: "Awesome", text: "./img/1.png"},
						  {value: "Good", text: "./img/2.png"},
						  {value: "NotGreat", text: "./img/3.png"},
						  {value: "Awful", text: "./img/4.png"}

[2017-07-24 04:47] andrewtelnov commented on #512
@mrmayfield We will have to add a new property to handle this scenario. I would agree it should be quite common. I do not want to change the behavior of the current isRequired property, since it will be a break change. isRequired raise an error if the question answer is empty.

I will try to implement it on this week.

Thank you,
Andrew

[2017-07-24 04:52] andrewtelnov commented on #503
@eladh Yes I will modify the display question matrix and will add the Family Members columns. I will do it today.
I think, I may modify the first matrix as well, so there will be only one survey and subsurvey will go away. Do you need this?

And I do not quite understand about the flow API. Do you mean show hide the progress bar or do you want to have an event to control the progress bar (% + page

[2017-07-24 07:29] nadialo opened #514 "Matrix- "isRequired" not working for all sub-question"
[Question] Is it possible to applied "isRequired" to all rows in the matrix? The current behavior is that the error message only prompts out when I have answer no question in the matrix. If I have answer any of the question, the error message would not prompt out.
What should I do if I want to mark all rows of the matrix as mandatory question? Thanks!

* browser: Chrome, IE
* browser version: Chro

[2017-07-24 10:07] tsv2013 commented on #513
You can use "Complete Trigger" to accomplish your task. Please check [corresponding example](http://surveyjs.org/examples/jquery/trigger-complete/).

[2017-07-24 10:14] Hafees89 commented on #513
Thank you @tsv2013, this is what I'm looking for.

[2017-07-24 10:47] tsv2013 commented on #514
I'd use valitation event as shown in [this example](http://surveyjs.org/examples/jquery/validators-event/). I've created a [plunk](http://plnkr.co/edit/ekET2zK0W3SpJ7NPflAI?p=preview) with the following code responsible for matrix question validation checking all rows are answered:

[code]

[2017-07-24 12:29] andrewtelnov commented on #503
@eladh I will add visibleIf property into column first. It will allow to have a matrix as:
Relative | Name | Is Alive? | Age | Deceased Age | Cause of Death |
I will work on it right now. I remember several people have been asked about it as well. I did not completely understand the scenario.
After that I will make an example with Family Members as columns in the matrix.

Thank you,
Andrew

[2017-07-24 12:32] andrewtelnov commented on #514
@nadialo If you are talking about Matrix question with radio groups, then we will add a new property to handle this scenario without writing the code: https://github.com/surveyjs/surveyjs/issues/512
If you are taking about matrix dynamic/dropdown, then simple set isRequired to column(s) and all rows become required.

Thank you,
Andrew

[2017-07-24 12:37] andrewtelnov opened #515 "Add visibleIf property into matrixdynamic(dropdown).column"
At the current moment it requires to write a lot of code to make question/editor in a matrix cell invisible by a criteria. The better solution is to add visibleIf property, where a new object row, will be added.
In this case it will be possible to define column.visibleIf as "{row.firstColumn} = 'Yes'". It means a column will have the visible editor if the the first column value in the same row wil

[2017-07-24 12:40] andrewtelnov commented on #503
@eladh column.visibleIf property issue is here: https://github.com/surveyjs/surveyjs/issues/515

[2017-07-24 13:33] tsv2013 opened #516 ""Other text" editor is too small"
### Are you requesting a feature, reporting a bug or ask a question?
Feature

### What is the current behavior?
![image](https://user-images.githubusercontent.com/3013415/28525657-a01e96aa-708d-11e7-9c67-a6e2a583d260.png)

### What is the expected behavior?
At least
![image](https://user-images.githubusercontent.com/3013415/28525700-bbc237b8-708d-11e7-85df-4256d1959b51.png)

Probably multiline edi

[2017-07-24 16:11] eladh commented on #503
hi @andrewtelnov .
thanks for the time and effort its quite amazing :-)

a. when i define a Panel Entity (with sub-survey) it would be great if will be flow indication in the flow toolbar. some kind of a breadcrumbs. if i understood you expose a progress.html template that can only display progress but is there any possibility to display flow.html that will represent the header as flow.

b. the su

[2017-07-24 17:26] xiuzhen1103 opened #517 "SurveyJs in display only mode"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature, or ask a question

### What is the current behavior?
When it is in display mode, it looks exactly same as edit mode, the only difference is textarea is disabled
This is currently behaviour on the page: http://surveyjs.org/examples/jquery/survey-displaymode/

### What is the expected behavior?

would there be

[2017-07-25 04:59] andrewtelnov commented on #503
@eladh I have implemented the column.visibleIf and here is the first matrix now (all custom code was gone): https://plnkr.co/edit/SYJBdx7AkjqOnXXrqTmV?p=preview
Please note, it uses the dev version.
However, before we go further, I just got another idea. I think it will be easy enough to add a feature as repeatable/dynamic Panel.
Right now Panel is just a container and nothing more. However, I bel

[2017-07-25 06:56] tsv2013 commented on #517
Hi, @xiuzhen1103 ! I've prepared a sample for you with "readonly" custom widget - [this plunk](http://plnkr.co/edit/EDpk1P01Zw9i6RCBfAXK?p=preview). This widget just puts sttingified question's value in a div. Does it fit your needs? You can implement more elaborated output for questions of different kind.

[2017-07-25 09:11] xiuzhen1103 commented on #517
that is great, very helpful! is there any chance  that I could customize question itself not only answer, too?

[2017-07-25 10:51] tsv2013 commented on #517
@xiuzhen1103 I've updated the [plunk](http://plnkr.co/edit/EDpk1P01Zw9i6RCBfAXK?p=preview).
Here is the code to access question's label and change it's  style:
[code]

[2017-07-25 14:12] care46 opened #518 "problem with VisibleIf condition where question is empty"
Hi,

if i have a text question and a second question that i want to show only if first question is not empty, how i have to set "visibleIf" condition?

I have try with {question1} != '', {question1} != 'undefined', {question1} != null, {question1} != 'null', {question1} != 'undefined'

but the second question is always shown if first question is empty

Thanks

[2017-07-25 14:54] tsv2013 commented on #518
@care46 It looks like a bug for me. We'll fix it.

[2017-07-25 16:02] eladh commented on #503
hi @andrewtelnov.
i will try to explain - we have two modes of entities:

1. the first is **Matrix based** - Questions * Number of entities
   in this case we don't see any usage of display the questions as the rows and the entities as columns.
   the visibleIf at the column level will be great help to display only relevant entities.
   in this scenario - **we will not support** a follow up questi

[2017-07-25 16:39] Grimmer20 opened #519 "Move to next page with required fields empty"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature. Possibly a question if solution exists.

### What is the current behavior?
You must complete all required fields before moving to next page. If this is already possible please share details.

### What is the expected behavior?
We are using surveyJS for credit applications in an accounting application. In ord

[2017-07-25 16:44] Grimmer20 commented on #518
@tsv2013 Thank you. This is also an issue for me currently too.

I need conditional logic where if a user provides a value in {question1} then make visible {question2}

[2017-07-25 16:57] Grimmer20 opened #520 "Interpolate response from question in future questions"
### Are you requesting a feature, reporting a bug or ask a question?
Feature.

### What is the current behavior?
Try to interpolate response from {question1} in future question and it is rendered in text form "{question1}".

### What is the expected behavior?
{question1} --> title: "Bank Name"

In future question:

...I herby authorize {question1} to release my banking details....

With the value

[2017-07-25 16:58] Grimmer20 commented on #520
Duplicate request from https://github.com/surveyjs/surveyjs/issues/499

[2017-07-25 16:58] #520 closed

[2017-07-25 18:38] willgdjones opened #521 "Support for autocomplete?"
Hi everyone!
### Are you requesting a feature, reporting a bug or ask a question?

This is most likely a feature request.

### What is the current behaviour?

I would like to add autocompletion to the input fields generated by survey.js. Currently, when I use
jQuery typeahead on an input field which has been given an id by survey.js, e.g:

<img width="413" alt="screen shot 2017-07-25 at 20 30 34"

[2017-07-25 18:49] willgdjones opened #522 "ColCount bug"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?

Specifying colCount should change the number of columns used to display a long list of items. However, in my current setup setting colCount to any value gives the same response of a single linear list of my elements.

### What is the expected behavior?

I expect the number of c

[2017-07-25 18:54] willgdjones opened #523 "Website header does not make sense."
Not really a bug - but just wanted to let you know that this doesn't really make any sense. It appears on https://dxsurvey.com/.

<img width="432" alt="screen shot 2017-07-25 at 20 51 22" src="https://user-images.githubusercontent.com/1719848/28588581-4d3f7924-717b-11e7-9be7-8ca059b226c7.png">

I think you mean:

"At the moment, the service is completely free. It will continue to be free until the

[2017-07-25 19:50] andrewtelnov commented on #503
@eladh You want to have one Panel for one entity. At the current moment it will require to write a lot of tricky code.
I do not know about your deadline, but if you have a week, then I'm pretty sure, we will be able to create a new question type: QuestionDynamic. This question will have a template panel - actually the typical panel you have it now.
In the template panel you will have a radio group

[2017-07-25 19:55] andrewtelnov commented on #518
@care46 @Grimmer20 "{question1} empty" should work.

Thank you,
Andrew

[2017-07-25 20:07] andrewtelnov commented on #519
@Grimmer20 If an user may submit a survey/page without require question, maybe just make it non required at the current moment?
Because the only reason to have the require question is to prevent an end-user from submitting information without answering this question. Otherwise the question becomes non-required :-)

I mean maybe you may have several stages in your survey and on the first stage some

[2017-07-25 20:29] enricribas commented on #452
Can this be done? Is this a feature request or is it currently possible?

[2017-07-25 21:04] eladh commented on #503
hi @andrewtelnov

we have enough time - we only on the design stage.
as for the main issue - your idea seems great and seems that is solving the issue in a generic way.

1. what about the "Continue Next" option - do u see it as a framework capability so we can mark elements in the survey with this attribute without the need to write custom VisibleIf rule?

2. make the toolbar/header API more reach

[2017-07-26 01:05] Hafees89 opened #524 "Link to Database"
Hi,

Any how I can save my data directly to SQL Server? Maybe there is source code I can refer to?

Thank you.

[2017-07-26 04:01] andrewtelnov commented on #524
@Hafees89 It depends on your server platform. We have in our plans to create tutorials/examples for the most popular platform, but it is not in the high priority TODO list.
You may easily find the answer on stackoverflow.com: How to save JSON in my SQL Server [php/asp.net/...]

Thank you,
Andrew

[2017-07-26 04:41] andrewtelnov commented on #503
@eladh
(1) I think you will not need "Continue Next". Family Members question (panel dynamic) will be on separate page. By default for every family member only one radio group will be shown. If an end user press 'Yes' on this question then the panel with all questions for this family member will be shown. We will introduce expand/collapse feature for the panel, then an end-user may always collapse

[2017-07-26 07:08] care46 commented on #518
@andrewtelnov  YESSSS!!! perfect!

thank you!

[2017-07-26 07:08] #518 closed

[2017-07-26 08:11] tsv2013 commented on #523
@willgdjones Thank you! I've updates the site.

[2017-07-26 08:31] tsv2013 commented on #518
I've added support for `undefined` literal.

[2017-07-26 08:48] tsv2013 commented on #519
@Grimmer20 You can perform custom validation using [onValidateQuestion](http://surveyjs.org/examples/jquery/validators-event/) event. Event handler can perform validation flexible, depending on some conditions.

[2017-07-26 08:53] tsv2013 commented on #452
@enricribas It's a feature request. It's included in our TODO list. But I can't give an estimation.

[2017-07-26 09:18] lalitkhanna commented on #490
Thanks. Great Job!!
But just wondering in case user wants to bring some default data from server & he/she don't want to make editable , I guess for this reason we need  to have'Enable' property as well. ?

[2017-07-26 09:20] andrewtelnov opened #525 "New question: PanelDynamic"
For editing/adding/removing arrays of object QuestionMatrixDynamic is the only way right now. It works perfect for data time with relative small amount of properties and without nested complex objects.
At the current moment, there is no way to edit array of objects with a complex structure.
The PanelDynamic question should solve this problem. It will have a tempatePanel, a typical Panel object. It

[2017-07-26 09:22] andrewtelnov commented on #503
@eladh  Here is the link to the PanelDynamic developement: https://github.com/surveyjs/surveyjs/issues/525

You may add your thoughts about PanelDynamic there.

Thank you,
Andrew

[2017-07-26 09:25] andrewtelnov commented on #490
@lalitkhanna There is already readOnly boolean property of get/set. Actually enabledIf change this property.
There is also isReadOnly property:
`return this.readOnly || (this.survey != null && this.survey.isDisplayMode);`

Thank you,
Andrew

[2017-07-26 10:04] tsv2013 commented on #522
@willgdjones Could you please specify the question type, in which the `colCount` property is not working? I've just checked [`radiogroup`](http://surveyjs.org/examples/jquery/questiontype-radiogroup/) and [`checkbox`](http://surveyjs.org/examples/jquery/questiontype-checkbox/) questions - colCount works fine for me. Or have I missed something?

[2017-07-26 10:20] lalitkhanna commented on #490
Gotcha :)

Thanks
Lalit

[2017-07-26 10:29] cguzzo commented on #522
Hi @tsv2013 ,

Answering for @willgdjones as I am working on the same project. The question type is checkbox. See code below:

`            {
                    type: "checkbox",
                    name: "Disease",
                    title: "Which of the following conditions have you been diagnosed with?",
                    visibleIf: "{haveHistory}='Yes'",
                    isRequired: tru

[2017-07-26 10:31] willgdjones commented on #522
@tsv2013 I will update to version 0.12.20 and see if that fixes.

[2017-07-26 10:37] tsv2013 commented on #522
@cguzzo Thank you for the provided JSON. I've checked it. You should write `colCount: 2` instead of `ColCount: 2`.

[2017-07-26 10:40] cguzzo commented on #522
Thanks @tsv2013 - updating the new version worked thanks!

[2017-07-26 18:07] hackertron opened #526 "how to show questions based on users answers ?"
### Are you requesting a feature, reporting a bug or ask a question?

how can i show questions based on users answers ?

[2017-07-27 01:30] indran opened #527 "Mapping other choice to custom name field"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

Regarding the radio group question type - for other choice you provide:
1. hasOther = true
2. otherText = 'If other please describe why.'
3. storeOthersAsComment = false - store as the name field
4. commentPrefix = "-prefix" - change prefix (from 'name-Comment' to 'name-prefix') ?

##

[2017-07-27 03:25] Hafees89 commented on #524
Which file I need to alter so I can save JSON into SQL Server? It is at survey.onComplete.add(function(result) { or there is other way I could do it? Mind to guide me on this? I really stuck on this.. Need this kinda urgently..

Thank you.

[2017-07-27 05:47] andrewtelnov commented on #526
@hackertron Do you mean [this functionality](http://surveyjs.org/examples/jquery/condition-kids/)

Thank you,
Andrew

[2017-07-27 05:56] andrewtelnov commented on #527
@indran The current solution is to change the survey.data on survey.onComplete event.

There were at least couple issues where value mapping would help. At the current moment question name and value name are always the same.
However, there are scenarios when you may have two different question with different properties map on the same value name.
I have updated our TODO item about value mapping.

[2017-07-27 06:07] andrewtelnov commented on #524
@Hafees89 Again, you did not mention your server platform.
Here is our code.
On the client side:
https://github.com/surveyjs/surveyjs/blob/master/src/dxSurveyService.ts take a look on sendResult. It calls on completing survey. You may call it on onComplete event.
postId - Guid for the survey, so all results for the same survey will be in the same file/table
result - survey.data
onSendResult - call

[2017-07-27 06:32] hackertron commented on #526
Yes exactly this !! . Thank you !!

[2017-07-27 06:32] #526 closed

[2017-07-27 06:35] Hafees89 commented on #524
Sorry @andrewtelnov for making this trouble for you. I'm using SQL Server 2014. Thank you again for helping me out. I'm glad using this as reference. Thank you so much.

[2017-07-27 06:37] indran commented on #527
@andrewtelnov Thank you for replying so quick, very cool of you!

While the current solution is quite useful this could become tricky depending on the size of the survey and number of question with "other choice" available. Additionally what about when you are loading existing data:

 {"email": "jon.snow@nightwatch.org", "eatBreakfast": "0", "eatBreakfast-Comment": "something"}

You would have to

[2017-07-27 06:39] indran commented on #527
I was experimenting with Vue and Survey JS, unfortunately I am still learning Vue so apologies if there is some weird looking code!

Here is a plunk of something which sort-of does what I was looking to do:
https://plnkr.co/edit/YOeOzgbcgQK8C9pZRdwi?p=preview

[2017-07-27 06:56] andrewtelnov commented on #527
@indran I would write the following code:

[code]
If you want to set the saved data to the survey (survey.data = yourData), you should do reverse first.

Thank you,
Andrew

[2017-07-27 07:19] lewisw71 opened #528 "Fill in the blank type question?"
Hi expert,

Is it possible to do some kind of fill in the blank type question?

e.g

I acting on behalf of _______ (your company name) to perform _______ (e.g. action)

[2017-07-27 14:33] cguzzo opened #529 "Visible if function for columns in matrix"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question
I am trying to create a matrix survey that includes different relatives as rows and different questions regarding these relatives as column (See model below). I would like column C's scroll down menu to change on the basis of what has been answer in question B. For example, if the user answers Mother - Suffered

[2017-07-27 18:56] andrewtelnov commented on #528
@lewisw71 Unfortunately not.

Thank you,
Andrew

[2017-07-27 18:57] andrewtelnov commented on #529
@cguzzo Do you use the dev version? column.visibleIf is not released yet.
Probably this functionality will be interested to you as well: https://github.com/surveyjs/surveyjs/issues/525

Thank you,
Andrew

[2017-07-28 11:26] xiuzhen1103 opened #530 "onComplete function check failed or success"
### Are you requesting a feature, reporting a bug or ask a question?
ask a question

### What is the current behavior? and ### What is the expected behavior?
At moment if survey completed add customized message, what if submit failed, how to check if is not successful by api call? how to insert it and check?

[code]

[2017-07-28 13:00] frankwo1 commented on #504
Hi - can you do the same for React-Quickstart?
I can't seem to pass the editorOptions through

[2017-07-28 14:35] andrewtelnov commented on #530
@xiuzhen1103 Do you store in your own database?

Thank you,
Andrew

[2017-07-28 17:06] cguzzo commented on #529
column.visibleIf sounds like what i need! Where can i find the dev version?

[2017-07-28 18:09] andrewtelnov commented on #529
@cguzzo You may use access it [via CDN](https://github.com/surveyjs/builds). For dev version: https://surveyjs.azureedge.net/dev/{ filename }
For example: `<script src="https://surveyjs.azureedge.net/dev/survey.jquery.js"></script>`

Here is [the demo](https://plnkr.co/edit/SYJBdx7AkjqOnXXrqTmV?p=preview)

Thank you,
Andrew

[2017-07-31 08:17] andrewtelnov commented on #503
@eladh Here is the prototype with QuestionPanelDynamic: https://plnkr.co/edit/aMcSnl?p=preview
I am going to work on design time right now for this question type.
There are several open design issues that has to be solved. We may discuss them:
1) Where to place the "Remove" button
2) Right now all questions inside QuestionPanelDynamic are treated as one question. I think it is better to change and

[2017-08-01 11:02] xiuzhen1103 commented on #530
Yes store in my own database.

[2017-08-01 11:04] #481 closed

[2017-08-01 13:39] andrewtelnov commented on #530
@xiuzhen1103 We have added options parameter into onComplete event. Here is the demo: https://plnkr.co/edit/75nXj6?p=preview

Thank you,
Andrew

[2017-08-01 13:39] andrewtelnov commented on #473
Here is the demo: http://plnkr.co/edit/aMcSnl?p=preview

[2017-08-01 17:04] xiuzhen1103 opened #531 "$el.find(...).iCheck is not a function"
### Are you requesting a feature, reporting a bug or ask a question?
reporting a bug or asking a question

### What is the current behavior?
when using icheck plugin should update radiogroup UI

### What is the expected behavior?
error message on console is following, however I have installed and imported icheck from react, why is error message still appears as following:
$el.find(...).iCheck is n

[2017-08-02 03:19] haoxi911 opened #532 "Documentations of 'VisibleIf'?"
Hello all,

Can anyone please tell me where can we find the full documentations of syntax like `VisibleIf`? I am currently **guessing** these syntaxes (though I have got all I needed..)

For example, I want to show question B only when a specific option was selected in question A (the question A is a checkbox question, which has multiple options and can be multi-selected)

I used `VisibleIf: "{que

[2017-08-02 08:30] dmitrykurmanov commented on #531
@xiuzhen1103, hello! Could you please provide an example on plnkr or any other sandboxes? Here is a good article about it https://gist.github.com/Rich-Harris/88c5fc2ac6dc941b22e7996af05d70ff. Thank you!

[2017-08-02 11:31] xiuzhen1103 opened #533 "warn message on console on Image picker used"
### Are you requesting a feature, reporting a bug or ask a question?

bug or ask question

### What is the current behavior?

I have used 20 of image picker in my project, warn message on console for Image picker appeared 20 times.

### What is the expected behavior?
no warn message

### How would you reproduce the current behavior (if this is a bug)?
http://surveyjs.org/examples/react/custom-widg

[2017-08-02 11:45] andrewtelnov commented on #532
@haoxi911 Here is the doc: http://surveyjs.org/docs/QuestionBase/visibleIf.html

You may find more information in the unit tests: https://github.com/surveyjs/surveyjs/blob/master/tests/conditionstests.ts

Thank you,
Andrew